<%!
    from django.core.urlresolvers import reverse
%>

<%inherit file="/main.html" />
<link rel="stylesheet" href="/static/css/sso.css" type="text/css" media="screen" />

<section class="container clearfix" style="padding-bottom:50px;">
    <div style="text-align:right;padding:20px;">
        <a href="${reverse('sso_course_assignment')}">Course Assignments</a>&nbsp;&nbsp;
        <a href="${reverse('sso_sp_metadata_edit')}">SP Metadata</a>
    </div>
    <div style="font-size:30px;padding-top:20px;">IDP Metadata
    </div>
    <div style="float:left;">
        <div style="margin:20px 0 5px 0;">IDPs</div>
        <div id="entityList" class="listbox"></div>
        <br/>
        <input type="button" name="" value="+" onclick="md.add()"/>
        <input type="button" name="" value="-" onclick="md.remove()"/>
        <input type="button" name="" value="Save All" onclick="md.saveAll()"/>
    </div>
    <form id="form1" style="display:none;width:800px">
        <div class="section">IDP</div>
        <div class="row">
            <span class="">Type</span>
            <select id="" name="sso_type" autocomplate="off">
                <option>EasyIEP</option>
                <option>OAuth2</option>
                <option>SAML</option>
            </select>
        </div>
        <div class="row">
            <span class="">Name</span>
            <input type="" name="sso_name" value="" style="width:500px;"/>
        </div>

        <section class="typed_sec EasyIEP">
        </section>

        <section class="typed_sec SAML">
            <div class="row">
                <span class="">Federation Metadata</span>
                <textarea name="saml_metadata" value="" style="width:500px;"></textarea>
            </div>
        </section>

        <section class="typed_sec OAuth2">
            <div class="row">
                <span class="">Client ID</span>
                <input type="" name="oauth2_client_id" value="" style="width:500px;"/>
            </div>
            <div class="row">
                <span class="">Client Secret</span>
                <input type="" name="oauth2_client_secret" value="" style="width:500px;"/>
            </div>
            <div class="row">
                <span class="">Request Token URL</span>
                <input type="" name="oauth2_request_token_url" value="" style="width:500px;"/>
            </div>
            <div class="row">
                <span class="">Redirect URL</span>
                <input type="" name="oauth2_redirect_url" value="" style="width:500px;"/>
            </div>
            <div class="row">
                <span class="">Grant Type</span>
                <input type="" name="oauth2_grant_type" value="" style="width:500px;"/>
            </div>
            <!-- <div class="row">
            <span class="">Tokeninfo URL</span>
            <input type="" name="oauth2_tokeninfo_url" value="" style="width:500px;"/>
            </div> -->
            <div class="row">
                <span class="">API URL</span>
                <input type="" name="oauth2_api_url" value="" style="width:500px;"/>
            </div>
            <div class="row">
                <span class="">Me URL</span>
                <input type="" name="oauth2_me_url" value="" style="width:500px;"/>
            </div>
        </section>

        <div class="section">Attributes</div>
        <div id="divIdpAttributeMapping"></div>
        <div style="margin-left:145px;padding:5px 0;">
            <input type="button" value="+" onclick="md.addField(true)"/>
        </div>
    </form>
</section>
<script type="text/javascript">
    function Metadata() {
        var self = this;
        this.data = [];
        this.list = new ListBox($("#entityList"));
        $("#entityList").bind("beforeChange", function (e, index) {
            if (index >= 0)
                self.bufferData(index);
        });
        $("#entityList").bind("change", function (e, index) {
            self.showData(self.data[index])
        });
        $("select[name=sso_type]").bind("change", function (e, index) {
            $(".typed_sec").hide();
            $(".typed_sec." + $(this).val()).show();
        });
        $("input[name=sso_name]").keyup(function () {
            this.value = $.trim(this.value);
            self.list.getSelectedItems().html(self.name4List(this.value));
        });
        /* $("input[name=sso_entity_id]").keyup(function(){
           this.value=$.trim(this.value);
           self.list.getSelectedItems().html(self.entityID4List(this.value));
           }); */
        $("#form1").find("input,textarea").keyup(function () {
            self.bufferData(self.list.getSelectedIndex());
        });
        this.load();
    }
    Metadata.prototype.bufferData = function (index) {
        var self = this;
        var $rows = $("#divIdpAttributeMapping").find("div.row");
        /* var entityID = $("input[name=sso_entity_id]").val(); */
        this.data[index] = {};
        this.data[index]['sso_type'] = $("select[name=sso_type]").val();
        this.data[index]['sso_name'] = $("input[name=sso_name]").val();

        var typed = {};
        $(".typed_sec:visible").find("*[name]").each(function () {
            typed[this.name] = $(this).val();
        });
        this.data[index]['typed'] = typed;

        if (index >= 0) {
            var attributes = [];
            $rows.each(function () {
                attributes.push({
                    /* type:$(this).find('select[name=type]').val(), */
                    name: $(this).find('input[name=name]').val(),
                    map: $(this).find('input[name=map]').val()
                });
            });
            this.data[index]['attributes'] = attributes;
        }
    };
    Metadata.prototype.validateData = function (index) {
        var idp = this.data[index];
        var n = 0;
        /* if($.trim(idp.sso_entity_id) == ''){
           throw {"message": "SSO Entity ID can't be empty."}
           } */
        /* $.each(this.data, function(i,v){
           if(v.sso_entity_id == idp.sso_entity_id){
           if(++n>1) throw {"message": "Same SSO Entity ID already exists."}
           }
           }); */
        var n = 0;
        if ($.trim(idp.sso_name) == '') {
            throw {"message": "SSO Name can't be empty."}
        }
        /*if ($.trim(idp.attributes[0].name == '')) {
            throw {"message": "The ID attribute must be mapped to the unique identifier field from the IDP."}
        }*/
        $.each(this.data, function (i, v) {
            if (v.sso_name == idp.sso_name) {
                if (++n > 1) throw {"message": "Same SSO Name already exists."}
            }
        });
    };
    Metadata.prototype.name4List = function (s) {
        if (typeof s != "string")
            s = "";
        else
            s = s.trim();
        if (!s.length)
            s = "(unknown)";
        return s;
    };
    Metadata.prototype.showData = function (d) {
        $("#form1").show();

        var id_html = '';
        if ($.isEmptyObject(d)) {
            id_html = "<div style='text-align:left;' class='row' id='id-map'> \
<span>Name</span> <input type='input' name='name'/> \
<span style='width:auto'>Map To</span> <input type='input' name='map' value='ID' disabled/> \
</div>"
        }

        $("#divIdpAttributeMapping").html(id_html);
        $("#form1").find("input,textarea,select").each(function () {
            if (this.name && !(this.name == 'map' && $(this).val() == 'ID')) {
                value = d[this.name] || (d.typed && d.typed[this.name]);
                $(this).val(value || "");
            }
        });
        for (i in d.attributes) {
            var a = d.attributes[i];
            var minus = true;
            var disabled = false;
            if (a.map == 'ID') {
                minus = false;
                disabled = true;
            }
            var $row = this.addField(minus);
            // $row.find("select[name=type]").val(a.type);
            $row.find("input[name=name]").val(a.name);
            $row.find("input[name=map]").val(a.map).prop('disabled', disabled);
        }
        $(".typed_sec").hide();
        $(".typed_sec." + d.sso_type).show();
    };
    Metadata.prototype.load = function () {
        var self = this;
        $.get("${reverse('sso_idp_metadata_all_json')}", function (r) {
            self.data = r;
            $.each(r, function (i, e) {
                self.list.addItem(self.name4List(e.sso_name));
            });
            self.list.setSelectedIndex(0);
        });
    };
    Metadata.prototype.add = function () {
        this.data.push({});
        this.list.addItem(this.name4List(""));
        this.list.setSelectedIndex(this.data.length - 1);
    };
    Metadata.prototype.remove = function () {
        var index = this.list.getSelectedIndex();
        this.data.splice(index, 1);
        this.list.removeItem(index);
        $("#form1").hide();
        this.list.setSelectedIndex(this.list.getNearestNext(index));
    };
    Metadata.prototype.saveAll = function () {
        this.bufferData(this.list.getSelectedIndex());
        var self = this;
        var ok = true;
        $.each(this.data, function (i) {
            try {
                self.validateData(i);
            } catch (e) {
                ok = false;
                alert(e.message);
                self.list.setSelectedIndex(i);
                return false;
            }
        });
        if (ok) {
            $.post("${reverse('sso_idp_metadata_save')}", {data: JSON.stringify(this.data)}, function (r) {
                alert("Save success.")
            });
        }
    };
    Metadata.prototype.addField = function (minus) {
        var row_html = "<div style='text-align:left;' class='row'> \
        <span>Name</span> <input type='input' name='name'/> \
        <span style='width:auto'>Map To</span> <input type='input' name='map'/>";
        if (minus) {
            row_html += "<input type='button' style='width:20px;padding:0 5px' value='-' class='btnRemove'/>";
        }
        row_html += "</div";

        var $row = $(row_html).appendTo($("#divIdpAttributeMapping"));
        var $btnRemove = $row.find(".btnRemove");
        $btnRemove.click(function () {
            $(this).parent().remove();
        });
        return $row;
    };

    function ListBox(el, multi) {
        this.multi = multi;
        this.$el = $(el);
    }
    ListBox.prototype.getCount = function () {
        return this.$el.find("div").length;
    };
    ListBox.prototype.getNearestNext = function (index) {
        var last = this.getCount() - 1;
        if (index > last) index = last;
        return index;
    };
    ListBox.prototype.getSelectedIndex = function () {
        return this.$el.find("div").index(this.getSelectedItems());
    };
    ListBox.prototype.validIndex = function (index) {
        var valid = index >= 0;
        valid = valid && index < this.getCount();
        return valid;
    };
    ListBox.prototype.setSelectedIndex = function (index) {
        if (this.validIndex(index))
            this.$el.find("div").eq(index).click();
    };
    ListBox.prototype.fixItemWidth = function (div) {
        $(div).width(this.$el[0].scrollHeight);
    };
    ListBox.prototype.addItem = function (text, value) {
        var self = this;
        value = value || text;
        var $opt = $("<div value=" + value + ">" + text + "</div>").appendTo(this.$el);
        $opt.click(function () {
            var is_new = !self.getSelectedItems().is(this);
            if (is_new) {
                self.fixItemWidth(this);
                var index = self.getSelectedIndex();
                self.$el.trigger("beforeChange", [index]);
                if (!self.multi) self.clearSelection();
                $(this).addClass("selected");
                var new_index = self.getSelectedIndex();
                self.$el.trigger("change", [new_index]);
            }
        });
        $opt.hover(function () {
            self.fixItemWidth(this);
            $(this).addClass('hover');
        }, function () {
            $(this).removeClass('hover');
        });
    };
    ListBox.prototype.clearSelection = function () {
        this.getSelectedItems().removeClass('selected');
    };
    ListBox.prototype.getSelectedItems = function () {
        return this.$el.find("div.selected");
    };
    ListBox.prototype.removeItem = function (index) {
        this.$el.find("div").eq(index).remove();
    };
    var md = new Metadata();
</script>
