<%! from django.utils.translation import ugettext as _ %>
<%!
   from django.core.urlresolvers import reverse
   from courseware.courses import course_image_url, get_course_about_section
   from courseware.access import has_access
   from certificates.models import CertificateStatuses
   from xmodule.modulestore import MONGO_MODULESTORE_TYPE
   from xmodule.modulestore.django import modulestore
   import json
   from student.models import State,District,Transaction,Cohort,School,Registration
%>
<head>
  <title>Reg Kits User</title>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>
<body>
  <%include file="tabs.html" args="active_page='user'" />
  %if ui=='list':
  <div style="text-align:center;">
    <div style="margin:auto;" class="container">
      <div style="background:#ddd;padding:20px;text-align:left;">
        <div class="filter">
          <form id="form_filter" method="get">
            <input type="hidden" name="size" value="${request.GET.get('size','')}"/>

            <table width="" cellspacing="" cellpadding="" border="0">
            <tr> <td>State:</td><td><select name="state_id" autocomplete="off">
              <option value="">All</option>
              %for item in State.objects.all().order_by('name'):
              %if request.GET.get('state_id')== "%s" % item.id:
              <option value="${item.id}" selected>${item.name}</option>
              %else:
              <option value="${item.id}">${item.name}</option>
              %endif 
              %endfor
            </select></td><td>District:</td><td><select id="" name="district_id" autocomplete="off">
              <option value="">All</option>
            </select></td> </tr>
            <tr> <td>Cohort:</td><td><select id="" name="cohort_id" autocomplete="off">
              <option value="">All</option>
            </select></td><td>School:</td><td><select id="" name="school_id" autocomplete="off">
              <option value="">All</option>
            </select></td> </tr>
            <tr> <td>Status:</td><td><select id="" name="subscription_status" autocomplete="off">
              <option value="">All</option>
              <option value="Imported">Imported</option>
              <option value="Unregistered">Unregistered</option>
              <option value="Registered">Registered</option>
              <option value="Inactive">Inactive</option>
            </select></td><td>Days After Invited:</td><td>
            <input type="" size="3" name="invite_days_min" value="" /> to 
            <input type="" size="3" name="invite_days_max" value="" /></td> </tr>
            <tr>
              <td>First Name:</td><td><input type="input" name="first_name" size="10" autocomplete="off" /></td>
              <td>Last Name:</td><td><input type="input" name="last_name" size="10" autocomplete="off" />
              <span style="margin-left:50px">Email: &nbsp;&nbsp;<input type="input" name="email" size="30" autocomplete="off" /></span> </td>
            </tr>
            
            <tr> <td></td><td><input type="submit" name="" value="Filter" /></td><td></td><td></td> </tr>
            </table>
          </form>
        </div>
        <div style="padding-bottom:10px;">
          <a href="" onclick="send_invite_email();return false;">Send inviting email to</a>: ${invite_count} users (haven't invited)
          <div style="display:inline-block;border:1px solid;width:300px;height:5px;">
            <div style="background:#0c0;width:0px;height:100%" id="progress"></div>
          </div>
          <span id="progress-label"></span>
        </div>
        <table class="datalist" width="100%" border="1" style="border-collapse:collapse;">
          <tr>
            <th><input type="checkbox" id="check_all_id" autocomplate="off" /></th>
            <th sortby="user_id">User ID</th>
            <th sortby="active_link">Activate Link</th>
            <th sortby="first_name">First Name</th>
            <th sortby="last_name">Last Name</th>
            <th sortby="username">Username</th>
            <th sortby="email">Email</th>
            <!-- <th>State</th> -->
            <th sortby="district">District</th>
            <th sortby="cohort">Cohort</th>
            <th sortby="school">School</th>
            <th sortby="invite_date">Invite Date</th>
            <!-- <th>Days After Invited</th> -->
            <th sortby="activate_date">Activate Date</th>
            <th sortby="subscription_status">Status</th>
          </tr>
          %for item in users:
          <tr>
            <td><input type="checkbox" name="id" value="${item.user_id}" autocomplate="off" /></td>
            <td>${item.user_id}</td>
            <td>
              %if Registration.objects.filter(user_id=item.user_id).count():
              <a href="http://${site}/register/${Registration.objects.get(user_id=item.user_id).activation_key}" target="_blank">
                ${Registration.objects.get(user_id=item.user_id).activation_key[:8]}...
              </a>
              %endif
            </td>
            <td>${item.user.first_name}</td>
            <td>${item.user.last_name}</td>
            <td>${item.user.username}</td>
            <td><a href="${reverse('user_form',args=[item.id])}">${item.user.email}</a></td>
            <!-- <td>${item.cohort.district.state.name}</td> --> 
            <td>${item.cohort.district.name}</td>
            <td>${item.cohort.code}</td>
            %if item.school_id:
            <td>${item.school.name}</td>
            %else:
            <td></td>
            %endif
            <td align="center">${item.invite_date}</td>
            <!-- <td align="center">${item.days_after_invite}</td> -->
            <td align="center">${item.activate_date}</td>
            <td align="center">
              ${item.subscription_status or ""}
            </td>
          </tr>
          %endfor       
        </table>
        <div style="padding:5px;text-align:right;">
          Total:${users.paginator.count} - 
          Page: ${users.number}/${users.paginator.num_pages}
          <input type="text" name="page" value="${users.number}" size="5" maxlength="8"/>
          %if users.has_previous():
          <a href="${reverse('user')}?${pager_params}&page=${users.previous_page_number()}">prev</a>
          %endif
          %if users.has_next():
          <a href="${reverse('user')}?${pager_params}&page=${users.next_page_number()}">next</a>
          %endif
          Items Per Page
          <select id="lstPageSize" autocomplate="off">
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          Batch Modify
          <select id="lstStatus" autocomplate="off">
            <option value="">-- Status --</option>
            <option value="Imported">Imported</option>
            <option value="Unregistered">Unregistered</option>
            <option value="Registered">Registered</option>
            <option value="Inactive">Inactive</optio>
          </select>
          <input type="button" id="btnDelete" value="Delete" />
          Download ${users.paginator.count} User(s) As
          <input type="button" id="btnDownloadCsv" value="CSV" />
          <input type="button" id="btnDownloadExcel" value="Excel" />
        </div>
      </div>  
    </div>
  </div>
<script type="text/javascript">
  var form=$("#form_filter");
  // check all
  $("#check_all_id").change(function(){
    if($(this).is(":checked")){
      $("input:checkbox[name=id]").attr("checked","true")
    }else{
      $("input:checkbox[name=id]").removeAttr("checked")
    }
  })
  // sort table
  $(".datalist").find("th").each(function(){
    var sortby=$(this).attr("sortby");
    if(!sortby)return;
    var desc="no";
    var curr_sortby=get_searching()["sortby"];
    this.style.cursor="pointer"
    $(this).hover(function(){
      this.style.textDecoration="underline"
    },function(){
      this.style.textDecoration="none"
    });
    if(sortby==curr_sortby){
      desc=get_searching()["desc"]=="yes"?"no":"yes";
      this.style.background=(desc=="yes")?"#0a5":"#c47"
    }
    $(this).click(function(){
      window.location.href=replace_searching({sortby:sortby,desc:desc})
    })
  });
  // page input
  $("input[name=page]").keyup(function(e){
    if(e.keyCode==13){
      var p=$(this).val().replace(/^(\s+)|(\s+)$/,'')
      if(/^[1-9]\d*$/.test(p))
      window.location.href='${reverse('user')}?${pager_params}&page='+p
      else
      alert("Invalid page number '"+p+"'")
    }
  })
  // drop events
  form.find("select[name=state_id]").change(function(a){
    var state_id=$(this).val();
    dropDistrict(form,state_id,district_id);
    dropSchool(form,state_id,district_id,school_id);
    dropCohort(form,state_id,district_id,cohort_id);
  });
  form.find("select[name=district_id]").change(function(){
    var state_id='';
    var district_id=$(this).val();
    dropSchool(form,state_id,district_id,school_id);
    dropCohort(form,state_id,district_id,cohort_id);
  });
  // init page size
  $("#lstPageSize").val("${request.GET.get('size') or '20'}")
  $("#lstPageSize").change(function(){
    window.location.href=replace_searching({size:$(this).val()})
  })
  // init filter form
  var state_id="${request.GET.get('state_id') or ''}"
  var cohort_id="${request.GET.get('cohort_id') or ''}"
  var district_id="${request.GET.get('district_id') or ''}"
  var school_id="${request.GET.get('school_id') or ''}"
  var subscription_status="${request.GET.get('subscription_status') or ''}"
  var invite_days_min="${request.GET.get('invite_days_min') or ''}"
  var invite_days_max="${request.GET.get('invite_days_max') or ''}"
  var email="${request.GET.get('email') or ''}"
  var first_name="${request.GET.get('first_name') or ''}"
  var last_name="${request.GET.get('last_name') or ''}"
  form.find("input[name=email]").val(email)
  form.find("input[name=last_name]").val(last_name)
  form.find("input[name=first_name]").val(first_name)
  form.find("input[name=invite_days_min]").val(invite_days_min)
  form.find("input[name=invite_days_max]").val(invite_days_max)
  form.find("select[name=subscription_status]").val(subscription_status)
  dropDistrict(form,state_id,function(){
    $(this).val(district_id)
  });
  dropCohort(form,state_id,district_id,function(){
    $(this).val(cohort_id)
  });
  dropSchool(form,state_id,district_id,function(){
    $(this).val(school_id)
  });
  var curr_filter={state_id:state_id, cohort_id:cohort_id, district_id:district_id, school_id:school_id,
                   subscription_status:subscription_status, invite_days_min:invite_days_min,
                   invite_days_max:invite_days_max, email:email, first_name:first_name, last_name:last_name}

  $("#btnDelete").click(function(){
    if(!confirm('Really delete?'))return false;
    var ids=[]
    $(":checkbox:checked[name=id]").each(function(){
      ids.push($(this).val())
    })
    $.post("${reverse('user_delete')}", {ids:ids.join(),csrfmiddlewaretoken:'${csrf_token}'}, function(r){
      if((typeof r)=='string')r=$.parseJSON(r);
      if(r.success)
         window.location.href=window.location.href;
    });
  })
  
  $("#btnDownloadCsv").click(function(){
    var valid_filter=[];
    var h=get_searching();
    var filter=$.extend({sortby:h.sortby,desc:h.desc},curr_filter)
    for(k in filter){
      var v=filter[k];
      if(v && v.length){
        valid_filter.push(k+"="+encodeURI(v));
      }
    }
    window.open("${reverse('download_user_csv')}?"+valid_filter.join("&"))
  })

  $("#btnDownloadExcel").click(function(){
    var valid_filter=[];
    var h=get_searching();
    var filter=$.extend({sortby:h.sortby,desc:h.desc},curr_filter)
    for(k in filter){
      var v=filter[k];
      if(v && v.length){
        valid_filter.push(k+"="+encodeURI(v));
      }
    }
    window.open("${reverse('download_user_excel')}?"+valid_filter.join("&"))
  })

  // modify status
  $("#lstStatus").change(function(){
    var ids=[]
    $(":checkbox:checked[name=id]").each(function(){
      ids.push($(this).val())
    })
    var status=$(this).val()
    if(status=="")return;
    $.post("${reverse('user_modify_status')}",
           {ids:ids.join(),subscription_status:status,csrfmiddlewaretoken:'${csrf_token}'},function(r){
      if((typeof r)=='string')r=$.parseJSON(r);
      if(r.success)
      window.location.href=window.location.href;
    });
  })
  // send invite email
  function send_invite_email(){
    var total=${invite_count};
    if(total<1)return alert("User count is 0.")
    var flds=["cohort_id","district_id","state_id","school_id","subscription_status","email"]
    var data=curr_filter;
    data.count=1;
    var done=0;
    (function run(){
      $.get("${reverse('send_invite_email')}",data,function(r){
        r=$.parseJSON(r);
        if(!r.success){
          alert(r.error)
          return;
        }
        done+=r.sent;
        if((r.remain+done)!=total){
          alert("Total count changed, please refersh the page.")
          return;
        }
        $("#progress").css("width",(done/total*100)+"%")
        $("#progress-label").html(done+"/"+total)
        if(total>done) run()
      });
    })();
  }
</script>
%endif
%if ui=='form':
<div style="text-align:center;">
  <div style="margin:auto;" class="container">
    <div style="background:#ddd;padding:20px;text-align:left;">
      <div id="message" class="submit-notify"></div>
      %if profile.id:
      <h2>Modify user</h2>
      %else:
      <h2>Create user</h2>
      %endif
      <form method="post" id="form" action="${reverse('user_submit')}">
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
        <input type="hidden" name="id" value="${profile.user.id or ''}" />
        <table width="100%;" cellspacing="" cellpadding="" border="0" id="form-table">
          <tbody style="background:#eee;">
            <tr>
              <td class="label">State</td>
              <td>
                <select id="district_id" name="state_id" autocomplate="off">
                  <option value=""></option>
                  %for item in State.objects.all().order_by('name'):
                  <option value="${item.id}">${item.name}</option>
                  %endfor
                </select>
              </td>
            </tr>
            <tr>
              <td class="label">District</td>
              <td>
                <select id="district_id" name="district_id" autocomplate="off">
                  <option value=""></option>
                </select>
              </td>
            </tr>
           <tr>
              <td class="label required">Cohort</td>
              <td>
                <select id="cohort_id" name="cohort_id" autocomplate="off" chkMsg="Cohort can't be empty." chkType="Require">
                  <option value=""></option>
                </select>
              </td>
           </tr>
            <tr>
              <td class="label">School</td>
              <td>
                <select id="school_id" name="school_id" autocomplate="off">
                  <option value=""></option>
                </select>
              </td>
            </tr>           
          </tbody>
          <tr>
            <td class="label required">Status</td>
            <td>
              <select id="" name="subscription_status" autocomplate="off" chkMsg="Status is invalid." chkType="Require">
                <option value=""></option>
                <option value="Imported">Imported</option>
                <option value="Unregistered">Unregistered</option>
                <option value="Registered">Registered</option>
                <option value="Inactive">Inactive</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="label required">Email</td>
            <td>
              <input type="" name="email" value="${profile.user.email}" chkMsg="Email is invalid." chkType="Email"/>
            </td>
          </tr>
          <tr>
            <td></td><td><input type="submit" value="Submit"/></td>
          </tr>
        </table>
      </form>
    </div>  
  </div>
</div>
<script>
var form=$("#form");
// submit form
form.submit(function(){
  if(!new FormValidator().check(this))return false;
  var flds=["id","email","subscription_status","cohort_id","school_id","csrfmiddlewaretoken"]
  var data=getFormData(this,flds);
  $("#message").html("Submiting");
  $.post('${reverse("user_submit")}',data,
  function(r) {
    var r = $.parseJSON(r);
    if (r.success) {
      //$(this).resetForm()
      infoAndWait($("#message"),"Submit success",3,"${reverse('user')}");
    } else {
       $("#message").show()
       $("#message").html(r.error);
    }
  });
  return false;
});  
// drop events
form.find("select[name=state_id]").change(function(){
  var state_id=$(this).val();
  dropDistrict(form,state_id,function(){
    dropCohort(form,state_id);
  });
  dropSchool(form,state_id,'',school_id);
});
form.find("select[name=district_id]").change(function(){
  var district_id=$(this).val();
  dropCohort(form,'',district_id,cohort_id);
  dropSchool(form,'',district_id,school_id);
});
// init form
%if profile.id:
  var cohort_id="${profile.cohort.id}"
  var district_id="${profile.cohort.district.id}"
  var state_id="${profile.cohort.district.state.id}"
  var school_id="${profile.school_id}"
  var subscription_status="${profile.subscription_status}"
%else:
  var cohort_id=""
  var district_id=""
  var state_id=""
  var school_id=""
%endif
form.find("select[name=state_id]").val(state_id)
form.find("select[name=subscription_status]").val(subscription_status)
dropDistrict(form,state_id,function(){
  $(this).val(district_id)
})
dropCohort(form,state_id,district_id,function(){
  $(this).val(cohort_id)
})
dropSchool(form,state_id,district_id,function(){
  $(this).val(school_id)
})
</script>
%endif
</body>
