<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
%>

<%inherit file="../main.html"/>
<script type="text/javascript" src="/static/js/admin_ui_controls.js"></script>
<script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/extras/jquery.tablesorter.pager.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-filter.min.js"></script>
<link rel="stylesheet" href="/static/css/admin_ui_controls.css" type="text/css" media="screen" />
<link rel = "stylesheet" href = "/static/css/pepconn.css" type = "text/css" media = "screen"/>
<link rel = "stylesheet" href = "/static/js/tablesorter/css/theme.blue.min.css" media="screen"/>
<link rel = "stylesheet" href = "/static/js/tablesorter/css/jquery.tablesorter.pager.min.css" media = "screen" />

<style>
    .modal {
        position: absolute;
        opacity: 1;
        z-index: 11000;
        left: 50%;
        margin-left: -349px;
        top: 40px;
        background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
        border-radius: 5px;
        box-shadow: 0 15px 80px 15px rgba(0, 0, 0, 0.5);
        padding: 0 0 8px 0;
        width: 680px;
        display: none;
    }
    .modal .close-modal {
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        vertical-align: baseline;
        padding: 10px;
        position: absolute;
        right: 2px;
        top: 0;
        z-index: 3;
        color: #333;
    }
    .modal .titlebar {
        height: 70px;
        background: #ccc;
    }
    .modal .dialog-title {
        margin: 0;
        padding: 20px 0 0 30px;
        color: #666;
    }
    .modal .content {
        color: #333;
        text-align: left;
        font-size: 16px;
        padding: 20px 10px;
        line-height: 20px;
    }
    .modal .inner-wrapper form textarea {
        height: 100px;
    }
    .modal label, .modal input, .modal select {
        display: block;
    }
    .modal label span {
        color: red;
    }
    .modal label span::before {
        content: "<";
    }
    .modal label span::after {
        content: ">";
    }
    #dialogYesNo .content {
        text-align: center;
    }
    #dialogYesNo input {
        margin-top: 20px;
        display: inline;
    }
    .error-box {
        border-color: red !important;
    }
    .group-edit img, .permission-edit img {
        height: 16px;
        width: 16px;
    }
    .group-select {
        cursor: pointer;
    }
    .selected-group {
        background-color: #56a033;
    }
    .content-wrapper {
        padding: 20px auto;
    }
    #permissions {
        margin-top: 20px;
    }
    #groups {
        margin-bottom: 20px;
    }
    .expand_div {
        padding: 10px 10px 0 10px;
    }
    #groups-column {
        width: 33%;
        float: left;
    }
    .permissions-table {
        width: 100%;
        border: 1px solid #555;
    }
    .permissions-table th {
        border-bottom: 1px solid #555;
        background-color: #ddd;
        border-right: 1px solid #555;
        text-align: left;
        padding: 4px;
    }
    .permissions-table tr {
        border-bottom: 1px solid #555;
    }
    .permissions-table td {
        border-right: 1px solid #555;
        padding: 4px;
        text-align: left;
    }
    #groups-info-column {
        width: 66%;
        float: right;
    }
    #permission-actions, #group-actions, #group-permission-actions, #member-actions {
        padding: 10px 0;
        text-align: right;
    }
    .clear {
        clear: both;
        height: 1px;
        margin-top: -1px;
    }
    .acResults {
        z-index: 11001;
        background-color: #ddd;
        border-radius: 5px;
        border: 1px solid #555;
        padding: 0;
    }
    .acResults ul {
        padding: 0;
        margin: 0;
    }
    .acResults li {
        list-style: none;
        padding: 10px;
        margin: 0;
    }
    .acSelect {
        background-color: #0000d4;
        color: white;
    }
    #delete-permissions, #delete-groups, #delete-group-permissions, #delete-group-members,
    #new-permission, #new-group, #add-group-permission, #add-group-member {
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: black;
        display: inline-block;
        background-color: transparent;
        background-image: none;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        font: normal .8rem/1rem "Open Sans", Verdana, Geneva, sans-serif;
        letter-spacing: normal;
        padding: 32px 5px 5px 5px;
        text-transform: none;
        height: 52px;
    }
    #delete-permissions, #delete-groups, #delete-group-permissions, #delete-group-members {
        background: transparent url(/static/images/certificate/ui/delete.png) center top no-repeat;
    }
    #delete-permissions:hover, #delete-groups:hover, #delete-group-permissions:hover, #delete-group-members:hover {
        background: transparent url(/static/images/certificate/ui/delete_mo.png) center top no-repeat;
    }
    #new-permission, #new-group, #add-group-permission, #add-group-member {
        background: transparent url(/static/images/certificate/ui/add_new.png) center top no-repeat;
    }
    #new-permission:hover, #new-group:hover, #add-group-permission:hover, #add-group-member:hover {
        background: transparent url(/static/images/certificate/ui/add_new_mo.png) center top no-repeat;
    }
    .check-column {
        width: 40px;
    }
    .lean-overlay .loading {
        width: 128px;
        height: 128px;
        display: block;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 300px;
        margin-left: -64px;
    }
    .pager {
        float: left;
    }
</style>
<script type="text/javascript">
    function LoadingStatus(list) {
        var self = this;
        setTimeout(function () {
            if (!self.checkStatus()) {
                self.showLoader();
            }
        }, 200);
        this.$list = {};
        $.each(list, function(i, v) {
            self.$list[v] = true;
        });
    }
    LoadingStatus.prototype.showLoader = function () {
        if (!this.$loader) {
            this.$loader = $('<div class="lean-overlay"><img class="loading" src="/static/images/loading.gif"></div>');
            this.$loader.appendTo(document.body);
        }
        this.$loader.css('display','block');
    };
    LoadingStatus.prototype.hideLoader = function () {
        if (this.$loader) {
            this.$loader.remove();
            this.$loader = null;
        }
    };
    LoadingStatus.prototype.checkStatus = function () {
        var status = true;
        $.each(this.$list, function(i, v) {
            if (v) {
                status = false;
            }
        });
        return status;
    };
    LoadingStatus.prototype.setStatus = function (name) {
        this.$list[name] = false;
        this.loaderCheck();
    };
    LoadingStatus.prototype.loaderCheck = function () {
        if (this.checkStatus()) {
            this.hideLoader();
        }
    };
    function checkPermission(name, target, action) {
        var valid = true;
        var error = '';
        $.ajax({
            url: "${reverse('permissions_permission_check')}",
            type: 'GET',
            async: false,
            data: {name: name, target: target, action: action},
            success: function(data) {
                valid = data.Valid;
                error = data.Error;
            }
        });
        if (valid) {
            return true;
        } else {
            return error;
        }
    }
    function checkGroup(name) {
        var valid = true;
        var error = '';
        $.ajax({
            url: "${reverse('permissions_group_check')}",
            type: 'GET',
            async: false,
            data: {name: name},
            success: function(data) {
                valid = data.Valid;
                error = data.Error;
            }
        });
        if (valid) {
            return true;
        } else {
            return error;
        }
    }
    function validatePermissionForm(type) {
        $('.error-box').removeClass('error-box');
        var valid = true;
        var errors = ['The following errors occurred:\n'];
        var name = $('#new-permission-submit input[name="name"]');
        if (!/[A-Za-z0-9]+/.test(name.val())) {
            valid = false;
            errors.push('Name is required.');
            name.addClass('error-box');
        }
        var target = $('#new-permission-submit input[name="target"]');
        if (!/[A-Za-z0-9]+/.test(target.val())) {
            valid = false;
            errors.push('Target is required.');
            target.addClass('error-box');
        }
        var action = $('#new-permission-submit input[name="action"]');
        if (!/[A-Za-z0-9]+/.test(action.val())) {
            valid = false;
            errors.push('Action is required.');
            action.addClass('error-box');
        }
        if (type == 'add') {
            var check_permission = checkPermission(name.val(), target.val(), action.val());
            if (check_permission !== true) {
                valid = false;
                errors.push(check_permission);
                name.addClass('error-box');
                target.addClass('error-box');
                action.addClass('error-box');
            }
        }
        if (!valid) {
            var error = errors.join('\n');
            alert(error);
        }
        return valid;
    }
    function validateGroupForm(type) {
        $('.error-box').removeClass('error-box');
        var valid = true;
        var errors = ['The following errors occurred:\n'];
        var name = $('#new-group-submit input[name="name"]');
        if (!/[A-Za-z0-9]+/.test(name.val())) {
            valid = false;
            errors.push('Name is required.');
            name.addClass('error-box');
        }
        if (type == 'add') {
            var check_group = checkGroup(name.val());
            if (check_group !== true) {
                valid = false;
                errors.push(check_group);
                name.addClass('error-box');
            }
        }
        if (!valid) {
            var error = errors.join('\n');
            alert(error);
        }
        return valid;
    }
    function postForm(form, dialog, callback, passthrough) {
        var params = $(form).serialize();
        $.post($(form).attr('action'), params, function (data) {
            if (data.Success) {
                if (dialog) {
                    dialog.hide();
                }
                if ($.isFunction(callback)) {
                    if (typeof passthrough !== 'undefined') {
                        callback(passthrough);
                    } else {
                        callback();
                    }
                }
            } else {
                if (data.hasOwnProperty('Error') && data.Error == 'duplicate') {
                    alert("This item is already part of this group. It can't be added again.")
                } else {
                    alert('There was an error processing this request. Please contact the site admins for help.');
                }
            }
        });
    }
    function updatePermissions() {
        $('#permissions-table tbody .data').remove();
        $.get("${reverse('permissions_permissions_list')}", function (data) {
            $.each(data, function (index, object) {
                var row = '<tr class="data">';
                row += '<td>' + object.name + '</td>';
                row += '<td>' + object.item + '</td>';
                row += '<td>' + object.action + '</td>';
                row += '<td class="check-column">';
                row += '<input type="checkbox" value="' + object.id + '" class="permission-select">&nbsp;';
                row += '<a href="#' + object.id + '" class="permission-edit"><img src="/static/images/portal-icons/pencil-icon.png"></a>';
                row += '</td>';
                row += '</tr> ';
                $('#permissions-table tbody').append(row);
            });
            permissionEditAttach();
            $('#permissions-table').trigger('update');
        });
    }
    function updateGroups() {
        $('#groups-table tbody .data').remove();
        $.get("${reverse('permissions_group_list')}", function (data) {
            $.each(data, function (index, object) {
                var row = '<tr class="data group-select">';
                row += '<td>' + object.name + '</td>';
                row += '<td class="check-column">';
                row += '<input type="checkbox" value="' + object.id + '" class="group-select">&nbsp;';
                row += '<a href="#' + object.id + '" class="group-edit"><img src="/static/images/portal-icons/pencil-icon.png"></a>';
                row += '</td>';
                row += '</tr> ';
                $('#groups-table tbody').append(row);
            });
        });
        groupEditAttach();
        groupSelect();
        $('#groups-table').trigger('update');
    }
    function updateGroupMembers(group_id, status) {
        $('#group-members-table tbody .data').remove();
        $.get("${reverse('permissions_group_members_list')}", {group_id: group_id}, function (data) {
            $.each(data, function (index, object) {
                var row = '<tr class="data">';
                row += '<td>' + object.first_name + '</td>';
                row += '<td>' + object.last_name + '</td>';
                row += '<td>' + object.email + '</td>';
                row += '<td>' + object.state + '</td>';
                row += '<td>' + object.district + '</td>';
                row += '<td>' + object.school + '</td>';
                row += '<td class="check-column">';
                row += '<input type="checkbox" value="' + object.user_id + '" name="group_member_id[' + object.user_id + ']" class="user-select">';
                row += '</td>';
                row += '</tr>';
                $('#group-members-table tbody').append(row);
            });
            $('#group-members-table').trigger('update');
            status.setStatus('members');
        });
    }
    function updateGroupPermissions(group_id, status) {
        $('#group-permissions-table tbody .data').remove();
        $.get("${reverse('permissions_group_permissions_list')}", {group_id: group_id}, function (data) {
            $.each(data, function (index, object) {
                var row = '<tr class="data">';
                row += '<td>' + object.name + '</td>';
                row += '<td>' + object.item + '</td>';
                row += '<td>' + object.action + '</td>';
                row += '<td class="check-column">';
                row += '<input type="checkbox" value="' + object.id + '" name="group_permission_id[' + object.id + ']" class="group-permission-select">';
                row += '</td>';
                row += '</tr> ';
                $('#group-permissions-table tbody').append(row);
            });
            $('#group-permissions-table').trigger('update');
            status.setStatus('permissions');
        });
    }
    function groupSelect() {
        $(".group-select").click(function() {
            $('#groups-table tr').removeClass('selected-group');
            $(this).addClass('selected-group');
            $('#add-group-permission').removeAttr('disabled');
            $('#add-group-member').removeAttr('disabled');
            $('#delete-group-permissions').removeAttr('disabled');
            $('#delete-group-members').removeAttr('disabled');
            var group_id = $(this).find('input').attr('value');
            var status = new LoadingStatus(['members', 'permissions']);
            updateGroupMembers(group_id, status);
            updateGroupPermissions(group_id, status);
        });
    }
    function groupEdit(type, id) {
        var button_name = 'Add';
        var name = '';
        if (type == 'edit') {
            button_name = 'Save';
            $.ajax({
                url: "${reverse('permissions_group_list')}",
                type: 'GET',
                async: false,
                data: {group_id: id},
                success: function(data) {
                    name = data[0].name;
                }
            });
        }
        var content = '<form action="${reverse('permissions_group_add')}" method="post" id="new-group-submit">';
        content += '<label>Group Name:<input type="text" name="name" value="' + name + '"></label>';
        content += '<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>';
        if (type == 'edit') {
            content += '<input type="hidden" name="group_id" value="' + id + '"/>';
        }
        content += '<input type="submit" name="submit" value="' + button_name + '">';
        content += '</form>';
        var dialog = new Dialog('#dialog');
        dialog.show('New Permission', content);
        $('#new-group-submit').submit(function (event) {
            event.preventDefault();
            if (validateGroupForm(type)) {
                postForm(this, dialog, updateGroups);
            }
        });
    }
    function groupEditAttach() {
        $('#new-group').click(function () {
            groupEdit('add');
        });
        $('.group-edit').click(function (e) {
            e.preventDefault();
            var id = $(this).attr('href').substr(1);
            groupEdit('edit', id);
        });
    }
    function permissionEdit(type, id) {
        var button_name = 'Add';
        var name = '';
        var target = '';
        var action = '';
        if (type == 'edit') {
            button_name = 'Save';
            $.ajax({
                url: "${reverse('permissions_permissions_list')}",
                type: 'GET',
                async: false,
                data: {permission_id: id},
                success: function(data) {
                    name = data[0].name;
                    target = data[0].item;
                    action = data[0].action;
                }
            });
        }
        var content = '<form action="${reverse('permissions_permission_add')}" method="post" id="new-permission-submit">';
        content += '<label>Permission Name:<input type="text" name="name" value="' + name + '"></label>';
        content += '<label>Permission Target:<input type="text" name="target" value="' + target + '"></label>';
        content += '<label>Permission Action:<input type="text" name="action" value="' + action + '"></label>';
        content += '<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>';
        if (type == 'edit') {
            content += '<input type="hidden" name="permission_id" value="' + id + '"/>';
        }
        content += '<input type="submit" name="submit" value="' + button_name + '"></label>';
        content += '</form>';
        var dialog = new Dialog('#dialog');
        dialog.show('New Permission', content);
        $('#new-permission-submit').submit(function (event) {
            event.preventDefault();
            if (validatePermissionForm(type)) {
                postForm(this, dialog, updatePermissions);
            }
        });
    }
    function permissionEditAttach() {
        $('#new-permission').click(function () {
            permissionEdit('add');
        });
        $('.permission-edit').click(function (e) {
            e.preventDefault();
            var id = $(this).attr('href').substr(1);
            permissionEdit('edit', id);
        });
    }
    function selectAll(trigger_selector, target_selector) {
        $(trigger_selector).change(function () {
            var checked = false;
            if ($(this).is(':checked')) {
                checked = true;
            }
            $(target_selector).each(function () {
                $(this).prop('checked', checked);
            });
        });
    }
    $(document).ready(function() {
        //** init expand title
        $(".expand_title").click(function () {
            var $div = $(this).next("div.expand_div");
            if ($div.is(':visible')) {
                $div.slideUp();
                $(this).removeClass("expand_title_expanded");
            } else {
                $div.slideDown();
                $(this).addClass("expand_title_expanded");
            }
        });
        groupSelect();
        permissionEditAttach();
        groupEditAttach();
        $('#add-group-permission').click(function () {
            var group = $(".selected-group input").val();

            var content = '<form action="${reverse('permissions_group_permission_add')}" method="post" id="add-permission-submit">';
            content += '<select name="permission">';

            $.ajax({
                url: "${reverse('permissions_permissions_list')}",
                type: 'GET',
                async: false,
                success: function(data) {
                    $.each(data, function (index, object) {
                        content += '<option value="' + object.id + '">' + object.name + '</option>';
                    });
                }
            });

            content += '</select>';
            content += '<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>';
            content += '<input type=hidden name="group" value="' + group + '">';
            content += '<input type="submit" name="submit" value="Add">';
            content += '</form>';
            var dialog = new Dialog('#dialog');
            dialog.show('Add Permission', content);
            $('#add-permission-submit').submit(function (event) {
                event.preventDefault();
                postForm(this, dialog, updateGroupPermissions, group);
            });
        });
        $('#add-group-member').click(function () {
            var group = $(".selected-group input").val();

            var content = '<form action="${reverse('permissions_group_member_add')}" method="post" id="add-member-submit">';
            content += '<label>Choose a user by email:<input type="text" name="member" id="add-user-email">';
            content += '<label><strong>Or</strong> add a group of users: <span id="user-selection">Select State to Start</span></label>';
            content += '<label id="state-label">By State:<select name="state" id="state-select"><option value=""></option></select></label>';
            content += '<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>';
            content += '<input type=hidden name="group" value="' + group + '">';
            content += '<input type="submit" name="submit" value="Add">';
            var dialog = new Dialog('#dialog');
            dialog.show('Add User', content);
            $('#add-member-submit').submit(function (event) {
                event.preventDefault();
                postForm(this, dialog, updateGroupMembers, group);
            });
            $.get('${reverse('pepper_utilities_drop_states')}', function (data) {
                var options = '';
                $.each(data, function (index, object) {
                    options += '<option value="' + object.id + '">' + object.name + '</option>';
                });
                $('#state-select').append(options);
            });
            $('#add-user-email').autocomplete('${reverse('pepper_utilities_user_email_completion')}', {remoteDataType: 'json'});
            $('#state-select').change(function () {
                if ($(this).val()) {
                    $('#district-label').remove();
                    $('#school-label').remove();
                    $.get('${reverse('pepper_utilities_drop_districts')}', {state: $(this).val()}, function (data) {
                        var content = '<label id="district-label">By District<select name="district", id="district-select"><option value=""></option>';
                        $.each(data, function (index, object) {
                            content += '<option value="' + object.id + '">' + object.name + '</option>';
                        });
                        content += '</select></label>';
                        $('#state-label').after(content);
                        $('#user-selection').html('All users in ' + $('#state-select').children(':selected').text());
                        $('#district-select').change(function () {
                            if ($(this).val()) {
                                $('#school-label').remove();
                                $.get('${reverse('pepper_utilities_drop_schools')}', {district: $(this).val()}, function (data) {
                                    var content = '<label id="school-label">By School<select name="school", id="school-select"><option value=""></option>';
                                    $.each(data, function (index, object) {
                                        content += '<option value="' + object.id + '">' + object.name + '</option>';
                                    });
                                    content += '</select></label>';
                                    $('#district-label').after(content);
                                    $('#user-selection').html('All users in district ' + $('#district-select').children(':selected').text());
                                    $('#school-select').change(function () {
                                        if ($(this).val()) {
                                            $('#user-selection').html('All users in school ' + $('#school-select').children(':selected').text());
                                        } else {
                                            $('#user-selection').html('All users in district ' + $('#district-select').children(':selected').text());
                                        }
                                    });
                                });
                            } else {
                                $('#user-selection').html('All users in ' + $('#state-select').children(':selected').text());
                            }
                        });
                    });
                } else {
                    $('#user-selection').html('Select State to Start');
                }
            });
        });
        $('#delete-permissions-form').submit(function (e) {
            e.preventDefault();
            var form = this;
            var dialog = new Dialog('#dialogYesNo');
            dialog.showYesNo('Delete Permission(s)', 'Are you sure you want to delete this permission? This action cannot be undone.', function(answer) {
                if (answer) {
                    postForm(form, dialog, updatePermissions);
                } else {
                    dialog.hide();
                }
            });
        });
        $('#delete-groups-form').submit(function (e) {
            e.preventDefault();
            var form = this;
            var dialog = new Dialog('#dialogYesNo');
            dialog.showYesNo('Delete Group(s)', 'Are you sure you want to delete this group? This action cannot be undone.', function(answer) {
                if (answer) {
                    postForm(form, dialog, updateGroups);
                } else {
                    dialog.hide()
                }
            });
        });
        $('#delete-group-members-form').submit(function (e) {
            e.preventDefault();
            var form = this;
            var dialog = new Dialog('#dialogYesNo');
            dialog.showYesNo('Remove Group Member(s)', 'Are you sure you want to remove this group member? This action cannot be undone.', function(answer) {
                if (answer) {
                    var group = $(".selected-group input").val();
                    postForm(form, dialog, updateGroupMembers, group);
                } else {
                    dialog.hide();
                }
            });
        });
        $('#delete-group-permissions-form').submit(function (e) {
            e.preventDefault();
            var form = this;
            var dialog = new Dialog('#dialogYesNo');
            dialog.showYesNo('Remove Group Permission(s)', 'Are you sure you want to remove this group permission? This action cannot be undone.', function(answer) {
                if (answer) {
                    var group = $(".selected-group input").val();
                    postForm(form, dialog, updateGroupPermissions, group);
                } else {
                    dialog.hide();
                }
            });
        });
        selectAll('.permission-select-all', '.permission-select');
        selectAll('.group-select-all', '.group-select');
        selectAll('.user-select-all', '.user-select');
        selectAll('.group-permission-select-all', '.group-permission-select');
    });
    var pagerOptions = {
        container: '',
        // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
        output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',
        fixedHeight: false,
        removeRows: false,
        page: 0,
        size: 10,
        ajaxUrl: null,
        customAjaxUrl: function(table, url) { return url; },
        ajaxObject: { dataType: 'json' },
        ajaxProcessing: null,
        processAjaxOnInit: true,
        pageReset: 0,
        countChildRows: false,
        cssNext: '.next', // next page arrow
        cssPrev: '.prev', // previous page arrow
        cssFirst: '.first', // go to first page arrow
        cssLast: '.last', // go to last page arrow
        cssGoto: '.gotoPage', // select dropdown to allow choosing a page
        cssPageDisplay: '.pagedisplay', // location of where the "output" is displayed
        cssPageSize: '.pagesize', // page size selector - select dropdown that sets the "size" option
        cssDisabled: 'disabled', // Note there is no period "." in front of this class name
        cssErrorRow: 'tablesorter-errorRow' // ajax error information row
    };
    var tablesorterOptions = {
        theme: 'blue',
        widthFixed: true,
        widgets: ["zebra", "filter"],
        widgetOptions: {
            filter_columnFilters: true,
            filter_placeholder: {search: 'Search...'},
            filter_saveFilters: false
        }
    };

    $(function () {
        pagerOptions.container = $("#permissions-pager");
        $('#permissions-table').tablesorter(tablesorterOptions).tablesorterPager(pagerOptions);

        pagerOptions.container = $("#group-members-pager");
        $('#group-members-table').tablesorter(tablesorterOptions).tablesorterPager(pagerOptions);

        pagerOptions.container = $("#group-permissions-pager");
        $('#group-permissions-table').tablesorter(tablesorterOptions).tablesorterPager(pagerOptions);

        pagerOptions.container = $("#groups-pager");
        pagerOptions.size = 40;
        $('#groups-table').tablesorter(tablesorterOptions).tablesorterPager(pagerOptions);
    });
</script>

<!-- User Data Import -->
<div id="permissions">
    <div class="main permissions-content">
        <div class="expand_title expand_title_collapse">
            Permissions <div class="icon"></div>
        </div>
        <div class="expand_div">
            <form action="${reverse('permissions_permission_delete')}" method="post" id="delete-permissions-form">
                <table id="permissions-table" class="permissions-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Target</th>
                            <th>Action</th>
                            <th class="check-column sorter-false filter-false"><input type="checkbox" value="1" class="permission-select-all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        %for permission in permissions:
                            <tr class="data">
                                <td>${permission.name}</td>
                                <td>${permission.item}</td>
                                <td>${permission.action}</td>
                                <td class="check-column">
                                    <input type="checkbox" value="${permission.id}" name="permission_id[${permission.id}]" class="permission-select">&nbsp;
                                    <a href="#${permission.id}" class="permission-edit"><img src="/static/images/portal-icons/pencil-icon.png"></a>
                                </td>
                            </tr>
                        %endfor
                    </tbody>
                </table>
                <div id="permission-actions">
                    <div id="permissions-pager" class="pager">
                        <form>
                            <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
                            <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
                            <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
                            <select class="pagesize">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                        </form>
                    </div>
                    <input type="button" value="New Permission" id="new-permission">
                    <input type="submit" value="Delete Selected" id="delete-permissions">
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
            </form>
        </div>
    </div>
</div>
<div id="groups">
    <div class="main groups-content">
        <div class="expand_title expand_title_collapse">
            Users &amp; Groups <div class="icon"></div>
        </div>
        <div class="expand_div">
            <div id="groups-column">
                <form action="${reverse('permissions_group_delete')}" method="post" id="delete-groups-form">
                    <table id="groups-table" class="permissions-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="check-column sorter-false filter-false"><input type="checkbox" value="1" class="group-select-all"></th>
                            </tr>
                        </thead>
                        <tbody>
                            %for group in groups:
                                <tr class="data group-select">
                                    <td>${group.name}</td>
                                    <td class="check-column">
                                        <input type="checkbox" value="${group.id}" name="group_id[${group.id}]" class="group-select">&nbsp;
                                        <a href="#${group.id}" class="group-edit"><img src="/static/images/portal-icons/pencil-icon.png"></a>
                                    </td>
                                </tr>
                            %endfor
                        </tbody>
                    </table>
                    <div id="group-actions">
                        <div id="groups-pager" class="pager">
                            <form>
                                <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
                                <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
                                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                                <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
                                <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
                            </form>
                        </div>
                        <input type="button" value="New Group" id="new-group">
                        <input type="submit" value="Delete Selected" id="delete-groups">
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                </form>
            </div>
            <div id="groups-info-column">
                <form action="${reverse('permissions_group_member_delete')}" method="post" id="delete-group-members-form">
                    <table id="group-members-table" class="permissions-table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>State</th>
                                <th>District</th>
                                <th>School</th>
                                <th class="check-column sorter-false filter-false"><input type="checkbox" value="1" class="user-select-all"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="member-actions">
                        <div id="group-members-pager" class="pager">
                            <form>
                                <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
                                <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
                                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                                <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
                                <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
                                <select class="pagesize">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select>
                            </form>
                        </div>
                        <input type="button" value="Add Member" id="add-group-member" disabled="disabled">
                        <input type="submit" value="Remove Selected" id="delete-group-members" disabled="disabled">
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                </form>
                <form action="${reverse('permissions_group_permission_delete')}" method="post" id="delete-group-permissions-form">
                    <table id="group-permissions-table" class="permissions-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Target</th>
                                <th>Action</th>
                                <th class="check-column sorter-false filter-false"><input type="checkbox" value="1" class="group-permission-select-all"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="group-permission-actions">
                        <div id="group-permissions-pager" class="pager">
                            <form>
                                <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
                                <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
                                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                                <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
                                <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
                                <select class="pagesize">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select>
                            </form>
                        </div>
                        <input type="button" value="Add Permission" id="add-group-permission" disabled="disabled">
                        <input type="submit" value="Delete Selected" id="delete-group-permissions" disabled="disabled">
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div style="" id="dialog" class="modal">
    <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>
            <div class="close-modal" id="dialog_close">✕</div>
        </div>
        <div class="content"></div>
    </div>
</div>
<div style="" id="dialogYesNo" class="modal">
    <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>
            <div class="close-modal" id="dialog_close">✕</div>
        </div>
        <div class="content"></div>
    </div>
</div>
