<%!
    from django.utils.translation import ugettext as _
    from django.utils import html
    from django.core.urlresolvers import reverse
    from django.conf import settings
%>
<link rel="stylesheet" type="text/css" href="/static/css/cms.css" />
<div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
    <div class="titlebar">
        <h3 class="dialog-title">CMS Resource</h3>
        <div class="close-modal" id="cms_close">✕</div>
    </div>
    <div class="content">
        <h3 style="margin-top:0px; margin-bottom:0px;">Select A Library</h3>
        <div id = "library_selection">

        </div>
        <div id = "view_type">
            <span id = "tree_view_head">Tree</span>
            <span id = "search_view_head">Search</span>
        </div><br>
        <div id= "popup_views">
            <span id="tree_view">
                Please Select A Library
            </span>
            <span id="search_view">
                Please Select A Library
            </span>
        </div>
    </div>
</div>

<script>

var base = "${settings.CMS_API_BASE}";
var working_lib = 0;
var working_img = "";
var initialize_listeners = true;
var send_to;
var encoded_pw = "";

$("#tree_view_head").css("background-color", "lightgray");
$("#tree_view_head").click(function() {
    $("#search_view").hide();
    $("#tree_view").show();
    $(this).css("background-color", "lightgray");
    $("#search_view_head").css("background-color", "white");
});

$("#search_view_head").click(function() {
    $("#tree_view").hide();
    $("#search_view").show()
    $(this).css("background-color", "lightgray");
    $("#tree_view_head").css("background-color", "white");
});

function initializeCMSPopup (callback) {
    send_to = callback;
    $.post("${reverse('cms_password')}", {}, function (data) {
        encoded_pw = unshuffle (data.password, data.shift);
        librariesSelector();
    });
}

function unshuffle (string, shift) {
    return string.slice(-shift) + string.slice(0, -shift);
}

function librariesSelector() {
    var user = callAPI("users", {"email":"${request.user.email}"});
    var orgs = user[0].orgs;
    var org_list = "1870,";
    for (var i = 0; i < orgs.length; i++) {
        org_list += orgs[i] + ",";
    }
    org_list = org_list.slice(0,-1);
    var libraries = callAPI("libraries/"+org_list, "");
    var html = "";
    for (var i = 0; i < libraries.length; i++) {
        lib = libraries[i];
        html += "<img src='" + lib.image_url + "' class='lib-image' id='" + lib.id + "'></img>";
    }

    $("#library_selection").html(html);
    $(".lib-image").click(function() {
        loadLibrary ($(this).attr("id"));
        working_img = $(this).attr("src");
    });
    if (initialize_listeners) {
        $("body").on("click", ".expandable_tree", function () {
            $(this).next().slideToggle();
            $($(this).children()[1]).toggleClass("down-arrow");
        });
        $("body").on("click", ".has_resource", function (e) {
            if ($(this).next().hasClass("resource_level")) {
                $(this).next().slideToggle();
            } else {
                var package_id = $(this).data("package_id");
                var offset = $(this).data("offset");
                var res_html = makeResourceTree(package_id, offset + 1);
                $(this).after(res_html);
                $(this).next().slideToggle();
            }
            $($(this).children()[1]).toggleClass("down-arrow");
        });
        $("body").on("click", ".selectable_resource", function (e) {
            if (!$($(this).children()[0]).is(":hover")) {
                var url = $(this).data("url");
                var title = $(this).data("title");
                data = {
                    "url": url,
                    "title": title,
                    "img": working_img
                }
                send_to.fire(data);
            }
        });
        $("body").on("click", "#sub_search", function () {
            //search_terms = encodeURIComponent($("#search_term").val());
            //library = encodeURIComponent($("#search_term").data("lib"));
            var search_terms = $("#search_term").val();
            var library = $("#search_term").data("lib");
            $("#search_results").data("page", 0);
            page = $("#search_results").data("page");
            data = {
                "search": search_terms,
                "f[0]": library,
                "page": page
            };
            var results = callAPI("search", data);
            var res_html = "";
            $.each(results, function (i) {
                res_html += "<div class='selectable_resource' data-title='"+results[i].title+"' data-url='"+results[i].url+"'>" + results[i].title + "<span class='ttext'>";
                res_html += results[i].content_area + "<br>" + results[i].grades + "<br><a target='_blank' href='" + results[i].url + "'>View Resource</a></span></div>";
            });
            $(this).parent().next().html(res_html);
        });
        $("body").on("click", "#prev_button", function () {
            page = $("#search_results").data("page");
            if (page > 0) {
                page--;
            }
            $("#search_results").data("page", page);
            reloadPage();
        });
        $("body").on("click", "#next_button", function () {
            page = $("#search_results").data("page");
            page++;
            $("#search_results").data("page", page);
            reloadPage();
        });
        initialize_listeners = false;
    }
    return html;
}

function reloadPage () {
    //search_terms = encodeURIComponent($("#search_term").val());
    //library      = encodeURIComponent($("#search_term").data("lib"));
    var search_terms = $("#search_term").val();
    var library = $("#search_term").data("lib");
    page = $("#search_results").data("page");
    data = {
        "search": search_terms,
        "f[0]": library,
        "page": page
    };
    var results = callAPI ("search", data);
    var res_html = "";
    $.each(results, function(i) {
        res_html += "<div class='selectable_resource' data-title='"+results[i].title+"' data-url='"+results[i].url+"'>" + results[i].title + "<span class='ttext'>";
        res_html += results[i].subject_area + "<br>" + results[i].grades + "<br><a target='_blank' href='" + results[i].url + "'>View Resource</a></span></div>";

    });
    $("#search_results").html(res_html);
}

function callAPI (endpoint, data) {
    var struct = null;
    $.ajax({
        url: base+endpoint,
        data: data,
        type: 'GET',
        headers: {Authorization: 'Basic ' + encoded_pw},
        jsonp: false,
        xhrFields: {withCredentials: true},
        async: false,
        success: function (data) {
            struct = data;
        }
    });
    return struct;
}

function loadLibrary(lib_id) {
    working_lib = lib_id;
    lib = callAPI ("library/" + lib_id, "");
    var tree = "";
    $.each(lib, function(row) {
        tree += makeBookTree(lib[row].grade, lib[row].book_id);
    });
    $("#tree_view").html(tree);
    $(".book_header_section").click(function (e) {
        e.preventDefault();
        if ($(this).next().hasClass("tree-level")) {
            $(this).next().slideToggle();

        } else {
            var book_id = $(this).data("book_id");
            var struct = callAPI ("library/book/" + book_id);
            var book = struct[book_id];
            var book_html = ""
            book_html += "<div class='tree-level'><div style='margin-left:10px;' class='expandable_tree'><span class='tree-name'>" + book.name + "</span><img src='/static/images/collapse_arrow.png' class='section-arrow'></div>";
            book_html += makeTree("", book_id, book.structure, offset=2);
            book_html += "</div>";
            $(this).after(book_html);
            $(this).next().slideToggle();
        }
        $($(this).children()[1]).toggleClass("down-arrow");
    });
    //Setup Search Tab
    var html = "<div style='padding-top:10px'><input data-lib = '"+lib_id+"' type='text' id='search_term' style='display:inline'><input type='button' id='sub_search' value='Search' style='margin-left:8px'></div><div id='search_results' data-page='0'></div>";
    html += "<span id='prev_button'>Previous</span><span id='next_button'>Next</span>";
    $("#search_view").html(html);

}

function makeBookTree (header, book_id) {
    var html = "<div class='book_header_section' data-book_id='" + book_id + "'><span data-book_id='" + book_id + "' class='book_header'>" + header + "</span><img src='/static/images/collapse_arrow.png' class='section-arrow'></div>";
    return html;
}
function makeTree (header, book_id, struct=0, offset=0) {
    var html = "";
    if (struct == 0) {
        return "";
    } else {
        html += "<div class='tree-level'>";
        $.each(struct, function(i) {
            if (struct[i].children !== undefined) {
                html += "<div style='margin-left: "+(10*offset)+"px' class = 'expandable_tree'><span class='tree-name'>"+struct[i].title +"</span><img src='/static/images/collapse_arrow.png' class='section-arrow'></div>";
                html += makeTree(header, book_id, struct[i].children, offset+1);
            } else {
                html += "<div style='margin-left: "+(10*offset)+"px' class = 'has_resource' data-offset='"+offset+"' data-package_id = '"+struct[i].id+"'><span class='tree-name'>"+struct[i].title +"</span><img src='/static/images/collapse_arrow.png' class='section-arrow'></div>";
            }
        });
        html += "</div>"
    }
    return html;
}

function makeResourceTree (package_id, offset) {
    var resources = callAPI("resources", {"package_id": package_id});
    var html = "<div class='tree-level resource_level'>";
    if (resources.length < 1) {
       html += "<div style='margin-left: " + (10*offset) + "px' class='selectable_resource'>No Resources Available</div></div>";
        return html;
    }
    $.each(resources, function(i) {
        html += "<div style='margin-left: " + (10*offset) + "px' class='selectable_resource' data-title='"+resources[i].title+"' data-url='"+resources[i].url+"'>"+resources[i].title+"<span class='ttext'>";
        html += resources[i].subject_area + "<br>" + resources[i].grades + "<br><a target='_blank' href='" + resources[i].url + "'>View Resource</a></span></div>";
    });
    html += "</div>";
    return html;
}

</script>