<%!
    from django.utils.translation import ugettext as _
    from django.utils import html
    from django.core.urlresolvers import reverse
%>
<link rel="stylesheet" type="text/css" href="/static/css/cms.css" />
<div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
    <div class="titlebar">
        <h3 class="dialog-title">CMS Resource</h3>
        <div class="close-modal" id="cms_close">✕</div>
    </div>
    <div class="content">
        <div id = "library_selection">

        </div>
        <hr>
        <div id = "view_type">
            <span id = "tree_view_head">Tree</span>
            <span id = "search_view_head">Search</span>
        </div><br>
        <div id= "popup_views">
            <span id="tree_view">
            </span>
            <span id="search_view">
                Search
            </span>
        </div>
    </div>
</div>

<script>
base = "https://cms-dev.edplancms.com/api/v1/";
working_lib = 0;

$("#tree_view_head").css("background-color", "lightgray");
$("#tree_view_head").click(function() {
    $("#search_view").hide();
    $("#tree_view").show();
    $(this).css("background-color", "lightgray");
    $("#search_view_head").css("background-color", "white");
});

$("#search_view_head").click(function() {
    $("#tree_view").hide();
    $("#search_view").show()
    $(this).css("background-color", "lightgray");
    $("#tree_view_head").css("background-color", "white");
});

function librariesSelector() {
    user = callAPI("users", {"email":"${request.user.email}"});
    orgs = user[0].orgs;
    org_list = "1870,";
    for (var i = 0; i < orgs.length; i++) {
        org_list += orgs[i] + ",";
    }
    org_list = org_list.slice(0,-1);
    libraries = callAPI("libraries/"+org_list, "");
    html = "";
    for (var i = 0; i < libraries.length; i++) {
        lib = libraries[i];
        html += "<img src='" + lib.image_url + "' class='lib-image' id='" + lib.id + "'></img>";
    }
    $("#library_selection").html(html);
    $(".lib-image").click(function() {
        loadLibrary ($(this).attr("id"));
    });
    $("body").on("click", ".expandable_tree", function() {
        $(this).next().slideToggle();
    });
    $("body").on("click", ".has_resource", function(e) {
        if ($(this).next().hasClass("resource_level")) {
            $(this).next().slideToggle();
        } else {
            package_id = $(this).data("package_id");
            offset     = $(this).data("offset");
            res_html = makeResourceTree(package_id, offset+1);
            $(this).after(res_html);
            $(this).next().slideToggle();
        }
    });
    $("body").on("click", ".selectable_resource", function(e) {
        console.log($(this).data("url"));
    });
    $("body").on("click", "#sub_search", function () {
        search_terms = encodeURIComponent($("#search_term").val());
        library      = encodeURIComponent($("#search_term").data("lib"));
        page = 0;
        data = {
            "search": search_terms,
            "f[0]": library,
            "page": page
        };
        results = callAPI ("library", data);
        res_html = "";
        $.each(results, function(i) {
            res_html += "<div>" + results[i].title + "</div>";
        });
        $(this).parent().after(res_html);
    });
    return html;
}

function callAPI (endpoint, data) {
    console.log ("Calling: " + base + endpoint);
    console.log ("Sending data: " + data);
    var struct = null;
    $.ajax({
        url: base+endpoint,
        data: data,
        type: 'GET',
        headers: {Authorization: 'Basic cmVzdHVzZXI6d0sleURKTXFUPzdHbkJaSw=='},
        jsonp: false,
        xhrFields: {withCredentials: true},
        async: false,
        success: function (data) {
            struct = data;
        }
    });
    return struct;
}

function loadLibrary(lib_id) {
    working_lib = lib_id;
    lib = callAPI ("library/" + lib_id, "");
    tree = "";
    $.each(lib, function(row) {
        tree += makeBookTree(lib[row].grade, lib[row].book_id);
    });
    $("#tree_view").html(tree);
    $(".book_header").click(function (e) {
        e.preventDefault();
        if ($(this).next().hasClass("tree-level")) {
            $(this).next().slideToggle();
        } else {
            console.log("Loading book...");
            book_id = $(this).data("book_id");
            struct = callAPI ("library/book/" + book_id);
            book = struct[book_id];
            book_html = ""
            book_html += "<div class='tree-level'><div style='margin-left:10px;' class='expandable_tree'>" + book.name + "</div>";
            book_html += makeTree("", book_id, book.structure, offset=2);
            book_html += "</div>";
            $(this).after(book_html);
            $(this).next().slideToggle();
        }
    });
    //Setup Search Tab
    html = "<div style='padding-top:10px'><input data-lib = '"+lib_id+"' type='text' id='search_term' style='display:inline'><input type='button' id='sub_search' value='Search' style='margin-left:8px'></div>";
    $("#search_view").html(html);

}

function makeBookTree (header, book_id) {
    html += "";
    html = "<div data-book_id='" + book_id + "' class='book_header'>" + header + "</div>";
    return html;
}
function makeTree (header, book_id, struct=0, offset=0) {
    html = "";
    if (struct == 0) {
        return "";
    } else {
        html += "<div class='tree-level'>";
        $.each(struct, function(i) {
            if (struct[i].children !== undefined) {
                html += "<div style='margin-left: "+(10*offset)+"px' class = 'expandable_tree'>"+struct[i].title +"</div>";
                html += makeTree(header, book_id, struct[i].children, offset+1);
            } else {
                html += "<div style='margin-left: "+(10*offset)+"px' class = 'has_resource' data-offset='"+offset+"' data-package_id = '"+struct[i].id+"'>"+struct[i].title +"</div>";
            }
        });
        html += "</div>"
    }
    return html;
}

function makeResourceTree (package_id, offset) {
    resources = callAPI("resources", {"package_id": package_id});
    html = "<div class='tree-level resource_level'>";
    if (resources.length < 1) {
       html += "<div style='margin-left: " + (10*offset) + "px' class='selectable_resource'>No Resources Available</div></div>";
        return html;
    }
    $.each(resources, function(i) {
       html += "<div style='margin-left: " + (10*offset) + "px' class='selectable_resource' data-url='"+resources[i].url+"'>"+resources[i].title+"</div>";
    });
    html += "</div>";
    return html;
}

</script>