<%! from django.utils.translation import ugettext as _ %>
<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from certificates.models import CertificateStatuses
  from xmodule.modulestore import MONGO_MODULESTORE_TYPE
  from xmodule.modulestore.django import modulestore
  from student.models import State,District,Transaction,Cohort,School,SubjectArea,GradeLevel,YearsInEducation
  from baseinfo.models import Enum
%>
<%! import json%>
<style type="text/css" media="screen">
  #btn-dashboard{display:none;}
</style>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />
<script type="text/javascript" src="/static/js/reg_kits.js" charset="utf-8"></script>
<%block name="title">
%if course:
<title>${_("{course_number} People").format(course_number=course.display_number_with_default) | h}</title>
%else:
<title>People</title>
%endif
</%block>
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/people.css"/>
<%block name="headextra">
%if course:
  <%static:css group='course'/>
  <%include file="../discussion/_js_head_dependencies.html" />
  % if show_chat:
    <link rel="stylesheet" href="${static.url('css/vendor/ui-lightness/jquery-ui-1.8.22.custom.css')}" />
    ## It'd be better to have this in a place like lms/css/vendor/candy,
    ## but the candy_res/ folder contains images and other junk, and it
    ## all needs to stay together for the Candy.js plugin to work.
    <link rel="stylesheet" href="${static.url('candy_res/candy_full.css')}" />
  % endif
%endif
</%block>
<style>
/* Button 1 */
.btn-1 {
	border: 3px solid #ccc;
	color: #fff;
	background-image: -webkit-linear-gradient(bottom, #199700, #79d664);
	background-image: -moz-linear-gradient(bottom, #199700, #79d664);
	background-image: -o-linear-gradient(bottom, #199700, #79d664);
	background-image: linear-gradient(to top, #199700, #79d664);
}
/* Button 1a */
.btn-1a:hover, .btn-1a:active {
	color: #0e83cd;
	background-image: -webkit-linear-gradient(bottom, #f93, #e0862c, #f93);
	background-image: -moz-linear-gradient(bottom, #f93, #e0862c, #f93);
	background-image: -o-linear-gradient(bottom, #f93, #e0862c, #f93);
	background-image: linear-gradient(to top, #f93, #e0862c, #f93);
}
section.course-index{
padding-bottom:50px !important;
}
</style>
%if course:
  <%include file="/courseware/course_navigation.html" args="active_page='people'" />
%endif
  <section class="container">
    %if course:
    <div class="course-wrapper">
    <section class="course-index" style="width:280px !important;height:00px !important;">
    %else:
    <div class="course-wrapper" style="border-left: 1px solid rgb(200, 200, 200) !important;">
    <section class="course-index">
    %endif
            <div class="sub_tit">
              <a class="view_active" href="#">Search</a>
              %if course:
              <a class="view_normal" href="${reverse('my_people', args=[course.id])}">View My Network</a>
              %else:
              <a class="view_normal" href="${reverse('my_people')}">View My Network</a>
              %endif
              <span class="line_blue"></span> 
            </div>
            <div class="filter">Search By</div>
            %if course:
            <form method="" id="search_form" action="${reverse('people',args=[course_id])}">
            %else:
            <form method="" id="search_form" action="${reverse('people')}">
            %endif
            <div class="filters">
              <input type="" name="username" placeholder="User Name" style="width:233px;margin:20px 20px 0" class="filters"/>
            </div>
            <div class="filters">
              <input type="" name="first_name" placeholder="First Name" value="" style="width:233px;margin:20px 20px 0" class="filters"/>
            </div>
            <div class="filters">
              <input type="" name="last_name" placeholder="Last Name" value="" style="width:233px;margin:20px 20px 0" class="filters"/>
            </div>
            <div class="filters">
              <select  name="course_id">
                <option value="">Courses</option>
                %for item in courses:
                <option value="${item.id}">${item.display_name}</option>
                %endfor
              </select>
            </div>
            <div class="filters">
              <select name="district_id">
                <option value="">District</option>
                %for item in District.objects.all():
                <option value="${item.id}">${item.name}</option>
                %endfor           
              </select>
            </div>
            <div class="filters">
              <select  id="school_id" name="school_id">
              <option value="">School</option>
              %if request.GET.get("district_id"):
              %for item in School.objects.filter(district_id=request.GET.get("district_id")).order_by("name"):
              <option value="${item.id}">${item.name}</option>
              %endfor
              %endif                
              </select>
            </div>
            <div class="filters">
              <select name="subject_area_id">
                <option value="">Major Subject Area</option>
                %for item in SubjectArea.objects.all():
                <option value="${item.id}">${item.name}</option>
                %endfor
              </select>
            </div>
            <div class="filters">
              <select name="grade_level_id">
                <option value="">Grade Level</option>
                %for item in GradeLevel.objects.all():
                <option value="${item.id}">${item.name}</option>
                %endfor          
              </select>
            </div>
            <div class="filters">
              <select name="years_in_education_id">
                <option value="">Years in Education</option>
                %for item in YearsInEducation.objects.all():
                <option value="${item.id}">${item.name}</option>
                %endfor            
              </select>
            </div>
            <div class="filters">
              <select name="percent_lunch">
                <option value="">Free/Reduced Lunch</option>
                %for item in Enum.objects.filter(name="percent_lunch").order_by("odr"):
                <option value="${item.value}">${item.content}</option>
                %endfor
              </select>
            </div>
            <div class="filters">
              <select name="percent_iep">
                <option value="">IEPs</option>
                %for item in Enum.objects.filter(name="percent_iep").order_by("odr"):
                <option value="${item.value}">${item.content}</option>
                %endfor
              </select>
            </div>
            <div class="filters">
              <select name="percent_eng_learner">
                <option value="">English Learners</option>
                %for item in Enum.objects.filter(name="percent_eng_learner").order_by("odr"):
                <option value="${item.value}">${item.content}</option>
                %endfor
              </select>
            </div>
            <input type="hidden" name="searching" value="1"/>
            <input type="hidden" name="prepage" value="${prepage}"/>
            <input type="submit" style="display:none"/>
            <div style="float:left;width:240px;height:28px;font-style:italic;font-weight:bold;padding-top:15px;padding-left:25px;font-size:16px;line-height:20px;">
              *Leave fields blank to search for all people
            </div>
            <div class="but_search" style="line-height:19px;">
              <a href="#" onclick="$('#search_form').submit()"
                 class="button_default button-ondark button-icon button-add icon icon-search"
                 style="-webkit-user-select: none; text-align:left;width:207px;height:19px;">
                <div style="display:inline-block;text-align:center;width:140px;padding-right:25px;">Search</div>
              </a>
            </div>
            <div class="but_search">
              %if course:
              <a href="${reverse('people',args=[course_id])}"
              %else:
              <a href="${reverse('people')}"
              %endif 
                 class="button_default button-ondark button-icon button-add icon icon-clear"
                 style="-webkit-user-select: none; text-align:left;width:207px;height:19px;">
                <div style="display:inline-block;text-align:center;width:140px;padding-right:25px;">Clear Search</div>
              </a>
            </div>
          </section>
          <script type="text/javascript">
            var form=$("#search_form");
            form.find("input[name=username]").val("${request.GET.get('username','')}")
            form.find("input[name=first_name]").val("${request.GET.get('first_name','')}")
            form.find("input[name=last_name]").val("${request.GET.get('last_name','')}")
            form.find("select[name=course_id]").val("${search_course_id}")
            form.find("select[name=district_id]").val("${request.GET.get('district_id','')}")
            form.find("select[name=school_id]").val("${request.GET.get('school_id','')}")
            form.find("select[name=subject_area_id]").val("${request.GET.get('subject_area_id','')}")
            form.find("select[name=grade_level_id]").val("${request.GET.get('grade_level_id','')}")
            form.find("select[name=years_in_education_id]").val("${request.GET.get('years_in_education_id','')}")
            form.find("select[name=percent_lunch]").val("${request.GET.get('percent_lunch','')}")
            form.find("select[name=percent_iep]").val("${request.GET.get('percent_iep','')}")
            form.find("select[name=percent_eng_learner]").val("${request.GET.get('percent_eng_learner','')}")
          </script>
    </form>
  <!--right content of page------------------------------------------------------------------------------------------------>
  %if course:
    <section>
  %else:
    <section class="course-content" style="padding-left:20px;">
  %endif
      %if not request.GET.get('searching'):
        <div class="people_tit" style="margin-right:20px;">People</div>
      <!--hide this div after press btn'search'----------------------------------------------------------->
      <div id="" class="people_default">
        <div style="width:341px;height:126px;margin:0 auto;">
          <img src="/static/images/ppd-people-logo.png"/>
        </div>
        <section style="padding-left:100px;padding-right:100px;padding-top:20px;padding-bottom:10px;line-height:33px;font-size:25px;">
          Welcome to your People network! Search and use the filters to the left to find peers. Click on a user's name to access their dashboard and begin collaborating on course portfolios. You can also bookmark peers, mentors, and coaches that you want to add to your Pepper team.
        </section>
         <div style="height:76px;padding-left:710px;">
          <img src="/static/images/ppd-people-arrow.png"/>
        </div>
        <div id="" style="height:130px;padding-left:90px;border-bottom:1px solid #ccc;">
          <span class="head_photo"><img src="/static/tmp-resource/image/heads/man_head.png" width="110" height="110" border="0" /></span>
          <span class="name_container"><span class="full_name">Mark Winter</span> 
          <span class="name_text">Mwinter</span> 
          <span class="name_text">ABC Unified School District</span> 
          <span class="name_text">7 Years in Education</span></span>
          <div class="btn_container">
            <a href="#" class="button_default button-ondark button-icon button-add icon icon-add" style="-webkit-user-select: none; ">Add to My Network </span></a><a class="ico_hiden"></a>
          </div>
        </div>
        <div style="height:130px;padding-left:90px;margin-top:20px;">
          <span class="head_photo"><img src="/static/tmp-resource/image/heads/Sally.png" width="110" height="110" border="0" /></span>
          <span class="name_container">
            <span class="full_name">Sally June</span> 
            <span class="name_text">SJune21</span> 
            <span class="name_text">123 Unified School District</span> 
            <span class="name_text">15 Years in Education</span>
          </span>
          <div class="btn_container">
            <a href="#" class="button_default button-ondark button-icon button-yellow icon icon-search" style="-webkit-user-select: none; ">
              &nbsp;&nbsp;&nbsp;In My Network&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <a class="ico_del"></a>
          </div>
        </div>  
      </div>
      %else:
        <div >
          %if len(profiles)==0:
          <div style="color:rgb(52, 97, 173);font-size:25px;margin:200px 50px;line-height:35px;text-align:center;">
            We are sorry, it appears there are no results for this search. <br>Please expand your search criteria and try again.
          </div>
          %else:
            <div class="people_tit" style="margin-right:20px;">People</div>
          %endif
          %for profile in profiles:
          %if (profile is None) or (not profile.user.is_active):
          <div id="" style="height:130px;margin-right:20px;" class="people_content">
            <span class="head_photo" style="background:transparent;">
              <img src="/static/uploads/photos/photo_temp.png" style="" alt="photo" />
            </span>
            <span class="name_container">
              <span class="full_name">
                <span style="color:rgb(52, 97, 173);line-height:100%" onclick="return false;">This user is not available for now.</span>
              </span> 
            </span>
          </div>            
          %else:
          <div id="" style="height:130px;margin-right:20px;" class="people_content">
            <span class="head_photo" style="background:transparent;">
              <a href="${reverse('dashboard',args=[profile.user_id])}" target="_blank">
                % if profile.photo:
                  <img src="/static/uploads/photos/${profile.photo}" style="" alt="photo" />
                % else:
                  <img src="/static/uploads/photos/photo_temp.png" style="" alt="photo" />
                % endif                
              </a>
            </span>
            <span class="name_container">
              <span class="full_name">
                <a href="${reverse('dashboard',args=[profile.user_id])}" style="color:rgb(52, 97, 173)" target="_blank">${profile.first_name} ${profile.last_name}</a>
              </span>
              <span class="name_text">${profile.user.username}</span>
              %if profile.cohort_id and profile.school_id:
              <span class="name_text">${profile.school.name} <br/> ${profile.cohort.district.name}</span>
              %endif
              %if type(profile.years_in_education_id)==int and profile.years_in_education_id > 0:
              <span class="name_text">${profile.years_in_education.name} Years in Education</span>
              %endif
              %if 0:
              <span class="name_text" style="color:#DC9926;font-weight:bold;">Online Now!</span>              
              %endif
            </span>
            %if profile.student_people_id:
            <div class="btn_container btn_container_del">
              <a href="#" class="button_default button-ondark button-icon icon icon-search button-status"
                 style="-webkit-user-select: none; " people_id="${profile.user_id}">
                <div>In My Network</div>
              </a>
              <a class="button-del" onclick="remove_people('${profile.student_people_id}',this);return false;"></a>
            </div>
            %else:
            <div class="btn_container btn_container_add">
              <a href="#" class="button_default button-ondark button-icon icon icon-add button-status"
                 style="-webkit-user-select: none; " people_id="${profile.user_id}" onclick="add_people(this);return false;">
                <div>Add to My Network</div>
              </a>
              <a class="button-del"></a>
            </div>
            %endif
          </div>
          %endif
          %endfor
          %if len(profiles)>0:
          %if course:
          <div class="page" style="width:850px;" >
            <span style="float:left;">Total Search Results: ${pager.count}</span>
            <span style="float:right;">
              Items Per Page
              <select id="text_pre_page" autocomplate="off">
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
              </select>
              <a href="${reverse('people',args=[course_id])}?${params}&page=${pager.page_num-1}" class="up_page"></a>
              %for p in pager.page_range_ext:
              %if p==pager.page_num:
              <a href="${reverse('people',args=[course_id])}?${params}&page=${p}" class="page_active">${p}</a>
              %else:
              <a href="${reverse('people',args=[course_id])}?${params}&page=${p}">${p}</a>
              %endif
              %endfor
              <a href="${reverse('people',args=[course_id])}?${params}&page=${pager.page_num+1}" class="next_page"></a>
            </span>
          </div>
          %else:
          <div class="page" style="width:850px;" >
            <span style="float:left;">Total Search Results: ${pager.count}</span>
            <span style="float:right;">
              Items Per Page
              <select id="text_pre_page" autocomplate="off">
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
              </select>
              <a href="${reverse('people')}?${params}&page=${pager.page_num-1}" class="up_page"></a>
              %for p in pager.page_range_ext:
              %if p==pager.page_num:
              <a href="${reverse('people')}?${params}&page=${p}" class="page_active">${p}</a>
              %else:
              <a href="${reverse('people')}?${params}&page=${p}">${p}</a>
              %endif
              %endfor
              <a href="${reverse('people')}?${params}&page=${pager.page_num+1}" class="next_page"></a>
            </span>
          </div>          
          %endif
          %endif
        </div>
      %endif
    </section>
  </div>
</section>
<div style="height:20px; width:100%; clear:both;"></div>
<script type="text/javascript">
$("#text_pre_page").val("${prepage}")
$("#text_pre_page").bind('change', function(e){
  var f=$("#search_form");
  f.find("input[name=prepage]").val($(this).val());
  f.submit();
});
function add_people(btn){
  var people_id=$(btn).attr('people_id')
  var data={people_id:people_id}
  $.post("${reverse('add_people')}",data,function(r){
    if((typeof r) == 'string')r=$.parseJSON(r);
      if(r.success){
        $(btn).parent().removeClass("btn_container_add")
        $(btn).parent().addClass("btn_container_del")
        $(btn).removeClass("icon-add")
        $(btn).addClass("icon-search")
        $(btn).find("div").html("In My Network")
        $(btn).next(".button-del")[0].onclick=null
        $(btn).next(".button-del").unbind('click')
        $(btn).next(".button-del").click(function(){
          remove_people(r.id,this);
          return false;
        })
      }
  })
  btn.onclick=null;
}
function remove_people(id,btn){
  if(confirm("Are you sure that you would like to remove this person from your network list?")){
    $.post("${reverse('remove_people')}",{id:id},function(r){
      if ((typeof r) == 'string') r=$.parseJSON();
      if(r.success){
        $(btn).parent().removeClass("btn_container_del")
        $(btn).parent().addClass("btn_container_add")
        $(btn).prev(".button-status").removeClass("icon-search")
        $(btn).prev(".button-status").addClass("icon-add")
        $(btn).prev(".button-status").find("div").html("Add to My Network")
        $(btn).prev(".button-status").unbind('click')
        $(btn).prev(".button-status").click(function(){
          add_people(this);
          return false;
        })
      }
    });
  }
}
var form=$("#search_form");
form.find("select[name=district_id]").change(function(){
  var district_id=$(this).val();
  if(district_id){
    dropSchool(form,'',district_id);
  }else{
    var drop=form.find("select[name=school_id]")
    clearOption(drop)
  }
})
</script>
