@import 'bourbon/bourbon'; // lib - bourbon
@import 'base/mixins';
@import 'base/variables';

.pepper-wrapper-footer {
  @include clearfix();
  @include box-sizing(border-box);
  width: 100%;
  box-shadow: 0 -1px 5px 0 rgba(0,0,0, 0.1);
  border-top: 1px solid tint($m-gray,50%);
  padding: 20px ($baseline/2) 0 ($baseline/2);
  background: $footer-bg;
  border-top: 1px solid #8a8c8f;
  z-index: 11;

  footer {
    @include clearfix();
    max-width: grid-width(12);
    min-width: 760px;
    width: flex-grid(12);
    margin: 0 auto;

    p, ol, ul {
      font-family: $sans-serif;
    }

    a {
      @include transition(link-color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s);

      &:link, &:visited, &:hover, &:active {
        border-bottom: none;
        color: $link-color;
        text-decoration: none !important;
        font-family: $sans-serif;
      }

      &:hover, &:active {
        border-bottom: 1px dotted $link-color;
        color: $link-color;
      }
    }

    // colophon
    .pepper-colophon {
      margin-right: flex-gutter();
      width: 600px;
      float: left;

      .pepper-nav-colophon {
        @include clearfix();
        margin: $footer_margin;

        a {
          .pepper-logo {
            transition: none !important;
            border-bottom: none;
            margin: 0 0 0 20px;

            &:hover,
            &:active {
              border: none !important;
            }

            img {
              vertical-align: bottom;
            }
          }
        }

        li {
          float: left;
          margin-right: ($baseline*0.75);
          line-height: 45px;
          list-style: none;

          a {
            font-size: 16px !important;
            color: tint($black, 20%);

            &:hover, &:active {
              color: $link-color;
            }

            img {
              width: 50px;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .pepper-pcg-logo {
      float: right;
      width: 285px;
      height: 58px;
    }

    // references
    .pepper-references {
      margin: -10px 0 0 0;
      width: flex-grid(4,12);
      float: right;

      .pepper-nav-social {
        margin: 0;
        text-align: right;

        li {
          display: inline-block;

          &:last-child {
            margin-right: 0;
          }

          a {
            display: block;

            &:hover, &:active {
              border: none;
            }
          }

          img {
            display: block;
          }
        }
      }

      .pepper-copyright {
        margin: -2px 0 8px 0;
        font-size: em(11);
        color: tint($m-gray,50%);
        text-align: right;
      }

      .pepper-nav-legal {
        @include clearfix();
        text-align: right;

        li {
          display: inline-block;
          font-size: em(11);

          a {
            display: block;
          }
        }

        .pepper-nav-legal-01 a {

          &:after {
            margin-left: 5px;
            content: "-";
          }
        }
      }
    }
  }
}

// marketing site design syncing
.view-register, .view-login {

  .pepper-wrapper-footer footer {
    width: 960px;
  }
}