@import 'bourbon/bourbon'; // lib - bourbon
@import 'base/mixins';
@import 'base/variables';
@import 'shame';

header.pepper-nav {
  border-bottom: 1px solid $m-gray;
  box-shadow: 0 1px 5px 0 rgba(0,0,0, 0.1);
  background: $header-bg;
  height: 76px;
  position: relative;
  width: 100%;
  z-index: 10;
  font-family: "Open Sans", Verdana, Geneva, sans-serif !important;

  nav {
    @include clearfix;
    height: 40px;
    margin: 0 auto;
    padding: 18px 10px 0;
    max-width: grid-width(12);
    min-width: 760px;

    .pepper-logo-wrap {
      float: left;
      margin: -12px 30px 0 0;
      position: relative;

      img {
        height: auto;
        vertical-align: top;
      }
    }

    &.pepper-org {
      /* start org-specific stuff */
      height: 76px;
      width: 1180px;
      padding: 0;

      .pepper-logo-wrap {
        margin: 8px 0 0 0;
      }

      .pepper-user {
        float: right;

        & > ol {
          float: right;
          margin: 4px 0 0 0;
          padding: 0;

          .pepper-user-wrap {
            margin: 6px 0 0 0;
            display: block;
            float: left;

            #pepper-dropdown {
              outline: none;

              td, tr {
                border: none;
                padding: 0;
              }
            }

            .pepper-me-arrow {
              font-size: 25px !important;
            }

            .pepper-dropdown-menu-list {
              width: 300px;
              top: 72px;
              left: inherit;
              background: #fcfcfc;
              border-radius: 4px;
              box-shadow: 0 2px 24px 0 rgba(0,0,0,0.3);
              border: 1px solid #646464;
              display: none;
              padding: 5px 10px;
              position: absolute;
              right: -7px;
              z-index: 3;

              &.expanded {
                display: block;
              }

              &::before {
                background: transparent;
                border: {
                  top: 6px solid $border-color-4;
                  right: 6px solid $border-color-4;
                  bottom: 6px solid transparent;
                  left: 6px solid transparent;
                }
                box-shadow: 1px 0 0 0 $border-color-3, 0 -1px 0 0 $border-color-3;
                content: "";
                display: block;
                height: 0;
                position: absolute;
                @include transform(rotate(-45deg));
                right: 12px;
                top: -6px;
                width: 0;
              }

              .pepper-dropdown-menu {
                -moz-box-sizing: border-box;
                -moz-transition: padding 0.15s linear 0s;
                border: 1px solid transparent;
                border-radius: 3px 3px 3px 3px;
                color: #1D9DD9;
                cursor: pointer;
                margin: 15px 0;
                overflow: hidden;
                padding: 3px 5px 4px;
                text-overflow: ellipsis;
                white-space: nowrap;

                div {
                  float: left;
                }

                .pepper-dropdown-menu-drop {
                  float: left;
                  margin: 10px 0 0 10px;
                  color: #60B2D6;

                  a {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 15px;
                  }
                }
              }

              li {
                display: block;
                border-top: 1px dotted #c8c8c8;

                a {
                  border: 1px solid transparent;
                  border-radius: 3px;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  color: #1d9dd9;
                  cursor: pointer;
                  display: block;
                  margin: 5px 0;
                  overflow: hidden;
                  padding: 3px 5px 4px;
                  text-overflow: ellipsis;
                  -webkit-transition: padding 0.15s linear 0s;
                  -moz-transition: padding 0.15s linear 0s;
                  transition: padding 0.15s linear 0s;
                  white-space: nowrap;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .searching {
        width: 240px;
        height: 30px;
        border: 2px solid #41719c;
        float: left;
        margin-top: 5px;

        margin-left: 10px;
        border-radius: 5px;
        background-color: #fff;
      }

      #searching_keyword {
        border: 0;
        height: 28px;
        width: 208px !important;
        margin-top: 1px;
        outline: none;
        border-radius: 0;

        color: #818181;
        font-size: 15px;
        font-family: "Arial", Verdana, Geneva, sans-serif !important;
        font-style: italic;

        box-shadow: 0 0 0 0;

        &:focus {
          border: 2px;
          outline: none;
        }
      }

      .searching-text-div {
        width: 210px;
        height: 30px;
        float: left;
      }

      #searching_btn {
        width: 30px;
        height: 30px;
        float: left;
        cursor: pointer;

        img {
          margin-left: 5px;
          margin-top: 5px;
        }
      }

      .userphoto-div {
        margin-top: -4px;
        margin-right: 5px;
        float: right;
        width: 50px;
        height: 50px;
      }

      .nav-option-otheruser {
        margin-top: 10px;
        margin-left: 15px;
        float: left;
        width: auto;

        a {
          cursor: default;
          color: #ccc !important;

          &:link {
            text-decoration: none;
          }
        }
      }

      .nav-option-ol {
        margin-top: 14px;
        margin-left: 10px;
        float: right;
        width: auto;

        td, tr {
          border: none;
          padding: 0;
        }
      }

      .nav-option-ol-li {
        float: left;
        height: 65px;
      }

      .nav-option-ol-li-messenger {
        float: left;
        height: 65px;
      }

      .nav-option-ol-icon {
        float: left;
      }

      .nav-option-ol-txt {
        float: left;
        width: 45px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .nav-option-ol-only-txt {
        float: left;
        height: 61px;
        line-height: 61px;

        a {
          text-decoration: none;

          &:link {
            text-decoration: none;
          }
        }
      }

      .nav-option-text {
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 100;
        padding: 5px;
        background-color: #eff0f6;
        border-radius: 3px;
        color: #666;
        display: none;
        border: 1px solid #666;
        white-space: nowrap;
      }

      .nav-option-text-left {
        position: absolute;
        top: 0;
        right: 40px;
        z-index: 100;
        padding: 5px;
        background-color: #eff0f6;
        border-radius: 3px;
        color: #666;
        display: none;
        border: 1px solid #666;
        white-space: nowrap;
      }

      .tempdiv {
        width: 240px;
        height: 30px;
        float: left;
        margin-top: 5px;
        margin-left: 10px;
      }

      .dropdownusername {
        display: block;
        max-width: 200px;
        text-overflow: ellipsis;
        line-height: 18px;
        height: 20px;
        font-weight: bold;
        overflow-x: hidden;
        vertical-align: top;

        & + a:hover {
          color: #3c3c3c;
        }
      }

      .pepper-nav-fixed {
        position: fixed !important;
        top: 0;
        z-index: 21 !important;
      }

      .pepper-logo-link {
        float: left;
      }

      .pepper-logo {
        height: 58px;
      }

      .orig-pepper-logo {
        height: auto;
        vertical-align: top;
      }

      #pepper-logged-in {
        width: 100%;
        height: 77px;
      }
      /* end org-specific stuff */
    }
  }

  p {
    font-family: "Open Sans", Verdana, Geneva, sans-serif !important;
  }

  ol {
    > li {
      @include inline-block;
      margin-right: 20px;
      position: relative;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }

      a {
        letter-spacing: 1px;
        vertical-align: middle;
      }
    }

    li.pepper-secondary {
      > a {
        color: $link-color;
        display: block;
        font-family: $sans-serif;
        @include inline-block;
        margin: 0 30px 0 0;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 0 1px rgba(255,255,255, 0.6);

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $base-font-color;
        }
      }
    }

    &.pepper-user {
      float: right;
      margin: 4px 0 0 0;
      padding: 0;

      > li.pepper-primary {
        display: block;
        float: left;
        margin: 0;

        > a {
          @include background-image($button-bg-image);
          background-color: $button-bg-color;
          border: 1px solid $border-color-2;
          border-radius: 3px;
          @include box-sizing(border-box);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
          color: $base-font-color;
          display: inline-block;
          font-family: $sans-serif;
          @include inline-block;
          line-height: 1em;
          margin: 1px 5px;
          padding: 10px 12px;
          text-decoration: none;
          text-transform: uppercase;
          text-shadow: 0 1px rgba(255, 255, 255, 0.6);
          vertical-align: middle;

          &:last-child {
            margin-right: 0;
          }

          &:hover, &.active {
            background: $button-bg-hover-color;
          }
        }

        a.pepper-user-link {
          padding: 6px 12px 8px 35px;
          position: relative;
          text-transform: none;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0;
          margin: 6px 0 0 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          overflow-y: visible;
          height: 28px;

          .pepper-avatar {
            @include background-image(url('../images/small-header-home-icon.png'));
            background-repeat: no-repeat;
            height: 26px;
            @include inline-block;
            left: 8px;
            opacity: 0.5;
            overflow: hidden;
            position: absolute;
            top: 4px;
            @include transition(all 0.15s linear 0s);
            width: 26px;
          }

          &:hover {
            .pepper-avatar {
              opacity: 0.8;
            }
          }
        }

        .pepper-sr {
          border: 0;
          clip: rect(1px 1px 1px 1px);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        a.pepper-dropdown {
          height: 28px;
          border-radius: 0 4px 4px 0;
          border-left: none;
          margin: 6px 0 0 0;
          padding: 5px 8px 7px 8px;
        }
      }

      ul.pepper-dropdown-menu {
        background: $border-color-4;
        border-radius: 4px;
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.3);
        border: 1px solid $border-color-3;
        display: none;
        padding: 5px 10px;
        position: absolute;
        right: -4px;
        top: 34px;
        width: 170px;
        z-index: 3;

        &.pepper-admin {
          right: -12px;
          width: 262px;
        }

        &.pepper-expanded {
          display: block;
        }

        &::before {
          background: transparent;
          border: {
            top: 6px solid $border-color-4;
            right: 6px solid $border-color-4;
            bottom: 6px solid transparent;
            left: 6px solid transparent;
          }
          box-shadow: 1px 0 0 0 $border-color-3, 0 -1px 0 0 $border-color-3;
          content: "";
          display: block;
          height: 0;
          position: absolute;
          @include transform(rotate(-45deg));
          right: 12px;
          top: -6px;
          width: 0;
        }

        li {
          display: block;
          border-top: 1px dotted $border-color-2;
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);

          &:first-child {
            border: none;
            box-shadow: none;
          }

          > a {
            border: 1px solid transparent;
            border-radius: 3px;
            @include box-sizing(border-box);
            color: $link-color;
            cursor: pointer;
            display: block;
            margin: 5px 0;
            overflow: hidden;
            padding: 3px 5px 4px;
            text-overflow: ellipsis;
            @include transition(padding 0.15s linear 0s);
            white-space: nowrap;
            width: 100%;

            &:hover {
              color: $base-font-color;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .pepper-nav-global {
    margin-top: ($baseline/2);
    list-style: none;
    float: left;

    li {
      display: inline-block;
      margin: 0 $baseline+1 0 0;
      font-size: em(14);
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0 !important;

      &:last-child {
        margin-right: 0;
      }

      a {
        display:block;
        padding: ($baseline/4);
        color: $lighter-base-font-color;
        font-weight: 600;

        &:hover, &:active {
          text-decoration: none;
          color: $link-color;
        }
      }

      &.active {

        a {
          text-decoration: none;
          color: $link-color;
        }
      }
    }
  }

  .pepper-nav-courseware {
    float: right;
    margin-top:-5px;
    list-style: none;

    li {
      display: inline-block;

      .pepper-cta {
        @extend .m-btn-primary;
        padding: 10px 40px;
        font-weight: bold;
        font-size: 19px;
      }
    }

    // logged in
    &.authenticated {

    }
  }

  a {
    &:link,
    &:visited {
      font: normal 16px/16px "Open Sans", Verdana, Geneva, sans-serif;
      font-size: 16px !important;
    }

    &.pepper-cta {
      font: normal 16px/16px "Open Sans", Verdana, Geneva, sans-serif !important;
    }

    &.blue {
      color: #556370 !important;
    }

    &.blue-underline {
      color: #556370 !important;
      text-decoration: underline !important;
      border: none;

      &:normal {
        color: #556370 !important;
        text-decoration: underline !important;
        border: none;
      }

      &:hover {
        color: #556370 !important;
        text-decoration: underline !important;
        border: none;
      }
    }

    &.pepper-main-link {
      font-family: 'Open Sans', Verdana, Geneva, sans-serif;
      text-transform: none;
      font-weight: normal !important;

      &.pepper-unauthenticated {
        font-size: 23px !important;
        line-height: 23px !important;
      }

      &.pepper-authenticated {
        font-size: 16px !important;
      }
    }

    &.pepper-configuration {
      color: #646464;
      font-family: 'Open Sans', Verdana, Geneva, sans-serif;
      font-size: 16px;

      &:hover {
        text-decoration: none;
        color: #1d9dd9;
      }
    }
  }

  .pepper-imessage-style {
    display: block;
    float: left;
    margin: -14px 0 0 0 !important;
    padding: 5px 8px 7px 8px;

    a {
      text-decoration: none !important;
    }
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-family: "FontAwesome" !important;
  }
  
  .sequence-list-wrapper {
    z-index: 2 !important;
  }
  
  	ul.admin-dropdown-menu.expanded {
        display: block;
    }
    ul.admin-dropdown-menu {
        background: #FCFCFC none repeat scroll 0% 0%;
        border-radius: 4px;
        box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.3);
        border: 1px solid #646464;
        display: none;
        padding: 5px 10px;
        position: absolute;
        right: -12px;
        top: 50px;
        width1: 262px;
        z-index: 3;
    }
    ul.admin-dropdown-menu li {
        display: block;
        border-top: 1px dotted #C8C8C8;
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset;
    }
    ul.admin-dropdown-menu li > a {
        border: 1px solid transparent;
        border-radius: 3px;
        box-sizing: border-box;
        color: #1D9DD9;
        cursor: pointer;
        display: block;
        margin: 5px 0px;
        overflow: hidden;
        padding: 3px 10px 4px;
        text-overflow: ellipsis;
        transition: padding 0.15s linear 0s;
        white-space: nowrap;
        width: 100%;
    }
    ul.admin-dropdown-menu li:first-child {
        border: medium none;
        box-shadow: none;
    }
    ul.admin-dropdown-menu:before {
        background: transparent none repeat scroll 0% 0%;
        border-width: 6px;
        border-style: solid;
        border-color: #FCFCFC #FCFCFC transparent transparent;
        box-shadow: 1px 0px 0px 0px #646464, 0px -1px 0px 0px #646464;
        content: "";
        display: block;
        height: 0px;
        position: absolute;
        transform: rotate(-45deg);
        right: 12px;
        top: -6px;
        width: 0px;
    }
    .message_item{
        margin-bottom: 10px;
    }
  
  .message_board_listCon{
  	height:350px;
	overflow-y:auto;
	overflow-x:hidden;
  }
  
  .pepper-slim h1.pepper-logo-wrap::before {
    top: 5px;
  }

  ol.nav-left li a {
    color: #555;
    padding-top: 20px;
  }

  .pepper-course-label {
    width: 605px;
    margin-top: 15px;
  }

  .pepper-menu-holder {
    display: block;
    float: left;
    padding-top: 10px;
    margin-right: 0;
  }

  .pepper-info_count_btn {
    width: 50px;
    height: 50px;
    background: url(/static/images/ppd-iMessage.jpg);
    display: none;
  }

  .pepper-info_count {
    color: #f00;
    font-weight: bold;
    font-size: 13px;
  }

  .pepper-info_btn {
    width: 50px;
    height: 50px;
    background: url(/static/images/ppd-iMessage-none.jpg);
  }

  .pepper-user-link {
    overflow-y: visible;
    height: 28px;
    margin-top: 6px;
  }

  .pepper-username {
    display: block;
    max-width: 60px;
    text-overflow: ellipsis;
    line-height: 12px;
    height: 18px;
    font-weight: bold;
    overflow-x: hidden;
    vertical-align: top;
  }

  /* nav type overrides */
  &.pepper-default {
    ul.admin-dropdown-menu {
      &.expanded {
        position: absolute !important;
        left: -140px !important;
      }
  }

  &.pepper-org {
    nav {
      height: 76px;
      width: 1180px;
      padding: 0;
    }

    a {
      &.pepper-main-link {
        font-size: 16px !important;
        line-height: normal !important;
      }
    }

    ul.admin-dropdown-menu {
      top: 50px;

      li > a {
        padding: 3px 10px 4px;
      }
    }
    }
  }
}

// marketing site design syncing
.view-register, .view-login {
  header.pepper-nav nav {
    max-width: 1180px;
    min-width: 760px;
  }
}

// page-based nav states
.view-howitworks .pepper-nav-global-01,
.view-courses .pepper-nav-global-02,
.view-schools .pepper-nav-global-03,
.view-register .pepper-nav-global-04 {
  a {
    text-decoration: none;
    color: $link-color !important;
  }
}

.pepper-nav-global-01{
	display:none;
}

// login
.view-login {

  header.pepper-nav .pepper-nav-courseware .pepper-cta-login {
    display: none;
  }

  .introduction {
    padding: 0;

    header {
      height: 120px;
      border-bottom: 1px solid $m-gray;
      background: transparent $login-banner-image 0 0 no-repeat;
    }
  }
}

#view_all_note {
  border-width: 0;
  background: #556370;
  text-decoration: none;
  padding: 10px 90px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  box-shadow: #949494 0 2px 1px 0;
  color: #fff;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    background: #6e8194;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.25s, 0.25s, 0.25s;
    transition-property: color, background, box-shadow;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
    color: #fff;
  }

  &:normal {
    background: #126F9A;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    box-shadow: rgb(10, 74, 103) 0 2px 1px 0;
    color: #fff;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
}

.ftg_button {
  width: 100px;
  text-align: center;
  display: block;
  text-decoration: none !important;
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  padding: 3px 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: inset 0 0 2px #fff;
  -o-box-shadow: inset 0 0 2px #fff;
  -webkit-box-shadow: inset 0 0 2px #fff;
  -moz-box-shadow: inset 0 0 2px #fff;
}

.ftg_yellow {
  color: #fff;
  border: 1px solid #57c4be;
  background-color: #57c4be;
}

.linkwin {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 0;
  box-shadow: 0 15px 80px 15px rgba(0, 0, 0, 0.5);
  display: none;
  left: 50%;
  padding: 8px;
  position: absolute;
  width: 480px;
  margin-left: -250px;
  top: 320px;
  z-index: 11000;
  height: 200px;

  h3 {
    padding-left: 10px;
  }

  form {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    text-align: center;
    position: relative;

    tr {
      td:first-child {
        vertical-align: middle;
      }

      td:last-child {
        width: 100%
      }
    }

    #hyperlink_okBtn {
      margin: 10px;
      display: inline;
      width: 7em;
    }

    #hyperlink_cancelBtn {
      margin: 10px;
      display: inline;
      width: 7em;
    }
  }
}

#show_personalmessage,
#show_notifications {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 0;
  box-shadow: 0 15px 80px 15px rgba(0, 0, 0, 0.5);
  color: #FFF;
  left: 50%;
  top: 20px;
  padding: 8px;
  display: none;
  margin-left: -309px;
  opacity: 1;
  position: absolute;
  width: 600px;
  z-index: 11000;
}

#show_notifications {
  .inner-wrapper {
    width: 578px;

    .view-all-note {
      width: 500px;
      height: 40px;
      margin: 0 auto;
      text-align: center;

      #view_all_note {
        color: #fff !important;
        font-size: 18px;

        #view_all_note_text {
          display: inline-block;
          text-align: center;
          width: 250px;
        }
      }
    }

    .info_list {
      margin-top: 10px;
    }
  }
}

#show_personalmessage {
  .inner-wrapper {
    width: 578px;
    padding-bottom: 0 !important;

    .message_board_listCon {
      height: 350px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    form {
      padding: 0;
      line-height: 18px;

      & > div {
        width: 520px;
        margin: 10px;

        .message_board_content {
          width: 530px;
          height: 150px;
          background-color: #fff;
          color: black;
          padding: 10px;
          border: 1px solid #ccc;
          overflow-y: auto;
        }

        .message_board_max {
          font-size: 12px;
          color: #aaa;
        }

        .message_board {
          width: 530px;
          height: 30px;

          tr {
            color: #000;

            .message_board_buttons {
              vertical-align: middle;

              .message_board_uploadBtn {
                width: 110px;
                cursor: pointer;

                span {
                  padding-left: 2px;
                  font-size: 14px;
                  color: #aaa;
                }
              }

              .message_board_linkBtn {
                width: 100px;
                cursor: pointer;
                margin-left: 5px;

                span {
                  padding-left: 2px;
                  font-size: 14px;
                  color: #aaa;
                }
              }
            }

            .message_board_ftg {
              vertical-align: middle;

              div {
                cursor: pointer;
              }
            }

            #multiplayer_send_div {
              width: 300px;
              color: #000;
              margin-left: 5px;
              display: none;
            }
          }
        }
      }

      #message_board_browseFile {
        width: 0;
      }
    }
  }
}

.message_board_txt_prompt {
  color: #646464;
  font-style: italic;
  font-weight: bold;
}

.message_board_empty_info {
  color: #000000;
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
}

.global_task_panel_wrapper {
  textarea {
    overflow: hidden;
  }
}
.control.global_task_panel {
  display: none;
}

.lean-overlay-nav {
  background: radial-gradient(circle at 50% 30%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) repeat scroll 0 0 transparent;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#show_notifications_link:focus {
  outline: none !important;
}
