<%! from django.utils.translation import ugettext as _ %>

<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from certificates.models import CertificateStatuses
  from xmodule.modulestore import MONGO_MODULESTORE_TYPE
  from xmodule.modulestore.django import modulestore
  from student.models import School,Cohort,District,SubjectArea,GradeLevel,YearsInEducation
%>

<%inherit file="../main.html" />

<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/portfolio.css"/>
<style type="text/css" media="screen">
  #btn-dashboard{display:none;}
</style>

<div style="text-align:center;">
	<div style="width:1200px;margin:auto;">
		<%include file="/courseware/course_navigation.html" args="active_page='portfolio'" />
	</div>
</div>

<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
  <%static:css group='course'/>
  <%include file="../discussion/_js_head_dependencies.html" />
  % if show_chat:
    <link rel="stylesheet" href="${static.url('css/vendor/ui-lightness/jquery-ui-1.8.22.custom.css')}" />
    ## It'd be better to have this in a place like lms/css/vendor/candy,
    ## but the candy_res/ folder contains images and other junk, and it
    ## all needs to stay together for the Candy.js plugin to work.
    <link rel="stylesheet" href="${static.url('candy_res/candy_full.css')}" />
  % endif
</%block>
  

<div class="main" style="margin-top:20px">
	<div class="container2">
		<section class="course-index">
			<div class="sub_tit" style="width:auto;"><span class="user_name">${ user.username }</span></div>
			<a class="sub_menu xz" href="${reverse('portfolio_about_me',args=[course.id])}">About Me</a> 
			<a class="sub_menu" href="${reverse('portfolio_journal_and_reflections',args=[course.id,portfolio_user_id])}">My Coursework</a>
			<a class="sub_menu" href="${reverse('portfolio_my_discussions',args=[course.id,portfolio_user_id])}">My Discussions</a> 
		</section>
		
		<section class="course-content">
			<div class="user_express">
        <div class="tou">
          % if user.profile.photo:
            <img src="/static/uploads/photos/${ user.profile.photo }" alt="photo" />
          % else:
            <img src="/static/uploads/photos/photo_temp.png" alt="photo" />
          % endif
        </div>
        <div class="name">
          <span id="user_name" class="express_inf">User Name: <strong>${ user.username }</strong></span> 
          <span id="name" class="express_inf"><span>Name: <strong>${ user.profile.first_name | h } ${ user.profile.last_name | h }</strong></span></span>
          <span id="email" class="express_inf">Email: <strong><a href="#">${ user.email | h }</a></strong></span>
          
          <span id="district" class="express_inf"><span>District: <strong>
            % if user.profile.cohort_id:
              ${user.profile.cohort.district.name}
            % endif
          </strong></span></span>
          
          <span id="school" class="express_inf">
            <span>School: <strong>
                % if user.profile.school_id:
                ${user.profile.school.name}
                % endif
          </strong></span></span>

          <span id="major_subject_area" class="express_inf">
            <span>Major Subject Area: 
             % if user.profile.major_subject_area_id:
                ${SubjectArea.objects.get(id=user.profile.major_subject_area_id).name}
              % endif
            </span>
          </span>

          <span id="grade" class="express_inf">
            <span>Grade: 
              <% gn=list() %>
              % if user.profile.grade_level_id:
                % for i,c in enumerate(user.profile.grade_level_id.split(',')):
                  % if len(c)>0:
                  <% gn.append(GradeLevel.objects.get(id=c).name) %>
                  % endif
                % endfor
              % endif
              ${", ".join(gn)}
            </span>
          </span>
        </div>

        <div id="bio" class="express">
            Bio: 
            %if user.profile.bio:
              ${user.profile.bio}
            %else:
              Add info that you would like to share about yourself here.  
            %endif
        </div>
      </div>


      <div class="about_tit">About Me</div>
      <div class="message_all" style="height:800px;">
        
      </div>
		</section>
	</div>
</div>
<br style="clear:both;">

