<%! from django.utils.translation import ugettext as _ %>

<%!
   from django.core.urlresolvers import reverse
   from courseware.courses import course_image_url, get_course_about_section
   from xmodule.util.date_utils import get_default_time_display
   from courseware.access import has_access
   from certificates.models import CertificateStatuses
   from xmodule.modulestore import MONGO_MODULESTORE_TYPE
   from xmodule.modulestore.django import modulestore
   from django.template.defaultfilters import escapejs
   %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%block name="bodyclass">courseware ${course.css_class}</%block>
<%block name="title"><title course_number="${course.display_number_with_default}">${_("{course_number} Portfolio - {username}").format(course_number=course.display_number_with_default,username=portfolio_user.username) | h}</title></%block>
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/portfolio.css"/>

<%block name="headextra">
  <%static:css group='course'/>
  <%include file="../discussion/_js_head_dependencies.html" />
  % if show_chat:
    <link rel="stylesheet" href="${static.url('css/vendor/ui-lightness/jquery-ui-1.8.22.custom.css')}" />
    ## It'd be better to have this in a place like lms/css/vendor/candy,
    ## but the candy_res/ folder contains images and other junk, and it
    ## all needs to stay together for the Candy.js plugin to work.
    <link rel="stylesheet" href="${static.url('candy_res/candy_full.css')}" />
  % endif
</%block>
<style type="text/css" media="screen">
  #btn-dashboard{display:none;}
</style>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('js/vendor/jquery.scrollTo-1.4.2-min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>

  ## codemirror
  <script type="text/javascript" src="${static.url('js/vendor/codemirror-compressed.js')}"></script>

  ## alternate codemirror
  ##  <script type="text/javascript" src="${static.url('js/vendor/CodeMirror-2.25/lib/codemirror.js')}"></script>
  ##  <script type="text/javascript" src="${static.url('js/vendor/CodeMirror-2.25/mode/xml/xml.js')}"></script>
  ##  <script type="text/javascript" src="${static.url('js/vendor/CodeMirror-2.25/mode/python/python.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/tiny_mce/tiny_mce.js')}"></script>
  <script type="text/javascript">
    //var tinyMCE_init_sate=0;
    //var switch_content_page=0;
    /*
    function tinyMCE_init()
    {   
        if(!tinyMCE_init_sate){

          tinyMCE.init({
            // General options
            mode : "textareas",
            editor_selector : "mceEditor",
            theme : "advanced",
            plugins : "contextmenu,paste,style,advimage,table,fullscreen",
            // Theme options
            theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
            theme_advanced_buttons2 : "outdent,indent,blockquote,|,undo,redo,link,unlink,|,forecolor,backcolor,sub,sup,|,fullscreen",
            theme_advanced_buttons3 : "tablecontrols,|,image",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "",
            theme_advanced_resizing : false
            });
          tinyMCE_init_sate=1;
      }
    }
    */
    function tinyMCE_class_init(name)
    {   
      /*
        tinyMCE.init({
          // General options
          mode : "textareas",
          editor_selector : name,
          theme : "advanced",
          plugins : "contextmenu,paste,style,advimage,table,fullscreen",
          // Theme options
          theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
          theme_advanced_buttons2 : "outdent,indent,blockquote,|,undo,redo,link,unlink,|,forecolor,backcolor,sub,sup,|,fullscreen",
          theme_advanced_buttons3 : "tablecontrols,|,image",
          theme_advanced_toolbar_location : "top",
          theme_advanced_toolbar_align : "left",
          theme_advanced_statusbar_location : "",
          theme_advanced_resizing : false
          });
      */
    }
    /*
     function tinyMCE_sate(val)
    {
      tinyMCE_init_sate=val;
    }
    function set_tinyMCE_switchPage(val)
    {
      switch_content_page=val;
    }
    function get_tinyMCE_switchPage()
    {
      return switch_content_page;
    }
    */
    <!-----staff_access------->
    function setup_debug(element_id, edit_link, staff_context){
      $('#' + element_id + '_trig').leanModal(); 
      $('#' + element_id + '_xqa_log').leanModal();   
      $('#' + element_id + '_xqa_form').submit(function () {sendlog(element_id, edit_link, staff_context);});

      $("#" + element_id + "_history_trig").leanModal();
      
      $('#' + element_id + '_history_form').submit(
        function () {
          var username = $("#" + element_id + "_history_student_username").val();
          var location = $("#" + element_id + "_history_location").val();
          var path_parts = window.location.pathname.split('/');
          var course_id = path_parts[2] + "/" + path_parts[3] + "/" + path_parts[4];
          $("#" + element_id + "_history_text").load('/courses/' + course_id + 
            "/submission_history/" + username + "/" + location);
          return false;
        }
      );
  }
  <!---------------- -->

  </script>
  <%static:js group='courseware'/>
  <%static:js group='discussion'/>

  <%include file="../discussion/_js_body_dependencies.html" />
  % if staff_access:
    <%include file="xqa_interface.html"/>
  % endif
  <!-- TODO: http://docs.jquery.com/Plugins/Validation -->
  <script type="text/javascript">
    //document.write('\x3Cscript type="text/javascript" src="' +
        //document.location.protocol + '//www.youtube.com/iframe_api">\x3C/script>');
  </script>

  <script type="text/javascript">
    var $$course_id = "${course.id}";

    $(function(){
        $(".reset-button").remove();
        $(".submit-button").remove();
        $(".rubric-wrapper").remove();
        $(".grader-status").remove();
        $(".response-tools").remove();
        $(".combined-rubric-container").remove();
        $(".problem-tools").remove();
        $(".legend-container").remove();
        $(".status-bar").remove();
        $("div").removeClass("problemwrapper"); 
        $(".ui-accordion-header a, .ui-accordion-content .subtitle").each(function() {
          var elemText = $(this).text().replace(/^\s+|\s+$/g,''); // Strip leading and trailing whitespace
          var wordArray = elemText.split(" ");
          var finalTitle = "";
          if (wordArray.length > 0) {
            for (i=0;i<=wordArray.length-1;i++) {
              finalTitle += wordArray[i];
              if (i == (wordArray.length-2)) {
                finalTitle += "&nbsp;";
              } else if (i == (wordArray.length-1)) {
                // Do nothing
              } else {
                finalTitle += " ";
              }
            }
          }
          $(this).html(finalTitle);
        });
      });
  </script>

% if timer_expiration_duration:
  <script type="text/javascript">
    var timer = {
      timer_inst : null,
      end_time : null,
      get_remaining_secs : function(endTime) {
        var currentTime = new Date();
        var remaining_secs = Math.floor((endTime - currentTime)/1000);
        return remaining_secs;
      },
      get_time_string : function() {
        function pretty_time_string(num) {
          return ( num < 10 ? "0" : "" ) + num;
        }
        // count down in terms of hours, minutes, and seconds:
        var hours = pretty_time_string(Math.floor(remaining_secs / 3600));
        remaining_secs = remaining_secs % 3600;
        var minutes = pretty_time_string(Math.floor(remaining_secs / 60));
        remaining_secs = remaining_secs % 60;
        var seconds = pretty_time_string(Math.floor(remaining_secs));

        var remainingTimeString = hours + ":" + minutes + ":" + seconds;
        return remainingTimeString;
      },
      update_time : function(self) {
        remaining_secs = self.get_remaining_secs(self.end_time);
        if (remaining_secs <= 0) {
          self.end(self);
        }
        $('#exam_timer').text(self.get_time_string(remaining_secs));
      },
      start : function() { var that = this;
        // set the end time when the template is rendered.
        // This value should be UTC time as number of milliseconds since epoch.
        this.end_time = new Date((new Date()).getTime() + ${timer_expiration_duration});
        this.timer_inst = setInterval(function(){ that.update_time(that); }, 1000);
      },
      end : function(self) {
        clearInterval(self.timer_inst);
        // redirect to specified URL:
        window.location = "${time_expired_redirect_url}";
      }
    }
    // start timer right away:
    timer.start();
  </script>
% endif

% if show_chat:
  <script type="text/javascript" src="${static.url('js/vendor/candy_libs/libs.min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/candy.min.js')}"></script>

  <script type="text/javascript">
    // initialize the Candy.js plugin
    $(document).ready(function() {
      Candy.init("http://${chat['domain']}:5280/http-bind/", {
        core: { debug: true, autojoin: ["${chat['room']}@conference.${chat['domain']}"] },
        view: { resources: "${static.url('candy_res/')}"}
      });
      Candy.Core.connect("${chat['username']}", "${chat['password']}");

      // show/hide the chat widget
      $('#chat-toggle').click(function() {
        var toggle = $(this);
        if (toggle.hasClass('closed')) {
          $('#chat-block').show().animate({height: '400px'}, 'slow', function() {
            $('#chat-open').hide();
            $('#chat-close').show();
          });
        } else {
          $('#chat-block').animate({height: '0px'}, 'slow', function() {
            $('#chat-open').show();
            $('#chat-close').hide();
            $(this).hide(); // do this at the very end
          });
        }
        toggle.toggleClass('closed');
      });
    });
  </script>
% endif

</%block>
<div style="text-align:center;">
  <div style="width:1200px;margin:auto;">
    <%include file="/courseware/course_navigation.html" args="active_page='portfolio',portfolio_user=portfolio_user" />
  </div>
</div>
<div class="main">
  <section class="container">
  <div class="course-wrapper">
    <section class="course-index">
      <div class="sub_tit" style="width:auto;margin:0 auto;"><table><tr><td width="50"><div style="padding-left:20px;"><div style="width:35px; height:35px;margin:5px 5px 5px 0px;background:url(${reverse('user_photo',args=[portfolio_user_id])});background-size:contain;background-repeat:no-repeat;"/></div></td><td><div class="user_name" style="text-overflow:ellipsis;width:170px;text-align:center;overflow:hidden;">${ portfolio_user.username }</div></td></tr></table></div>
      <a class="sub_menu" href="${reverse('portfolio_about_me',args=[course.id,portfolio_user_id])}">About Me</a> 
      <a class="sub_menu" href="${reverse('portfolio_journal_and_reflections',args=[course.id,portfolio_user_id])}">My Coursework</a>
      <a class="sub_menu xz" href="${reverse('portfolio_my_discussions',args=[course.id,portfolio_user_id])}">My Discussions</a>
      % if threads_num>0: 
      <div class="chapter">
      <ul>
          <li class="" >
            <a href="${reverse('portfolio_my_discussions',args=[course.id,portfolio_user_id])}?chapter=1">
              <p>View My Discussions</p>
            </a>
          </li>
      </ul>
      </div> 
      %endif
    </section>
    
    
    % if request.GET.get('chapter')=='1' and threads_num>0: 
      <section class="course-content my-discussion-content">
      <ol class="vert-mod">
       <section id="discussion-container" class="container discussion-user-threads" data-roles="${roles}" data-user-id="${django_user.id | escapejs}" data-course-id="${course.id}" data-threads="${threads}" data-user-info="${user_info}" data-flag-moderator="${flag_moderator}">
      </section>
      <p style="text-align:center;width:auto;" class="page">
          <!--
          <a class="up_page" href="javascript:void(0);"></a>
          <a>1</a>        
          <a class="page_active" href="?chapter=1&amp;page=2">2</a>
          <a class="next_page" href="?chapter=1&amp;page=2"></a>
          -->
      </p>
    % else:
      <section class="course-content my-discussion-content" style="padding:0px">
      <ol class="vert-mod">
      <!--
      <center>
        <div style="width:650px;">
        <div style='font-family:Arial !important;font-size:65pt;color:#366092 '>My Discussions</div>
        <div style="float:right;font-family:Arial !important;font-size:14pt;">portfolio</div>
        <table style='margin-top:40px;'>
         <tr><td><img src='/static/tmp-resource/image/PepperIcon_StorePortfolio.png'/>&nbsp;</td><td style='font-family:open sans;font-size:14.5pt;'><b>My Discussions</b> shows all of my collaborative conversations and the topics that I am following in the course.</td></tr></table>
        <table style='margin-top:20px;'>
        <tr><td><img src='/static/tmp-resource/image/PepperIcon_Select.png'/>&nbsp;</td><td style='font-family:open sans;font-size:14.5pt;margin-top:20px;text-align:left'>Click on "<b>Show Me More</b>" to expand the preview window for each discussion.</td></tr></table>
        </div>
        <center> 
        -->
        <img src='/static/tmp-resource/image/my-discussions.png'/>
    %endif
  </div>
</section>

<script type="text/javascript">
  var $$profiled_user_id = "${django_user.id | escapejs}";
  var $$course_id = "${course.id | escapejs}";
</script>
<%include file="../discussion/_underscore_templates.html" />
  </ol>
    </section>
  </div>
</div>
<br style="clear:both;">
<br style="clear:both;">
