<%! from django.utils.translation import ugettext as _ %>

<%!
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from courseware.access import has_access
from certificates.models import CertificateStatuses
from xmodule.modulestore import MONGO_MODULESTORE_TYPE
from xmodule.modulestore.django import modulestore
from student.models import State,District,School,Cohort,User,UserProfile
%>

<%
import os
workdir = os.getcwd()
base_path = workdir + '/lms/templates/emails/'
subject_path = base_path + 'activation_email_subject.txt'
email_path = base_path + 'activation_email.txt'
f = open(subject_path, 'r')
subject_to_edit = f.read()
f.close()
f = open(email_path, 'r')
email_to_edit = f.read()
f.close()
%>

<%inherit file="../main.html"/>
<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/admin_ui_controls.js"></script>
<script type="text/javascript" src="/static/js/jquery-blink.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/extras/jquery.tablesorter.pager.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-filter.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-storage.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-output.min.js"></script>
<link rel="stylesheet" href="/static/css/admin_ui_controls.css" type="text/css" media="screen" />
<link rel = "stylesheet" href = "/static/css/pepconn.css" type = "text/css" media = "screen"/>
<link rel = "stylesheet" href = "/static/js/tablesorter/css/theme.blue.min.css" media="screen"/>
<link rel = "stylesheet" href = "/static/js/tablesorter/css/jquery.tablesorter.pager.min.css" media = "screen" />

<!-- User Data Import -->
<div class = "data_import_top">
  <div class="main, data_import_content">
    <div class="expand_title expand_title_collapse">
      Data Import <div class="icon"></div>
    </div>

      <div class="expand_div">
        <a href="#" onclick = "toggle('district')" class="district-button"><div class="section-tab district">Districts</div></a>
        <a href="#" onclick = "toggle('school')" class="school-button"><div class="section-tab school">Schools</div></a>
        <a href="#" onclick = "toggle('user')" class="user-button"><div class="section-tab user">Users</div></a>
        <a href="#" onclick = "toggle('cohort')" class="cohort-button"><div class="section-tab cohort">Cohorts</div></a>
        <div class="district-section import-section">
            <form method="" id="districtDataImportForm" action="">

                <div style="padding: 1em 7px 7px 7px;">
                    CSV File: <input name="file" value="" type="file">

                    <p style="margin-top:1em;"><label style="font-style:normal;color:#555;">* CSV file should
                        contain the following columns (District ID, District Name, State).</label></p>

                </div>
                <div style="padding:10px 5px">
                    <input class="form_submit" name="" value="Import Districts" type="submit">
                    <div class="add-area" onclick = "$('#singleDistrictForm').slideToggle()">Add Single <span>[+]</span></div>
                </div>
            </form>
            <div id = "singleDistrictForm" style = "display:none">
                <form method="post" id="singleDistrictImportForm" action="${reverse('pepconn_single_district_submit')}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">

                    <div style="padding: 1em 7px 7px 7px;">
                        <label class="label required">District ID:<br/>
                            <input name="id" value="" chkmsg="District ID cant't be empty." chktype="Require" type="">
                        </label><br/>
                        <label class="label">State:<br/>
                            <select id="state" name="state_id" autocomplete="off">
                          <option value=""></option>
                          %for item in State.objects.all().order_by('name'):
                          <option value="${item.id}">${item.name}</option>
                          %endfor
                        </select>
                        </label><br/>
                        <label class="label required">District Name:<br/>
                                <input name="name" value="" chkmsg="." chktype="Require" type="">
                        </label><br/>
                    </div>
                    <div style="padding:10px 5px">
                        <input class="form_submit" name="" value="Create District" type="submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="school-section import-section">
            <form method="" id="schoolDataImportForm" action="">
                <div style="padding: 1em 7px 7px 7px;">
                    CSV File: <input name="file" value="" type="file">

                    <p style="margin-top:1em;"><label style="font-style:normal;color:#555;">* CSV file should
                        contain the following column (School Name, School Code, State, District ID).</label></p>

                </div>
                <div style="padding:10px 5px">
                    <input class="form_submit" name="" value="Import Schools" type="submit">
                     <div class="add-area" onclick = "$('#singleSchoolForm').slideToggle()">Add Single <span>[+]</span></div>
                </div>

            </form>
            <div id = "singleSchoolForm" style = "display:none">
                <form method="post" id="singleSchoolImportForm" action="${reverse('pepconn_single_school_submit')}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">

                    <div style="padding: 1em 7px 7px 7px;">
                        <label class="label required">School Code:<br/>
                            <input name="id" value="" chkmsg="School Code cant't be empty." chktype="Require" type="">
                        </label><br/>
                        <label class="label required">School Name:<br/>
                            <input name="name" value="" chkmsg="School Name cant't be empty." chktype="Require" type="">
                        </label><br/>
                        <label class="label">State:<br/>
                            <select id="state" name="state_id" autocomplete="off">
                          <option value=""></option>
                          %for item in State.objects.all().order_by('name'):
                          <option value="${item.id}">${item.name}</option>
                          %endfor
                        </select>
                        </label><br/>
                        <label class="label required">District ID:<br/>
                                <input name="district_id" value="" chkmsg="." chktype="number" type="">
                        </label><br/>
                    </div>
                    <div style="padding:10px 5px">
                        <input class="form_submit" name="" value="Create School" type="submit">
                    </div>
                </form>
            </div>
        </div>


    <div class="user-section import-section">
      <form method="" id="userDataImportForm" action="">
        <!--
        <div class="control filter">
          <textarea class="setting">
            {
            "fields":{
            "state":{"display":"State","type":"drop","require":[],"url":"${reverse('pepconn_drop_states')}","format":"<option value='{id}'>{name}</option>"},
            "district":{"display":"District","type":"drop","require":["state"],"url":"${reverse('pepconn_drop_districts')}","format":"<option value='{id}'>{name}</option>"},
            "school":{"display":"School","type":"drop","require":["district"],"url":"${reverse('pepconn_drop_schools')}","format":"<option value='{id}'>{name}</option>"}
            },
            "favorite":{
               "show":true,
               "urls":{
                  "load":"${reverse('pepconn_favorite_filter_load')}",
                  "save":"${reverse('pepconn_favorite_filter_save')}",
                  "remove":"${reverse('pepconn_favorite_filter_delete')}"
                }
            }
            }
          </textarea>
          <span class="body" style="display:inline-block;"></span>
        </div>
         -->
        <ul class="list">
          <li>
            <label>
              <input type="checkbox" class="send-email" name="send_registration_email" value="true" autocomplete="off"/>
              Send registration emails to imported users
            </label>
          </li>
          <li class="customize-email">
            <label style="cursor:normal !important;">
              <input class="custom-email-checkbox" type="checkbox" name="customize_email" value="true" autocomplete="off"/>
              Customize registration email
            </label>
          </li>
          <%include file="custom_email.html" args="subject_to_edit=subject_to_edit,email_to_edit=email_to_edit,ck_name='custom_email_001'" />
        </ul>
        <div style="padding:7px;">
          CSV File: <input type="file" name="file" value="" />
          <p style="margin-top:1em;">
            <label style="font-style:normal;color:#555;cursor:default;">
            * CSV file should contain the following columns (email address, state, district).
            </label>
          </p>
        </div>
        <div style="padding:10px 5px">
          <input class="form_submit" type="submit" name="" value="Import Users" />
        <div class="add-area" onclick = "$('#singleUserForm').slideToggle()">Add Single <span>[+]</span></div>
      </div>
    </form>
        <div id = "singleUserForm" style = "display:none">
            <form method="post" id="singleUserImportForm" action="${reverse('pepconn_single_user_submit')}">
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">

                <div style="padding: 1em 7px 7px 7px;">
                    <label class="label">State:<br/>
                        <select id="state" name="state" autocomplete="off">
                      <option value=""></option>
                      %for item in State.objects.all().order_by('name'):
                      <option value="${item.id}">${item.name}</option>
                      %endfor
                    </select>
                    </label><br/>
                    <label class="label required">District:<br/>
                        <select id="district_id" name="district" autocomplete="off">
                          <option value=""></option>
                          %for item in District.objects.all().order_by('name'):
                          <option value="${item.id}">${item.name}</option>
                          %endfor
                        </select>
                    </label><br/>
                    <label class="label required">E-Mail:<br/>
                        <input name="email" value="" chkmsg="E-Mail cant't be empty." chktype="Require" type="">
                    </label><br/>
                </div>
                <div style="padding:10px 5px">
                    <input class="form_submit" name="" value="Create User" type="submit">
                </div>
            </form>
        </div>
    </div>
    <div class="cohort-section import-section">
        <form method="post" id="cohortImportForm" action="${reverse('pepconn_cohort_submit')}">
            <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
            <input type="hidden" name="id" value="" />
            <div style="padding: 1em 7px 7px 7px;">
                <label class="label required">Cohort ID:<br/>
                    <input name="code" value="" chkmsg="Cohort ID cant't be empty." chktype="Require" type="">
                </label><br/>
                <label class="label">State:<br/>
                    <select id="state_id" name="state_id" autocomplete="off">
                  <option value=""></option>
                  %for item in State.objects.all().order_by('name'):
                  <option value="${item.id}">${item.name}</option>
                  %endfor
                </select>
                </label><br/>
                <label class="label required">District:<br/>
                    <select id="district_id" name="district_id" autocomplete="off" chkMsg="District cant't be empty." chkType="Require">
                      <option value=""></option>
                      %for item in District.objects.all():
                      <option value="${item.id}">${item.code}</option>
                      %endfor
                    </select>
                </label><br/>
                <label class="label required">Licences:<br/>
                        <input name="licences" value="" chkmsg="Licences must be a number." chktype="Number" type="">
                </label><br/>
                <label class="label required">Term Months:<br/>
                        <input name="term_months" value="12" chkmsg="Term Months must be a number." chktype="Number" type="">
                </label><br/>
                <label class="label required">Start Date:<br/>
                        <input id="start_date" name="start_date" value="" chkmsg="Start Date is invalid." chktype="Date">
                        <span style="color:#999;">Format: YYYY-MM-DD.</span>
                </label>
            </div>
            <div style="padding:10px 5px">
                <input class="form_submit" name="" value="Create Cohort" type="submit">
            </div>
        </form>
    </div>

  </div>
</div>
<div class = "data_import_bottom">

  <div style = "display:none" class="main, data_import_content">

    <div class="expand_title expand_title_collapse">
      User Registration <div class="icon"></div>
    </div>
    <div class="expand_div">
      <form method="" id="usrRegistrationForm" action="" onsubmit="return false;">
        <div class="control filter" id="fltUserRegistration">
          <span class="body" style="display:inline-block;"></span>
          <textarea class="setting">
            {
            "fields":{
            "state":{"display":"State","type":"drop","require":[],"url":"${reverse('pepconn_drop_states')}","format":"<option value='{id}'>{name}</option>"},
            "district":{"display":"District","type":"drop","require":["state"],"url":"${reverse('pepconn_drop_districts')}","format":"<option value='{id}'>{name}</option>"},
            "school":{"display":"School","type":"drop","require":["district"],"url":"${reverse('pepconn_drop_schools')}","format":"<option value='{id}'>{name}</option>"}
            },
            "favorite":{
               "show":true,
               "urls":{
                  "load":"${reverse('pepconn_favorite_filter_load')}",
                  "save":"${reverse('pepconn_favorite_filter_save')}",
                  "remove":"${reverse('pepconn_favorite_filter_delete')}"
                }
            }
            }
          </textarea>
          <input type="button" name="" value="LOAD" class="load" onclick="userRegistration.filterUserRegistration()"/>
        </div>
        <div class="" style="padding:5px;">
          <label style="cursor:normal !important;">
            <input class="custom-email-checkbox" type="checkbox" name="customize_email" value="true" autocomplete="off"/>
            Customize registration email
          </label>
        </div>
        <%include file="custom_email.html" args="subject_to_edit=subject_to_edit,email_to_edit=email_to_edit,ck_name='custom_email_002'" />
        <div class="control table" id="tblUserRegistration">
          <div class="" style="padding:5px;">
            <a href="#" id="inviteEmailSender" onclick="userRegistration.sendRegistrationEmails('filter')">
              Send registration email to: <span class="count"></span> users(haven't invited).
            </a>
            <label style="float:right;font-weight:bold;font-style:normal">
              Select All <input name="check_all" class="check_all" type="checkbox" autocomplete="off" onclick="$('#tblUserRegistration')[0].control.checkAll(this.checked)"/>
            </label>
          </div>
          <span class="body"></span>
          <div class="footer">
            <span class="paging"></span>
            Batch Modify
            <select id="lstModifyStatus" name="" autocomplete="off">
              <option value="">--Status--</option>
              <option value="Imported">Imported</option>
              <option value="Unregistered">Unregistered</option>
              <option value="Registered">Registered</option>
              <option value="Inactive">Inactive</optio>
            </select>
            <input type="button" id="btnDeleteUsers" name="" value="Delete" class="small"/>
            <span class="download">
              Download <span class="total"></span> User(s) As
              <input type="button" name="" value="CSV" class="small" id="btnDownloadUserCsv"/>
              <input type="button" name="" value="Excel" class="small" id="btnDownloadUserExcel"/>
            </span>
          </div>
          <textarea class="setting">
            {
            "fields":{
            "district":{"display":"District","sort":"+","show":1},
            "user__last_name":{"display":"Last Name","sort":"+","show":1},
            "user__first_name":{"display":"First Name","sort":"+","show":1},
            "user__email":{"display":"Email","sort":"+","show":1},
            "activate_date":{"display":"Enrollment Start","sort":"+","show":1},
            "subscription_status":{"display":"Status","sort":"+","show":1}
            },
            "field_row_identifier":"id",
            "urls":{
            "data":"${reverse('pepconn_registration_table')}"
            },
            "paging":{
            "size":10,
            "sizes":[10,20,50,100,200]
            }
            }
          </textarea>
        </div>
        <div style="padding:5px;">
          <input type="button" name="" value="SEND REGISTRATION EMAILS" onclick="userRegistration.sendRegistrationEmails('ids')"/>
        </div>
      </form>
    </div>
  </div>
  <div class="main, data_import_content">
    <div class="expand_title expand_title_collapse">
      Management & Reporting <div class="icon"></div>
    </div>
    <div class="expand_div">
          <a href="#" onclick = "toggle2('district_table'); return false;" class="district-button"><div class="table-tab district district_table">Districts</div></a>
          <a href="#" onclick = "toggle2('school_table'); return false;" class="school-button"><div class="table-tab school school_table">Schools</div></a>
          <a href="#" onclick = "toggle2('user_table'); return false;" class="user-button"><div class="table-tab user user_table">Users</div></a>
          <a href="#" onclick = "toggle2('cohort_table'); return false;" class="cohort-button"><div class="table-tab cohort cohort_table">Cohorts</div></a><br>

    <div class="district_table-section table-section">
        <div class="add-area" onclick = "$('#filterArea').slideToggle()">
            FILTER
        </div>
        <div class="filter" style = "padding:10px 5px; border: 1px solid #ddd; border-width: 1px 0; height:auto;">
            <div id = "filterArea">

                <select type = "search" data-column = "2" class = "search">
                  <option value="" selected>Select State</option>
                  %for item in State.objects.all().order_by('name'):
                  <option value="${item.name}">${item.name}</option>
                  %endfor
                </select>
                <input placeholder = "Search" class="search" type="search" data-column="all">
            </div>
        </div>
        <div>
            <table class="tablesorter-blue" id="district_table_init">
                <thead>
            <tr>
                <th>District Id</th>
                <th>District Name</th>
                <th>State</th>
                <th></th>
            </tr>
            </thead>
                <tbody>
            % for  item in District.objects.all():
            <tr>
                <td>${item.code}</td>
                <td>${item.name}</td>
                <td>${item.state.name}</td>
                <td><input type="checkbox" name="id" value="${item.id}" /></td>

            </tr>
            % endfor
                </tbody>
            </table>
        </div>
        <span id="pager" class="pager">
          <form>
            <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
            <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
            <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
            <select class="pagesize">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
            </select>
          </form>
        </span><hr>
        <span class="download">
          Download Districts:
          <input type="button" name="" value="Download CSV" class="small" id="downloadDistrictCSV"/>
          <input type="button" name="" value="Download Excel" class="small" id="downloadDistrictXLS"/>
        </span>
    </div>
    <div class="school_table-section table-section">
        <div class="add-area" onclick = "$('#filterArea2').slideToggle()">
            FILTER
        </div>
        <div class="filter" style = "padding:10px 5px; border: 1px solid #ddd; border-width: 1px 0; height:auto;">
            <div id = "filterArea2">
                <select type="search" class="search" data-column="2">

                      <option value="">Select District</option>
                      %for item in District.objects.all():
                      <option value="${item.id}">${item.name}</option>
                      %endfor
                </select>
                <input placeholder = "Search" class="search" type="search" data-column="all"><br>

            </div>
        </div>
        <div>
            <table class="tablesorter-blue" id="school_table_init">
                <thead>
            <tr>
              <th>School Code</th>
              <th>School Name</th>
              <th>District</th>
                <th></th>
            </tr>
            </thead>
                <tbody>
            % for  item in School.objects.all():
            <tr>
              <td>${item.code}</td>
              <td>${item.name}</a></td>
              <td>${item.district_id}</td>
              <td><input type="checkbox" name="id" value="${item.id}"/></td>

            </tr>
            % endfor
                </tbody>
            </table>
        </div>
        <span id="pager" class="pager">
          <form>
            <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
            <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
            <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
            <select class="pagesize">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
            </select>
          </form>
        </span>
        <span class="download">
          Download Districts:
          <input type="button" name="" value="Download CSV" class="small" id="downloadSchoolCSV"/>
          <input type="button" name="" value="Download Excel" class="small" id="downloadSchoolXLS"/>
        </span>
    </div>
    <div class="user_table-section table-section">
        <div class="add-area" onclick = "$('#filterArea2').slideToggle()">
            FILTER
        </div>
        <div class="filter" style = "padding:10px 5px; border: 1px solid #ddd; border-width: 1px 0; height:auto;">
            <div id = "filterArea2">
                <select type="search" class="search" data-column="0">

                      <option value="">Select District</option>
                      %for item in District.objects.all():
                      <option value="${item.id}">${item.name}</option>
                      %endfor
                </select>
                <input placeholder = "Search by Last Name" class="search" type="search" data-column="1">
                <input placeholder = "Search by First Name" class="search" type="search" data-column="2">
                <input placeholder = "Search by Email" class="search" type="search" data-column="3">
                <input placeholder = "Search All" class="search" type="search" data-column="all">

            </div>
        </div>
        <div>
            <table class="tablesorter-blue" id="user_table_init">
                <thead>
            <tr>
              <th>ID</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>E-Mail</th>
              <th>Enrollment Start</th>
                <th></th>
            </tr>
            </thead>
                <tbody>
            % for item in User.objects.all():
            <tr>
              <td>${item.id}</td>
              <td>${item.last_name}</a></td>
              <td>${item.first_name}</td>
              <td>${item.email}</td>
              <td>${item.date_joined}</td>
              <td><input type="checkbox" name="id" value="${item.id}"/></td>

            </tr>
            % endfor
                </tbody>
            </table>
        </div>
        <span id="pager" class="pager">
          <form>
            <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
            <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
            <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
            <select class="pagesize">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
            </select>
          </form>
        </span>
        <span class="download">
          Download Users:
          <input type="button" name="" value="Download CSV" class="small" id="downloadUserCSV"/>
          <input type="button" name="" value="Download Excel" class="small" id="downloadUserXLS"/>
        </span>
    </div>
    <div class="cohort_table-section table-section">
        <div class="add-area" onclick = "$('#filterArea3').slideToggle()">
            FILTER
        </div>
        <div class="filter" style = "padding:10px 5px; border: 1px solid #ddd; border-width: 1px 0; height:auto;">
            <div id = "filterArea3">
                <select type="search" class="search" data-column="4">

                      <option value="">Select District</option>
                      %for item in District.objects.all():
                      <option value="${item.id}">${item.name}</option>
                      %endfor
                </select>
                <input placeholder = "Search" class="search" type="search" data-column="all"><br>

            </div>
        </div>
        <div>
            <table class="tablesorter-blue" id="cohort_table_init">
                <thead>
            <tr>
                <th>Cohort ID</th>
                <th>Licences</th>
                <th>Terms Months</th>
                <th>Subscription Start Date</th>
                <th></th>
            </tr>
            </thead>
                <tbody>
            % for  item in Cohort.objects.all():
            <tr>
                <td>${item.code}</td>
                <td>${item.licences}</td>
                <td>${item.term_months}</td>
                <td>${'{d:%Y-%m-%d}'.format(d=item.start_date)}</td>
                <td style = "display:none;">${item.district_id}</td>
                <td><input type="checkbox" name="id" value="${item.id}" /></td>
            </tr>
            % endfor
                </tbody>
            </table>
        </div>
        <span id="pager" class="pager">
          <form>
            <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
            <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
            <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
            <select class="pagesize">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
            </select>
          </form>
        </span>
        <span class="download">
          Download Cohorts:
          <input type="button" name="" value="Download CSV" class="small" id="downloadCohortCSV"/>
          <input type="button" name="" value="Download Excel" class="small" id="downloadCohortXLS"/>
        </span>
    </div><br><br>

    </div>
  </div>
</div>
<!-- dialog -->
<div style="" id="dialog" class="modal">
  <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
    <div class="titlebar">
      <h3 class="dialog-title"></h3>
      <div class="close-modal" id="dialog_close">✕</div>
    </div>
    <div class="content"></div>
  </div>
</div>
<script type="text/javascript">

$("#singleDistrictImportForm").submit(function(){
    var flds = ["id", "name", "state","csrfmiddlewaretoken"];
    var data = getFormData(this,flds);
    $.post('${reverse("pepconn_single_district_submit")}',data, function(r) {
             r=$.parseJSON(r)
               if (r.success) {
                 alert("Successful import!");
               } else {
                 alert(r.error);
               }
           }
    );
    return false;
  });



$("#singleSchoolImportForm").submit(function(){
    var flds = ["name", "id", "state", "district_id","csrfmiddlewaretoken"];
    var data = getFormData(this,flds);
    $.post('${reverse("pepconn_single_school_submit")}',data, function(r) {
             r=$.parseJSON(r)
               if (r.success) {
                 alert("Successful import!");
               } else {
                 alert(r.error);
               }
           }
    );
    return false;
  });


$("#singleUserImportForm").submit(function(){

    var flds = ["name", "district", "email", "csrfmiddlewaretoken"];
    var data = getFormData(this,flds);
    $.post('${reverse("pepconn_single_school_submit")}',data, function(r) {
             r=$.parseJSON(r)
               if (r.success) {
                 alert("Successful import!");
               } else {
                 alert(r.error);
               }
           }
    );
    return false;
  });


$(document).ready(function(){
    $(".table-section").hide();
    $(".district_table-section").show();
    //$.post('${reverse("pepconn_favorite_filter_load")}',function(r){
      //  alert(r[0].name);
    //});

          //new Dialog($('#dialog')).show('Dialog Test', "<button id = 'addfilter'>Add filter</button>");
    /*$("#addfilter").click(function(){
        $.post('${reverse("pepconn_favorite_filter_save")}',function(r){
            alert(r[0].name);
        });
    });
    */
});



$(function() {

  var pagerOptions = {
    // target the pager markup - see the HTML block below
    container: $(".pager"),
    // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',
    // if true, the table will remain the same height no matter how many records are displayed. The space is made up by an empty
    // table row set to a height to compensate; default is false
    fixedHeight: true,
    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,
    // go to page selector - select dropdown that sets the current page
    cssGoto: '.gotoPage'
  };
  var $table = $('#district_table_init').tablesorter({
    theme: 'blue',
    widgets: ["zebra", "filter", "output"],
    widgetOptions : {
      // filter_anyMatch replaced! Instead use the filter_external option
      // Set to use a jQuery selector (or jQuery object) pointing to the
      // external filter (column specific or any match)
      filter_external : '.search',
      // add a default type search to the first name column
      filter_defaultFilter: { 1 : '~{query}' },
      // include column filters
      filter_columnFilters: false,
      filter_placeholder: { search : 'Search...' },
      filter_saveFilters : true,
      filter_reset: '.reset',
         output_saveFileName  : 'district.csv'
    }
  }).tablesorterPager(pagerOptions);
  $("#downloadDistrictCSV").click(function(){
    $("#district_table_init").data('tablesorter').widgetOptions.output_delivery ="d";
    $("#district_table_init").data('tablesorter').widgetOptions.output_saveFileName ="district.csv";
    $("#district_table_init").trigger('outputTable');
  });
  $("#downloadDistrictXLS").click(function(){
    $("#district_table_init").data('tablesorter').widgetOptions.output_delivery ="d";
    $("#district_table_init").data('tablesorter').widgetOptions.output_saveFileName ="district.xls";
    $("#district_table_init").trigger('outputTable');
  });
  // make demo search buttons work
  $('button[data-column]').on('click', function(){
    var $this = $(this),
      totalColumns = $table[0].config.columns,
      col = $this.data('column'), // zero-based index or "all"
      filter = [];

    // text to add to filter
    filter[ col === 'all' ? totalColumns : col ] = $this.text();
    $table.trigger('search', [ filter ]);
    return false;
  });

});


$(function() {

  var pagerOptions = {
    // target the pager markup - see the HTML block below
    container: $(".pager"),
    // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',
    // if true, the table will remain the same height no matter how many records are displayed. The space is made up by an empty
    // table row set to a height to compensate; default is false
    fixedHeight: true,
    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,
    // go to page selector - select dropdown that sets the current page
    cssGoto: '.gotoPage'
  };
  var $table = $('#user_table_init').tablesorter({
    theme: 'blue',
    widgets: ["zebra", "filter", "output"],
    widgetOptions : {
      // filter_anyMatch replaced! Instead use the filter_external option
      // Set to use a jQuery selector (or jQuery object) pointing to the
      // external filter (column specific or any match)
      filter_external : '.search',
      // add a default type search to the first name column
      filter_defaultFilter: { 1 : '~{query}' },
      // include column filters
      filter_columnFilters: false,
      filter_placeholder: { search : 'Search...' },
      filter_saveFilters : true,
      filter_reset: '.reset',
    }
  }).tablesorterPager(pagerOptions);
  $("#downloadUserCSV").click(function(){
    $("#user_table_init").data('tablesorter').widgetOptions.output_delivery ="d";
    $("#user_table_init").data('tablesorter').widgetOptions.output_saveFileName ="user.csv";
    $("#user_table_init").trigger('outputTable');
  });
  $("#downloadUserXLS").click(function(){
    $("#user_table_init").data('tablesorter').widgetOptions.output_delivery ="d";
    $("#user_table_init").data('tablesorter').widgetOptions.output_saveFileName ="user.xls";
    $("#user_table_init").trigger('outputTable');
  });
  // make demo search buttons work
  $('button[data-column]').on('click', function(){
    var $this = $(this),
      totalColumns = $table[0].config.columns,
      col = $this.data('column'), // zero-based index or "all"
      filter = [];

    // text to add to filter
    filter[ col === 'all' ? totalColumns : col ] = $this.text();
    $table.trigger('search', [ filter ]);
    return false;
  });

});


$(function() {
  var pagerOptions = {
    // target the pager markup - see the HTML block below
    container: $(".pager"),
    // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',
    // if true, the table will remain the same height no matter how many records are displayed. The space is made up by an empty
    // table row set to a height to compensate; default is false
    fixedHeight: true,
    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,
    // go to page selector - select dropdown that sets the current page
    cssGoto: '.gotoPage'
  };
  var $table = $('#school_table_init').tablesorter({
    theme: 'blue',
    widgets: ["zebra", "filter", "output"],
    widgetOptions : {
      // filter_anyMatch replaced! Instead use the filter_external option
      // Set to use a jQuery selector (or jQuery object) pointing to the
      // external filter (column specific or any match)
      filter_external : '.search',
      // add a default type search to the first name column
      filter_defaultFilter: { 1 : '~{query}' },
      // include column filters
      filter_columnFilters: false,
      filter_placeholder: { search : 'Search...' },
      filter_saveFilters : true,
      filter_reset: '.reset'
    }
  }).tablesorterPager(pagerOptions);
  $("#downloadSchoolCSV").click(function(){
    $("#school_table_init").data('tablesorter').widgetOptions.output_delivery ="d";
    $("#school_table_init").data('tablesorter').widgetOptions.output_saveFileName ="school.csv";
    $("#school_table_init").trigger('outputTable');
  });
  $("#downloadSchoolXLS").click(function(){
    $("#school_table_init").data('tablesorter').widgetOptions.output_delivery ="d";
    $("#school_table_init").data('tablesorter').widgetOptions.output_saveFileName ="school.xls";
    $("#school_table_init").trigger('outputTable');
  });
  // make demo search buttons work
  $('button[data-column]').on('click', function(){
    var $this = $(this),
      totalColumns = $table[0].config.columns,
      col = $this.data('column'), // zero-based index or "all"
      filter = [];

    // text to add to filter
    filter[ col === 'all' ? totalColumns : col ] = $this.text();
    $table.trigger('search', [ filter ]);
    return false;
  });

});

$(function() {
  var pagerOptions = {
    // target the pager markup - see the HTML block below
    container: $(".pager"),
    // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',
    // if true, the table will remain the same height no matter how many records are displayed. The space is made up by an empty
    // table row set to a height to compensate; default is false
    fixedHeight: true,
    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,
    // go to page selector - select dropdown that sets the current page
    cssGoto: '.gotoPage'
  };
  var $table = $('#cohort_table_init').tablesorter({
    theme: 'blue',
    widgets: ["zebra", "filter", "output"],
    widgetOptions : {
      // filter_anyMatch replaced! Instead use the filter_external option
      // Set to use a jQuery selector (or jQuery object) pointing to the
      // external filter (column specific or any match)
      filter_external : '.search',
      // add a default type search to the first name column
      filter_defaultFilter: { 1 : '~{query}' },
      // include column filters
      filter_columnFilters: false,
      filter_placeholder: { search : 'Search...' },
      filter_saveFilters : true,
      filter_reset: '.reset'
    }
  }).tablesorterPager(pagerOptions);
  $("#downloadCohortCSV").click(function(){
    $("#cohort_table_init").data('tablesorter').widgetOptions.output_delivery ="d";
    $("#cohort_table_init").data('tablesorter').widgetOptions.output_saveFileName ="cohort.csv";
    $("#cohort_table_init").trigger('outputTable');
  });
  $("#downloadCohortXLS").click(function(){
    $("#cohort_table_init").data('tablesorter').widgetOptions.output_delivery ="d";
    $("#cohort_table_init").data('tablesorter').widgetOptions.output_saveFileName ="cohort.xls";
    $("#cohort_table_init").trigger('outputTable');
  });
  // make demo search buttons work
  $('button[data-column]').on('click', function(){
    var $this = $(this),
      totalColumns = $table[0].config.columns,
      col = $this.data('column'), // zero-based index or "all"
      filter = [];

    // text to add to filter
    filter[ col === 'all' ? totalColumns : col ] = $this.text();
    $table.trigger('search', [ filter ]);
    return false;
  });

});

function getFormData(form,flds){
  var data={}
  $.each(flds,function(i,n){
    data[n]=$(form[n]).val();
  })
  return data;
}

$("#cohortImportForm").submit(function(){
    var flds = ["id","code","licences","term_months","start_date","district_id","csrfmiddlewaretoken"];
    var data = getFormData(this,flds);
    $.post('${reverse("pepconn_cohort_submit")}',data, function(r) {
             r=$.parseJSON(r)
               if (r.success) {
                 alert("Successful import!");
               } else {
                 alert(r.error);
               }
           }
    );
    return false;
  });

function toggle(which){
    $(".import-section").hide();
    $("."+which+"-section").show();
    $(".section-tab").css("padding-top", "4px");
    $(".section-tab."+which).css("padding-top", "10px")
}function toggle2(which){
    $(".table-section").hide();
    $("."+which+"-section").show();
    $(".table-tab").css("padding-top", "4px");
    $(".table-tab."+which).css("padding-top", "10px")
}

  if (typeof CKEDITOR != 'undefined') {
      CKEDITOR.replaceAll(function (textarea, config) {
          if (textarea.className == 'email-editor') {
              // Add token plugin
              config.extraPlugins = 'token';
              // Configure available tokens
              config.availableTokens = [
                  ["", ""],
                  ["email", "email"],
                  ["district", "district"],
                  ["site", "site"],
                  ["key", "key"]
              ];
              return true;
          }
          return false;
      });
  }
  
  //* global
  //** add csrf token to json
  function safeJSON(j){
    j.csrfmiddlewaretoken="${csrf_token}"
    return j;
  }
  function syncCKEditorData(){
    $.each(CKEDITOR.instances,function(name,inst){
      if(inst.element.$.tagName.toLowerCase()=='textarea'){
        $(inst.element.$).val(inst.getData());
      }
    });
  }
  //** init custom email
  $(".custom-email-checkbox").click(function(){
    var textarea = $(this).parent().parent().next(".custom-email");
    if ($(this).prop('checked')){
      textarea.slideDown();
    } else {
      textarea.slideUp();
    }
  });
  //** init expand title
  $(".expand_title").click(function(){
    var $div=$(this).next("div.expand_div");
    if($div.is(':visible')){
      $div.slideUp();
      $(this).removeClass("expand_title_expanded");
    }else{
      $div.slideDown();
      $(this).addClass("expand_title_expanded");
    }
  });
  //** init filter controls
  $(".control.filter").each(function(){
    var el=this;
    new FilterControl(this);
    this.onFavoriteServerUpdated=function(){
      $(".control.filter").each(function(){
        if(!$(el).is(this)) this.control.createFavorite();
      });
    }
  });
  //** init table controls
  $(".control.table").each(function(){new TableControl(this)});
  //* controller for user registration
  var userRegistration={
    /* updateInviteNumber:function(filter){
      $.post("${reverse('pepconn_registration_invite_count')}",safeJSON(filter),function(r){
        $("#inviteEmailSender").find(".count").html(r.count);
      });
    },*/
    filterUserRegistration:function(){
      var filter=$('#fltUserRegistration')[0].control.getFilter();
      $('#tblUserRegistration')[0].control.updateFilter(filter);
      /*this.updateInviteNumber(filter);*/
    },
    sendRegistrationEmails:function(type){
      var self=this;
      if (type=='ids') {
        var ids=$('#tblUserRegistration')[0].control.getCheckedValues();
        if(!ids.length){
          new Dialog($('#dialog')).show('Error','You must select at least one user to send emails.');
          return; 
        }
        var filter={'ids':ids.join()};
      } else if(type=='filter') {
        var filter=$('#fltUserRegistration')[0].control.getFilter();
      }
      var usrRegistrationForm=$("#usrRegistrationForm")[0];
      syncCKEditorData();
      var data={
        'customize_email':$(usrRegistrationForm.customize_email).val(),
        'custom_email':$(usrRegistrationForm.custom_email_002).val(),
        'custom_email_subject':$(usrRegistrationForm.custom_email_subject).val()
      };
      data=$.extend(data,filter);
      this.dialog=new Dialog($('#dialog'));
      this.dialog.showProgress("Sending Registration Emails","Please wait...");
      $.post("${reverse('pepconn_registration_send_email')}",safeJSON(data),function(r){
        if(r.success){
          self.taskId=r.taskId;
          self.updateProgress();
        }
      });          
    },
    updateProgress:function(){
      var self=this;
      self.dialog.show("Registration Emails", "<p style='font-size:20px;font-weight:bold;'>Email Sending Started</p>\
<br>You may monitor the import progress in the Unread Tasks, below.\
<br>If there are any errors, you will receive them in an email.");
    },
    modifyUserStatus:function(status){
      var ids=$('#tblUserRegistration')[0].control.getCheckedValues();
      var args={ids:ids.join(),subscription_status:status};
      if(ids.length){
        $.post("${reverse('pepconn_registration_modify_user_status')}",safeJSON(args) ,function(r){
          if(r.success) $('#tblUserRegistration')[0].control.reload();
        });
      }else{
        new Dialog($('#dialog')).show('Modify User Status','No users selected.');
      }
    },
    deleteUsers:function(){
      var ids=$('#tblUserRegistration')[0].control.getCheckedValues();
      if(ids.length){
        new Dialog($('#dialog')).showYesNo(
          'Delete Users',
          'Do you really want to delete the selected user(s)?',
          function(confirmed){
            this.hide();
            if(confirmed){
              var args={ids:ids.join()};
              $.post("${reverse('pepconn_registration_delete_users')}",safeJSON(args) ,function(r){
                if(r.success) $('#tblUserRegistration')[0].control.reload();
              });
            }
          });
      }else{
        new Dialog($('#dialog')).show('Delete Users','No users selected.');
      }
    },
    postToNewTab: function(url, params) {
      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", url);
      form.setAttribute("target", "_blank");
      for (var i in params) {
        if (params.hasOwnProperty(i)) {
          var input = document.createElement('input');
          input.type = 'hidden';
          input.name = i;
          input.value = params[i];
          form.appendChild(input);
        }
      }
      document.body.appendChild(form);
      form.submit();
      document.body.removeChild(form);
    },    
    downloadUserCsv:function(){
      var filter=$('#fltUserRegistration')[0].control.getFilter();
      this.postToNewTab("${reverse('pepconn_registration_download_csv')}",safeJSON(filter));
    },
    downloadUserExcel:function(){
      var filter=$('#fltUserRegistration')[0].control.getFilter();
      this.postToNewTab("${reverse('pepconn_registration_download_excel')}",safeJSON(filter));
    },
    init:function(){
      var self=this;
      /*this.updateInviteNumber({});*/
      $('#tblUserRegistration')[0].onDataLoaded=function(){
        $(this).find(".download .total").html(this.control.getPagingInfo().total);
        $(this).find(".check_all").prop("checked",false)
      };
      $("#lstModifyStatus").change(function(){
        var status=$(this).val();
        if(status=="")return;
        self.modifyUserStatus(status);
        $(this).val('');
      });
      $("#btnDownloadUserCsv").click(function(){
        self.downloadUserCsv();
      });
      $("#btnDownloadUserExcel").click(function(){
        self.downloadUserExcel();
      });
      $("#btnDeleteUsers").click(function(){
        self.deleteUsers();
      });
    }
  };
  userRegistration.init();
  //* controller for user data import
  var userDataImport={
    submit:function(form){
      var self=this;
      var form=this.$form[0];
      // input checking
      /* var state_id=$(form.state_id).val();
         var district_id=$(form.district_id).val();
         if(!state_id || !district_id){
         new Dialog($('#dialog')).show('Error','You must select a State, District and file to import.');
         return false;
         } */
      if(!((/\.csv/i).test(form.file.value))){
        new Dialog($('#dialog')).show('Error','Please select a CSV file.');
        return false;
      }
      syncCKEditorData();
      $.ajax({
        url: "${reverse('pepconn_import_user_submit')}",
        data: new FormData(form), processData: false, contentType: false, type: 'POST',
        /* enctype: 'multipart/form-data',
           mimeType: 'multipart/form-data', */
        success: function(data){
          self.renderProgress(data.taskId);
        }
      });
    },
    renderProgress:function(taskId){
      var dialog=new Dialog($('#dialog'));
      dialog.show("User Import", "<p style='font-size:20px;font-weight:bold;'>Import Started</p>\
<br>You may monitor the progress in the Unread Tasks, below.\
<br>If there are any errors, you will receive them in an email.");
    },
    init:function(){
        function pcSlider(clicked, target) {
            if (clicked.prop('checked')){
                target.slideDown();
            } else {
                target.slideUp();
            }
        }
        var self=this;
        this.$form=$("#userDataImportForm");
        $(".send-email").click(function(){
            var checkboxArea = $(this).parent().parent().next(".customize-email");
            var checkbox = $(checkboxArea).children("label").children(".custom-email-checkbox");
            if (checkbox.prop('checked')) {
                checkbox.removeProp('checked');
                var textarea = checkbox.parent().parent().next(".custom-email");
                pcSlider(checkbox, textarea);
            }
            pcSlider($(this), checkboxArea);
        });
        this.$form.submit(function(){
            self.submit();
            return false;
        });
    }
  };
  userDataImport.init();




  //* controller for district data import
  var districtDataImport={
    submit:function(form){
      var self=this;
      var form=this.$form[0];
      // input checking
      /* var state_id=$(form.state_id).val();
         var district_id=$(form.district_id).val();
         if(!state_id || !district_id){
         new Dialog($('#dialog')).show('Error','You must select a State, District and file to import.');
         return false;
         } */
      if(!((/\.csv/i).test(form.file.value))){
        new Dialog($('#dialog')).show('Error','Please select a CSV file.');
        return false;
      }
      syncCKEditorData();
      $.ajax({
        url: "${reverse('pepconn_import_district_submit')}",
        data: new FormData(form), processData: false, contentType: false, type: 'POST',
        /* enctype: 'multipart/form-data',
           mimeType: 'multipart/form-data', */
        success: function(data){
          self.renderProgress(data.taskId);
        }
      });
    },
    renderProgress:function(taskId){
      var dialog=new Dialog($('#dialog'));
      dialog.show("District Import", "<p style='font-size:20px;font-weight:bold;'>Import Started</p>\
<br>You may monitor the progress in the Unread Tasks, below.\
<br>If there are any errors, you will receive them in an email.");
    },
    init:function(){
        function pcSlider(clicked, target) {
            if (clicked.prop('checked')){
                target.slideDown();
            } else {
                target.slideUp();
            }
        }
        var self=this;
        this.$form=$("#districtDataImportForm");

        this.$form.submit(function(){
            self.submit();
            return false;
        });
    }
  };
  districtDataImport.init();


   //* controller for school data import
  var schoolDataImport={
    submit:function(form){
      var self=this;
      var form=this.$form[0];

      if(!((/\.csv/i).test(form.file.value))){
        new Dialog($('#dialog')).show('Error','Please select a CSV file.');
        return false;
      }
      syncCKEditorData();
      $.ajax({
        url: "${reverse('pepconn_import_school_submit')}",
        data: new FormData(form), processData: false, contentType: false, type: 'POST',
        /* enctype: 'multipart/form-data',
           mimeType: 'multipart/form-data', */
        success: function(data){
          self.renderProgress(data.taskId);
        }
      });
    },
    renderProgress:function(taskId){
      var dialog=new Dialog($('#dialog'));
      dialog.show("School Import", "<p style='font-size:20px;font-weight:bold;'>Import Started</p>\
<br>You may monitor the progress in the Unread Tasks, below.\
<br>If there are any errors, you will receive them in an email.");
    },
    init:function(){
        function pcSlider(clicked, target) {
            if (clicked.prop('checked')){
                target.slideDown();
            } else {
                target.slideUp();
            }
        }
        var self=this;
        this.$form=$("#schoolDataImportForm");
        this.$form.submit(function(){
            self.submit();
            return false;
        });
    }
  };
  schoolDataImport.init();
</script>
