<%! from django.utils.translation import ugettext as _ %>

<%!
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from courseware.access import has_access
from certificates.models import CertificateStatuses
from xmodule.modulestore import MONGO_MODULESTORE_TYPE
from xmodule.modulestore.django import modulestore
from student.models import State,District,School
%>

<%
import os
workdir = os.getcwd()
base_path = workdir + '/lms/templates/emails/'
subject_path = base_path + 'activation_email_subject.txt'
email_path = base_path + 'activation_email.txt'
f = open(subject_path, 'r')
subject_to_edit = f.read()
f.close()
f = open(email_path, 'r')
email_to_edit = f.read()
f.close()
%>

<%inherit file="../main.html"/>
<script type="text/javascript" src="/static/js/reg_kits.js" charset="utf-8"></script>
<style type="text/css" media="screen">
 input[type=button].small{
font-size:12px;height:2em;line-height:2em;padding:0 10px;
 }
 .lean-overlay {
   background: radial-gradient(circle at 50% 30% , rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) repeat scroll 0% 0% transparent;
   display: block;
   height: 100%;
   left: 0px;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 100;
 }
 .modal{
   display: block; position: absolute; opacity: 1; z-index: 11000; left: 50%; margin-left: -249px; top: 120px;
   background: none repeat scroll 0% 0% rgba(255,255,255, 1);
   /* border: 1px solid rgba(150, 150, 150, 0.9); */
   border-radius: 5px;
   box-shadow: 0px 15px 80px 15px rgba(0, 0, 0, 0.5);
   padding: 0 0 8px 0;
   width: 480px;
   display:none;
    position: fixed;
 }
 .modal .close-modal {
   border-radius: 2px;
   cursor: pointer;
   display: inline-block;
   vertical-align: baseline;
   padding: 10px;
   position: absolute;
   right: 2px;
   top: 0px;
   z-index: 3;
   color:#333;
 }
 .modal .titlebar{
   background:#fff;
   height:70px;
   background:#ccc;
 }
 td.label{
   text-align:right;padding-right:10px;width:45px;
   vertical-align:top;
   padding-top:13px;
 }
 .modal .dialog-title{
   margin:0;padding:20px 0 0 30px;color:#666;
 }
 .modal .content{
   color:#333;
   text-align:center;
   font-size:16px;
   padding:20px 10px;
   line-height:20px;
 }
 .modal .progressbar{
   height:30px;
   background:#ddd;
   border-radius:5px;
   margin-top:10px;
 }
 .modal .progressbar_flow{
   height:30px;
   background:#2a5;
   border-radius:5px;
   width:50px;
 }
 .modal .progressbar_text{
   position:absolute;
   height:30px;
   line-height:30px;
   right:0px;
   left:0px;
 }
 section.content-wrapper{background:transparent !important;}
 .list{padding:0px 5px;}
 .list li{list-style-type:none;}
 div.expand_title{color:#08a;font-size:20px;padding:10px 5px;cursor:pointer;}
 div.expand_title .icon{display:inline-block;width:12px;height:15px;background: url(/static/images/configuration/arrow_dn.png);}
 div.expand_title_expanded .icon{background: url(/static/images/configuration/arrow_up.png);}
 div.expand_div{display:none;}
 /* filter */
 div.control.filter{
   padding:10px 5px; border:1px solid #ddd;border-width:1px 0;height:auto;
 }
 div.control.filter h2{
   color:#f90;
 }
 div.control.filter .body select,
 div.control.filter .body input{
   margin:5px 5px 0 0;
 }
 div.control.filter div.favorite{
   float:right;
 }
 div.control.filter input[type=button].small{
   font-size:12px;height:2em;line-height:2em;padding:0 10px;
   margin:5px 5px 0 0;
 }
 div.control.filter input[type=button].load{
   font-size:12px;height:2em;line-height:2em;padding:0 10px;
   margin:5px 5px 0 0;
 }
 /* table */
 div.control.table{
   padding:5px 5px 5px 5px;
 }
 div.control.table table{
   width:100%;
   text-align:left;
   border-collapse:collapse;
   border:1px solid #aaa;
 }
 div.control.table td,div.control.table th{
   padding:6px;
   border:1px solid #aaa;
   font-size:12px;
 }
 div.control.table th{
      padding:5px;
   background:#99BFE6;
 }
 div.control.table th.checkbox-col{
   width:15px;
   overflow:visible;
 }
 div.control.table th.checkbox-col span{
   margin-top:2px;
   cursor:pointer;
   display:inline-block;
   vertical-align:top;
   width:18px;
   height:20px;
   line-height:12px;
   background:url("/static/images/configuration/table_menu.png")
 }
 div.control.table .footer{
   padding:5px;
   text-align:left;
 }
 div.control.table .paging a{
   margin-left:5px;
 }
 div.control.table .paging input{
   margin-right:5px;
   width:50px;
   text-align:right;
 }
 div.control.table .sort{
   margin-top:3px;
   vertical-align:top;
   float:right;
   cursor:pointer;
   display:inline-block;
   width:9px;
   height:17px;
   background:url("/static/images/configuration/table_arrow_sort.png")
 }
 ul.context-menu{
   position:absolute;
   background:#fff;
   border-radius:5px;
   box-shadow: 0px 0px 20px;
   padding-left:5px;
   margin-left:0px;
 }
 ul.context-menu li{
   min-width:200px;
   line-height:30px;
   list-style:none;
 }
input,select{-ms-box-sizing:content-box;
  box-sizing:border-box;
 }

 /* email editor*/
 section.content-wrapper{background:transparent !important;}
 .list{padding:0px 5px;}
 .list li{list-style-type:none;}
 div.filter{padding:10px 5px; border:1px solid #ddd;border-width:1px 0;}
 div.filter h2{color:#f90}
 div.expand_title{color:#08a;font-size:20px;padding:10px 5px;cursor:pointer;}
 div.expand_title .icon{display:inline-block;width:12px;height:15px;background: url(/static/images/configuration/arrow_dn.png);}
 div.expand_title_expanded .icon{background: url(/static/images/configuration/arrow_up.png);}
 div.expand_div{display:none;}
 div.filter{}
 .custom-email input{width: 400px;}
 .custom-email textarea{height: 300px;} 
</style>
<!-- User Data Import -->
<div style="padding-top:20px">
  <div class="main" style="margin:auto;width:1180px;  border:1px solid #ddd ">
    <div class="expand_title expand_title_collapse">
      User Data Import <div class="icon"></div>
    </div>
    <div class="expand_div">
      <form method="" id="userDataImportForm" action="">
        <!-- 
        <div class="control filter">
          <textarea class="setting">
            {
            "fields":{
            "state":{"display":"State","type":"drop","require":[],"url":"${reverse('pepconn_drop_states')}","format":"<option value='{id}'>{name}</option>"},
            "district":{"display":"District","type":"drop","require":["state"],"url":"${reverse('pepconn_drop_districts')}","format":"<option value='{id}'>{name}</option>"},
            "school":{"display":"School","type":"drop","require":["district"],"url":"${reverse('pepconn_drop_schools')}","format":"<option value='{id}'>{name}</option>"}
            },
            "urls":{
               "favorite_load":"${reverse('pepconn_favorite_filter_load')}",
               "favorite_save":"${reverse('pepconn_favorite_filter_save')}",
               "favorite_delete":"${reverse('pepconn_favorite_filter_delete')}"
            }
            }
          </textarea>       
          <span class="body" style="display:inline-block;"></span>
        </div>
         -->
        <ul class="list">
          <li>
            <label>
              <input type="checkbox" class="send-email" name="send_registration_email" value="true" autocomplete="off"/>
              Send registration emails to imported users
            </label>
          </li>
          <li style="display: none;">
            <label style="cursor:normal !important;">
              <input class="custom-email-checkbox" type="checkbox" name="customize_email" value="true" autocomplete="off"/>
              Customize registration email
            </label>
          </li>
          <li class="custom-email" style="display: none;">
            <label style="cursor:normal !important;">
              Subject:<br />
              <input type="text" name="custom_email_subject" value="${subject_to_edit}" />
            </label>
            <label style="cursor:normal !important;">
              <br />Custom Email:<br />
              <textarea name="custom_email" cols="80">${email_to_edit}</textarea>
            </label>
          </li>          
        </ul>
        <div style="padding:7px;">
          CSV File: <input type="file" name="file" value="" />
          <p style="margin-top:1em;">
            <label style="font-style:normal;color:#555">
            * CSV file should contain the following columns (email address, state, district).
            </label>
          </p>
        </div>
        <div style="padding:10px 5px">
          <input class="form_submit" type="submit" name="" value="Import Users" />
        </div>
      </form>
    </div>
  </div>
</div>
<div style="padding:0px 0">
  <div class="main" style="margin:auto;width:1180px;  border:1px solid #ddd ">
    <div class="expand_title expand_title_collapse">
      User Registration <div class="icon"></div>
    </div>
    <div class="expand_div">
      <form method="" id="usrRegistrationForm" action="" onsubmit="return false;">
        <div class="control filter" id="fltUserRegistration">
          <span class="body" style="display:inline-block;"></span>
          <textarea class="setting">
            {
            "fields":{
            "state":{"display":"State","type":"drop","require":[],"url":"${reverse('pepconn_drop_states')}","format":"<option value='{id}'>{name}</option>"},
            "district":{"display":"District","type":"drop","require":["state"],"url":"${reverse('pepconn_drop_districts')}","format":"<option value='{id}'>{name}</option>"},
            "school":{"display":"School","type":"drop","require":["district"],"url":"${reverse('pepconn_drop_schools')}","format":"<option value='{id}'>{name}</option>"}
            },
            "urls":{
               "favorite_load":"${reverse('pepconn_favorite_filter_load')}",
               "favorite_save":"${reverse('pepconn_favorite_filter_save')}",
               "favorite_delete":"${reverse('pepconn_favorite_filter_delete')}"
            }
            }
          </textarea>
          <input type="button" name="" value="LOAD" class="load" onclick="userRegistration.filterUserRegistration()"/>
        </div>
        <div class="" style="padding:5px;">
          <label style="cursor:normal !important;">
            <input class="custom-email-checkbox" type="checkbox" name="customize_email" value="true" autocomplete="off"/>
            Customize registration email
          </label>            
        </div>
        <div class="custom-email" style="display: none;padding:5px;">
          <label style="cursor:normal !important;">
            Subject:<br />
            <input type="text" name="custom_email_subject" value="${subject_to_edit}" autocomplete="off"/>
          </label>
          <label style="cursor:normal !important;">
            <br />Custom Email:<br />
            <textarea name="custom_email" cols="80" autocomplete="off">${email_to_edit}</textarea>
          </label>
        </div>
        <div class="control table" id="tblUserRegistration">      
          <div class="" style="padding:5px;">
            <a href="#" id="inviteEmailSender" onclick="userRegistration.sendRegistrationEmails('filter')">
              Send registration email to: <span class="count"></span> users(haven't invited).
            </a>
            <label style="float:right;font-weight:bold;font-style:normal">
              Select All <input type="checkbox" name="" value="" onclick="$('#tblUserRegistration')[0].control.checkAll(this.checked)"/>
            </label> 
          </div>
          <span class="body"></span>
          <div class="footer">
            <span class="paging"></span>
            Batch Modify
            <select id="lstModifyStatus" name="" autocomplete="off">
              <option value="">--Status--</option>
              <option value="Imported">Imported</option>
              <option value="Unregistered">Unregistered</option>
              <option value="Registered">Registered</option>
              <option value="Inactive">Inactive</optio>              
            </select>
            <input type="button" id="btnDeleteUsers" name="" value="Delete" class="small"/>
            <span class="download">
              Download <span class="total"></span> Users(s) As
              <input type="button" name="" value="CSV" class="small" id="btnDownloadUserCsv"/>
              <input type="button" name="" value="Excel" class="small" id="btnDownloadUserExcel"/>
            </span>
          </div>
          <textarea class="setting">
            {
            "fields":{
            "district":{"display":"District","sort":"+","show":1},
            "user__last_name":{"display":"Last Name","sort":"+","show":1},
            "user__first_name":{"display":"First Name","sort":"+","show":1},
            "user__email":{"display":"Email","sort":"+","show":1},
            "activate_date":{"display":"Enrollment Start","sort":"+","show":1},
            "subscription_status":{"display":"Status","sort":"+","show":1}
            },
            "urls":{
            "data":"${reverse('pepconn_registration_table')}"
            },
            "paging":{
            "size":20,
            "sizes":[10,20,50,100,200]
            }
            }
          </textarea>
        </div>
        <div style="padding:5px;">
          <input type="button" name="" value="SEND REGISTRATION EMAILS" onclick="userRegistration.sendRegistrationEmails('ids')"/>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- dialog -->
<div style="" id="dialog" class="modal">
  <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
    <div class="titlebar">
      <h3 class="dialog-title"></h3>
      <div class="close-modal" id="dialog_close">✕</div>
    </div>
    <div class="content"></div>
  </div>
</div>
<script type="text/javascript" src="/static/js/admin_ui_controls.js"></script>
<script type="text/javascript">
  //* global
  //** add csrf token to json
  function safeJSON(j){
    j.csrfmiddlewaretoken="${csrf_token}"
    return j;
  }
  //** init custom email
  $(".custom-email-checkbox").click(function(){
    var textarea = $(this).parent().parent().next(".custom-email");
    if ($(this).prop('checked')){
      textarea.slideDown();
    } else {
      textarea.slideUp();
    }
  });
  //** init expand title
  $(".expand_title").click(function(){
    var $div=$(this).next("div.expand_div");
    if($div.is(':visible')){
      $div.slideUp();
      $(this).removeClass("expand_title_expanded");
    }else{
      $div.slideDown();
      $(this).addClass("expand_title_expanded");
    }
  });
  //** init filter controls
  $(".control.filter").each(function(){
    var el=this;
    new FilterControl(this);
    this.onFavoriteServerUpdated=function(){
      $(".control.filter").each(function(){
        if(!$(el).is(this)) this.control.createFavorite();
      });
    }
  });
  //** init table controls
  $(".control.table").each(function(){new TableControl(this)});
  //* controller for user registration
  var userRegistration={
    updateInviteNumber:function(filter){
      $.post("${reverse('pepconn_registration_invite_count')}",safeJSON(filter),function(r){
        $("#inviteEmailSender").find(".count").html(r.count);
      });
    },
    filterUserRegistration:function(){
      var filter=$('#fltUserRegistration')[0].control.getFilter();
      $('#tblUserRegistration')[0].control.updateFilter(filter);
      this.updateInviteNumber(filter);
    },
    sendRegistrationEmails:function(type){
      var self=this;
      if(type=='ids'){
        var ids=$('#tblUserRegistration')[0].control.getCheckedValues();
        if(!ids.length){
          new Dialog($('#dialog')).show('Error','You must select at least one user to send emails.');
          return; 
        }
        var filter={'ids':ids.join()};
      }else if(type=='filter'){
        var filter=$('#fltUserRegistration')[0].control.getFilter();
      }
      var usrRegistrationForm=$("#usrRegistrationForm")[0];
      var data={
        'customize_email':$(usrRegistrationForm.customize_email).val(),
        'custom_email':$(usrRegistrationForm.custom_email).val(),
        'custom_email_subject':$(usrRegistrationForm.custom_email_subject).val()
      }
      data=$.extend(data,filter);
      this.dialog=new Dialog($('#dialog'));
      this.dialog.showProgress("Sending Registration Emails","Please wait...");
      $.post("${reverse('pepconn_registration_send_email')}",safeJSON(data),function(r){
        if(r.success){
          self.taskId=r.taskId;
          self.updateProgress();
        }
      });          
    },
    updateProgress:function(){
      var self=this;
      $.post("${reverse('pepconn_registration_email_progress')}",{taskId:this.taskId},function(r){
        self.dialog.setProgress(r.percent);
        if(r.percent<100){
          self.updateProgress();
        }else{
          self.dialog.setContent("<p style='font-size:20px;font-weight:bold;'>Email sending Complete</p>\
<br>If there were any errors, you will receive them in an email.");
          self.updateInviteNumber({});
        }
      });
    },
    modifyUserStatus:function(status){
      var ids=$('#tblUserRegistration')[0].control.getCheckedValues();
      var args={ids:ids.join(),subscription_status:status};
      $.post("${reverse('pepconn_registration_modify_user_status')}",safeJSON(args) ,function(r){
        if(r.success) $('#tblUserRegistration')[0].control.reload();
      });
    },
    deleteUsers:function(){
      var ids=$('#tblUserRegistration')[0].control.getCheckedValues();
      if(ids.length){
        new Dialog($('#dialog')).showYesNo('Delete Users',
                                           'Do you really want to delete the seleced user(s)?',
                                           function(confirmed){
          if(confirmed){
            var args={ids:ids.join()};
            $.post("${reverse('pepconn_registration_delete_users')}",safeJSON(args) ,function(r){
              if(r.success) $('#tblUserRegistration')[0].control.reload();
            });      
          }
        });
      }
    },
    postToNewTab: function(url, params) {
      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", url);
      form.setAttribute("target", "_blank");
      for (var i in params) {
        if (params.hasOwnProperty(i)) {
          var input = document.createElement('input');
          input.type = 'hidden';
          input.name = i;
          input.value = params[i];
          form.appendChild(input);
        }
      }
      document.body.appendChild(form);
      form.submit();
      document.body.removeChild(form);
    },    
    downloadUserCsv:function(){
      var filter=$('#fltUserRegistration')[0].control.getFilter();
      this.postToNewTab("${reverse('pepconn_registration_download_csv')}",safeJSON(filter));
    },
    downloadUserExcel:function(){
      var filter=$('#fltUserRegistration')[0].control.getFilter();
      this.postToNewTab("${reverse('pepconn_registration_download_excel')}",safeJSON(filter));
    },
    init:function(){
      var self=this;
      this.updateInviteNumber({});
      $('#tblUserRegistration')[0].onDataLoaded=function(){
        $(this).find(".download .total").html(this.control.getPagingInfo().total);
      }
      $("#lstModifyStatus").change(function(){
        var status=$(this).val();
        if(status=="")return;
        self.modifyUserStatus(status);
        $(this).val('');
      });

      $("#btnDownloadUserCsv").click(function(){
        self.downloadUserCsv();
      });

      $("#btnDownloadUserExcel").click(function(){
        self.downloadUserExcel();
      });      
      
      $("#btnDeleteUsers").click(function(){
        self.deleteUsers();
      });
    }
  }
  userRegistration.init();
  //* controller for user data import
  var userDataImport={
    submit:function(form){
      var self=this
      var form=this.$form[0];
      // input checking
      /* var state_id=$(form.state_id).val();
         var district_id=$(form.district_id).val();
         if(!state_id || !district_id){
         new Dialog($('#dialog')).show('Error','You must select a State, District and file to import.');
         return false;
         } */
      if(!((/\.csv/i).test(form.file.value))){
        new Dialog($('#dialog')).show('Error','Please select a CSV file.');
        return false;
      }
      $.ajax({
        url: "${reverse('pepconn_import_user_submit')}",
        data: new FormData(form), processData: false, contentType: false, type: 'POST',
        enctype: 'multipart/form-data', mimeType: 'multipart/form-data',
        success: function(data){
          self.renderProgress(data.taskId);
        }
      });
    },
    renderProgress:function(taskId){
      var dialog=new Dialog($('#dialog'));
      dialog.showProgress('User Data Import','Please wait...');
      (function getStatus(){
        setTimeout(function(){
          $.post("${reverse('pepconn_import_user_progress')}",{taskId:taskId},function(r){
            dialog.setProgress(r.percent);
            if(r.percent<100){
              getStatus();
            }else{
              dialog.setContent("<p style='font-size:20px;font-weight:bold;'>Import Complete</p>\
<br>If there were any errors, you will receive them in an email.");
            }
          });
        },1000);
      })();
    },
    init:function(){
      var self=this;
      this.$form=$("#userDataImportForm");
      $(".send-email").click(function(){
        var checkbox = $(this).parent().parent().next("li");
        if ($(this).prop('checked')){
          checkbox.slideDown();
        } else {
          checkbox.slideUp();
        }
      });
      this.$form.submit(function(){
        self.submit();
        return false;
      });
    }
  }
  userDataImport.init();
</script>
