  <head>
    <title>Training Location</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/static/js/vendor/jquery.min.js" charset="utf-8"></script>
    
    <script src="/static/js/mapbox-gl.js"></script>
    <link href="/static/css/mapbox-gl.css" rel="stylesheet" />
    <script src="/static/js/mapbox-gl-directions.js"></script>
    <link href="/static/css/mapbox-gl-directions.css" rel="stylesheet" />
    <style>
      	body {margin:0;padding:0;}
      	#map {position:absolute; width:100%; height:100%; top:0;right:0;bottom:0;left:0;}
      	.mb-watermark {position:absolute; bottom:10px; left:10px; z-index:1;}
      	.directions-control.directions-control-inputs {left:15px;}		
    </style>
  </head>
  <body onLoad="funLoad()">
    <div id='map' class='map'></div>
    
    <script>
		var geo_location='${training.geo_location}';		
		var geo_props = $.trim('${training.geo_props}');
		var data = JSON.parse(geo_props);
		
		mapboxgl.accessToken = 'pk.eyJ1IjoibHBmbmV0IiwiYSI6ImNpcGJ3cWQ0bTAwMjd1OGtzMGR1anNhd2oifQ.6n9PlfAlSPNmGwGYPxaWgQ';
		
		var map = new mapboxgl.Map({
		  	container: 'map',
		  	style: 'mapbox://styles/mapbox/streets-v8',
		  	zoom: 12
		});
		var directions = new mapboxgl.Directions({
		  	container: 'map'
		});
		
		map.addControl(directions);
		//map.scrollZoom.disable();
		map.addControl(new mapboxgl.Navigation({position: 'bottom-left'}));
		map.setCenter(new mapboxgl.LngLat(Number(data.lon), Number(data.lat)));
		
		map.on('style.load', function() {
		  	//directions.setOrigin(geo_location);
		  	//directions.setDestination(geo_destination);
			directions.setDestination(geo_location);
		});
		
		function funLoad(){window.print();}
    </script>
  </body>
</html>
