<%! from django.utils.translation import ugettext as _ %>

<%!
    from django.core.urlresolvers import reverse
    from courseware.courses import course_image_url, get_course_about_section
    from courseware.access import has_access
    from certificates.models import CertificateStatuses
    from xmodule.modulestore import MONGO_MODULESTORE_TYPE
    from xmodule.modulestore.django import modulestore
    from student.models import State,District,School
%>


<%inherit file="../main.html"/>
<script type="text/javascript" src="/static/js/jquery-blink.js"></script>
<link rel="stylesheet" href="/static/css/time_report.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/static/js/tablesorter/css/theme.blue.min.css">
<link rel="stylesheet" href="/static/js/tablesorter/css/jq.css">
<link rel="stylesheet" href="/static/css/vendor/jquery-ui.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/js/vendor/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-columnSelector.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-output.min.js"></script>
<script type="text/javascript" src="/static/js/datetime/moment.js"></script>
<link rel="stylesheet" href="/static/js/tablesorter/pager/jquery.tablesorter.pager.css">
<script type="text/javascript" src="/static/js/tablesorter/pager/jquery.tablesorter.pager.js"></script>
<style>
.online{
    height:25px;
    width:25px;
    background-image:url(/static/images/online-3-25x25.png);
    background-size:25px 25px;
    display:inline-block;
}
.three-status {
    line-height:20px;
}
.three-status label{
    font-size:14px;
    font-family:"Open Sans" !important;
    font-style:normal !important;
}
.save-status{
    font-size:12px;
    color:#fff;
    padding:3px 10px;
    background-color:#0054aa;
    border-radius: 5px;
    cursor:pointer;
}
.save-status:hover{
    background-color:#004a99;
}
.change-password{
    /*
    font-size:12px;
    padding:3px 10px;
    background-color:#0054aa;
    border-radius: 5px;
    */
    cursor:pointer;
    color:#1d9dd9;
}
.btn-change-password-lock{
    background-image:linear-gradient(to bottom,#666 0%,#666 50%,#666 50%,#666 100%) !important; 
    background-color:#666;
    border:0px;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #666;
}

.form-row{
    overflow: hidden;
    padding: 8px 12px;
    font-size: 11px;
    border-bottom: 1px solid #eee;
}
.form-row label{
    font-size:13px;
    font-style:normal;
    font-weight:bold;
    padding:3px 0 0 0;
    width:135px;
    border:0px solid;
    display:block;
    float:left;
}
.form-row input{
    font-size:13px !important;
    height:25px;
    width:200px;
    margin-top:3px;
}
.error-info{
    color:#f00;
    margin-top:5px;
    width:380px;
    padding-left:135px;
}
.search-users{
    margin:0 8px 8px 0px;
}
.search-select{
    min-width:200px;
}
.search-box{
    width:194px;
}
</style>
<div class="data_import_top data_import_bottom">
    <div class="main, data_import_content">
        <div class="expand_title expand_title_collapse expand_title_expanded">
            Usage Report <div class="icon"></div>
        </div>
        <div class="expand_div" style="display:block;">
            <form method="" id="usrTimeForm" action="" onsubmit="return false;">
                <div class="control filter" id="fltUserTime">
                    <!--<span class="body" style="display:inline-block;"></span>-->
                    <select type="search" class="search-users search-select" data-column="0" id="User_state_select">
                        <option value="" class="null_case">Select State</option>
                        %for item in State.objects.all().order_by('name'):
                            <option class="${item.id}" value="${item.name}">${item.name}</option>
                        %endfor
                    </select>
                    <select type="search" class="search-users search-select" data-column="1" id="User_district_select">
                        <option value="" class="null_case">Select District</option>
                    </select>
                    <select type="search" class="search-users search-select" data-column="2" id="User_school_select">
                        <option value="" class="null_case">Select School</option>
                    </select>
                    <br/>
                    <input placeholder="Search by Email" class="search-users search-box" type="search" data-column="3" id="User_search_email">
                    <input placeholder="Search by Username" class="search-users search-box" type="search" data-column="4" id="User_search_username">
                    <input placeholder="Search by Last Name" class="search-users search-box" type="search" data-column="5" id="User_search_last">
                    <input placeholder="Search by First Name" class="search-users search-box" type="search" data-column="6" id="User_search_first">
                </div>
                <div class="table">
                    <div class="" style="padding:5px;"></div>
                    <div class="body table_scroll">
                        <table class="tblUserTime tablesorter" id="tblUserTime">
                            <thead>
                                <th>State</th>
                                <th>District</th>
                                <th>School</th>
                                <th>Email</th>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Time Login</th>
                                <th>Time Last Logout</th>
                                <th>Last Session Time</th>
                                <th>Total Session Time</th>
                                <th>Online State</th>
                                %if user_right['edit']:
                                    <th>3 Status</th>
                                    <th>Password Reset</th>
                                %endif
                                <th class="sorter-false filter-false table-menu" style="width:30px;"><div style="width:18px;height:20px;"><label class="columnSelectorButton" for="colSelect1"></label></div></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                    <div class="columnSelectorWrapper">
                        <input id="colSelect1" type="checkbox" class="hidden">

                        <div id="columnSelector" class="columnSelector">
                            <!-- this div is where the column selector is added -->
                        </div>
                    </div>
                    <span id="user_pager" class="pager">
                        <img src="/static/js/tablesorter/pager/icons/first.png" class="first" alt="First" />
                        <img src="/static/js/tablesorter/pager/icons/prev.png" class="prev" alt="Prev" />
                        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                        <img src="/static/js/tablesorter/pager/icons/next.png" class="next" alt="Next" />
                        <img src="/static/js/tablesorter/pager/icons/last.png" class="last" alt="Last" />
                        <select class="pagesize" title="Select page size">
                            <option value="10" selected="selected">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                        <select class="gotoPage" title="Select page number"></select>
                    </span>
                    <span class="download">
                      Download <span class="total"></span> User(s) As
                      <input type="button" name="" value="Excel" class="small" id="btnDownloadUserTimeExcel"/>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- dialog -->
<div style="" id="dialog" class="modal">
    <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>
            <div class="close-modal" id="dialog_close">✕</div>
        </div>
        <div class="content"></div>
    </div>
</div>
<!-- dialog loading -->
<div style="" id="dialog_loading" class="modal">
    <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>
            <div class="close-modal" id="dialog_close">✕</div>
        </div>
        <div class="content"><img src="/static/images/posts-loading.gif" style="display:block;margin:auto;"/></div>
    </div>
</div>
<!-- dialog change password -->
<div style="" id="dialog_change_password" class="modal">
    <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>
            <div class="close-modal" id="dialog_close">✕</div>
        </div>
        <div class="content" >
            <div style="margin-left:20px;width:400px;text-align:left;">
                <div class="form-row">
                    <label for="id_new_password1" class="required">New Password:</label>
                    <input type="password" name="new_password1" id="id_new_password1" maxlength="16">
                    <div class="check-error-p1 error-info"></div>
                </div>
                <div class="form-row">
                    <label for="id_new_password2" class="required">Confirm Password:</label>
                    <input type="password" name="new_password2" id="id_new_password2" maxlength="16">
                    <div class="check-error-p2 error-info"></div>
                </div>
            </div>
            <div class="check-success" style="padding:8px;"></div>
            <div style="margin:10px 0 10px 0;">
                <button style="font-size:13px;" id="btn_change_password">Change Password</button>
            </div>
        </div>
    </div>
</div>
<script>
//-------------------------- Usage Report --------------------------//
function safeJSON(j){
    j.csrfmiddlewaretoken="${csrf_token}";
    return j;
}
var pagerOptions = {
    // target the pager markup - see the HTML block below
    container: '',
    // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
    output: '{startRow} to {endRow} ({totalRows})',
    // if true, the table will remain the same height no matter how many records are displayed. The space is made up by an empty
    // table row set to a height to compensate; default is false
    fixedHeight: false,
    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,
    // go to page selector - select dropdown that sets the current page
    cssGoto: '.gotoPage',
    ajaxUrl: '',
    ajaxProcessing: function(data){
        userTimeReport.createTimeTable(data.rows);
        total = data.rows_count;
        return [total];
    },
    processAjaxOnInit: true,
    page: 0,
    size: 10
};

var columnSelector_columns = 12;
var show_columns = [[3,7,8,9,10,11]];//begin from 0
%if user_right['edit']:
    columnSelector_columns = 14;
    show_columns = [[3,7,8,9,10,11,12,13]];
%endif

var tablesorterOptions = {
        theme: 'blue',
        widthFixed: true,
        widgets: ["zebra", "filter", "output", "columnSelector"],
        headers:{11:{sorter:false},12:{sorter:false},13:{sorter:false}},
        widgetOptions: {
            columnSelector_container : $('#columnSelector'),
            columnSelector_columns : {14: 'disable'},
            columnSelector_mediaqueryName: 'All: ',

            filter_external: '',
            filter_columnFilters: false,
            filter_placeholder: {search: 'Search...'},
            filter_saveFilters: false,
            filter_reset: '.reset',
            filter_serversideFiltering: true,
            output_saveFileName: 'data.csv'
        }
};

$(function() {
     $(".pagesize").find("option[text='10']").attr("selected",true);
    //----------- tablesorter init----------//
    tablesorterOptions.widgetOptions.filter_external = '.search-users';
    pagerOptions.container = $("#user_pager");
    pagerOptions.ajaxUrl = '${reverse('get_user_login_info')}?page={page}&size={size}&{filterList:fcol}&{sortList:col}';
    $(".tblUserTime").tablesorter(tablesorterOptions).tablesorterPager(pagerOptions);
    $(".tblUserTime").trigger('refreshColumnSelector', [[3,7,8,9,10,11,12,13]]);

    //----------- download excel----------//
    $("#btnDownloadUserTimeExcel").click(function () {
        $("#tblUserTime").data('tablesorter').widgetOptions.output_delivery = "d";
        $("#tblUserTime").data('tablesorter').widgetOptions.output_saveFileName = "user.csv";
        $("#tblUserTime").trigger('outputTable');
    });

    //----------- column selector event----------//
    $('.columnSelectorButton').click(function(e){
        if(e.target.className == $(this).prop("class") && !$('.columnSelector').is(":visible")) {
            $('.columnSelector').show();
        }
        else {
            $('.columnSelector').hide();
        }
    });
    $(document).click(function(e){
        var isout = !$('.columnSelectorWrapper').find(e.target).length;
        if($('.columnSelector').is(":visible")){
            if(isout && e.target.className != 'columnSelectorButton') {
                $('.columnSelector').hide();
            }
        }
    });

    $("#User_state_select").change(function () {
       var id = $("#User_state_select :selected").attr("class");
        clearDropdown("#User_district_select");
        filterUserDropOptions('district', id, '#User_district_select');
    });

    $("#User_district_select").change(function () {
       var id = $("#User_district_select :selected").attr("class");
        clearDropdown("#User_school_select");
        filterUserDropOptions('school', id, '#User_school_select');
    });
});
function clearDropdown(dropdown){
    $(dropdown).html("");
}
function filterUserDropOptions(item, id, select) {
        if (id != 'null_case') {
            var url = '';
            var data = {};
            if (item == 'state') {
                url = "${reverse('pepper_utilities_drop_states')}";
            } else if (item == 'district') {
                url = "${reverse('pepper_utilities_drop_districts')}";
                data['state'] = id;
            } else if (item == 'school') {
                url = "${reverse('pepper_utilities_drop_schools')}";
                data['district'] = id;
            }
            $.get(url, data, function (r) {
                var options = '<option value="" class="null_case">Select ' + item[0].toUpperCase() + item.substr(1) + '</option>';
                $.each(r, function (k, v) {
                    options += '<option value="' + v.name + '" class="' + v.id + '">' + v.name + '</option>';
                });
                $(select).html(options);
            });
        } else {
            var options_district = '<option value="" class="null_case">Select District</option>';
            var options_school = '<option value="" class="null_case">Select School</option>';
            if (item == 'district'){
                $(select).html(options_district);
                $("#User_school_select").html(options_school);
            }
            else if (item == 'school'){
                $(select).html(options_school);
            }
        }
    }
//----------- tablesorter data----------//
var userTimeReport = {
    timeID:null,
    dialog:null,
    total_num:0,
    user_id:0,
    curr_course:null,
    createTimeTable:function(data){
        var self = this;
        var table_con = "";
        $(".tblUserTime tbody").empty();

        var local_time =  new Date();
        var local_utc_diff_m = -1 * local_time.getTimezoneOffset();
        local_utc_diff_m = local_utc_diff_m / 60;
        
        for(d in data){
            table_con += '<tr role="row" user_id=' + data[d].id + '>';
            table_con += '<td>' + data[d].state + '</td><td>' + data[d].district + '</td><td>' + data[d].school + '</td>';
            table_con += '<td class="useremail">' + data[d].email + '</td><td>' + data[d].username + '</td><td>' + data[d].first_name + '</td><td>' + data[d].last_name + '</td>';
            if(data[d].login_time == ''){
                table_con += '<td>' + ' ' + '</td>';
            }
            else{
                table_con += '<td>' + moment(data[d].login_time).add(local_utc_diff_m,'hours').format('MM-DD-YYYY hh:mm:ss A') + '</td>';
            }
            if(data[d].logout_time == ''){
                table_con += '<td>' + ' ' + '</td>';
            }
            else{
                table_con += '<td>' + moment(data[d].logout_time).add(local_utc_diff_m,'hours').format('MM-DD-YYYY hh:mm:ss A') + '</td>';
            }
            table_con += '<td>' + data[d].last_session + '</td>';
            table_con += '<td>' + data[d].total_session + '</td>';
            if(data[d].online_state == 'On'){
                table_con += '<td align=center style="vertical-align: middle;"><div class=online><span style="opacity:0;">On</span></div></td>';
            }
            else{
                table_con += '<td align=center style="vertical-align: middle;"><span style="opacity:0;">Off</span></td>';
            }

            %if user_right['edit']:
                var is_active = "";
                if(data[d].is_active){
                    is_active = "checked";
                }
                table_con += '<td class="three-status"><input name="is_active" class="is_active" type="checkbox" value=""' + is_active + '/> Active<br/>';

                var is_staff = "";
                if(data[d].is_staff){
                    is_staff = "checked";
                }
                table_con += '<input name="is_staff" class="is_staff" type="checkbox" value="" ' + is_staff + ' /> Staff<br/>';

                var is_superuser = "";
                if(data[d].is_superuser){
                    is_superuser = "checked";
                }
                table_con += '<input name="is_superuser" class="is_superuser" type="checkbox" value="" ' + is_superuser + ' /> Superuser<br/>';
                table_con += '<div style="padding:5px 5px 5px 30px;"><span class="save-status">SAVE</span></div></td>';
                table_con += '<td align="center" style="vertical-align:middle;"><span class="change-password">Change Password</span></td>';
            %endif
            table_con += '<td></td></tr>';
        }
        $(".tblUserTime tbody").append(table_con);
        

        $(".tblUserTime").trigger("update");
        this.total_num = data.length;
        $(".download .total").html(data.length);

        //----------- click event save user 3 status----------//
        var save_status_press = 0;
        $(".save-status").unbind("click");
        $(".save-status").click(function(){
            if(save_status_press == 0){
                save_status_press = 1;
                $(".save-status").css({"background-color":"#ccc","color":"#666"});

                var user_id = $(this).parent().parent().parent().attr("user_id")
                var is_active = $(this).parent().parent().children(".is_active").attr("checked");
                if(is_active == "checked"){
                    is_active = 1;
                }else{
                    is_active = 0;
                } 

                var is_staff = $(this).parent().parent().children(".is_staff").attr("checked");
                if(is_staff == "checked"){
                    is_staff = 1;
                }else{
                    is_staff = 0;
                } 

                var is_superuser = $(this).parent().parent().children(".is_superuser").attr("checked");
                if(is_superuser == "checked"){
                    is_superuser = 1;
                }else{
                    is_superuser = 0;
                } 

                self.dialog = new Dialog($('#dialog_loading'));
                self.dialog.show('Saving user status, Please wait...');

                $.post("${reverse('save_user_status')}", {'is_active': is_active,'is_staff': is_staff,'is_superuser': is_superuser,'user_id': user_id}, 
                function(data) {
                    if (data.success) {
                        window.setTimeout(function () {
                            self.dialog.hide()
                            save_status_press = 0;
                            $(".save-status").css({"background-color":"#0054aa","color":"#fff"});
                        }, 100);
                    }
                });
            }
        });

        //----------- click event change user password----------//
        var change_psw_press = 0;
        $(".change-password").unbind("click");
        $(".change-password").click(function(){
            var user_id = $(this).parent().parent().attr("user_id");
            $("#id_new_password1").attr("user_id",user_id);

            //$("#id_old_password").val("");
            $("#id_new_password1").val("");
            $("#id_new_password2").val("");
            $(".check-error-p1").html("");
            $(".check-error-p2").html("");
            $(".check-success").html("");

            self.dialog = new Dialog($('#dialog_change_password'));
            var dialog_title = 'Password Reset - ' + $(this).parent().parent().children(".useremail").html();
            //self.dialog.show('Password Reset');
            self.dialog.show(dialog_title);
            //$("#id_old_password").focus();
            $("#id_new_password1").focus();
            change_psw_press = 0;
        });

        $("#btn_change_password").unbind("click");
        $("#btn_change_password").bind("click",function(){
            if(change_psw_press == 0){
                change_psw_press = 1;
                $("#btn_change_password").addClass("btn-change-password-lock");
                $(".check-success").html("");

                var user_id = $("#id_new_password1").attr("user_id");
                var psw1 = $("#id_new_password1").val().trim();
                var psw2 = $("#id_new_password2").val().trim();
                
                var check_status = {};
                check_status = password_verify_local(psw1,psw2);
                if(check_status.type != 200){
                    if(check_status.type == 1 || check_status.type == 2 || check_status.type ==3){
                        $(".check-error-p1").html(check_status.info);
                        $(".check-error-p2").html("");
                        $("#id_new_password1").focus();
                        
                    }
                    else if(check_status.type == 4 || check_status.type == 5){
                        $(".check-error-p1").html("");
                        $(".check-error-p2").html(check_status.info);
                        $("#id_new_password2").focus();
                    }
                    change_psw_press = 0;
                    $("#btn_change_password").removeClass("btn-change-password-lock");
                    return;
                }
                
                $(".check-error-p1").html("");
                $(".check-error-p2").html("");
                $(".check-success").html("Now Saving......");
                $.post("${reverse('save_user_password')}", {'user_id': user_id,'user_post_1': psw1,'user_post_2': psw2}, 
                    function(data) {
                        if (data.success) {
                            window.setTimeout(function () {
                                change_psw_press = 0;
                                $("#btn_change_password").removeClass("btn-change-password-lock");
                                $(".check-success").html("User\'s password changes successfully.");
                            }, 100);
                        }
                        else{
                            window.setTimeout(function () { 
                                change_psw_press = 0;
                                $("#btn_change_password").removeClass("btn-change-password-lock");
                                $(".check-success").html("");
                                if(data.value.grouptype == 'error1'){
                                    if(data.value.type == 1 || data.value.type == 2 || data.value.type == 3){
                                        $(".check-error-p1").html(data.value.info);
                                        $(".check-error-p2").html("");
                                        $("#id_new_password1").focus();
                                    }
                                    else{
                                        $(".check-error-p1").html("");
                                        $(".check-error-p2").html(data.value.info);
                                        $("#id_new_password2").focus();
                                    }
                                }
                                else if(data.value.grouptype == 'error3'){
                                    $(".check-error-p1").html(data.value.info);
                                    $(".check-error-p2").html("");
                                    $("#id_new_password1").focus();
                                }
                            }, 100);
                        }
                    });
            }
        });

        function password_verify_local(psw1,psw2){
            var error_info = [{"type":200,"info":""},
                              {"type":1,"info":"Please fill in new password."},
                              {"type":2,"info":"New password must contain A-Z, a-z, 0-9 and ~!@#$%^&* and must be 8-16 characters long."},
                              {"type":3,"info":"New password must contain A-Z, a-z, 0-9 and ~!@#$%^&* and must be 8-16 characters long."},
                              {"type":4,"info":"Confirm password is required."},
                              {"type":5,"info":"Your new and confirm password are different. Please enter again."}];
            if(psw1 == ""){
                return error_info[1];
            }
            if(psw1.length < 8 || psw1.length > 16){
                 return error_info[2];  
            }
            if(psw1.length != 0){
                var regexp = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[~!@#$%^&*])[\da-zA-Z~!@#$%^&*]{8,16}$/;
                var r = psw1.match(regexp);
                if(r == null){
                     return error_info[3];
                }
                    
            }
            if(psw2 == ""){
                return error_info[4];
            }

            if(psw1 != psw2){
                return error_info[5];
            }
            return error_info[0];
        }

        /*
        $("#id_new_password1").change(function(){
             $(".check-error-p1").html("");
        });
        */
    },

    get_table_result:function(){
        $(".tblUserTime tbody").empty();
        var self = this;
        var filter = $('#fltUserTime')[0].control.getFilter();
        var local_time =  new Date();
        var local_utc_diff_m = -1 * local_time.getTimezoneOffset();

        self.dialog = new Dialog($('#dialog_loading'));
        self.dialog.show('Loading data, Please wait...');

        $.post("${reverse('get_user_login_info')}", {'state': filter.state,'district': filter.district,'school': filter.school}, 
            function(data) {
                if (data != null) {
                    self.dialog.hide();
                    self.createTimeTable(data.rows);
                }
            }
        );
    },

    postToNewTab: function(url, params) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", url);
        form.setAttribute("target", "_blank");
        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = i;
                input.value = params[i];
                form.appendChild(input);
            }
        }
        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    },
};

//-------------------------- UI control --------------------------//
//** init expand title
$(".expand_title").click(function(){
    var $div=$(this).next("div.expand_div");
    if($div.is(':visible')){
        $div.slideUp();
        $(this).removeClass("expand_title_expanded");
    }else{
        $div.slideDown();
        $(this).addClass("expand_title_expanded");
    }
});
</script>
