<%! from django.utils.translation import ugettext as _ %>

<%!
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from courseware.access import has_access
from certificates.models import CertificateStatuses
from xmodule.modulestore import MONGO_MODULESTORE_TYPE
from xmodule.modulestore.django import modulestore
from student.models import State,District,School
%>

<%
import os
workdir = os.getcwd()
base_path = workdir + '/lms/templates/emails/'
subject_path = base_path + 'activation_email_subject.txt'
email_path = base_path + 'activation_email.txt'
f = open(subject_path, 'r')
subject_to_edit = f.read()
f.close()
f = open(email_path, 'r')
email_to_edit = f.read()
f.close()
%>

<%inherit file="../main.html"/>

<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/lms-main_vendor.922a156aeac1.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/reg_kits.js" charset="utf-8"></script>
<style type="text/css" media="screen">
  section.content-wrapper{background:transparent !important;}
  .list{padding:0px 5px;}
  .list li{list-style-type:none;}
  div.filter{padding:10px 5px; border:1px solid #ddd;border-width:1px 0;}
  div.filter h2{color:#f90}
  div.expand_title{color:#08a;font-size:20px;padding:10px 5px;cursor:pointer;}
  div.expand_title .icon{display:inline-block;width:12px;height:15px;background: url(/static/images/configuration/arrow_dn.png);}
  div.expand_title_expanded .icon{background: url(/static/images/configuration/arrow_up.png);}
  div.expand_div{display:none;}
  div.filter{}
  .custom-email input{width: 400px;}
  .custom-email textarea{height: 300px;}
</style>
<style type="text/css" media="screen">
  label{cursor:default;}
  .lean_overlay {
    background: radial-gradient(circle at 50% 30% , rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) repeat scroll 0% 0% transparent;
    display: block;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
  }
  .modal{
    display: block; position: absolute; opacity: 1; z-index: 11000; left: 50%; margin-left: -249px; top: 120px;
    background: none repeat scroll 0% 0% rgba(255,255,255, 1);
    /* border: 1px solid rgba(150, 150, 150, 0.9); */
    border-radius: 5px;
    box-shadow: 0px 15px 80px 15px rgba(0, 0, 0, 0.5);
    padding: 0 0 8px 0;
    width: 480px;
    display:none;
  }
  .modal .close-modal {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
    padding: 10px;
    position: absolute;
    right: 2px;
    top: 0px;
    z-index: 3;
    color:#333;
  }
  .modal .titlebar{
    background:#fff;
    height:70px;
    background:#ccc;
  }
  td.label{
    text-align:right;padding-right:10px;width:45px;
    vertical-align:top;
    padding-top:13px;
  }
  .modal .dialog-title{
    margin:0;padding:20px 0 0 30px;color:#666;
  }
  .modal .content{
    color:#333;
    text-align:center;
    font-size:16px;
    padding:20px 10px;
    line-height:20px;
  }
  .modal .progressbar{
    height:30px;
    background:#ddd;
    border-radius:5px;
    margin-top:10px;
  }
  .modal .progressbar_flow{
    height:30px;
    background:#2a5;
    border-radius:5px;
    width:0px;
  }
  .custom-email, .customize-email {
    display: none;
  }
  .variable-key {
    float: right;
    width: 440px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    background-color: #ccc;
    font-size: 88%;
  }
  .variable-key ul {
    margin: .5em 0 0 0;
    padding: 0 0 0 20px;
  }
  .variable-key ul li {
    line-height: 130%;
  }
  div.cke {
    width: 640px;
  }
</style>
<div style="padding:20px 0">
  <div class="main" style="margin:auto;width:1180px;  border:1px solid #ddd ">
    <div class="expand_title expand_title_collapse">
      User Data Import <div class="icon"></div>
    </div>
    <div class="expand_div">
      <form method="" id="filter_form" action="">
        <div class="filter">
          <h2>Filter</h2>
          <select id="" name="state_id" autocomplete="off">
            <option value="">Select State</option>
            %for item in State.objects.all().order_by('name'):
            <option value="${item.id}">${item.name}</option>
            %endfor
          </select>
          <select id="" name="district_id" autocomplete="off">
            <option value="">Select District</option>
          </select>
          <select id="" name="school_id" autocomplete="off">
            <option value="">Select School</option>
          </select>
        </div>
        <ul class="list">
          <li>
            <label style="cursor:normal !important;">
              <input class="send-email" type="checkbox" name="send_registration_email" value="true" />
              Send registration emails to imported users
            </label>
          </li>
          <li class="customize-email">
            <label style="cursor:normal !important;">
              <input class="custom-email-checkbox" type="checkbox" name="customize_email" value="true" />
              Customize registration email
            </label>
          </li>
          <li class="custom-email">
            <div class="variable-key">
              <h3><strong>Email Variables:</strong></h3>
              <p>
                You may use the following variables in the subject and email text.
                Simply click the <img src="/static/js/ckeditor/plugins/token/icons/token.png" alt="T" /> button, select the token to insert, and the correct data will be put in the variable's place when the email is sent.
              </p>
              <ul>
                <li>
                  <strong><%text>${email}</%text></strong> &mdash; The user's email address.
                </listye>
                <li>
                  <strong><%text>${district}</%text></strong> &mdash; The district the user has been invited by.
                </li>
                <li>
                  <strong><%text>${site}</%text></strong> &mdash; The current site's URL (e.g. ${site})
                </li>
                <li>
                  <strong><%text>${key}</%text></strong> &mdash; The key for identifying the user to the registration form.
                </li>
              </ul>
              <p>The <%text>${site} and ${key}</%text> variables are generally used to create the registration URL, like so:</p>
              <pre><%text>https://<strong>${site}</strong>/register/<strong>${key}</strong></%text></pre>
              <p>See the default template for an example of how it should be used.</p>
            </div>
            <label style="cursor:normal !important;">
              Subject:<br />
              <input type="text" name="custom_email_subject" value="${subject_to_edit}" />
            </label>
            <label style="cursor:normal !important;">
              <br />Custom Email:<br />
              <textarea class="email-editor" name="custom_email">${email_to_edit}</textarea>
            </label>
          </li>
        </ul>
        <div style="padding:7px;">
          CSV File: <input type="file" name="file" value="" />
          <p style="margin-top:1em;"><label style="font-style:normal;color:#555;">* CSV file should contain the following column (email address).</label></p>

        </div>
        <div style="padding:10px 5px">
          <input class="form_submit" type="submit" name="" value="Import Users" />
        </div>
      </form>
    </div>
  </div>
</div>
<div style="" id="dialog" class="modal">
  <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
    <div class="titlebar">
      <h3 class="dialog-title"></h3>
      <div class="close-modal" id="dialog_close">✕</div>
    </div>
    <div class="content"></div>
  </div>
</div>
<script type="text/javascript">
  CKEDITOR.replaceAll(function(textarea, config){
    if (textarea.className == 'email-editor') {
      // Add token plugin
	  config.extraPlugins = 'token';

	  // Configure available tokens
	  config.availableTokens = [
	                            ["",""],
								["email","email"],
								["district","district"],
								["site","site"],
								["key","key"]
							   ];
	  return true;
	}
	return false;
  });
  var $form=$("#filter_form");
  // change district dropdown
  $form.find("select[name=district_id]").change(function(){
    var district_id=$(this).val();
    if(district_id){
      dropSchool($form,'',district_id);
    }else{
      var drop=form.find("select[name=school_id]");
      clearOption(drop);
    }
  });
  // change state dropdown
  $form.find("select[name=state_id]").change(function(a){
    var district_id="${request.GET.get('district_id','')}"
    var state_id=$(this).val();
    clearOption($form.find("select[name=district_id]"));
    clearOption($form.find("select[name=school_id]"));
    dropDistrict($form,state_id,null,true);
  });
  $(".expand_title").click(function(){
    var $div=$(this).next("div.expand_div");
    if($div.is(':visible')){
      $div.slideUp();
      $(this).removeClass('expand_title_expanded');
    }else{
      $div.slideDown();
      $(this).addClass('expand_title_expanded');
    }
  });
  function pcSlider(clicked, target) {
    if (clicked.prop('checked')){
      target.slideDown();
    } else {
      target.slideUp();
    }
  }
  $(".send-email").click(function() {
    var checkboxArea = $(this).parent().parent().next(".customize-email");
    var checkbox = $(checkboxArea).children("label").children(".custom-email-checkbox");
    if (checkbox.prop('checked')) {
      checkbox.removeProp('checked');
      var textarea = checkbox.parent().parent().next(".custom-email");
      pcSlider(checkbox, textarea);
    }
    pcSlider($(this), checkboxArea);
  });
  $(".custom-email-checkbox").click(function() {
    var textarea = $(this).parent().parent().next(".custom-email");
    pcSlider($(this), textarea);
  });
  $(document).ready(function() {
    $(".send-email").each(function() {
      pcSlider($(this), $(this).parent().parent().next("li"));
    });
    $(".custom-email-checkbox").each(function() {
      pcSlider($(this), $(this).parent().parent().next(".custom-email"));
    });
  });
</script>
<script type="text/javascript">
  var userData={}
  userData.$form=$("#filter_form");
  userData.submit=function(form){
    var self=this
    var form=this.$form[0];
    // input checking
    var state_id=$(form.state_id).val();
    var district_id=$(form.district_id).val();
    if(!state_id || !district_id){
      new Dialog($('#dialog')).show('Error','You must select a State, District and file to import.');
      return false;
    }
    if(!((/\.csv/i).test(form.file.value))){
      new Dialog($('#dialog')).show('Error','Please select a CSV file.');
      return false;
    }
    // submit
    var fd = new FormData(form);
    $.ajax({
      url: "${reverse('configuration_import_user_submit')}",
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
      enctype: 'multipart/form-data',
      mimeType: 'multipart/form-data',
      success: function(data){
        self.renderProgress(data.taskId);
      }
    });
  }
  userData.renderProgress=function(taskId){
    var dialog=new Dialog($('#dialog'));
    dialog.show('User Data Import',"<span class='progressinfo'></span> \
<div class='progressbar'><div class='progressbar_flow'></div></div>");
    (function getStatus(){
      setTimeout(function(){
        $.post("${reverse('configuration_import_task_status')}",{taskId:taskId},function(r){
          dialog.setTitle();
          $(".modal .progressbar_flow").css('width',r.percent+'%');
          if(r.percent<100){
            $(".modal .progressinfo").html('importing users...<br>'+Math.round(r.percent)+'%');
            getStatus();
          }else{
           dialog.setContent("<p style='font-size:20px;font-weight:bold;'>Import Complete</p><br>If there were any errors, you will receive them in an email.");
          }
        });
      },1000);
    })();
  }
  userData.bindEvents=function(){
    var self=this;
    this.$form.submit(function(){
      self.submit();
      return false;
    });
  }
  userData.bindEvents();
</script>
<script type="text/javascript">
  function Dialog(el){
    this.$dialog=$(el);
  }
  Dialog.prototype.showOverlay=function(){
    this.$overlay=$("<div class='lean_overlay'></div>");
    this.$overlay.appendTo(document.body);
    this.$overlay.css('display','block');
  }
  Dialog.prototype.hideOverlay=function(){
    this.$overlay.remove();
  }
  Dialog.prototype.hide=function(){
    this.$dialog.css('display','none');
    this.hideOverlay();
  }
  Dialog.prototype.setTitle=function(title){
    this.$dialog.find('.dialog-title').html(title);
  }
  Dialog.prototype.setContent=function(content){
    this.$dialog.find('.content').html(content);
  }
  Dialog.prototype.show=function(title,content){
    var self=this;
    this.showOverlay();
    this.setTitle(title);
    this.setContent(content);
    this.$dialog.find('.close-modal').click(function(){
      self.hide();
    });
    this.$dialog.fadeIn(200);
  }
</script>

