
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="title"><title>Communities</title></%block>
<link rel="stylesheet" type="text/css"  href="static/tmp-resource/css/ppd-general01.css"/>

<body>
<p color=FFFFFF>&nbsp;</p>
<center><table width=1000px><tr><td><p><font size=5 style="font-family:calibri">Principal's Playbook</font><br/> 
	<b>Facilitator:</b>   <font color=0070c0>SmokeyJack</font></p>



</td><td><img src="/static/images/communities_003.png"/></td>
<td><img src="/static/images/communities_006.jpg"/><br>&nbsp;</br>
<img src="/static/images/communities_007.jpg"/>
</td>
<td><img src="/static/images/communities_001.png"/>
<p style="padding-left:50px"><b>Hangout</b><br/>
</td></tr></table></center>
<center>
<table width=1000px><tr><td valign="top"width=700><O><b>Community News</b></P>
	<P>This is the place to discuss the latest issues facing your community.
</P>

 

<table  style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0">
<tr>	
<td width=65px><br/><b>Title</b> <br/>
<hr color=5b9bd5></td>
<td width=535px>
<br/><b>&nbsp;</b><br/>
<hr color=5b9bd5></td>
</td>
<td><br/><b>Activity</b><br/><hr color=5b9bd5></td>	
</tr>
<tr>
<td height=65px style="vertical-align:middle">

<img src="/static/images/communities_004.jpg"/></td>
<td style="vertical-align:middle">
<b>Hiring & Retaining Qualified Staff</b><br/><br/>
<font size=1><font color=0070c0><b>Gerry</b></font>, Today at 11:48 PM</font><br/>
</td>

<td style="vertical-align:middle">
<b>Replies:  87<br/>
<b>Views:    210</b> 
</td>
</tr>

<tr>
<td height=65px style="vertical-align:middle">

<img src="/static/images/communities_005.jpg"/></td>
<td style="vertical-align:middle">
<b>Rising ESL/ELL Populations</b><br/><br/>
<font size=1><font color=0070c0><b>Melissa</b></font>, Saturday at 9:12 AM</font>
</td>

<td style="vertical-align:middle">
<b>Replies: 121<br/>
Views:   664</b> 
</td>
</tr>

<tr>
<td height=65px style="vertical-align:middle">

<img src="/static/images/communities_009.jpg"/></td>	
<td style="vertical-align:middle">
<b>Dealing with Budget Constraints</b><br/><br/>
<font size=1><font color=0070c0><b>BillClemente</b></font>, January 14, 2016 at 7:15 PM</font>
</td>

<td style="vertical-align:middle">
<b>Replies: 113<br/>
Views:    550</b> 
</td>
</tr>

<tr>
<td height=65px style="vertical-align:middle">

<img src="/static/images/communities_010.jpg"/></td>	
<td style="vertical-align:middle">
<b>Teacher Tenure Issues</b><br/><br/>
<font size=1><font color=0070c0><b>Rashmi</b></font>, December 29, 2015 at 9:12 AM</font><br/>
</td>

<td style="vertical-align:middle">
<b>Replies: 44 <br/>
Views:   323</b> 
</td>
</tr>
</table>
</td>

<td  style="padding-left:50px;"><p><b>Content Collections</b></p>
<br/>
<img src="/static/images/communities_002.jpg"/>
<p>&nbsp;</p>
<p><b>Resources</b></p>
<br/>
<img src="/static/images/communities_008.jpg"/>
</td>


</tr>
</table>
</center>
<p>&nbsp;</p>
<center><p><img src="/static/images/communities_012.png"/></p></center>
<center>
<p>&nbsp;</p>
<table width=1000px>
<tr>
<td  valign="top"width=700><b>Members</b><br>
<hr color=5b9bd5></hr>
<img src="/static/images/communities_011.jpg"/>
</td>
<td  valign="top" style="padding-left:50px;" ><b>Community Statistics</b><br/>
<hr color=5b9bd5 style="padding-left:0px;"></hr>

<b>Discussions:   3,255<br/><br/>
Messages:  12,332<br/><br/>
Members: 2,115<br/></b>
</td>

</tr>
</table>
</center>
<p>&nbsp;</p>
</body>