<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from file_uploader.utils import get_file_url
%>
<%! navbar_show_extended=False %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="title"><title>Communities</title></%block>
<link rel="stylesheet" type="text/css"  href="/static/css/communities.css"/>

<style type="text/css" media="screen">
    #page-nav,#page-footer{width:1180px;}
    #btn-logged-user{display:none;}
    .form-select{font-size:14px !important;width:180px;}
    .image-link-style{
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        display: block;
        float: left;
        margin: 30px;
    }
    .image-bottom-style{
        border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        -webkit-border-radius: 0 0 6px 6px;
        display: block;
    }
    .card-link{
        display: table-cell;
        width: 240px;
        height: 60px;
        vertical-align: middle;
        padding: 0 17px;
        font-size: 22px;
        background: rgba(18,111,154,0.95);
        text-decoration: none!important;
    }
    .card-link span{
        color: #FFFFFF;
    }
    .community-form {
        margin: 0 auto;
        width: 900px;
        padding: 20px;
    }
    #community-name, #community-logo, #community-facilitator {
        display: block;
        float: left;
        margin: 0 40px 20px 0;
        text-align: left;
        position: relative;
    }
    .community-form label {
        cursor: default !important;
    }
    #community-logo .remove {
        display: block;
        background: #fff center url(/static/images/moderator-delete-icon.png) no-repeat;
        width: 12px;
        height: 11px;
        border: solid 1px #ddd;
        border-radius: 1px;
        position: absolute;
        top: 1.25em;
        right: 2px;
    }
    #community-name input, #community-facilitator input {
        display: block;
        width: 500px;
    }
    #community-logo input {
        display: block;
    }
    #community-name, #community-motto, #community-courses, #community-resources {
        clear: both;
        display: block;
        text-align: left;
        margin-bottom: 20px;
    }
    #community-motto input {
        display: block;
        width: 860px;
    }
    #community-private {
        display: block;
        float: left;
        text-align: left;
        padding-top: 1.75em;
    }
    #community-private input {
        margin-left: 10px;
    }
    #community-courses span, #community-resources span, #community-logo span {
        display: block;
    }
    #community-courses input, #community-courses select, #community-resources input, .resource-logo-label {
        display: block;
        float: left;
        margin: 0 20px 20px 0;
    }
    .resource-link, .resource-name {
        width: 220px;
    }
    #community-form-buttons {
        clear: both;
        margin: 0 auto;
        padding-top: 20px;
        text-align: right;
    }
    #community-cancel {
        float: left;
    }
    #community-resources .add, #community-courses .add {
        padding: 0 6px;
    }
    #community-resources .minus, #community-courses .minus {
        padding: 0 8px;
    }
    .community-course, .community-resource {
        clear: both;
    }
    .community-logo-thumb {
        float: left;
        width: 150px;
        margin-right: 10px;
    }
    .community-resource-logo-wrap {
        float: left;
        width: 150px;
        margin-right: 10px;
        position: relative;
    }
    .community-resource-logo-wrap .remove {
        display: block;
        background: #fff center url(/static/images/moderator-delete-icon.png) no-repeat;
        width: 12px;
        height: 11px;
        border: solid 1px #ddd;
        border-radius: 1px;
        position: absolute;
        top: -2px;
        right: -2px;
    }
</style>
<section class="community-form" style="text-align:center;background:#F5F5F5;">
    <form action="${reverse('community_edit_process')}" method="post" enctype="multipart/form-data">
        <label id="community-name"><span>Community Name:</span><input type="text" name="name" value="${name}" placeholder="The name of the community"></label>
        %if logo != '':
            <label id="community-logo"><span>Logo:</span><img class="community-logo-thumb" src="${logo}"><input type="hidden" name="logo" value="${logo}"><a href="#" class="remove"></a></label>
        %else:
            <label id="community-logo"><span>Logo:</span><input type="file" name="logo"></label>
        %endif
        <label id="community-motto"><span>Description (Motto):</span><input type="text" name="motto" value="${motto}" placeholder="A description or motto for this community"></label>
        <label id="community-facilitator"><span>Facilitator:</span><input type="text" name="facilitator" value="${facilitator}" placeholder="The email of the user who will administer this community"></label>
        %if private:
            <label id="community-private"><span>Private Group:</span><input type="checkbox" name="private" value="1" checked="checked"></label>
        %else:
            <label id="community-private"><span>Private Group:</span><input type="checkbox" name="private" value="1"></label>
        %endif
        <label id="community-courses"><span>Courses:</span>
        %for idx, course in enumerate(courses):
            <div class="community-course">
                <select name="course[${idx}]">
                    <option value="">Select a Course</option>
                    %for course_option in courses_drop:
                        %if course == course_option['id']:
                            <option value="${course_option['id']}" selected="selected">${course_option['number']} | ${course_option['name']}</option>
                        %else:
                            <option value="${course_option['id']}">${course_option['number']} | ${course_option['name']}</option>
                        %endif
                    %endfor
                </select>
                <input type="button" class="add operation" value="+" onclick="newCourse()">
            </div>
        %endfor
        </label>
        <label id="community-resources"><span>Resources:</span>
        %for idx, resource in enumerate(resources):
            <div class="community-resource">
                <input class="resource-name" type="text" name="resource_name[${idx}]" value="${resource['name']}" placeholder="Resource name">
                <input class="resource-link" type="text" name="resource_link[${idx}]" value="${resource['link']}" placeholder="Resource link">
                <label><div class="resource-logo-label">Logo:</div>
                %if resource['logo']:
                    <div class="community-resource-logo-wrap">
                        <img src="${get_file_url(resource['logo'])}" class="community-logo-thumb">
                        <input class="community-resource-logo" type="hidden" name="resource_logo[${idx}]" value="${resource['logo'].id}">
                        <a href="#" class="remove"></a>
                    </div>
                %else:
                    <input class="resource-logo" type="file" name="resource_logo[${idx}]">
                %endif
                </label>
                <input type="button" class="add operation" value="+" onclick="newResource()">
            </div>
        %endfor
        </label>
        <input type="hidden" value="${community_id}" name="community_id">
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
        <div id="community-form-buttons">
            <input id="community-cancel" type="button" value="Cancel">
            <input id="community-submit" type="submit" value="Submit" name="submit">
        </div>
    </form>
</section>
<script type="text/javascript">
    function newCourse() {
        var course_num = $('.community-course').length;
        $('.community-course').each(function(index) {
            $(this).find('.operation').replaceWith('<input type="button" class="minus operation" value="-" onclick="removeCourse(' + index + ')">');
        });
        var entry = '<div class="community-course"><select name="course[' + course_num + ']"><option value="">Select a Course</option>';
        %for course_option in courses_drop:
            entry += '<option value="${course_option['id']}">${course_option['number']} | ${course_option['name'].replace("'", r"\'")}</option>';
        %endfor
        entry += '</select><input type="button" class="add operation" value="+" onclick="newCourse()"></div>';
        $('#community-courses').append(entry);
    }
    function newResource() {
        var resource_num = $('.community-resource').length;
        $('.community-resource').each(function(index) {
            $(this).find('.operation').replaceWith('<input type="button" class="minus operation" value="-" onclick="removeResource(' + index + ')">');
        });
        var entry = '<div class="community-resource">';
        entry += '<input class="resource-name" type="text" name="resource_name[' + resource_num + ']" value="" placeholder="Resource name">';
        entry += '<input class="resource-link" type="text" name="resource_link[' + resource_num + ']" value="" placeholder="Resource link">';
        entry += '<label><div class="resource-logo-label">Logo:</div><input  class="resource-logo" type="file" name="resource_logo[' + resource_num + ']"></label>';
        entry += '<input type="button" class="add operation" value="+" onclick="newResource()">';
        $('#community-resources').append(entry);
    }
    function removeCourse(index) {
        $('.community-course').each(function(i) {
            if (i == index) {
                $(this).remove();
            } else {
                var num = 0;
                if (i < index) {
                    num = i;
                }
                if (i > index) {
                    num = i - 1;
                }
                $(this).children('select').attr('name', 'course[' + num + ']');
            }
        });
        $('.community-course .minus').each(function(index) {
            $(this).replaceWith('<input type="button" class="minus operation" value="-" onclick="removeCourse(' + index + ')">');
        });
    }
    function removeResource(index) {
        $('.community-resource').each(function(i) {
            if (i == index) {
                $(this).remove();
            } else {
                var num = 0;
                if (i < index) {
                    num = i;
                }
                if (i > index) {
                    num = i - 1;
                }
                $(this).children('.resource-link').attr('name', 'resource_link[' + num + ']');
                $(this).children('.resource-name').attr('name', 'resource_name[' + num + ']');
                $(this).children('.resource-logo').attr('name', 'resource_logo[' + num + ']');
            }
        });
        $('.community-resource .minus').each(function(index) {
            $(this).replaceWith('<input type="button" class="minus operation" value="-" onclick="removeResource(' + index + ')">');
        });
    }
    $(document).ready(function() {
        $('#community-logo .remove').click(function() {
            var content = '<label id="community-logo"><span>Logo:</span><input type="file" name="logo"></label>';
            $('#community-logo').replaceWith(content);
        });
        $('.community-resource .remove').click(function() {
            var name = $(this).siblings('.community-resource-logo').attr('name');
            var content = '<input class="resource-logo" type="file" name="' + name + '">';
            $(this).parent('.community-resource-logo-wrap').replaceWith(content);
        });
        $('#community-cancel').click(function() {
            %if community_id == 'new':
                window.location.href = "${reverse('communities')}";
            %else:
                window.location.href = "${reverse('community_view', args=[community_id])}";
            %endif
        });
    });
</script>