<%! from django.utils.translation import ugettext as _ %>
<%!
    from django.core.urlresolvers import reverse
    from courseware.courses import course_image_url, get_course_about_section
    from courseware.access import has_access
    from certificates.models import CertificateStatuses
    from xmodule.modulestore import MONGO_MODULESTORE_TYPE
    from xmodule.modulestore.django import modulestore
    from student.models import State,District,Transaction,Cohort,School,SubjectArea,GradeLevel,YearsInEducation, UserProfile, User
    from baseinfo.models import Enum
    from communities.models import CommunityCommunities, CommunityUsers
    from communities.views import user_in_community, community_in_state, community_in_district

%>
<%! navbar_show_extended=False %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="title"><title>Communities</title></%block>
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/ppd-general01.css"/>

<style type="text/css" media="screen">
    a.district-button, a.school-button, a.user-button {
            outline: none;
        }

        .section-tab.public {
            border-color: rgb(103, 141, 11) rgb(103, 141, 11) rgb(83, 121, 11);
            box-shadow: 0 1px 0 0 rgb(123, 221, 91) inset;
            background-color: rgb(123, 181, 51);
            background-image: linear-gradient(to bottom, rgb(123, 221, 91) 0%, rgb(123, 181, 51) 50%, rgb(103, 161, 31) 50%, rgb(103, 161, 31) 100%);
            text-shadow: 0 -1px 1px rgb(83, 121, 11);
        }
        .section-tab.private {
            border-color: rgb(47, 107, 189) rgb(47, 107, 189) rgb(47, 87, 169);
            box-shadow: 0 1px 0 0 rgb(47, 207, 269) inset;
            background-color: rgb(47, 167, 229);
            background-image: linear-gradient(to bottom, rgb(47, 207, 269) 0%, rgb(47, 167, 229) 50%, rgb(47, 147, 209) 50%, rgb(47, 147, 209) 100%);
            text-shadow: 0 -1px 1px rgb(47, 87, 169);
            padding-top: 10px;
        }
        .section-tab.mydistrict {
            border-color: rgb(174, 50, 7) rgb(174, 50, 7) rgb(154, 30, 7);
            box-shadow: 0 1px 0 0 rgb(294, 170, 67) inset;
            background-color: rgb(234, 110, 7);
            background-image: linear-gradient(to bottom, rgb(294, 170, 67) 0%, rgb(234, 110, 7) 50%, rgb(214, 90, 7) 50%, rgb(214, 90, 7) 100%);
            text-shadow: 0 -1px 1px rgb(154, 30, 7);
        }

    .section-tab {
            border-width: 0 1px 1px 1px;
            border-style: solid;
            -moz-border-top-colors: none;
            -moz-border-right-colors: none;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            border-image: none;
            border-radius: 0 0 5px 5px;
            color: #FFF;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            font: 1.2rem/1.6rem "Open Sans",Verdana,Geneva,sans-serif;
            letter-spacing: 1px;
            padding: 4px 20px;
            text-transform: uppercase;
            vertical-align: top;
            margin-left: 5px;
        }
    #page-nav,#page-footer {
        width: 1180px;
    }
    #btn-logged-user{
        display: none;
    }
    .form-select {
        font-size: 14px !important;
        width: 180px;
    }
    .image-link-style {
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        display: block;
        float: left;
        margin: 30px;
        width:240px;
        height:150px;
        background-size: auto 100px;
        background-color: white;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }
    .image-bottom-style {
        border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        -webkit-border-radius: 0 0 6px 6px;
        display: block;
    }
    .card-link {
        display: table-cell;
        width: 240px;
        height: 60px;
        vertical-align: middle;
        padding: 0 17px;
        font-size: 22px;
        background: rgba(18,111,154,0.95);
        text-decoration: none !important;
    }
    .card-link span {
        color: #FFFFFF;
    }
    .data_import_top {
    padding-top: 20px;
}

.data_import_content {
    margin: auto;
    background: #e4e4e4;
    width: 960px;
}
    .grade_title {
        float: left;
        width: 920px;
        height: 20px;
        background-color: #fff;
        text-align: left;
        padding-left: 40px;
        color: #666;
        font-size: 16px;
        font-weight: bold;
        font-family: "Open Sans",Verdana,Geneva,sans-serif;
        padding-top: 4px;
        padding-bottom: 2px;
    }
    a.btnx:hover {
        background: #638194;
        transition-delay: 0s, 0s, 0s;
        transition-duration: 0.25s, 0.25s, 0.25s;
        transition-property:color, background,​box-shadow;
        transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
        color: #fff;
    }
    a.btnx {
        background-color: #556370;
        padding-bottom: 2px !important;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px !important;
        text-decoration: none !important;
        cursor: pointer;
        font-family: 'Open Sans',Verdana,Geneva,sans-serif;
        color: #fff;
        transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
    }
    a.btnx:normal {
        background-color: #126F9A;
        text-decoration: none;
        cursor: pointer;
        font-family: 'Open Sans',Verdana,Geneva,sans-serif;
        color: #fff;
        transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
    }
    div.expand_title {
            color: #08a;
            font-size: 20px;
            padding: 5px 5px 10px 5px;
            cursor: pointer;
            background-color: #ccc;
            box-shadow: 0 1px 0 0 #fff inset;
            background-image: linear-gradient(to bottom, #fff 0%, #ddd 50%, #ccc 50%, #ccc 100%);
            text-shadow: 0 -1px 1px #aaa;
        }

        div.expand_title .icon {
            display: inline-block;
            position: relative;
            top: 5px;
            width: 23px;
            height: 23px;
            background: url("../images/arrows.png") no-repeat 0 0;
        }
    div.expand_div{
        display:block !important;
    }
</style>
<script>
    function fsubmit(){
        var communities = [];
        %for community in communities:
            communities[${community['id']}] = "${reverse('community_view', args=[community['id']])}";
        %endfor
        var community = $("#community_list_form .form-select").val();
        window.location.href =  communities[community];
        return false;
    }
</script>
<span id="organization_obj" o_name="communities"></span>
<section class="find-courses" style="text-align:center;background:#F5F5F5;">
    <!--@begin:use new image name(ppd-...); use (background:url..) replace <img src=...>-->
    <!--@date:2013-11-02-->
    <div style="margin:0 auto;width:960px;height:195px;background:url(/static/images/ppd-courses-banner.jpg);border-bottom:1px solid #000;">
        <!--@end-->

        <!--@begin:use html text to replace the text on the picture; add code(class="_...") to modify font style-->
        <!--@date:2013-11-02-->
        <div class="_banner_whatis_title_font">
            PROFESSIONAL
            <br/>
            LEARNING COMMUNITIES
            <div class="_banner_whatis_title_content_font">
                build and enhance your community of practice
            </div>
        </div>
        <!--@end-->
    </div>

    <section style="margin:auto;text-align:center;width:960px;background:#E6F5FC;">
        <form method="" id="community_list_form" action="">
            <div style="padding:20px;color:#666;display:inline-block;">
                <span style="color:#666">Find a Community</span>
            </div>
            <div style="display:inline-block;padding:0 1em 0 0;">
                <select name="subject_id" class="form-select">
                    %for community in communities:
                        <option value="${community['id']}">${community['name']}</option>
                    %endfor
                </select>
            </div>
            <a href="#" class="btnx" onClick="fsubmit();">Find</a>
            %if request.user.is_superuser:
                <div style="padding:20px;color:#666;display:inline-block;">
                    <span style="color:#666"><a href="${reverse('community_add')}">Create a New Community</a></span>
                </div>
            %endif
        </form>
    </section>
    <!-- Begin Tabs -->

<div class="data_import_top">
  <div class="main, data_import_content">
    <div class="expand_title expand_title_collapse">
      Pepper Communities <div class="icon"></div>
    </div>

      <div class="expand_div">
        <a href="#" onclick="toggle('private')" class="private-button"><div class="section-tab private">My Communities</div></a>
        <a href="#" onclick="toggle('public')" class="public-button"><div class="section-tab public">Public Communities</div></a>
        <a href="#" onclick="toggle('mydistrict')" class="mydistrict-button"><div class="section-tab mydistrict">My District Communities</div></a>
        <div class="private-section import-section">
            <section style="margin:auto;width:960px;background:#E4E4E4;">
                <section class="courses" style="padding-top:5px!important;">
                    <div class="courses-listing">
                        <div style="padding-left:25px;">
                            %for community in communities:
                                %if user_in_community(community['id'], request.user.id):
                                    <div class="image-link-style" style="background-image: url('${community['logo']}');">
                                        <div style="height:100px;"></div>
                                        <a href="${reverse('community_view', args=[community['id']])}" class="card-link image-bottom-style"><span>${community['name']}</span></a>
                                    </div>
                                %endif
                            %endfor
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <div class="public-section import-section">
            <section style="margin:auto;width:960px;background:#E4E4E4;">
                <section class="courses" style="padding-top:5px!important;">
                    <div class="courses-listing">
                        <div style="padding-left:25px;">
                            %for community in communities:
                                %if community['private'] == 0:
                                    <div class="image-link-style" style="background-image: url('${community['logo']}');">
                                        <div style="height:100px;"></div>
                                        <a href="${reverse('community_view', args=[community['id']])}" class="card-link image-bottom-style"><span>${community['name']}</span></a>
                                    </div>
                                %endif
                            %endfor
                        </div>
                    </div>
                </section>
            </section>
        </div>
    <div class="mydistrict-section import-section">
            <section style="margin:auto;width:960px;background:#E4E4E4;">
                <section class="courses" style="padding-top:5px!important;">
                    <div class="courses-listing">
                        <div style="padding-left:25px;">
                            %for community in communities:
                                %if community_in_district(community['id'], request.user.id):
                                    <div class="image-link-style" style="background-image: url('${community['logo']}');">
                                        <div style="height:100px;"></div>
                                        <a href="${reverse('community_view', args=[community['id']])}" class="card-link image-bottom-style"><span>${community['name']}</span></a>
                                    </div>
                                %endif
                            %endfor
                        </div>
                    </div>
                </section>
            </section>
    </div>
</div>
      </div></div>
    <!-- End Tabs -->

</section>
<script>
$(document).ready(function(){
   $(".public-button, .private-button, .mystate-button, .mydistrict-button").click(function(e){
       e.preventDefault();
   });
    toggle("private");
});
function toggle(which) {
    $(".import-section").hide();
    $("." + which + "-section").show();
    $(".section-tab").css("padding-top", "4px");
    $(".section-tab." + which).css("padding-top", "10px")
}
</script>
