<%inherit file="../main.html" />
<%!
    from django.core.urlresolvers import reverse
    from courseware.courses import course_image_url, get_course_about_section
    from student.views import course_from_id
%>
<%namespace name='static' file='../static_content.html'/>

<%block name="title">
    <title>${community.name}</title>
</%block>
<script type="text/javascript" src="/static/js/admin_ui_controls.js"></script>
<style type="text/css" media="screen">
    #community-content-area h1 {
        color: #006EBF;
        padding: 20px 3px;
        font-size: 20px;
        border-bottom: 2px solid #90BF70;
        display: inline-block;
    }
    #community-content, #community-discussions {
        color: #000;
        padding: 20px 3px;
        font-size: 20px;
        line-height: 20px;
    }
    #community-content-area label {
        font-style: normal;
        display: inline-block;
        width: 3.5em;
        text-align: left;
        font-weight: bold;
    }
    #community-content-area span {
        font-size: 12px;
    }
    #community-content {
        width: 270px;
        height: 700px;
        overflow-y: scroll;
        float: left;
    }
    #community-discussions {
        width: 510px;
        float: left;
    }
    .discussion {
        clear: both;
    }
    .discussion-post-info {
        float: left;
        width: 380px;
    }
    .discussion-post-info span {
        display: block;
    }
    .discussion-stats {
        float: left;
        width: 100px;
    }
    .discussion-stats span {
        display: block;
        text-align: justify;
    }
    .community-resource {
        display: block;
        margin-bottom: 10px;
        border: 0 solid #f0870c;
        height: 160px;
        width: 242px;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 7px 7px 0;
        border-radius: 6px;
    }
    .community-resource img {
        display: block;
        width: 242px;
        height: 100px;
        border-radius: 6px 6px 0 0;
    }
    .community-resource a {
        display: block;
        height: 60px;
        background: #f0870c;
        color: #fff;
        font-size: 14px;
        border-radius: 0 0 6px 6px;
    }
    .community-resource div {
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        width: 242px;
        text-align: center;
    }
    #table-members th {
        color: #006EBF;
        padding: 20px 3px;
        font-size: 20px;
    }
    .card-link span {
        color: #FFFFFF;
    }
    .course-card {
        margin: 0 0 10px 0 !important
    }
    div.card-bottom table tr:nth-child(2) {
        display: none;
    }
    #members a {
        margin-right: 5px;
        display: inline-block;
    }
    .modal {
        position: fixed;
        opacity: 1;
        z-index: 11000;
        left: 50%;
        margin-left: -249px;
        top: 120px;
        background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
        border-radius: 5px;
        box-shadow: 0px 15px 80px 15px rgba(0, 0, 0, 0.5);
        padding: 0 0 8px 0;
        width: 480px;
        display: none;
    }
    .modal .close-modal {
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        vertical-align: baseline;
        padding: 10px;
        position: absolute;
        right: 2px;
        top: 0;
        z-index: 3;
        color: #333;
    }
    .modal .titlebar {
        height: 70px;
        background: #ccc;
    }
    .modal .dialog-title {
        margin: 0;
        padding: 20px 0 0 30px;
        color: #666;
    }
    .modal .content {
        color: #333;
        text-align: center;
        font-size: 16px;
        padding: 20px 10px;
        line-height: 20px;
    }
    .modal .progressbar {
        height: 30px;
        background: #ddd;
        border-radius: 5px;
        margin-top: 10px;
    }
    .modal .progressbar_flow {
        height: 30px;
        background: #2a5;
        border-radius: 5px;
        width: 0;
    }
</style>
<link rel="stylesheet" type="text/css"  href="static/tmp-resource/css/ppd-general01.css"/>
<script type="text/javascript">
    function joinMe(){
        var user_id = "${request.user.id}";
        $.post("${reverse('community_join', args=[community.community])}",{user_id:user_id}, function(r){
            if(r.success)
                window.location.reload();
        });
    }
</script>
<body style="text-align:center">
<div style="width:1185px;margin:auto;text-align:left;margin-top:30px;" class="clearfix">
    <section style="width:880px;float:left;">
        <div style="border:2px solid #ddd;width:100%;height:280px;">
            <div style="padding:15px;">
                %if community.logo:
                    <img src="${community.logo.upload.url}" style="float:right;width:390px;" alt="photo"/>
                %endif
                <p style="margin:5px 0;color:#006EBF;font-size:28px;margin:0px">${community.name}</p>
                <p style="margin:5px 0;padding-left:1em;color:#006EBF;font-size:24px;margin:0px;color:#777;line-height:40px;">${community.motto}</p>
                %if facilitator:
                    <div style="margin-left:1em;margin-top:20px;">
                        <img src="${reverse('user_photo', args=[facilitator.user.id])}" style="vertical-align:middle;" alt="photo" />
                        <div style="display:inline-block;line-height:95px;vertical-align:middle;">
                            <div style="vertical-align:middle;margin:auto;line-height:20px;">
                                <p style="margin:2px;color:#006EBF;font-size:22px;">${facilitator.user.first_name} ${facilitator.user.last_name}</p>
                                <p style="margin:2px;font-size:18px;">Community Facilitator</p>
                            </div>
                        </div>
                    </div>
                %endif
            </div>
        </div>
        <div id="community-content-area">
            <div id="community-discussions">
                <h1 class="discussion-post-info">Community Discussion</h1>
                <h1 class="discussion-stats">Activity</h1>
                %for i,d in enumerate(discussions):
                    <div class="discussion">
                        <h2><a href="${reverse('community_discussion_view', args=[d.id])}">${d.subject}</a></h2>
                        <div class="discussion-post-info">
                            <span class="discussion-byline">${d.user.first_name} ${d.user.last_name}</span>
                            <span class="discussion-date">${d.date_create}</span>
                        </div>
                        <div class="discussion-stats">
                            <span>Replies: ${d.replies}</span>
                            <span>Views: ${d.views}</span>
                        </div>
                    </div>
                %endfor
                <div id="community-discussion-pager"></div>
                <input type="button" name="new_discussion" value="Start a New Discussion" onclick="newDiscussion()">
            </div>
            <div id="community-content">
                <h1>Content Collections</h1>
                <div id="community-content-scroller">
                    %for i,cc in enumerate(courses):
                        <% c=course_from_id(cc.course) %>
                        <%include file="../course.html" args="course=c" />
                    %endfor
                    %for i,r in enumerate(resources):
                        <div class="community-resource">
                            %if r.logo:
                                <img src="${r.logo.upload.url}" alt="${r.name}" />
                            %else:
                                <img src="TODO: WE NEED A DEFAULT HERE" alt="${r.name}" />
                            %endif
                            <a href="${r.link}">
                                <div>
                                    ${r.name}
                                </div>
                            </a>
                        </div>
                    %endfor
                </div>
            </div>
        </div>
        <div style="border-bottom:2px solid #90BF70;color:#006EBF; font-size:20px;padding:20px 3px;font-weight:bold">Members</div>
        <table id="table-members" style="width:100%;table-layout:fixed;margin-bottom:20px;" cellspacing="" cellpadding="" border="0">
            <tr style="border-bottom:2px solid #90BF70;">
                <td style="width:20px;vertical-align:middle;background:#fff">
                    <div style="cursor:pointer;background:url(/static/tmp-resource/image/up_page.png); width:17px;height:20px;" onclick="left()"> </div>
                </td>
                <td style="white-space:nowrap;">
                    <div style="display:inline-block;overflow-x:hidden;padding:10px 0;width:100%;position:relative;" id="members">
                        %for u in users:
                            <a href="${reverse('dashboard',args=[u.user.id])}" target="_blank">
                                <img src="${reverse('user_photo',args=[u.user.id])}" style="vertical-align:middle;" alt="${u.user.first_name}" />
                            </a>
                        %endfor
                    </div>
                </td>
                <td style="width:20px;vertical-align:middle;background:#fff">
                    <div style="cursor:pointer;background:url(/static/tmp-resource/image/next_page.png);width:17px;height:20px;" onclick="right()"></div>
                </td>
            </tr>
        </table>
    </section>
    <section>
        <div style="width:266px;float:right;top:0px;text-align:center;">
            <div style="border:2px solid #ddd;height:53px;text-align:center;vertical-align:middle;line-height:53px;">
                ${request.user.first_name}
            </div>
            <div style="width:248px;border:2px solid #ddd;margin:auto;border-top:0px;text-align:left;">
                <div style="text-align:center;">
                    <img src="${reverse('user_photo',args=[request.user.id])}" style="vertical-align:middle;width:180px;" alt="${request.user.first_name}" />
                    <br />
                    %if mem and mem.facilitator:
                        FACILITATOR
                    %elif mem and not mem.facilitator:
                        MEMBER
                    %else:
                        <a href="#" style="margin:20px;color:white !important;display:block;padding:10px;border:1px solid #595;background:#8cbe41;text-align:center;margin-top:5px;" value="" onclick="joinMe()">Add Me</a>
                    %endif
                </div>
                <div style="border-bottom:2px solid #90BF70;margin:20px;padding-bottom:5px;color:#006EBF;">
                    Community Status
                </div>
                <div style="margin:20px;">
                    <div class="">Discussions: ${discussions.count()}</div>
                    <div class="">Messages: </div>
                    <div class="">Members: ${users.count()}</div>
                </div>
                <div style="border-bottom:2px solid #90BF70;margin:20px;padding-bottom:5px;color:#006EBF;">
                    Trending
                </div>
                <div style="margin:20px;">
                    %for i,d in enumerate(discussions):
                        <span style="color:#006EBF;">${d.user.first_name}, </span>
                        <span>${d.date_create}</span>
                    %endfor
                </div>
                <div style="margin:20px;">
                    <a href="${reverse('communities')}" style="color:white !important;display:block;padding:10px;border:1px solid #45719E;background:#5A9BD5;text-align:center;margin-top:5px;" value="" >My Communities</a>
                    %if mem and mem.facilitator or request.user.is_superuser:
                        <a href="${reverse('community_edit',args=[community.community])}" style="color:white !important;display:block;padding:10px;border:1px solid #595;background:#8cbe41;text-align:center;margin-top:5px;" value="" >Edit</a>
                        <a href="${reverse('community_delete',args=[community.community])}" style="color:white !important;display:block;padding:10px;border:1px solid #df0000;background:#ED2828;text-align:center;margin-top:5px;" value="" onclick="return confirm('Really delete?')">Delete</a>
                        <a href="#" style="color:white !important;display:block;padding:10px;border:1px solid #45719E;background:#5A9BD5;text-align:center;margin-top:5px;" value="" >Manage Members</a>
                    %endif
                    <a href="#" style="display:block;text-align:center;">
                        <img src="/static/images/community_google_hangouts.png" class="" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<div style="" id="dialog" class="modal">
    <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>
            <div class="close-modal" id="dialog_close">✕</div>
        </div>
        <div class="content"></div>
    </div>
</div>
<script type="text/javascript">
    function newDiscussion() {
        var content = '<form id="new-discussion-submit" action="${reverse('community_discussion_add')}" method="post" enctype="multipart/form-data">';
        content += '<label>Subject:<input type="text" name="subject"></label>';
        content += '<label>Reply:<textarea name="post"></textarea></label>';
        content += '<label>Attachment:<input type="file" name="attachment"></label>';
        content += '<input type="hidden" value="${community.id}" name="community_id">';
        content += '<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>';
        content += '<input type="submit" name="submit" value="Add">';
        content += '</form><div class="discussion-error"></div>';
        var discussion_dialog = new Dialog($('#dialog')).show('New Discussion', content);
        $('#new-discussion-submit').submit(function(event) {
            $.post('${reverse('community_discussion_add')}', $(this).serialize(), function(data) {
                if (data.Success) {
                    discussion_dialog.hide()
                    new Dialog($('#dialog')).show('Success', 'Your discussion was submitted.')
                } else {
                    $('.discussion-error').append('There was an error adding your discussion. Please try again later.')
                }
            });
            event.preventDefault()
        });
    }
    function isScrolledIntoView(elem, view) {
        var $elem = $(elem);
        var $view = $(view);
        var docViewLeft = $view.offset().left;
        var docViewRight = docViewLeft + $view.width();
        var elLeft = $elem.offset().left;
        var elRight = elLeft + $elem.width();
        // return ((elemRight <= docViewRight) && (elemLeft >= docViewLeft)); // partly visible
        return ((docViewLeft < elLeft) && (docViewRight > elRight));
    }
    $("#members").scrollLeft(0);
    function left(){
        var lastHideLeft = null;
        var n=-1;
        $("#members").find("a").each(function(i){
            if(!isScrolledIntoView(this, $("#members"))){
                lastHideLeft=this;
                n=i;
            }else{
                return false;
            }
        });
        if(lastHideLeft) {
            //$(lastHideLeft).css('border',"1px solid #f00");
            $("#members").scrollLeft($("#members").scrollLeft()  + $(lastHideLeft).position().left-1);
        }
    }
    function right(){
        var firstHideRight=null;
        var foundVisible=false;
        var n=-1;
        $("#members").find("a").each(function(i){
            if(!isScrolledIntoView(this, $("#members"))){
                if(foundVisible){
                    firstHideRight=this;
                    n=i;
                    return false;
                }
            }else{
                foundVisible=true;
            }
        });
        if(firstHideRight) {
            $("#members").scrollLeft($("#members").scrollLeft()
                    + $(firstHideRight).position().left
                    - $("#members").width() + $(firstHideRight).width() + 1);
        }
    }
</script>
</body>
