<%!
    from django.core.urlresolvers import reverse
%>

<div class="discussion-poll">
    <div class="discussion-poll-question">${question}</div>
    <ol class="discussion-poll-answers">
        <% iterator = range(0, len(answers)) %>
        %for i in iterator:
            <li class="discussion-poll-answer"><label><input type="radio" value="${answers[str(i)]}" name="answers"> ${answers[str(i)]}</label></li>
            <li class="discussion-poll-votes">
                ${answers[str(i)]}:<br>
                <div class="discussion-poll-vote-bar" style="width: ${votes[str(i)]['percent'] * 2}px"></div> ${votes[str(i)]['percent']}%
            </li>
        %endfor
    </ol>
    <a href="#" class="discussion-poll-toggle hide">Show Results</a>
</div>
<script type="text/javascript">
    $('.discussion-poll-toggle').click(function() {
        $('.discussion-poll-answer').toggle();
        $('.discussion-poll-votes').toggle();
        $(this).empty();
        if ($(this).hasClass('hide')) {
            $(this).append('Vote');
            $(this).removeClass('hide');
            $(this).addClass('show');
        } else {
            $(this).append('Show Results');
            $(this).removeClass('show');
            $(this).addClass('hide');
        }
    });
    %if user_answered:
        $('.discussion-poll-answer').hide();
        $('.discussion-poll-votes').show();
        $('.discussion-poll-toggle').hide();
    %endif
    $('.discussion-poll-answer input').click(function() {
        var answer = $(this).val();
        $.post(${reverse('poll_vote')}, {'poll_type': ${poll_type}, 'poll_id': ${poll_id}, 'vote': answer}, function(data) {
            if (data.Success) {
                var content = '<ol class="discussion-poll-answers">';
                for (var x = 0; x < data.Votes.length; x++){
                    content += '<li class="discussion-poll-votes">';
                    content += data.Answers[str(x)] + ':<br>';
                    content += '<div class="discussion-poll-vote-bar" style="width: ' + (data.Votes[str(x)]['percent'] * 2) + 'px"></div> ' + data.Votes[str(x)]['percent'] + '%';
                    content += '</li>';
                }
                content += '</div>';
                $('.discussion-poll-answers').replaceWith(content);
                $('.discussion-poll-toggle').remove();
            }
        });
    });
</script>