<div id="poll-form">
    <label>Question: <input class="poll-question" type="text" name="question"></label>
    <label>Answers:
        <div class="poll-answer">
            <input type="text" name="answers[0]">
        </div>
        <div class="poll-answer">
            <input class="poll-answer-input" type="text" name="answers[1]"> <input type="button" class="add operation" value="+">
        </div>
    </label>
    <label><input class="poll-expiration" type="text" name="expiration" placeholder="mm/dd/yyyy"></label>
</div>