<%! from django.utils.translation import ugettext as _ %>
<%! from django_comment_client.permissions import has_permission %>

<script type="text/javascript" src="/static/js/vendor/raty/lib/jquery.raty.min.js"></script>
<style>
.timeago_l{
  font-size: 14px;
}
.pin-label_l{
  font-size: 14px;
}
a.btnx:hover{
  background: linear-gradient(#1e8bbe, #0e72a1); 
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s;
  transition-property:color, background,​ box-shadow;
  transition-timing-function:
  cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration:0.25s,​ 0.25s,​ 0.25s;
  text-decoration:none;
}
a.btnx{
  background-clip: padding-box;
  border:1ps solid rgb(13, 114, 162);
  background-color:rgb(29, 157, 217);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d9dd9), color-stop(100%, #0e7cb0));
  background-image: -webkit-linear-gradient(#1d9dd9, #0e7cb0);
  background-image: linear-gradient(#1d9dd9, #0e7cb0);
  border: 1px solid #0d72a2;
  box-shadow: inset 0 1px 0 0 #61b8e1;
  text-decoration: none;
  padding:6px 32px 7px 32px;
  line-height:26px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  color:#fff;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
a.btnx:normal{
  background-color:#126F9A;
  text-decoration: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  color:#fff;
  transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}

.rate_num,.rate_num span{
    font-size:12px;
    color:#1994CD;
} 
</style>
<script type="text/template" id="thread-template">
    <article class="discussion-article" data-id="${'<%- id %>'}">
        <div class="thread-content-wrapper"></div>
        
        <ol class="responses">
            <li class="loading"><div class="loading-animation"></div></li>
        </ol>
        <div class="post-status-closed bottom-post-status" style="display: none">
          ${_("This thread is closed.")}
        </div>
        <!--
        % if course is UNDEFINED or has_permission(user, 'create_comment', course.id):
        <form class="discussion-reply-new" data-id="${'<%- id %>'}">
            <h4>${_("Start a new discussion:")}</h4>
            <ul class="discussion-errors"></ul>
            <div class="reply-body" data-id="${'<%- id %>'}"></div>
            <div class="reply-post-control">
                <a class="discussion-submit-post control-button" href="#">${_("Submit")}</a>
            </div>
        </form>
        % endif
        -->
    </article>
</script>

<script type="text/template" id="thread-show-template">
  <div class="discussion-post">
      <div><a href="javascript:void(0)" class="dogear action-follow" data-tooltip="follow"></a></div>
      <header>
      ${"<% if (obj.group_id) { %>"}
      <div class="group-visibility-label">${"<%- obj.group_string%>"}</div>
              ${"<% }  %>"}      
      
          <a href="#" class="vote-btn discussion-vote discussion-vote-up" data-role="discussion-vote" data-tooltip="vote" style="border:1px solid;">
          <span class="plus-icon">+</span> <span class='votes-count-number'>${'<%- votes["up_count"] %>'}</span></a>

          <table border="0">
            <tr>
              <td width="125" valign="top" align="left">
                <a href="/dashboard/${'<%- obj.user_id %>'}" target="_blank">
                  <img src="/user_photo/${'<%- obj.user_id %>'}" width="110" height="110" style="" alt="photo" />
                </a>
              </td>
              <td>
                <h1>${'<%- title %>'}</h1>
                <p class="posted-details">
                    ${"<% if (obj.username) { %>"}
                    <a href="${'<%- user_url %>'}" class="username">${'<%- username %>'}</a>
                    ${"<% } else {print('anonymous');} %>"}
                    <span class="timeago timeago_l" title="${'<%- created_at %>'}">${'<%- created_at %>'}</span>

                    <span class="post-status-closed top-post-status" style="display: none">
                      ${_("&bull; This thread is closed.")}
                    </span>
                </p>
              </td>
            </tr>
          </table>
      </header>

      <div class="post-body">${'<%- body %>'}</div>
      <div class="discussion-flag-abuse notflagged" data-role="thread-flag" data-tooltip="Report Misuse">
      <i class="icon icon-flag pin-label_l"></i><span class="flag-label pin-label_l">${_("Report Misuse")}</span></div>
        
        
      % if course and has_permission(user, 'openclose_thread', course.id):
      <div class="admin-pin discussion-pin notpinned" data-role="thread-pin" data-tooltip="pin this thread">
      <i class="icon icon-pushpin pin-label_l"></i><span class="pin-label pin-label_l">${_("Pin Thread")}</span></div>

      %else:
      ${"<% if (pinned) { %>"}
      <div class="discussion-pin notpinned" data-role="thread-pin" data-tooltip="pin this thread">
      <i class="icon icon-pushpin pin-label_l"></i><span class="pin-label pin-label_l">${_("Pin Thread")}</span></div>
      ${"<% }  %>"}  
      % endif
      
      
      
      <div class="post-context" style="font-size:14px;padding-top:5px;">
          ${'<% if (obj.courseware_url) { %>'}
            (this topic is about <a href="${'<%- courseware_url%>'}">${'<%- courseware_title %>'} Welcome to Pepper</a>)
          ${'<% } %>'}
      </div>
      
      <table>
        <tr >
          <td width="255">
             <ul class="moderator-actions">
                <li style="display: none"><a class="action-edit" href="javascript:void(0)"><span class="edit-icon"></span> ${_("Edit")}</a></li>
                <li style="display: none"><a class="action-delete" href="javascript:void(0)"><span class="delete-icon"></span> ${_("Delete")}</a></li>
                <li style="display: none"><a class="action-openclose" href="javascript:void(0)"><span class="edit-icon"></span> ${_("Close")}</a></li>
              </ul>
          </td>
          <td width="15"></td>
          <td>
            <div style="margin-top:22px;">
                <div class="action-rating" data-rating="2.6" style="margin-right:10px;display:inline;"></div>
                <a class="see-results btnx" href="javascript:void(0);" style="font-size:12px;padding:4px 15px 4px 15px;">See Results</a>
            </div>
          </td>
        </tr>
      </table>
  </div>
</script>

<script type="text/template" id="thread-edit-template">
  <div class="discussion-post edit-post-form">
    <h1>${_("Editing topic")}</h1>
    <ul class="edit-post-form-errors"></ul>
    <div class="form-row">
      <input type="text" class="edit-post-title" name="title" value="${"<%-title %>"}" placeholder="Title">
    </div>
    <div class="form-row">
      <div class="edit-post-body" name="body">${"<%- body %>"}</div>
    </div>
    ## TODO tags
    ## Until we decide what to do with tags, commenting them out.
    ##<div class="form-row">
    ##  <input type="text" class="edit-post-tags" name="tags" placeholder="Tags" value="${"<%- tags %>"}">
    ##</div>
    <input type="submit" class="post-update" value="${_("Update topic")}">
    <a href="#" class="post-cancel">${_("Cancel")}</a>
  </div>
</script>

<script type="text/template" id="thread-response-template">
    <div class="discussion-response"></div>
    <ol class="comments">
        <li class="new-comment response-local">
            <form class="comment-form" data-id="${'<%- wmdId %>'}">
                <ul class="discussion-errors"></ul>
                <div class="comment-body" data-id="${'<%- wmdId %>'}"
                data-placeholder="Add a comment..."></div>
                <div class="comment-post-control">
                    <a class="discussion-submit-comment control-button" href="#">${_("Submit")}</a>
                </div>
            </form>
        
        </li>
    </ol>
</script>

<script type="text/template" id="thread-response-show-template">
    <header class="response-local">
        <a href="javascript:void(0)" class="vote-btn" data-tooltip="vote"><span class="plus-icon"></span><span class="votes-count-number">${"<%- votes['up_count'] %>"}</span></a>
        <a href="javascript:void(0)" class="endorse-btn${'<% if (endorsed) { %> is-endorsed<% } %>'} action-endorse" style="cursor: default; display: none;" data-tooltip="endorse"><span class="check-icon" style="pointer-events: none; "></span></a>
        ${"<% if (obj.username) { %>"}
        <a href="${'<%- user_url %>'}" class="posted-by" posted_by_id="${'<%- user_id %>'}">${'<%- username %>'}</a>
        ${"<% } else {print('<span class=\"anonymous\"><em>anonymous</em></span>');} %>"}
        <p class="posted-details" title="${'<%- created_at %>'}" style="font-size:14px;">${'<%- created_at %>'}</p>
    </header>
    <div class="response-local"><div class="response-body">${"<%- body %>"}</div>
    <div class="discussion-flag-abuse notflagged" data-role="thread-flag" data-tooltip="report misuse">                
      <i class="icon icon-flag pin-label_l"></i><span class="flag-label pin-label_l">Report Misuse</span></div>
    </div>
    <ul class="moderator-actions response-local">
        <li style="display: none"><a class="action-edit" href="javascript:void(0)"><span class="edit-icon"></span> ${_("Edit")}</a></li>
        <li style="display: none"><a class="action-delete" href="javascript:void(0)"><span class="delete-icon"></span> ${_("Delete")}</a></li>
        <li style="display: none"><a class="action-openclose" href="javascript:void(0)"><span class="edit-icon"></span> ${_("Close")}</a></li>
    </ul>
</script>

<script type="text/template" id="thread-response-edit-template">
  <div class="edit-post-form">
    <h1>${_("Editing response")}</h1>
    <ul class="edit-post-form-errors"></ul>
    <div class="form-row">
      <div class="edit-post-body" name="body">${"<%- body %>"}</div>
    </div>
    <input type="submit" class="post-update" value="${_("Update response")}">
    <a href="#" class="post-cancel">${_("Cancel")}</a>
  </div>
</script>

<script type="text/template" id="response-comment-show-template">
  <a id="a${'<%- id %>'}"></a>
  <div id="comment_${'<%- id %>'}">
    <table border="0">
      <tr>
        <td width="40" style="padding-top:15px;">
          <a href="/dashboard/${'<%- obj.user_id %>'}" target="_blank">
            <img src="/user_photo/${'<%- obj.user_id %>'}" width="40" height="40" style="" alt="photo" />
          </a>
        <td/>
        <td>
          <div class="response-body" style="font-size:14px;">${'<%- body %>'}</div>
        <td/>
      </tr>
    </table> 
    <div class="discussion-flag-abuse notflagged" data-role="thread-flag" data-tooltip="Report Misuse">                
      <i class="icon icon-flag pin-label_l"></i><span class="flag-label"></span></div> 
    <p class="posted-details" style="font-size:14px;">&ndash;posted <span class="timeago timeago_l" title="${'<%- created_at %>'}">${'<%- created_at %>'}</span> by
        ${"<% if (obj.username) { %>"}
        <a href="${'<%- user_url %>'}" class="profile-link" style="font-size:15px;">${'<%- username %>'}</a>
        ${"<% } else {print('anonymous');} %>"}
    </p>
    <div class="discussion-response${'<%- id %>'}"></div>
    <div style="padding-left:20px;">
      <table>
        <tr >
          <td width="180">
            <ul class="moderator-actions response-local">
              <li style="display: none"><a class="action-edit" href="javascript:void(0)"><span class="edit-icon"></span> ${_("Edit")}</a></li>
              <li style="display: none"><a class="action-delete" href="javascript:void(0)"><span class="delete-icon"></span> ${_("Delete")}</a></li>
              <!--<li style="display: none"><a class="action-openclose" href="javascript:void(0)"><span class="edit-icon"></span> ${_("Close")}</a></li>-->
            </ul>
          </td>
          <td width="15"></td>
          <td>
            <div style="margin-top:22px;">
                <div class="action-rating" data-rating="3.3" style="margin-right:10px;display:inline;"></div>
                <a class="see-results btnx" href="javascript:void(0);" style="font-size:12px;padding:4px 15px 4px 15px;">See Results</a>
            </div>
          </td>
        </tr>
      </table>
     </div>
  </div>
</script>

<script type="text/template" id="thread-list-item-template">
    <a href="${'<%- id %>'}" data-id="${'<%- id %>'}">
        <span class="title">${"<%- title %>"}</span>
        ${"<% if (unread_comments_count > 0) { %>"}
            <span class="comments-count unread" data-tooltip="${"<%- unread_comments_count %>"} new comment${"<%- unread_comments_count > 1 ? 's' : '' %>"}">${"<%- comments_count %>"}</span>
        ${"<% } else { %>"}
            <span class="comments-count">${"<%- comments_count %>"}</span>
        ${"<% } %>"}
        <span class="votes-count">+${"<%- votes['up_count'] %>"}</span>
    </a>
</script>
<script type="text/template" id="discussion-home">
  <style>
    [class^="icon-"], [class*=" icon-"] {font-family: "FontAwesome" !important;}
  </style>
  <div class="discussion-article blank-slate">
  <section class="home-header">
  <span class="label">DISCUSSION HOME:</span>
  % if course and course.display_name_with_default:
  <h1 class="home-title">${course.display_name_with_default}</h1>
  </section>
  
  % if settings.MITX_FEATURES.get('ENABLE_DISCUSSION_HOME_PANEL'):
  <span class="label label-settings">HOW TO USE PEPPER DISCUSSIONS</span>
  <table class="home-helpgrid">
  <tr class="helpgrid-row helpgrid-row-navigation">
  <td class="row-title">Find discussions</td>
  <td class="row-item">
  <i class="icon icon-reorder"></i>
  <span class="row-description">Focus in on specific topics</span>
  </td>
  <td class="row-item">
  <i class="icon icon-search"></i>
  <span class="row-description">Search for specific topics </span>
  </td>
  <td class="row-item">
  <i class="icon icon-sort"></i>
  <span class="row-description">Sort by date, vote, or comments </span>
  </td>
  </tr>
  <tr class="helpgrid-row helpgrid-row-participation">
  <td class="row-title">Engage with topics</td>
  <td class="row-item">
  <i class="icon icon-plus"></i>
  <span class="row-description">Upvote topics and good responses</span>
  </td>
  <td class="row-item">
  <i class="icon icon-flag"></i>
  <span class="row-description">Report Forum Misuse</span>
  </td>
  <td class="row-item">
  <i class="icon icon-star"></i>
  <span class="row-description">Follow topics for updates</span>
  </td>
  </tr>
  <!--
  <tr class="helpgrid-row helpgrid-row-notification">
  <td class="row-title">Receive updates</td>
  <td class="row-item-full" colspan="3">
  <input type="checkbox" class="email-setting" name="email-notification"></input>
  <i class="icon icon-envelope"></i>
  <span class="row-description"> If enabled, you will receive an email digest once a day notifying you about new, unread activity from posts you are following. </span>
  </td>
  </tr>
  -->
  </table>
  <!--20151124 add new information-->
  <!--begin-->
  </br>
  <table class="home-helpgrid">
  <tr>
  <td style="background-color:#b0e0e6;">
    <p style="padding:8px;">Let's use the discussion forum to coach and collaborate with your fellow Pepper</br>educators. <b>If you have a support issue, please contact us at </b><a href="mailto:peppersupport@pcgus.com" style="font-color:#1ea9dc;">PepperSupport@pcgus.com</a>. Support-related items will be removed from the board.</p>
  </td>
  </tr>
  </table>
  <!--end-->
  % endif
  % endif

  </div>    
</script>

<section id="rate_results" class="modal modal-wide">
  <div class="inner-wrapper" style="width:578px;padding-bottom:10px !important;">
    <header>
      <h2>${_('RATE RESULTS').format(course_number='<span id="email_settings_course_number"></span>')}</h2>
      <hr/>
    </header>
    <div style="width:560px;margin:10px;">
        <div style="color:black;font-size:16px;width:540px;height:40px;padding:10px;border:0px solid;">
          <center>
            <table cellPadding=5>
              <tr>
                <td width="220">Average Rating</td>
                <td><div class="hq_rate rateItem" data-name="hq_rate"><div class="avg-rating" data-rating="3" style="margin-right:10px;display:inline;"></div></td>
                <td><div class="rate_num"><span id="hq_rate_num">0</span>&nbsp;Rating(s)</div></td>
              </tr>
            </table>
          </center>
        </div>
    </div>
    <div class="close-modal" id="rate_results_close">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(function(){
    $(".modal").addClass("leanmodalStyle");
    $(".modal").hide();

    $("#rate_results").find(".close-modal").click(function(){
        $("#rate_results").hide();
        $("#lean_overlay").hide();
    });

    $("#lean_overlay").click(function(){
        $("#rate_results").hide();
        $(this).hide();
    });
});
</script>