<%! from django.utils.translation import ugettext as _ %>
<%! import django_comment_client.helpers as helpers %>
<%! from django.template.defaultfilters import escapejs %>
<%! from django.core.urlresolvers import reverse %>
<%! from django.contrib.auth.models import User %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="bodyclass">discussion</%block>
<%block name="title"><title>${_("{course_number} Discussion").format(course_number=course.display_number_with_default) | h}</title></%block>

<%block name="headextra">
<%static:css group='course'/>
<%include file="_js_head_dependencies.html" />	
</%block>
<style type="text/css" media="screen">
  [class^="icon-"], [class*=" icon-"] {font-family: "FontAwesome" !important;}
</style>
<%block name="js_extra">
<%include file="_js_body_dependencies.html" />
<%static:js group='discussion'/>
</%block>
<%
def get_portfolio_user():
  if request.GET.get('pf_id') != None:
    return User.objects.get(id=int(request.GET.get('pf_id')))
  else:
    return None
%>
<%include file="_discussion_course_navigation.html" args="active_page='discussion',portfolio_user=get_portfolio_user()" />

<%include file="_new_post.html" />

<section class="discussion container" id="discussion-container" data-roles="${roles}" data-course-id="${course_id}" data-user-info="${user_info}" data-threads="${threads}" data-thread-pages="${thread_pages}" data-content-info="${annotated_content_info}" data-flag-moderator="${flag_moderator}">
    <div class="discussion-body">
        <div class="sidebar"></div>
        <div class="discussion-column">
        </div>
    </div>
</section> 

<%include file="_underscore_templates.html" />
<%include file="_thread_list_template.html" />
