<%! from django.utils.translation import ugettext as _ %>
<%!
    from django.core.urlresolvers import reverse
    from courseware.courses import course_image_url, get_course_about_section
    from courseware.access import has_access
    from certificates.models import CertificateStatuses
    from xmodule.modulestore import MONGO_MODULESTORE_TYPE
    from xmodule.modulestore.django import modulestore
    from student.models import State,District,Transaction,Cohort,School,SubjectArea,GradeLevel,YearsInEducation
    from baseinfo.models import Enum
%>
<%! navbar_show_extended=False %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="title"><title>${page_title} Resources</title></%block>

<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/ppd-general01.css"/>

<style type="text/css" media="screen">
 #btn-logged-user {
   display: none;
 }
 .form-select {
   font-size: 14px !important;
   width: 180px;}
 .image-link-style{
   border-radius: 6px 6px 6px 6px;
   -moz-border-radius: 6px 6px 6px 6px;
   -webkit-border-radius: 6px 6px 6px 6px;
   display: block;
   float: left;
   margin: 30px;
 }
 .image-bottom-style{
   border-radius: 0 0 6px 6px;
   -moz-border-radius: 0 0 6px 6px;
   -webkit-border-radius: 0 0 6px 6px;
   display: block;
 }
 .card-link{
   display: table-cell;
   width: 240px;
   height: 60px;
   vertical-align: middle;
   padding: 0 17px;
   font-size: 22px;
   background: rgba(240,130,0,0.95);
   text-decoration: none !important;
 }
 .card-link span{
   color: #FFFFFF;
 }
 .grade_title{float:left;width:920px;height:20px;background-color:#fff;text-align:left;padding-left:40px;color:#666;font-size:16px;font-weight:bold;font-family: "Open Sans",Verdana,Geneva,sans-serif;padding-top:4px;padding-bottom:2px;}
 a.btnx:hover {
   background:#638194;
   transition-delay: 0s, 0s, 0s;
   transition-duration: 0.25s, 0.25s, 0.25s;
   transition-property:color, background,​box-shadow;
   transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
   color:#fff;
 }
 a.btnx {
   background-color:#556370;
   padding-bottom: 2px!important;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 2px!important;
   text-decoration: none !important;
   cursor: pointer;
   font-family: 'Open Sans',Verdana,Geneva,sans-serif;
   color:#fff;
   transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
 }
 a.btnx:normal {
   background-color:#126F9A;
   text-decoration: none;
   cursor: pointer;
   font-family: 'Open Sans',Verdana,Geneva,sans-serif;
   color:#fff;
   transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
 }
</style>

<section class="find-courses" style="text-align:center;background:#F5F5F5;">
  <div style="margin:0 auto;width:960px;height:195px;background:url(/static/images/ppd-resourcelibrary-banner.jpg);border-bottom:1px solid #000;">
    <div class="_banner_whatis_title_font" style="padding-top:20px;">
      RESOURCE LIBRARY
      <div class="_banner_whatis_title_content_font" style="color:#000;">
        Professional learning tools, curriculum,
        <br/>
        and open education resources
      </div>
    </div>
  </div>  
  
  <section style="margin:auto;width:960px;background:#E4E4E4;">
    <div style="background:#E6F5FC;padding:10px;">
      ${page_title} Resources
    </div>
    <section class="courses" style="padding-top:5px!important;">
      <div class="courses-listing">
        <div style="padding-left:25px;">
          %for item in items:
          <div class="image-link-style" key="${item.id}" style="width:240px;height:150px;background-size:100% 100%;">
            <div style="height:100px;height:100px;background:url(/static/images/resource_lirary_icons/${item.logo});background-size:100% 100px;border-radius: 6px 6px 0 0;"></div>
            <a href="${reverse('resource_library_global_generic_resources')}?resource=${item.id}"
               class="card-link image-bottom-style" style="background:#${item.color}"><span>${item.title}</span></a>
          </div>
          %endfor
        </div>
      </div>
    </section>
  </section>
</section>
