<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from django.utils.html import escape
%>

<%inherit file="../main.html"/>
<link rel="stylesheet" href="/static/css/reporting.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/reporting.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/extras/jquery.tablesorter.pager.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-filter.min.js"></script>
<link rel = "stylesheet" href = "/static/js/tablesorter/css/theme.blue.min.css" media="screen"/>
<link rel = "stylesheet" href = "/static/js/tablesorter/css/jquery.tablesorter.pager.min.css" media = "screen" />

<div id="reporting">
    <form id="views-delete" action="${reverse('reporting_views_delete')}">
        <div class="edit-block views-area">
            <h2>Views</h2>
            <table id="views-table" class="views-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Columns</th>
                    <th class="check-column sorter-false filter-false"><input type="checkbox" value="1" class="view-select-all"></th>
                </tr>
                </thead>
                <tbody>
                    %for view in views:
                        <tr class="data">
                            <td>${view.name}</td>
                            <td>${view.description}</td>
                            <td>${', '.join(columns.filter(view=view).values_list('name', flat=True))}</td>
                            <td class="check-column">
                                <input type="checkbox" value="${view.id}" name="view_id[${view.id}]" class="view-select">&nbsp;
                                <a href="#${view.id}" class="view-edit"><img src="/static/images/portal-icons/pencil-icon.png"></a>
                            </td>
                        </tr>
                    %endfor
                </tbody>
            </table>
            <div class="view-actions">
                <a class="iconbutton add-new add-new-view" href="#">Add New</a>
                <a class="iconbutton delete delete-views" href="#">Delete Selected</a>
                <div id="views-pager" class="pager">
                    <form>
                        <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
                        <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
                        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                        <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
                        <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
                        <select class="pagesize">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
    </form>
    <form id="relationships-delete" action="${reverse('reporting_relationships_delete')}">
        <div class="edit-block view-relationships">
            <h2>View Relationships</h2>
            <table id="relationships-table" class="views-table">
                <thead>
                <tr>
                    <th>Relationship</th>
                    <th>Column Matching</th>
                    <th class="check-column sorter-false filter-false"><input type="checkbox" value="1" class="relationship-select-all"></th>
                </tr>
                </thead>
                <tbody>
                    %for relationship in relationships:
                        <tr class="data">
                            <td>${'{0} -> {1}'.format(relationship.left.view.name, relationship.right.view.name)}</td>
                            <td>${'{0}.{1} = {2}.{3}'.format(relationship.left.view.name, relationship.left.name, relationship.right.view.name, relationship.right.name)}</td>
                            <td class="check-column">
                                <input type="checkbox" value="${relationship.id}" name="relationship_id[${relationship.id}]" class="relationship-select">&nbsp;
                                <a href="#${relationship.id}" class="relationship-edit"><img src="/static/images/portal-icons/pencil-icon.png"></a>
                            </td>
                        </tr>
                    %endfor
                </tbody>
            </table>
            <div class="view-actions">
                <a class="iconbutton add-new add-new-relationship" href="#">Add New</a>
                <a class="iconbutton delete delete-relationships" href="#">Delete Selected</a>
                <div id="relationships-pager" class="pager">
                    <form>
                        <img src="/static/js/tablesorter/css/images/first.png" class="first"/>
                        <img src="/static/js/tablesorter/css/images/prev.png" class="prev"/>
                        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                        <img src="/static/js/tablesorter/css/images/next.png" class="next"/>
                        <img src="/static/js/tablesorter/css/images/last.png" class="last"/>
                        <select class="pagesize">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
    </form>
    <div style="" id="view-dialog" class="modal">
        <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
            <div class="titlebar">
                <h3 class="dialog-title"></h3>

                <div class="close-modal" id="dialog_close">✕</div>
            </div>
            <div class="content"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var view_list_url = '${reverse('reporting_views_list')}';
    var column_list_url = '${reverse('reporting_view_columns')}';
    var add_view_url = '${reverse('reporting_view_add')}';
    var add_relationship_url = '${reverse('reporting_relationship_add')}';
    $(document).ready(function () {
        pagerOptions.container = $("#views-pager");
        $('#views-table').tablesorter(tablesorterOptions).tablesorterPager(pagerOptions);

        pagerOptions.container = $("#relationships-pager");
        $('#relationships-table').tablesorter(tablesorterOptions).tablesorterPager(pagerOptions);

        selectAll('.view-select-all', '.view-select');
        selectAll('.relationship-select-all', '.relationship-select');

        submitHandler('#views-delete', function (data) {
            alert('View(s) Successfully Deleted');
        });
        submitHandler('#relationships-delete', function (data) {
            alert('Relationships(s) Successfully Deleted');
        });

        submitButton('.delete-views', '#views-delete');
        submitButton('.delete-relationships', '#relationships-delete');

        addView();
        addRelationship();
    });
</script>
