<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    import json
%>

<%inherit file="../main.html"/>
<link href="/static/css/reporting.css">
<script type="text/javascript" src="/static/js/reporting.js"></script>

<div class="wrapper">
    <div class="report-name">
        <h2>Report</h2>
        <input type="text" name="report_name" value="Name"/>
        <input type="submit" value="Cancel" class="report-button">
        <input type="submit" value="Save" class="report-button">
        <input type="submit" value="Preview" class="report-button">
    </div>
    <div class="view-selector">
        <h2>Select Views</h2>
        <select class="view-select" name="view[0]">
            <option value="none">Select...</option>
            %for view in views:
                <option value="${view.id}">${view.name}</option>
            %endfor
        </select>
    </div>
    <div class="column-selector">
        <h2>Select Columns</h2>
        <div class="clearfix"></div>
    </div>
    <div class="where-selector">
        <h2>Select Filters</h2>
        <div class="where-row row1">
            <select class="filter-view" name="filter-view[0]">
            </select>
            <select>
                <option>=</option>
                <option>&gt;</option>
                <option>&lt;</option>
                <option>&gt;=</option>
                <option>&lt;=</option>
            </select>
            <input class="small-text" type="text"/>
            <input class="small-button" type="button" value="+"/>
        </div>
    </div>
    <div class="sql-area">
        <h2>SQL Statement</h2>
        <input type="button" value="Edit"/>
        <textarea disabled="disabled"></textarea>
    </div>
</div>
<div style="" id="dialog" class="modal">
    <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>

            <div class="close-modal" id="dialog_close">✕</div>
        </div>
        <div class="content"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        viewSelect('${reverse('related_views')}', '${reverse('reporting_view_columns')}');
    });
</script>