<%
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from django.utils.html import escape
%>

<%inherit file="../main.html"/>
<link rel="stylesheet" href="/static/css/reporting.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/vendor/ui-lightness/jquery-ui-1.8.22.custom.css" media = "screen" />
<script type="text/javascript" src="/static/js/reporting.js"></script>
<script type="text/javascript" src="/static/js/jquery.sortable.js"></script>

<div id="reporting">
    <div id="back">
        <a href="${reverse('reporting_reports')}" class="up_page"></a>&nbsp;
        <a href="${reverse('reporting_reports')}">
            Back to Reports
        </a>
    </div>
    <form id="report-edit" action="${reverse('reporting_report_save', args=['new' if action == 'new' else report.id])}">
        <div class="edit-block report-name">
            <h2>Report</h2>
            %if action == 'edit':
                <input type="text" name="report_name" value="${report.name}"/>
                <input type="text" name="report_description" class="description" value="${report.description}">
            %else:
                <input type="text" name="report_name" placeholder="Name"/>
                <input type="text" name="report_description" class="description" placeholder="Description" style="width:540px;" >
                <input type="radio" name="type" value="Standard" class="report_type" checked><span>Standard</span>
                <input type="radio" name="type" value="Matrix" class="report_type"><span>Matrix</span>
            %endif
            <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
            <input type="hidden" name="action" value="${action}">
            <input type="button" value="Cancel" class="report-button" id="report-cancel">
            <input type="submit" value="Save" class="report-button" id="report-save" disabled>
            %if action == 'edit':
                %for selected_column in selected_columns:
                    <input type="hidden" value="${loop.index}" class="selected-column" name="selected-column[${view_columns.get(id=selected_column).id}]">
                %endfor
            %endif
            <div id="dirty-message">This report has been changed. You <strong>MUST</strong> click save to keep these changes.</div>
        </div>
        <div class="edit-block view-selector">
            <h2>Select Views</h2>
            %if action == 'new':
                <label id="distinct-enable"><input type="checkbox" name="distinct-enable" value="yes"> Show Duplicate Rows</label>
                <select class="view-select" name="view[0]">
                    <option value="none">Select...</option>
                    %for view in views:
                        <option value="${view.id}">${view.name}</option>
                    %endfor
                </select>
            %else:
                <label id="distinct-enable"><input type="checkbox" name="distinct-enable" value="yes"${'' if report.distinct else ' checked'}> Show Duplicate Rows</label>
                %for selected_view in selected_views:
                    <select class="view-select" name="view[${loop.index}]">
                        <option value="none">Select...</option>
                        %for view in views:
                            %if selected_view == view.id:
                                <option value="${view.id}" selected>${view.name}</option>
                            %else:
                                <option value="${view.id}">${view.name}</option>
                            %endif
                        %endfor
                    </select>
                %endfor
            %endif
        </div>
        <div class="edit-block column-selector">
            <h2>Select Columns</h2>
            <div id="order-title">Select columns to show in the report: <label><input type="checkbox" id="column-select-all"> Select All</label><div>Column order:</div></div>
            %if action == 'edit':
                <ul id="selected-columns">
                    %for selected_column in selected_columns:
                        <li data-id="${view_columns.get(id=selected_column).id}">
                            <img class="move" src="/static/images/icons/move.png">
                            ${view_columns.get(id=selected_column).view.name}.${view_columns.get(id=selected_column).name}
                        </li>
                    %endfor
                </ul>
                <ul>
                %for view_column in view_columns:
                    %if loop.index == first_column:
                        </ul><ul>
                    %endif
                    <li><label>
                    %if view_column.id in selected_columns:
                        <input class="column-check" type="checkbox" name="column[${loop.index}]" value="${view_column.id}" checked="checked"> <span class="column-name">${view_column.view.name}.${view_column.name}</span><span class="column-description"> - ${view_column.description}</span>
                    %else:
                        <input class="column-check" type="checkbox" name="column[${loop.index}]" value="${view_column.id}"> <span class="column-name">${view_column.view.name}.${view_column.name}</span><span class="column-description"> - ${view_column.description}</span>
                    %endif
                    </label></li>
                %endfor
                </ul>
            %else:
                <ul id="selected-columns"></ul>
            %endif
            <div class="clearfix"></div>
        </div>
        <div class="edit-block where-selector">
            <h2>Select Filters</h2>
            %if action == 'edit' and len(report_filters):
                <label id="filter-enable"><input type="checkbox" name="filter-enable" checked> Enable Filtering</label>
                %for view_filter in report_filters:
                    <div class="where-row" id="where-row[${loop.index}]">
                    %if view_filter.conjunction:
                        <select data-name="filter-conjunction" class="filter-conjunction" name="filter-conjunction[${loop.index}]">
                            %if view_filter.conjunction == 'AND':
                                <option value="AND" selected>AND</option>
                                <option value="OR">OR</option>
                            %else:
                                <option value="AND">AND</option>
                                <option value="OR" selected>OR</option>
                            %endif
                        </select>
                    %endif
                    <select data-name="filter-column" class="filter-column" name="filter-column[${loop.index}]">
                        %for column in view_columns:
                            %if column.id == view_filter.column.id:
                                <option data-type="${column.data_type}" value="${column.id}" selected>${column.view.name}.${column.name}</option>
                            %else:
                                <option data-type="${column.data_type}" value="${column.id}">${column.view.name}.${column.name}</option>
                            %endif
                        %endfor
                    </select>
                    <select data-name="filter-operator" class="filter-operator" name="filter-operator[${loop.index}]">
                        %for possible_operator in possible_operators:
                            %if possible_operator == view_filter.operator:
                                <option value="${possible_operator}" selected>${escape(possible_operator)}</option>
                            %else:
                                <option value="${possible_operator}">${escape(possible_operator)}</option>
                            %endif
                        %endfor
                    </select>
                    <input data-name="filter-value" class="filter-value" type="text" name="filter-value[${loop.index}]" value="${view_filter.value}"/>
                    <input data-name="plus" class="plus" name="plus[${loop.index}]" type="button" value="+"/>
                    %if loop.index > 0:
                        <input data-name="minus" class="minus" name="minus[${loop.index}]" type="button" value="-"/>
                    %endif
                    </div>
                %endfor
            %else:
                <label id="filter-enable"><input type="checkbox" name="filter-enable"> Enable Filtering</label>
                <div class="where-row" id="where-row[0]">
                    <select data-name="filter-column" class="filter-column" name="filter-column[0]" disabled>
                        %if action == 'edit':
                            %for column in view_columns:
                                <option data-type="${column.data_type}" value="${column.id}">${column.view.name}.${column.name}</option>
                            %endfor
                        %endif
                    </select>
                    <select data-name="filter-operator" class="filter-operator" name="filter-operator[0]" disabled>
                        <option value="=">=</option>
                        <option value="!=">!=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                        <option value=">=">&gt;=</option>
                        <option value="<=">&lt;=</option>
                    </select>
                    <input data-name="filter-value" class="filter-value" type="text" name="filter-value[0]" disabled/>
                    <input data-name="plus" class="plus" name="plus[0]" type="button" value="+" disabled/>
                </div>
            %endif
        </div>
        <div class="edit-block sql-area">
            <h2>SQL Statement</h2>
            <input type="button" value="Edit"/>
            <textarea disabled="disabled"></textarea>
        </div>
    </form>
</div>
<div style="" id="dialog" class="modal">
    <div class="inner-wrapper" style="border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>

            <div class="close-modal" id="dialog_close">✕</div>
        </div>
        <div class="content"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        viewSelect('${reverse('reporting_related_views')}', '${reverse('reporting_view_columns')}');
        filterLines();
        filterEnabler();
        submitHandler('#report-edit', function (data) {
            window.location = '${reverse('reporting_report', args=['placeholder'])}'.replace('placeholder', data.report_id);
        }, function () {
            $('.error-box').removeClass('error-box');
            var valid = true;
            var errors = ['The following errors occurred:\n'];
            if (!/[A-Za-z0-9]/.test($("input[name='report_name']").val())) {
                valid = false;
                errors.push('Name is required.');
                $(".report-name").addClass('error-box');
            }
            if ($("select[name='view[0]']").val() == 'none') {
                valid = false;
                errors.push('At least one view must be selected.');
                $(".view-selector").addClass('error-box');
            }
            if (!$('.column-check:checked').length) {
                valid = false;
                errors.push('You must select at least one column.');
                $('.column-selector').addClass('error-box');
            }
            var type = $("input[type='radio']:checked").val();
            if (type == 'Matrix'){
                var Column_Headers = $("select[name='Column_Headers']").val();
                var Row_Headers = $("select[name='Row_Headers']").val();
                var Aggregate_Data = $("select[name='Aggregate_Data']").val();
                console.log(Column_Headers,Row_Headers,Aggregate_Data)
                if(Column_Headers == Row_Headers || Row_Headers == Aggregate_Data || Aggregate_Data == Column_Headers){
                    valid = false;
                    errors.push('Column_Headers,Row_Headers,Aggregate_Data,These 3 fields must be different.');
                    $('.column-selector').addClass('error-box');
                }
            }
            if (!valid) {
                var error = errors.join('\n');
                alert(error);
            }
            return valid;
        });

        $('#report-cancel').click(function (e) {
            e.preventDefault();
            window.location = '${reverse('reporting_reports')}';
        });
        columnOrdering();
        dirtyReportHandler();
        dateField();
        fieldTypeUpdater();
        descriptionPopups();
        selectAll('#column-select-all', '.column-check');
    });
</script>
