<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from django.utils.html import escape
    from permissions.utils import check_user_perms, check_access_level
%>

<%inherit file="../main.html"/>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<link rel="stylesheet" href="/static/css/reporting.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/reporting.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-columnSelector.min.js"></script>
<script type="text/javascript" src="/static/js/tablesorter/js/widgets/widget-uitheme.js"></script>
<!-- Tablesorter: optional -->
<link rel="stylesheet" href="/static/js/tablesorter/pager/jquery.tablesorter.pager.css">
<script type="text/javascript" src="/static/js/tablesorter/js/extras/jquery.tablesorter.pager.min.js"></script>
<link rel="stylesheet" href="/static/js/tablesorter/css/theme.jui.css" media="screen"/>
<link rel="stylesheet" href="/static/css/vendor/cupertino/jquery-ui.css" media="screen" />
<style>
    .lean-overlay .loading {
        width: 128px;
        height: 128px;
        display: block;
        border-radius: 100px;
        position: absolute;
        left: 50%;
        top: 300px;
        margin-left: -64px;
    }
</style>
<span id="organization_obj" o_name="report"></span>
<div id="reporting">
    <div id="back">
        <a href="${reverse('reporting_reports')}" class="up_page"></a>&nbsp;
        <a href="${reverse('reporting_reports')}">
            Back to Reports
        </a>
    </div>
    <h1>${report.name}</h1>
    <div class="table">
        <div class="" style="padding:5px;"></div>
        <div class="body table_scroll">
            <table class="tblReport tablesorter" ajaxUrl="${reverse('reporting_report_get_rows')}?page={page}&size={size}&{filterList:fcol}&{sortList:col}&report_id=${report.id}&school_year=${school_year}">
                <thead id="talbe_column">
                </thead>
                <tbody></tbody>
            </table>
            </div>
        </div>
        <span class="footer">
            <div class="pager">
                <span class="report_download" style="font-size:16px;margin-right:20px;">
                    Export as:
                    <img src='/static/images/xls-icon.png' id="btnDownloadReportExcel"/>
                </span>
                <img src="/static/js/tablesorter/pager/icons/first.png" class="first" alt="First" />
                <img src="/static/js/tablesorter/pager/icons/prev.png" class="prev" alt="Prev" />
                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                <img src="/static/js/tablesorter/pager/icons/next.png" class="next" alt="Next" />
                <img src="/static/js/tablesorter/pager/icons/last.png" class="last" alt="Last" />
                <select class="pagesize" title="Select page size">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
                <select class="gotoPage" title="Select page number"></select>
                <div style="float:right;">
                    %if len(school_year_item) > 0:
                        <span>School Year:</span>
                        <select class="school_year_select" title="Select school year" style="width:200px;font-size:14px;">
                            <option value="all">Select School Year</option>
                            %for item in school_year_item:
                                <option value=${item}>${item}</option>
                            %endfor
                        </select>
                    %endif
               </div>
            </div>
        </span>
    </div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<!-- dialog -->
<div style="" id="dialog" class="modal">
    <div class="inner-wrapper" style="background-color:#fff;border:0;border-radius:5px;padding:0">
        <div class="titlebar">
            <h3 class="dialog-title"></h3>
        </div>
        <div class="content"></div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    var school_year = $(".school_year_select").val();
    $.get("${reverse('reporting_get_column_headers')}", {"report_id": "${report.id}","school_year":school_year}, function(datas){
        column_header = datas.column_header;
        column_datas = datas.column_data;
        var html = "<th>"+column_header+"</th>";
        for (data in column_datas){
            html += "<th>"+column_datas[data]+"</th>";
        }
        html += "<th>Totol</th>";
        $("#talbe_column").html(html)
        row_data = datas.data
        console.log(row_data)
    });
})
</script>