<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$(document).ready(function(){
    console.log("Success="+${Success});
    if(${Success}){
        $("textchat_"+${textchatID}).append(
            "<div class="pep_file_download"><span>Attachment: </span>
                <a href="${get_file_url(fileObj.attachment)}" target="_blank">
                    <img src="/static/images/document-download.png"> ${get_file_name(fileObj.attachment)}
                </a>
            </div>"
        )
    }else{
        $("textchat_"+${textchatID}).append(
            "<div class="pep_file_download"><span>Error. </span>
                <span>${Error}</span>
            </div>"
        )
    }
}
</script>