<%!
   from django.core.urlresolvers import reverse
%>

<link rel="stylesheet" type="text/css" href="/static/css/webchat-bootstrap.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id="pep_all_lists">
	%for org in orgs_list:
	<table class="org-list-table pep_contact_block" data="${org}">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	%endfor
</div>

<script>
	$(document).ready(function(){
		$("#pep_user_list .org-list-table").each(function(){
			var tableData = $(this).attr("data");
			if(tableData != 'My Network' && tableData != 'All Users'){
				tableData = tableData.replace(/~/g, "\'");
				var idStartIndex = tableData.indexOf(": ") + 2;
				var idEndIndex = tableData.indexOf(",") - 1
				var nameStartIndex = tableData.indexOf(": u") + 4;
				var nameEndIndex = tableData.indexOf("}") - 1;
				var commId = tableData.substring(idStartIndex, idEndIndex);
				if(nameEndIndex > 0){
					var commName = tableData.substring(nameStartIndex, nameEndIndex);
					$(this).find("th").html("<div class='pep_org_header' title='"+commName+"'></div>");
				}else{
					var commName = '';
				}
				var ajaxType = "post";
				var rowSource = "${reverse('get_community_user_rows')}";
			}else if(tableData == 'My Network'){
				//console.log("tableData =" + tableData);
				var commId = 'network';
				var commName = tableData;
				var ajaxType = "post";
				var rowSource = "${reverse('my_people')}"; //"reverse('get_network_user_rows')}";
			}else{
				var commId = 'allptusers';
				var commName = tableData;
				var ajaxType = "get";
				var rowSource = "${reverse('people')}"; //"reverse('get_all_ptuser_rows';
			}
			$(this).attr('id', 'community_'+commId);
			if($(this).find('.pep_org_header').length>0){
				$(this).find('.pep_org_header').text(commName);
			}else{
				$(this).find('th').text(commName);
            }
            $(this).find('th').append(" <div class='pep_start_video' style='display: inline-block;'><a><img src='/static/images/Pepptalk/PeppCam.png' alt='im-video'></a></div>");
			$(this).find('tbody').attr('id', 'users_'+commId);
			if (commId != ""){
				var isasync=(commId !== 'network' && commId !== 'allptusers')?true:false;
				$.ajax({type: ajaxType, url: rowSource, data: {searching: 1, community_id: commId}, async: isasync, success: function (data) {
					//console.log("data="+data.users+" data.success="+data.success); //+"data.users.length="+data.users.length);
					if (data.success) {
						if ((commId == 'network' || commId == 'allptusers') && data.users.length>0){
							var allUsersSource = (commId == 'network')?"${reverse('get_network_users')}":"${reverse('get_all_ptusers')}";
							var networkRows = [];
							var user_ids = [];
							for(i=0; i<data.users.length; i++){
								user_ids.push(data.users[i].user_id);
							}
							//console.log(user_ids);
							var prevLen;
							var page = 2;
							do{
								$.ajax({type: ajaxType, url: rowSource, data: {searching: 1, community_id: commId, page: page}, async: false, success: function (data) {
									prevLen=user_ids.length;
									if (data.success) {
										for(i=0; i<data.users.length; i++){
											user_ids.push(data.users[i].user_id);
										}
										page += 1;
									}
									//console.log(page+" "+user_ids);
								}
								});
							}while(prevLen < user_ids.length);
							$.ajax({type: "post", url: allUsersSource, data: {'user_ids[]': user_ids}, async: false, success: function (networkData){
									if(networkData.success){
										for(i=0; i<networkData.rows.length; i++){
											networkRows.push(networkData.rows[i]);
										}
									}
								}
							});
							var arrLength = networkRows.length;
							//console.log("networkRows="+networkRows+" isArray(networkRows)="+Array.isArray(networkRows)+" "+arrLength);
							var getUserRows={userRows: networkRows, arrLength: arrLength};
						}else{
							var userRows = data.rows;
						}

						var tbodyID = "#users_"+commId;
						var username, userID;
						var elExists, addStyle, removeStyle;
						if(getUserRows === undefined){
							var records = userRows.length;
						}else{
							var records = getUserRows.arrLength;
							var userRows = getUserRows.userRows;
						}
						//console.log(records);
						for(i = 0; i < records; i++){
							username = userRows[i][0];
                            id = userRows[i][1];
                            netIcon = userRows[i][2];
                            commIcon = userRows[i][3];
							//console.log(username+" "+id);
							userID = username.replace(/ /g, "_")+','+id;
							elExists = !!document.getElementById('ul'+id);
							if(elExists === true){
								//console.log("elExists === false=" + (elExists === false));
								addStyle = 'display:none;';
								removeStyle = 'display: inline-block;';
							}
							if(elExists === false){
								//console.log("elExists === true=" + (elExists === true));
								addStyle = 'display: inline-block;';
								removeStyle = 'display:none;'
							}
							var netIconTag, commIconTag;
							if(netIcon!=''){netIconTag = "<a><img class='pep_type_icon' src='" + netIcon + "' alt='In My Network' title='In My Network'></a>"}else{netIconTag = "<div style='display:inline-block;margin-right:15px;'></div>";}
							if(commIcon!=''){commIconTag = "<a><img class='pep_type_icon' src='" + commIcon + "' alt='In My Community' title='In My Community'></a>"}else{commIconTag = "";}
							$("body #pep_user_list").find(tbodyID).append("<tr><td class='"+ userID +"'><div class='pep_offline_icon' style='display:inline-block;'><img src='/static/images/Pepptalk/PeppIcon.png' alt='offline'/></div><div class='pep_online_icon' style='display:none;'><img src='/static/images/Pepptalk/PeppIconPlus.png' alt='online'/></div><div class='pep_add_im' style='" + addStyle + "'>+</div><div class='pep_remove_im' style='" + removeStyle + "'>&boxh;</div><div id='"+id+"' class='pep_contact_name'>" + username + "</div><div class='pep_start_video' style='display: inline-block;'><a><img src='/static/images/Pepptalk/PeppCam.png' alt='im-video'></a></div></td><tr>");//<div class='pep_contact_info' style='display: inline-block;'><span class='pep_contact_type'>"+netIconTag+commIconTag+"</span></div></td><tr>");
						}
						if(commId == 'network' || commId == 'allptusers'){$("body").find(tbodyID).css("display","block");}
						//console.log("tbodyID="+tbodyID);

						$(".pep_contact_name").tooltip({
							items: ".pep_contact_name",
							track: true,
							open: function (event, ui) {
								ui.tooltip.css({"position": "absolute", "z-index": "21", "bottom": "50px", "text-align": "center", "width":"100px", "height": "90px", "border": "1px solid black", "-webkit-box-shadow": "0px 0px 7px 3px rgba(0,0,0,0.75)", "-moz-box-shadow": "0px 0px 7px 3px rgba(0,0,0,0.75)", "box-shadow": "0px 0px 7px 3px rgba(0,0,0,0.75)", "border-radius": "0px", "padding": "2px", "margin": "0px", "opacity": "1", "color": "#000", "background": "#FFF", "font-size": ".8em"});
								$(".ui-helper-hidden-accessible").remove();
							},
							show: {
								effect: "slideDown",
								delay: 250
							},
							content: function(){
								var username = $(this).text();
								var IdTitle = $(this).attr("id");
								var nameLength = username.length; // + IdTitle.length;
								var nameTitle = (nameLength>10)?username.substr(0, 15).trim()+'...':username.trim(); //nameLength-((username.length - 9) + IdTitle.length)).trim()+'...':username.trim();
								return "<div>" + nameTitle + "</div><img class='pep_contact_photo' alt='" + nameTitle + "' src='/user_photo/" + IdTitle +"'>";
							},
							close: function (event, ui) {
								$(".ui-helper-hidden-accessible").remove();
							}
						});
					}
					else{
						$('#community_'+commId).remove();
					}
					$('#pep_user_list table[id^="community_"]:not(#community_network, #community_allptusers) tbody').css("display", "none");
					$('#pep_user_list table[id^="community_"]:not(#community_network, #community_allptusers)  th').css("cursor", "pointer");
					$('#pep_user_list table[id^="community_"]:not(#community_network, #community_allptusers):gt(0)').css({"border-top": "1px solid black", "margin-top": "5px", "width": "100%"});
				}
				});
			}

		});
        $("thead").on ("click", ".pep_start_video", function (e){
            community_id = $(this).parent().attr("id").replace("community_", '');
            $.post ("${reverse('get_community_session')}",{"community_id": community_id}, function (data) {
                var session = data.session;
                $.post ("${reverse('get_session_token')}", {"session": session}, function (data){
                    window.open ('/webchat/videopopup?session='+session+'&token='+data.token, 'popup', 'postwindow')
                });
            });
        });
        $(".pep_contact_block").on("mouseover", ".pep_contact_name", function(e){
        	if($(this).text().length>22){
        		$(this).css({"width": "190px", "max-width": "190px", "height": "30px", "font-size": ".8em", "white-space": "normal", "position": "relative", "left": "5px", "top": "7px", "right": "0px"});
        		//$(this).prev(".pep_contact_info").css("display", "none");
        	}
		});

        $(".pep_contact_block").on("mouseout", ".pep_contact_name", function(e){
        	if($(this).text().length>22){
        		$(this).css({"max-width": "190px", "height": "20px", "font-size": "1em", "white-space": "nowrap", "position": "relative", "left": "0px", "top": "10px"});
        		//$(this).prev(".pep_contact_info").css("display", "inline-block");
        	}
		});
		$(".pep_contact_block").on("click", ".pep_contact_name", function(e){
			//console.log("name clicked");
			var $link = $(e.target);
			e.preventDefault();
			id = $(this).attr("id");
            if(!$link.data('lockedAt') || +new Date() - $link.data('lockedAt') > 300) {
			    var uclass = $(this).closest('td').attr('class');
			    var uname = $(this).text();
				var IdTitle = $(this).attr("id"); //uname.substr(uname.indexOf(',')+1);
				//var nameLength = uname.length + IdTitle.length; //uname.indexOf(',')+uname.substr(uname.indexOf(',')+1).length;
				var nameTitle = (uname.length>15)?uname.substring(0, 15).trim()+'...':uname.trim(); //(uname.indexOf(',') - (nameLength - 15))).trim()+'...':uname.substring(0, uname.indexOf(',')).trim();
				//console.log("nameTitle "+nameTitle);
				if($(".pep_textchat_block").find(".pep_header_left[id='" + uclass + "']").length == 0){
					uclass=uclass.replace(",", "`");
					nameTitle = nameTitle.replace(/ /g, "_").replace(/__/g, "_");
					//console.log("name clicked="+uname);
					var elCount = $(".pep_text_container:has(.pep_text_panel)").length;
					if(elCount <= 19){
						var leftMin =  (elCount > 0)? $('.pep_text_container:has(.pep_text_panel):last').offset().left - 235: 0;
						if(leftMin < 0){
							$(".pep_text_container:has(.pep_text_panel)").each(function(i, el){
								if(i > 0){
									var pos = $(el).offset();
									var leftX = pos.left + (i * 2 * 235) / elCount;
									if(leftX + 235 <= window.innerWidth - 40){
										$(el).css({"right": "", "left": leftX + "px"});
									}
								}
							});
						}
						var leftX = (elCount > 0)?parseInt($(".pep_text_container:has(.pep_text_panel):last").css("left")) - 235: window.innerWidth - (235 + 40);
						//console.log("leftX="+leftX);
						//console.log("nameTitle="+nameTitle);
						$(".pep_text_container:last").css({"display": "block", "left": leftX + "px", "right":  "", "z-index":  elCount + 1}).load("/textchat/" + uclass + "`" + nameTitle + "`" + IdTitle + " .pep_text_panel");
						leftX-=235;
						$(".pep_textchat_block").append("<div class='pep_text_container' style='left: " + leftX + "px !important; z-index :0'></div>");
					}
				}
				getMessage(id);
			}
			$link.data('lockedAt', +new Date());
        });
		$(".pep_contact_block").on("click", ".pep_start_video", function(e){
			var $link = $(e.target);
			e.preventDefault();
            user_id = ${request.user.id};
            request_user_id = $(this).prevAll("div.pep_contact_name:first").attr("id");
            $.post ("${reverse('get_user_session')}",{"user_id": user_id}, function (data) {
                var session = data.session;
                $.post ("${reverse('get_session_token')}", {"session": session}, function (data){
                    window.open ('/webchat/videopopup?session='+session+'&token='+data.token, 'popup', 'postwindow')
                    link = "<a href = '#' onclick=\"window.open ('/webchat/videopopup?session="+session+"&token="+data.token+"', 'popup', 'postwindow')\">Video Chat</a>";
                    sendVideoRequest(request_user_id, link, 0);
                });
            });
		});

		$(".pep_contact_block .pep_add_im").each(function(){
			var $elem = $(this)

			if ($elem.data('click-init')) return true;

			$elem.data('click-init', true);

			$elem.on('click', function (e) {
				e.preventDefault();
				$(this).css("display", "none");
				$(this).siblings(".pep_remove_im").css("display", "inline-block");
				var uclass = $(this).closest("td").attr("class");
				var userName = $(this).siblings(".pep_contact_name").text();
				var idUser = $(this).siblings(".pep_contact_name").attr("id");//userName.replace(/ /g, "_");
				//console.log(userName);
				userNameShort = (userName.length>15)?userName.substr(0, 15).trim()+'...':userName.trim(); //, '+idUser:userName.trim()+', '+idUser;
				$("#pep_slider_list").append("<div id='ul" + idUser + "' style='padding-left:10px;'><div class='pep_remove_from_list'>x</div><div style='display:inline-block' title='" + userName + "'>"+userNameShort+"</div></div>");
				$("#pep_list_clear").css("display", "inline-block");
				var elems = document.getElementsByClassName(uclass);
				for(n = 0; n < elems.length; n++){
					addTag = elems[n].getElementsByClassName("pep_add_im");
					addTag[0].style.display="none";
					removeTag = elems[n].getElementsByClassName("pep_remove_im");
					removeTag[0].style.display="inline-block";
				}
        	});
		});
        /*$(".pep_contact_block").on("click", ".pep_add_im", function(e){
			e.preventDefault();
			$(this).css("display", "none");
			$(this).siblings(".pep_remove_im").css("display", "inline-block");
			var uclass = $(this).closest("td").attr("class");
			var userName = $(this).siblings(".pep_contact_name").text();
			var idUser = $(this).siblings(".pep_contact_name").attr("id");//userName.replace(/ /g, "_");
			//console.log(userName);
			userNameShort = (userName.length>15)?userName.substr(0, 15).trim()+'...':userName.trim(); //, '+idUser:userName.trim()+', '+idUser;
			$("#pep_slider_list").append("<div id='ul" + idUser + "' style='padding-left:10px;'><div class='pep_remove_from_list'>x</div><div style='display:inline-block' title='" + userName + "'>"+userNameShort+"</div></div>");
			$("#pep_list_clear").css("display", "block");
			var elems = document.getElementsByClassName(uclass);
			for(n = 0; n < elems.length; n++){
				addTag = elems[n].getElementsByClassName("pep_add_im");
				addTag[0].style.display="none";
				removeTag = elems[n].getElementsByClassName("pep_remove_im");
				removeTag[0].style.display="inline-block";
			}
		});*/

		$(".pep_contact_block .pep_remove_im").each(function(){
			var $elem = $(this)

			if ($elem.data('click-init')) return true;

			$elem.data('click-init', true);

			$elem.on('click', function (e) {
				e.preventDefault();
				$(this).css("display", "none");
				$(this).siblings(".pep_add_im").css("display", "inline-block");
				var idUser = $(this).siblings(".pep_contact_name").attr("id");//.text().replace(/ /g, "_");
				//console.log(idUser);

				var parent = document.getElementById("pep_slider_list");
				var child = document.getElementById("ul" + idUser);
				parent.removeChild(child);

				if($("#pep_slider_list").children().length==0){
					$("#pep_list_clear").css("display", "none");
				}

				var uclass = $(this).closest("td").attr("class");

				var elems = document.getElementsByClassName(uclass);
				for(n = 0; n < elems.length; n++){
					addTag = elems[n].getElementsByClassName("pep_add_im");
					addTag[0].style.display="inline-block";
					removeTag = elems[n].getElementsByClassName("pep_remove_im");
					removeTag[0].style.display="none";
				}
			});
		});
        /*$(".pep_contact_block").on("click", ".pep_remove_im", function(e){
			e.preventDefault();
			$(this).css("display", "none");
			$(this).siblings(".pep_add_im").css("display", "inline-block");
			var idUser = $(this).siblings(".pep_contact_name").attr("id");//.text().replace(/ /g, "_");
			//console.log(idUser);

			var parent = document.getElementById("pep_slider_list");
			var child = document.getElementById("ul" + idUser);
			parent.removeChild(child);

			if($("#pep_slider_list").children().length==0){
				$("#pep_list_clear").css("display", "none");
			}

			var uclass = $(this).closest("td").attr("class");

			var elems = document.getElementsByClassName(uclass);
			for(n = 0; n < elems.length; n++){
				addTag = elems[n].getElementsByClassName("pep_add_im");
				addTag[0].style.display="inline-block";
				removeTag = elems[n].getElementsByClassName("pep_remove_im");
				removeTag[0].style.display="none";
			}

		});*/

		$("#pep_slider_list").on("click", ".pep_remove_from_list", function(e){
			e.preventDefault();

			var idUser = $(this).parent().attr("id").substr(2);
			$(this).parent().remove();
			$("#pep_user_list div[id="+idUser+"]").closest("td").find(".pep_remove_im").css("display", "none");
			$("#pep_user_list div[id="+idUser+"]").closest("td").find(".pep_add_im").css("display", "inline-block");
			if($("#pep_slider_list").children().length==0){
				$("#pep_list_clear").css("display", "none");
				$(".pep_contact_block").find(".pep_remove_im").css("display", "none");
				$(".pep_contact_block").find(".pep_add_im").css("display", "inline-block");
			}
		});

        $("#pep_slider_icons").on("click", "#pep_start_group_video", function (e){
            e.preventDefault();
            user_id = ${request.user.id};
            request_user_id = $(this).prevAll("div.pep_contact_name:first").attr("id");
            $.post ("${reverse('get_user_session')}",{"user_id": user_id}, function (data) {
                var session = data.session;
                $.post ("${reverse('get_session_token')}", {"session": session}, function (data){
                    window.open ('/webchat/videopopup?session='+session+'&token='+data.token, 'popup', 'postwindow');
                    link = "<a href = '#' onclick=\"window.open ('/webchat/videopopup?session="+session+"&token="+data.token+"', 'popup', 'postwindow')\">Video Chat</a>";

                    $("#pep_slider_list").children().each(function() {
                        sendVideoRequest ($(this).attr("id").slice(2), link, 1);
                        console.log($(this).attr("id").slice(2));
                    });

                });
            });
        });


		$(".pep_add_im, .pep_remove_im").attr('unselectable','on').on('selectstart', function(){ return false; });

		$("#pep_list_clear").on("click", function(){
			$("#pep_slider_list").children().remove();
			$("#pep_list_clear").css("display", "none");
			$(".pep_contact_block").find(".pep_remove_im").css("display", "none");
			$(".pep_contact_block").find(".pep_add_im").css("display", "inline-block");
		});
	});

		$("table:not(#community_network, #community_allptusers) thead").on('click', 'th', function(){
			$(this).closest('table').find('tbody').toggle();
		});

    function getMessage (id) {
        $.post("${reverse('get_message')}", {
            message_people: id,
            skip: 0,
            limit: 10
        }, function(data) {
            $("#textchat_"+id).html("");
            $.each(data.results, function(k, v) {
                var image = "<table class='pepchat_row'><tr><td class='pepchat_img'><img src='/user_photo/"+ v.sender_id+"' style = 'width:16px; height:16px;'></img></td><td><span class='pepchat_body'>";
                date = new Date(v.date);
                console.log(date);
                if (date.getHours() > 11) end = "p"; else end = "a";
                time =date.toLocaleTimeString().slice(0, -6) + end + ", " +  date.toLocaleDateString().slice(0,-5) ;
                $("#textchat_"+id).prepend(image + v.body + "</span><br><span class='pepchat_time'>" + time + "<span></td></tr></table><hr class='pepchat_hr'>");
            });
            try {
                $("#textchat_"+id).scrollTop($('#textchat_'+id)[0].scrollHeight);
            } catch (err) {
                getMessage(id);
            }
            $(".pep_chat_input[data-to_id='"+id+"']").unbind();
            tieListener(id);
        });

    }

    function sendChatMessage (send_user, message) {
        console.log(send_user+message);
        var datainfo = {
            'info': JSON.stringify({
                'sender_id': '${user.id}',
                'recipient_id': send_user.toString(),
                'date': (new Date()).toISOString(),
                'body': message
            })
        };
        $.post("${reverse('save_message')}", datainfo, function(data){});
        var messageinfo = {
            'info': JSON.stringify({
                'user_id': send_user.toString(),
                'interviewer_id': '${request.user.id}',
                'interviewer_name': '${request.user.first_name}',
                'interviewer_fullname': "${request.user.first_name} ${request.user.last_name}",
                'type': 'message',
                'body': message,
                'date': (new Date()).toISOString(),
                'activate': 'false'
            })
        };
        $.post("${reverse('save_interactive_update')}", messageinfo, function() {});
        $.post("${reverse('send_webchat_alert')}", {'id': ${request.user.id}, 'to_id': send_user}, function (){});
        getMessage(send_user);
    }
    function tieListener(user_id) {
        $(".pep_chat_input[data-to_id='"+user_id+"']").keyup(function (e) {
            if (e.keyCode == 13) {
                sendChatMessage($(this).data("to_id"), $(this).val());
                $(this).val("");
            }
        });
    }

    function checkForAlert() {
        $.post("${reverse('check_webchat_alerts')}", {'id': ${request.user.id}}, function (data){
            if (data.alert=='true') {
                $(".pep_contact_name#"+data.alert_id).click();
            }
        });
    }

    // If group == 1, use group message. Otherwise its a 1 to 1.
    function sendVideoRequest(send_user, link, group) {
        message = "${request.user.username} wants to start a video chat! ";
        if (group == 1) {
            message = "${request.user.username} has started a group video chat!";
        }
        message += link;
        var datainfo = {
            'info': JSON.stringify({
            'sender_id': '${user.id}',
            'recipient_id': send_user,
            'date': (new Date()).toISOString(),
            'body': message
            })
        };
        $.post("${reverse('save_message')}", datainfo, function(data){console.log(data)});
        var messageinfo = {
            'info': JSON.stringify({
                'user_id': send_user,
                'interviewer_id': '${request.user.id}',
                'interviewer_name': '${request.user.first_name}',
                'interviewer_fullname': "${request.user.first_name} ${request.user.last_name}",
                'type': 'message',
                'body': message,
                'date': (new Date()).toISOString(),
                'activate': 'false'
            })
        };
        $.post("${reverse('save_interactive_update')}", messageinfo, function() {});
        $.post("${reverse('send_webchat_alert')}", {'id': ${request.user.id}, 'to_id': send_user}, function (){});
    }
</script>