<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://static.opentok.com/v2/js/opentok.min.js">
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/blphhegepcfiogjiegkgpeiefdieabil">
<link rel="stylesheet" type="text/css" href="/static/css/webchat.css">

     <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
        <div id="buttons">
            <img src = "/static/images/screenshare.png" class="screenshare" alt="Screen Share" />
        </div>
    </div>

<script>
    // Comment out for full screen init
//window.resizeTo(528,396);
function getParams () {
    var result = {};
    var tmp = [];

    location.search
        .substr (1)
        .split ("&")
        .forEach (function (item)
        {
            tmp = item.split ("=");
            result [tmp[0]] = decodeURIComponent (tmp[1]);
        });

    return result;
}

var token = '';
try {
    location.getParams = getParams;
    token = location.search.substr(1).split('&')[1].replace("token=",'');
    sessionId = location.getParams()['session']
} catch (err) {
    console.log ("No Session/Token Passed.");
    token = 'default';
}

if (token === 'default') {
    sessionId='2_MX40NTkzOTg2Mn5-MTUwNjAyMTc3ODE5OH4xcHBCZkNSWW5jb01iS2ZPbm1sOUkzL01-fg';
    token = 'T1==cGFydG5lcl9pZD00NTkzOTg2MiZzaWc9N2IxYmZkODU4N2E0Y2EyMDU3ZWMzMjlhNWZhMWRlZWRmYWUyOGI3MDpzZXNzaW9uX2lkPTJfTVg0ME5Ua3pPVGcyTW41LU1UVXdOakF5TVRjM09ERTVPSDR4Y0hCQ1prTlNXVzVqYjAxaVMyWlBibTFzT1VrekwwMS1mZyZjcmVhdGVfdGltZT0xNTA2MDIxODI2Jm5vbmNlPTAuNDUyMTI1NTQwNDExMTcwOCZyb2xlPXB1Ymxpc2hlciZleHBpcmVfdGltZT0xNTA4NjEzODIzJmluaXRpYWxfbGF5b3V0X2NsYXNzX2xpc3Q9';
}

console.log (sessionId);
console.log (token);

var apiKey = "45939862";

var screensharing = false;

$(document).ready(function(){
    console.log ("starting...");
    initializeSession();
});
var connections = 0;

function handleError(error) {
  if (error) {
    alert(error.message);
  }
}

function disconnectSession () {
    var session = OT.initSession(apiKey, sessionId);
    session.disconnect();
}

var main_subscriber;
var screenSharingPublisher;
var videoPublisher;
var subscribedStream;
var resetScreenVideo;
var subscribers = [];

function initializeSession() {
    var session = OT.initSession(apiKey, sessionId);

    session.on('streamCreated', function(event) {
        console.log("Subscriber created");
        if (connections < 1) {
            var subscriber = session.subscribe(event.stream, 'subscriber', {
                insertMode: 'append',
                width: '100%',
                height: '100%',
                style: { nameDisplayMode: "on" }
            }, handleError);
            main_subscriber = subscriber;
        } else {
            if (event.stream.videoType === 'screen') {
                console.log ("Doing replacements...");
                var being_replaced = main_subscriber;
                session.subscribe(being_replaced.stream, 'publisher', {
                   insertMode: 'append',
                    width: '100%',
                    height: '100%',
                    style: { nameDisplayMode: "on" }
                });
                main_subscriber.destroy();
                resetScreenVideo = being_replaced;

                session.subscribe(event.stream, 'subscriber', {
                    insertMode: 'replace',
                    width: '100%',
                    height: '100%',
                    style: { nameDisplayMode: "on" }
                });
            } else {
                var subscriber = session.subscribe(event.stream, 'publisher', {
                    insertMode: 'append',
                    width: '100%',
                    height: '100%',
                    style: { nameDisplayMode: "on" }
                }, handleError);
                subscribers.push(subscriber);
            }

        }
        connections ++;
        SpeakerDetection(subscriber, function() {
            console.log('started talking');
        }, function() {
            console.log('stopped talking');
        });
    });
    session.on("streamDestroyed", function (event){
        if (event.stream.videoType === 'screen') {
            main_subscriber = resetScreenVideo;
            resetScreenVideo.destroy();
            session.subscribe(main_subscriber.stream, 'subscriber', {
                insertMode: 'replace',
                width: '100%',
                height: '100%',
                style: { nameDisplayMode: "on" }
            });
        }
    });

    videoPublisher = OT.initPublisher('publisher', {
        insertMode: 'append',
        width: '100%',
        height: '100%',
        style: { nameDisplayMode: "auto" }
    }, handleError);

    session.connect(token, function(error) {
        if (error) {
          handleError(error);
        } else {
          console.log("Publishing...");
          session.publish(videoPublisher, function(){});
        }
    });
}
$(document).ready(function() {
    $(".screenshare").click(function() {
        if (!screensharing) {
            if (!chrome.app.isInstalled) {
                chrome.webstore.install();
            }
            screenshare();
        }
    });
});

function screenshare() {
    OT.registerScreenSharingExtension('chrome','blphhegepcfiogjiegkgpeiefdieabil', 2);
    OT.checkScreenSharingCapability(function(response) {
        console.log (response.supported);
        if (response.supported) {
            var session = OT.initSession(apiKey, sessionId);
            screenSharingPublisher = OT.initPublisher('publisher', {videoSource: 'screen', insertMode:'append',width:'100%',height:'100%'});
            session.publish(screenSharingPublisher, function(error) {
                if (error) {
                    alert('Could not share the screen: ' + error.message);
                }
                console.log("Publishing Screen");
            });
            screensharing = true;
            $(".screenshare").click(function() {
                if (screensharing) {
                    session.unpublish(screenSharingPublisher);
                    screensharing = false;
                }
            })
        }
        else {

        }
    });
}

var SpeakerDetection = function(subscriber, startTalking, stopTalking) {
  var activity = null;
  subscriber.on('audioLevelUpdated', function(event) {
    var now = Date.now();
    if (event.audioLevel > 0.2) {
      if (!activity) {
        activity = {timestamp: now, talking: false};
      } else if (activity.talking) {
        activity.timestamp = now;
      } else if (now- activity.timestamp > 1000) {
        // detected audio activity for more than 1s
        // for the first time.
        activity.talking = true;
        if (typeof(startTalking) === 'function') {
          startTalking();
        }
      }
    } else if (activity && now - activity.timestamp > 3000) {
      // detected low audio activity for more than 3s
      if (activity.talking) {
        if (typeof(stopTalking) === 'function') {
          stopTalking();
        }
      }
      activity = null;
    }
  });
};
</script>

<div id="pep_video_container"></div>

