<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/webchat.css">

<div id="pep_text_container">
    <!--<div id="pep_text_panel" class="container">-->
        <!--<div id="pep_textchatheader_container">-->
            <!--<div id="pep_textchatheader_title">-->
                <!--<span id="uname">User Name</span>-->
            <!--</div>-->
            <!--<div id="pep_header_right">-->
                <!--<a href="#">+</a>-->
                <!--<a href="#">-->
                    <!--<img src="https://image.flaticon.com/icons/svg/345/345686.svg" alt="im-video"-->
                         <!--style="width:15px;height:15px;border:0">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div id="pep_text_chat"></div>-->
        <!--<div id="pep_textchatfooter_container" class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div id="pep_chat_input" class="col-sm-8"></div>-->
                <!--<div id="pep_chat_icons" class="col-sm-3">-->
                    <!--<a href="#"><img-->
                            <!--src="https://lh3.googleusercontent.com/en66hh5SgQ_y4mo7jolnASBgPO8_-eFD2taceqeO2lf7uhs0Pr6LHe7zvt7M8_rObDU"-->
                            <!--alt="im-text"></a>-->
                    <!--<a href="#"><img src="https://image.flaticon.com/icons/svg/149/149284.svg" alt="im-video"></a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>