<link rel="stylesheet" type="text/css" href="/static/css/webchat.css">

<div class="pep_textchat_block">
    <div class="pep_text_container"></div>
</div>
<script type="text/javascript">
$(document).ready(function(){

    $(".pep_textchat_block").on("click", ".hide-chat", function(){
        $(this).parents(".pep_text_container").find(".pep_text_chat").css("display","none");
        $(this).parents(".pep_text_container").find(".pep_textchatfooter_container").css("display","none");
        $(this).parents(".pep_text_container").find(".pep_text_panel").css("bottom","-220px");
        $(this).siblings(".open-chat").css("display","inline-block");
        $(this).css("display", "none");
    });

    $(".pep_textchat_block").on("click", ".open-chat", function(){
        $(this).parents(".pep_text_container").find(".pep_text_chat").css("display","inline-block");
        $(this).parents(".pep_text_container").find(".pep_textchatfooter_container").css("display","block");
        $(this).parents(".pep_text_container").find(".pep_text_panel").css("bottom","-10px");
        $(this).siblings(".hide-chat").css("display","inline-block");
        $(this).css("display", "none");
    });

    $(".pep_textchat_block").on("click", ".close-chat", function(){
        var textcont = $(this).parents(".pep_text_container");
        var ind = textcont.index();
        var elCount = $(".pep_text_container:has(.pep_text_panel)").length - 1;
        ind = elCount - ind;
        $($(".pep_text_container:has(.pep_text_panel)").get().reverse()).each(function(i, el){
            if(i < ind){
                var posPrev = $(el).prev().offset();
                var leftX = posPrev.left;
                $(el).css({"right": "", "left": leftX + "px"});
            }
        });
        var getId = $(this).parents(".pep_textchatheader_container").find(".pep_header_left").attr("id");
        var chatHeads = localStorage.getItem('chatHeads');
        console.log(chatHeads);
        var headData;
        for (var arrInd in chatHeads){
            headData = chatHeads[arrInd].substring(chatHeads[arrInd].indexOf("`")+1, chatHeads[arrInd].indexOf("|")).replace("`", ",");
            headData = headData.substring(headData.indexOf("`")+1);
            if(headData == getId){
                chatHeads.splice(headData.indexOf(chatHeads), 1)
            }
        }
        $(this).parents(".pep_text_container").remove();
    });


    $("#pep_textchat_block").on("change", "#pep_file_input", function(){
        console.log("pep_file_input");
        $(this).parents("#pep_attachment_form").find("#input_label").css("display", "none");
        $(this).parents("#pep_attachment_form").find("#submit_label").css("display", "inline-block");
    });
     $("#pep_textchat_block").on("click", "#pep_send_image", function(){
        console.log("send_image");
        $(this).parents("#pep_attachment_form").find("#submit_label").css("display", "none");
        $(this).parents("#pep_attachment_form").find("#input_label").css("display", "inline-block");
    });

});
</script>