<%!
from django.core.urlresolvers import reverse
%>

<link rel="stylesheet" type="text/css" href="/static/css/webchat-bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/webslider.css">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id="pep_container">

    <div id="pep_title_tab">
        <div id="pep_title_text">PepTalk</div>
    </div>
    <div id="pep_panel" class="container">
        <div id="pep_search_container" class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search-term" id="pep_search">
            <div class="input-group-btn">
                <button id="pep_search_btn" class="btn btn-default" type="submit">
                    <div id="pep_glass" style="position:relative;top: -5px;font-size: 1.5em;">⌕</div>
                </button>
            </div>
        </div>
        <div id="pep_groups" class="btn-group">
            <a type="button" class="btn btn-xs" id="my_all">All</a>
            <a type="button" class="btn btn-xs" id="my_network">My Network</a>
            <a type="button" class="btn btn-xs" id="my_communities">My Communities</a>
        </div>
        <div id="pep_user_list">
            <div class="pep_contact_block">
                <div class="pep_add_im">+</div>
                <div class="pep_remove_im" style="display:none;">&boxh;</div>
                <div class="pep_contact_info">
                    <span class="pep_contact_type"><a><img class="pep_type_icon" src="https://image.flaticon.com/icons/svg/125/125702.svg" alt="im-network"></a></span>
                    <span class="pep_online_status">&#11044;</span>
                </div>
                <div class="pep_contact_name">Mike</div>
                <div class="pep_start_video">
                    <a><img src="https://image.flaticon.com/icons/svg/345/345686.svg" alt="im-video"></a>
                </div>
            </div>
            <div class="pep_contact_block">
                <div class="pep_add_im">+</div>
                <div class="pep_remove_im" style="display:none;">&boxh;</div>
                <div class="pep_contact_info">
                    <span class="pep_contact_type"><a><img class="pep_type_icon" src="https://image.flaticon.com/icons/svg/33/33965.svg" alt="im-community"></a></span>
                </div>
                <div class="pep_contact_name">Second User</div>
                <div>
                </div>
            </div>
            <div class="pep_contact_block">
                <div class="pep_add_im">+</div>
                <div class="pep_remove_im" style="display:none;">&boxh;</div>
                <div class="pep_contact_info">
                    <span class="pep_online_status">&#11044;</span>
                </div>
                <div class="pep_contact_name">Third User</div>
                <div class="pep_start_video">
                    <a><img src="https://image.flaticon.com/icons/svg/345/345686.svg" alt="im-video"></a>
                </div>
            </div>
        </div>
        <div id="pep_slider_list"></div>
        <div id="pep_slider_icons">
            <a href="#">
                <img src="https://lh3.googleusercontent.com/en66hh5SgQ_y4mo7jolnASBgPO8_-eFD2taceqeO2lf7uhs0Pr6LHe7zvt7M8_rObDU"
                     alt="im-text">
            </a>
            <a href="#">
                <img src="https://image.flaticon.com/icons/svg/345/345686.svg" alt="im-video">
            </a>
        </div>
        <div id="pep_list_clear" style="display: none;">
            <button type="button" class="btn btn-danger btn-xs">Clear</button>
        </div>
    </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
    var slPos='out';
    $("#pep_title_tab").click(function(){
        if(slPos=='in'){
            $("#pep_container").animate({right:'-256px'});
            $("#pep_title_tab").animate({right:'0px'});
            slPos='out';
        }else{
            $("#pep_container").animate({right:'40px'});
            $("#pep_title_tab").animate({right:'291px'});
            slPos='in';
        }
    });

    $('body').click(function(e){
        var el=e.target;
        if(el.id!='pep_title_tab' && el.className!='pep_remove_from_list' && $(el).closest('#pep_container').length==0 && $(el).closest('#pep_title_tab').length==0){
            var pos = $('#pep_container').offset();
            var leftX = pos.left;
            if((window.innerWidth - leftX) == 308){
                $("#pep_container").animate({right:'-256px'});
				$("#pep_title_tab").animate({right:'0px'});
                slPos='out';
            }
        }
    });

    $("#pep_user_list").load("/getcommunities/");

    $("#my_all").on("click", function(e){
        $('#pep_search').val('');
        $("#pep_user_list").load("/getusersorg/");
    });

    $("#my_network").on("click", function(e){
        $('#pep_search').val('');
        $("#pep_user_list").load("/getnetwork/");
    });

    $("#my_communities").on("click", function(e){
        $('#pep_search').val('');
        $("#pep_user_list").load("/getcommunities/");
    });

    setTimeout(function(){ $("#my_communities").trigger("click") }, 1000);

    $(".pep_contact_block").on("click", ".pep_start_video", function(){
        var uname = $(this).prev().text().replace(" ", "_");
        $("#pep_video_container").load("/videochat/"+uname+" #pep_video_panel");
        window.open("/webchat/videopopup",'mypopup', 'postwindow');
    });

    $("#pep_search").on('keyup', function(){
        var searchterm = $('#pep_search').val();
        if(searchterm!==''){
            var commId="search";
            $.ajax({type: "get", url: "${reverse('people')}", data: {searching: 1, community_id: commId}, async: false, success: function (data) {
                if (data.success) {
                    var networkRows = [];
                    var user_ids = [];
                    for(i=0; i<data.users.length; i++){
                        user_ids.push(data.users[i].user_id);
                    }
                    //console.log(user_ids);
                    var prevLen;
                    var page = 2;
                    do{
                        $.ajax({type: "get", url: "${reverse('people')}", data: {searching: 1, community_id: commId, page: page}, async: false, success: function (data) {
                            prevLen=user_ids.length;
                            if (data.success) {
                                for(i=0; i<data.users.length; i++){
                                    user_ids.push(data.users[i].user_id);
                                }
                                page += 1;
                            }
                            //console.log(page+" "+user_ids);
                        }
                        });
                    }while(prevLen < user_ids.length);
                    $.ajax({type: "post", url: "${reverse('get_all_ptusers')}", data: {'user_ids[]': user_ids, searchterm: searchterm}, async: true, success: function (networkData){
                            $(".org-list-table:gt(0)").remove();
                            $(".org-list-table:eq(0)").css("display","block").attr("id", "user_search").empty().append("<thead><tr><th>User Search</th></tr></thead><tbody></tbody>");

                            if(networkData.success){
                                for(i=0; i<networkData.rows.length; i++){
                                    networkRows.push(networkData.rows[i]);
                                }

                                var arrLength = networkRows.length;
                                var getUserRows={userRows: networkRows, arrLength: arrLength};

                                var username, userID, records;
                                var elExists, addStyle, removeStyle;

                                records = getUserRows.arrLength;
                                var userRows = getUserRows.userRows;

                                //console.log(records);
                                for(i = 0; i < records; i++){
                                    username = userRows[i][0];
                                    id = userRows[i][1];
                                    netIcon = userRows[i][2];
                                    commIcon = userRows[i][3];
                                    //console.log(username+" "+id);
                                    userID = username.replace(/ /g, "_")+','+id;
                                    elExists = !!document.getElementById(userID);
                                    if(elExists === true){
                                        //console.log("elExists === false=" + (elExists === false));
                                        addStyle = 'display:none;';
                                        removeStyle = 'display: inline-block;';
                                    }
                                    if(elExists === false){
                                        //console.log("elExists === true=" + (elExists === true));
                                        addStyle = 'display: inline-block;';
                                        removeStyle = 'display:none;';
                                    }
                                    var netIconTag, commIconTag;
                                    if(netIcon!==''){netIconTag = "<a><img class='pep_type_icon' src='" + netIcon + "' alt='In My Network' title='In My Network'></a>"}else{netIconTag = "<div style='display:inline-block;margin-right:15px;'></div>";}
                                    if(commIcon!==''){commIconTag = "<a><img class='pep_type_icon' src='" + commIcon + "' alt='In My Community' title='In My Community'></a>"}else{commIconTag = "";}
                                    $("body").find("#user_search").append("<tr><td class='"+ userID +"'><div class='pep_add_im' style='" + addStyle + "'>+</div><div class='pep_remove_im' style=' + removeStyle + '>&boxh;</div><div class='pep_contact_info' style='display: inline-block;'><span class='pep_contact_type'>"+netIconTag+commIconTag+"</span></div><div id='"+id+"' class='pep_contact_name'>" + username + "</div><div class='pep_start_video' style='display: inline-block;'><a><img src='https://image.flaticon.com/icons/svg/345/345686.svg' alt='im-video'></a></div></td><tr>");
                                }

                                $(".pep_contact_name").tooltip({
                                    items: ".pep_contact_name",
                                    track: true,
                                    open: function (event, ui) {
                                        ui.tooltip.css({"position": "absolute", "z-index": "21", "bottom": "50px", "text-align": "center", "width":"100px", "height": "90px", "border": "1px solid black", "-webkit-box-shadow": "0px 0px 7px 3px rgba(0,0,0,0.75)", "-moz-box-shadow": "0px 0px 7px 3px rgba(0,0,0,0.75)", "box-shadow": "0px 0px 7px 3px rgba(0,0,0,0.75)", "border-radius": "0px", "padding": "2px", "margin": "0px", "opacity": "1", "color": "#000", "background": "#FFF", "font-size": ".8em"});
                                    },
                                    show: {
                                        effect: "slideDown",
                                        delay: 250
                                    },
                                    content: function(){
                                        var username = $(this).text();
                                        var IdTitle = $(this).attr("id");
                                        var nameLength = username.length + IdTitle.length;
                                        var nameTitle = (nameLength>10)?username.substr(0, nameLength-((username.length - 9) + IdTitle.length)).trim()+'...':username.trim();
                                        return "<div>" + nameTitle + ", " + IdTitle +"</div><img class='pep_contact_photo' alt='" + nameTitle + ", " + IdTitle + "' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3dKD55CRCD2yeFXsKQUMu3uT315H3DxZnIKf9lw5OGqhy2WuF'>";
                                    }
                                });
                            }else{
                                $("body").find("#user_search").append("<tr><td><div id='"+id+"' class='pep_contact_name'>No user found.</div></td><tr>");
                            }
                        }
                    });
                }
            }
            });
        }
    });
});
</script>