<%!
from django.core.urlresolvers import reverse
%>

<link rel="stylesheet" type="text/css" href="/static/css/webchat-bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/webslider.css">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id="pep_container">

    <div id="pep_title_tab">
        <div id="pep_logo_div"><img id="pep-tab-logo" src="/static/images/Pepptalk/PeppLogo.png" alt="PeppTalk Logo"></div>
            <div id="pep_title_text">PeppTalk</div>
    </div>
    <div id="pep_panel" class="container">
        <div id="pep_search_container">
	        <input type="text" class="form-control" placeholder="Search" name="search-term" id="pep_search">
            <div id="pep_search_glass">
            	<img src="/static/images/Pepptalk/PeppSearch.png" alt="glass">
        	</div>
        </div>
        <div id="pep_groups" class="btn-group">
            <a type="button" class="btn btn-xs" id="my_all">All</a>
            <a type="button" class="btn btn-xs" id="my_network">My Network</a>
            <a type="button" class="btn btn-xs" id="my_communities">My Communities</a>
        </div>
        <div id="pep_my_community" style="display: none;"></div>
        <div id="pep_my_network" style="display: none;"></div>
        <div id="pep_all_ptusers" style="display: none;"></div>
        <div id="pep_user_list"></div>
        <div id="pep_list_clear" style="display: none;">
            <button type="button" class="btn btn-danger btn-xs">Clear</button>
        </div>
        <div id="pep_slider_icons">
            <a href="#">
                <img src="/static/images/Pepptalk/PeppGroupText.png" alt="im-text">
            </a>
            <a href="#">
                <img src="/static/images/Pepptalk/PeppGroupCam.png" alt="im-video">
            </a>
        </div>
        <div id="pep_slider_list"></div>
    </div>

</div>
