<%!
   from django.core.urlresolvers import reverse
%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="pep_text_panel"><!--container-->
    <div class="pep_textchatheader_container">
        <div class="pep_textchatheader_title">
            <span class="pep_header_left" id="${user_class}">${user_name}</span>
        </div>
        <div class="pep_header_right">
            <!--a href="#" class="pep_add_users" style="color: rgb(245, 130, 31);font-size: 2em;position: relative;">+</a-->
            <div style="display: inline-block;">
                <a href="#" class="pep_chat_video" id="${user_id}">
                    <img src="/static/images/Pepptalk/PeppSingleCam.png" alt="im-video" style="width:15px;height:15px;border:0;position: relative;bottom: 5px;">
                </a>
            </div>
            <!--div class="hide-chat"><img src="/static/images/Pepptalk/minimizeChat.png" alt="Minimize"></div>
            <div class="open-chat"> <img src="/static/images/Pepptalk/maximizeChat.png" alt="Maximize"></div-->
            <div class="close-chat"> <img src="/static/images/Pepptalk/closeChat.png" alt="Close"></div>
        </div>
    </div>
    <div class="pep_text_chat" id="textchat_${user_id}"></div>
    <div class="pep_textchatfooter_container container-fluid">
        <div class="row">
            <input type="text" class="pep_chat_input col-sm-8" data-to_id="${user_id}" data-from_id="${request.user.id}"></input>
            <div class="pep_chat_icons col-sm-3">
                <a href="#"><img src="/static/images/Pepptalk/PeppText.png" alt="im-text" class="pep_send_message" id="pep_message_${user_id}" data-user_id="${user_id}"></a>
                <div class="pep-image-upload" style="display: inline-block;">
                    <form action="" method="post" enctype="multipart/form-data" class="pep_attachment_form" id="pep_attachment_form_${user_id}">
                        <label class="pep_attach_label" id="input_label" for="pep_file_input_${user_id}" style="display: inline-block;cursor: pointer !important;">
                            <img src="/static/images/Pepptalk/PeppAttachment.png" alt="im-video">
                        </label>
                        <input class="pep_file_input" id="pep_file_input_${user_id}" data-user_id="${user_id}" type="file" name='attachment' style="display: none;"/>
                        <input type="hidden" value="${user_id}" name="user_id">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                        <label class="pep_attach_label" id="submit_label" for="pep_file_submit_${user_id}" style="display: none;cursor: pointer !important;">
                            <img class="pep_send_image" id="pep_send_image_${user_id}" data-user_id="${user_id}" src="/static/images/Pepptalk/PeppAttachmentSend.png" alt="im-video">
                        </label>
                        <input class="pep_file_submit" id="pep_file_submit_${user_id}" type="submit" name="submit" style="display: none;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(".pep_header_right").on("click", ".pep_chat_video", function(e){
        var $link = $(e.target);
        e.preventDefault();
        user_id = ${request.user.id};
        request_user_id = $(this).attr("id");
        $.post ("${reverse('get_user_session')}",{"user_id": user_id}, function (data) {
            var session = data.session;
            $.post ("${reverse('get_session_token')}", {"session": session}, function (data){
                window.open ('/webchat/videopopup?session='+session+'&token='+data.token, 'popup', 'postwindow')
                link = "<a href = '#' onclick=\"window.open ('/webchat/videopopup?session="+session+"&token="+data.token+"', 'popup', 'postwindow')\">Video Chat</a>";
                sendVideoRequest(request_user_id, link);
            });
        });
        return false;
    });

   /*$("#pep_attachment_form").on("change", "#pep_file_input", function(){
        console.log("pep_file_input_"+${user_id});
        if($(this).data("user_id")==${user_id}){
            $("#input_label_"+${user_id}).css("display", "none");
            $("#submit_label_"+${user_id}).css("display", "inline-block");
        }
    });
     $("#pep_attachment_form").on("click", "#pep_send_image", function(){
        console.log("send_image_"+${user_id});
        if($(this).data("user_id")==${user_id}){
            $("#submit_label_"+${user_id}).css("display", "none");
            $("#input_label_"+${user_id}).css("display", "inline-block");
        }
    });*/
</script>