<%!
   from django.core.urlresolvers import reverse
%>
<div class="pep_text_panel container">
    <div class="pep_textchatheader_container">
        <div class="pep_textchatheader_title">
            <span class="pep_header_left" id="${user_class}">${user_name}</span>
        </div>
        <div class="pep_header_right">
            <a href="#">+</a>
            <a href="#" class="pep_start_video" id="${user_id}">
                <img src="https://image.flaticon.com/icons/svg/345/345686.svg" alt="im-video"
                     style="width:15px;height:15px;border:0">
            </a>
            <span class="close-chat"> &#10005;</span>
        </div>
    </div>
    <div class="pep_text_chat" id="textchat_${user_id}"></div>
    <div class="pep_textchatfooter_container container-fluid">
        <div class="row">
            <input type="text" class="pep_chat_input col-sm-8" data-to_id="${user_id}" data-from_id="${request.user.id}"></input>
            <div class="pep_chat_icons col-sm-3">
                <a href="#"><img
                        src="https://lh3.googleusercontent.com/en66hh5SgQ_y4mo7jolnASBgPO8_-eFD2taceqeO2lf7uhs0Pr6LHe7zvt7M8_rObDU"
                        alt="im-text"></a>
                <a href="#"><img src="https://image.flaticon.com/icons/svg/149/149284.svg" alt="im-video"></a>
            </div>
        </div>
    </div>
</div>
<script>
    $(".pep_header_right").on("click", ".pep_start_video", function(e){
        var $link = $(e.target);
        e.preventDefault();
        user_id = ${request.user.id};
        request_user_id = $(this).attr("id");
        $.post ("${reverse('get_user_session')}",{"user_id": user_id}, function (data) {
            var session = data.session;
            $.post ("${reverse('get_session_token')}", {"session": session}, function (data){
                window.open ('/webchat/videopopup?session='+session+'&token='+data.token, 'popup', 'postwindow')
                link = "<a href = '#' onclick=\"window.open ('/webchat/videopopup?session="+session+"&token="+data.token+"', 'popup', 'postwindow')\">Video Chat</a>";
                sendVideoRequest(request_user_id, link);
            });
        });
    });
</script>