<%!
   from django.core.urlresolvers import reverse
%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="pep_text_panel"><!--container-->
    <div class="pep_textchatheader_container">
        <div class="pep_textchatheader_title">
            <span class="pep_header_left" id="${user_class}">${user_name}</span>
        </div>
        <div class="pep_header_right">
            <!--a href="#" class="pep_add_users" style="color: rgb(245, 130, 31);font-size: 2em;position: relative;">+</a-->
            <a href="#" class="pep_start_video" id="${user_id}">
                <img src="/static/images/Pepptalk/PeppSingleCam.png" alt="im-video" style="width:15px;height:15px;border:0;position: relative;bottom: 5px;">
            </a>
            <div class="hide-chat" style="position: relative;bottom: 5px;cursor: pointer;display: inline-block;"> &#8211;</div>
            <div class="open-chat" style="position: relative;bottom: 5px;cursor: pointer;display: none;"> &#9633;</div>
            <div class="close-chat" style="position: relative;bottom: 5px;cursor: pointer;display: inline-block;"> &#10005;</div>
        </div>
    </div>
    <div class="pep_text_chat" id="textchat_${user_id}"></div>
    <div class="pep_textchatfooter_container container-fluid">
        <div class="row">
            <input type="text" class="pep_chat_input col-sm-8" data-to_id="${user_id}" data-from_id="${request.user.id}"></input>
            <div class="pep_chat_icons col-sm-3">
                <a href="#"><img src="/static/images/Pepptalk/PeppText.png" alt="im-text"></a>
                <div class="pep-image-upload" style="display: inline-block;">
                    <form action="${reverse('chat_attachment', args=[request.user.id, user_id])}" method="post" enctype="multipart/form-data" id="pep_attachment_form">
                        <label class="pep_attach_label" id="input_label" for="pep_file_input" style="display: inline-block;cursor: pointer !important;">
                            <img src="/static/images/Pepptalk/PeppAttachment.png" alt="im-video">
                        </label>
                        <input id="pep_file_input" data-user_id="${user_id}" type="file" name='attachment' style="display: none;"/>
                        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                        <label class="pep_attach_label" id="submit_label" for="pep_file_submit" style="display: none;cursor: pointer !important;">
                            <img id="pep_send_image" data-user_id="${user_id}" src="/static/images/Pepptalk/PeppAttachmentSend.png" alt="im-video">
                        </label>
                        <input  id="pep_file_submit" type="submit" name="submit" style="display: none;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $("#input_label_"+${user_id}).siblings("#pep_file_input").on("change", function(){
            console.log("showSubmit "+${user_id});
            $("#input_label_"+${user_id}).css("display", "none");
            $("#submit_label_"+${user_id}).css("display", "inline-block");
        });
        $("#submit_label_"+${user_id}).on("click", function(){
            console.log("hideSubmit "+${user_id});
            $("#submit_label_"+${user_id}).css("display", "none");
            $("#input_label_"+${user_id}).css("display", "inline-block");
        });
</script>