
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/webchat.css">
<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

<div id="webchat" class="modal">
     <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
</div>

<!--<script src = "/static/js/webchat.js"></script>-->

<div id="pep_video_container"></div>


<script type="text/javascript">
$(document).ready(function(){
    $('#pep_video_container').on('mousedown', '#pep_videochatheader_container', function (e) {
        e.preventDefault();
        $this = $(this);

        var pos = $('#pep_video_container').offset();
        var left = pos.left;
        var top = pos.top;
        //console.log(e.pageX + " " + e.pageY);
        distX = e.pageX - left;
        distY = e.pageY - top;

        $('#pep_video_container').on('mousemove', '#pep_videochatheader_container', function (e) {
            console.log(e.pageX + " " + e.pageY);

            left = e.pageX - (distX);
            top = e.pageY - (distY);

            left = (left < 0)? 0 : (left > window.innerWidth - 450)? window.innerWidth - 450 : left;
            top = (top < 73)? 73 : (top > window.innerHeight - 245)? window.innerHeight - 245 : top;
            $('#pep_video_container').css({
                'left': left + 'px',
                'top': top + 'px'
            });
        });

        $('#pep_video_container').on('mouseleave', '#pep_videochatheader_container', function (e) {

            $(document).on('mousemove', function (e) {
                $(document.body).css("cursor", "move");

                //console.log(e.pageX + " " + e.pageY);
                left = e.pageX - (distX);
                top = e.pageY - (distY);

                left = (left < 0)? 0 : (left > window.innerWidth - 450)? window.innerWidth - 450 : left;
                top = (top < 73)? 73 : (top > window.innerHeight - 245)? window.innerHeight - 245 : top;
                $('#pep_video_container').css({
                    'left': left + 'px',
                    'top': top + 'px'
                });
            });
            $(document).on('mouseup', function (e) {
                $(document.body).css("cursor", "default");
                $(document).off('mousemove');
                $('#pep_video_container').off('mousemove', '#pep_videochatheader_container');
                $('#pep_video_container').off('mouseleave', '#pep_videochatheader_container');
            });

        });

        $('#pep_video_container').on('mouseup', '#pep_videochatheader_container', function (e) {
            $(document.body).css("cursor", "default");
            $(document).off('mousemove');
            $('#pep_video_container').off('mousemove', '#pep_videochatheader_container');
            $('#pep_video_container').off('mouseleave', '#pep_videochatheader_container');
        });
    });

});
</script>