<%! from opentok import OpenTok
from opentok import MediaModes
api_key = "45939862"
api_secret = "d69400f3e386d0fc35ebd51cf0aaefd6aa973214"
opentok_sdk = OpenTok(api_key, api_secret)
session = opentok_sdk.create_session(media_mode=MediaModes.routed)
%>

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/webchat.css">
<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

<div id="webchat" class="modal">
     <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
</div>

<script src = "/static/js/webchat.js"></script>

<div id="pep_text_container">
    <div id="pep_video_panel" class="container">
        <div id="pep_videochatheader_container">
            <div id="pep_videochatheader_title">
                <span id="uname">Video Chat</span>
            </div>
            <div id="pep_header_right">
                <img id="pep_user_photo"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3dKD55CRCD2yeFXsKQUMu3uT315H3DxZnIKf9lw5OGqhy2WuF"
                     alt="photo"/>
                <span id="pep_uname">User Name</span>
            </div>
        </div>
        <div id="pep_chat_container" class="container-fluid">
            <div class="row">
                <div class="col-sm-6" id="pep_videotext_panel">
                    <div id="pep_text_chat"></div>
                    <div id="pep_videochatfooter_container" class="container-fluid">
                        <div class="row">
                            <div id="pep_chat_input" class="col-sm-8"></div>
                            <div id="pep_chat_icons" class="col-sm-3">
                                <a href="default.asp"><img
                                        src="https://lh3.googleusercontent.com/en66hh5SgQ_y4mo7jolnASBgPO8_-eFD2taceqeO2lf7uhs0Pr6LHe7zvt7M8_rObDU"
                                        alt="im-text"></a>
                                <a href="default.asp"><img src="https://image.flaticon.com/icons/svg/149/149284.svg" alt="im-video"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pep_video_chat" class="col-sm-6">
                    <a href="#webchat" rel="leanModal" id="start-session">VIDEO DEMO</a>
                </div>
            </div>
        </div>
    </div>
</div>