<div id="pep_video_panel" class="container">
    <div id="pep_videochatheader_container">
        <div id="pep_videochatheader_title">
            <span id="uname">Video Chat</span>
        </div>
        <div id="pep_header_right">
            <img id="pep_user_photo"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3dKD55CRCD2yeFXsKQUMu3uT315H3DxZnIKf9lw5OGqhy2WuF"
                 alt="photo"/>
            <span id="pep_uname">${first_name} ${last_name}</span>
        </div>
    </div>
    <div id="pep_chat_container" class="container-fluid">
        <div class="row">
            <div class="col-sm-6" id="pep_videotext_panel">
                <div id="pep_text_chat"></div>
                <div id="pep_videochatfooter_container" class="container-fluid">
                    <div class="row">
                        <div id="pep_chat_input" class="col-sm-8"></div>
                        <div id="pep_chat_icons" class="col-sm-3">
                            <a href="default.asp"><img
                                    src="https://lh3.googleusercontent.com/en66hh5SgQ_y4mo7jolnASBgPO8_-eFD2taceqeO2lf7uhs0Pr6LHe7zvt7M8_rObDU"
                                    alt="im-text"></a>
                            <a href="default.asp"><img src="https://image.flaticon.com/icons/svg/149/149284.svg" alt="im-video"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pep_video_chat" class="col-sm-6">
                <a href="#webchat" rel="leanModal" id="start-session">VIDEO DEMO</a>
            </div>
        </div>
    </div>
</div>
