<div class="pep_video_panel container">
    <div class="pep_videochatheader_container">
        <div class="pep_videochatheader_title">
            <span class="pep_header_left">Video Chat</span>
        </div>
        <div class="pep_header_right">
            <img class="pep_user_photo"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3dKD55CRCD2yeFXsKQUMu3uT315H3DxZnIKf9lw5OGqhy2WuF"
                 alt="photo"/>
            <span class="pep_uname">${first_name} ${last_name}</span>
            <span class="close-chat"> &#10005;</span>
        </div>
    </div>
    <div class="pep_chat_container container-fluid">
        <div class="row">
            <div class="pep_videotext_panel col-sm-6">
                <div class="pep_text_chat"></div>
                <div class="pep_videochatfooter_container container-fluid">
                    <div class="row">
                        <div class="pep_chat_input col-sm-8"></div>
                        <div class="pep_chat_icons col-sm-3">
                            <a href="default.asp"><img
                                    src="https://lh3.googleusercontent.com/en66hh5SgQ_y4mo7jolnASBgPO8_-eFD2taceqeO2lf7uhs0Pr6LHe7zvt7M8_rObDU"
                                    alt="im-text"></a>
                            <a href="default.asp"><img src="https://image.flaticon.com/icons/svg/149/149284.svg" alt="im-video"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pep_video_chat col-sm-6">
                <a href="#webchat" rel="leanModal" id="start-session">VIDEO DEMO</a>
            </div>
        </div>
    </div>
</div>
