<%! from django.utils.translation import ugettext as _ %>

<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from certificates.models import CertificateStatuses
  from xmodule.modulestore import MONGO_MODULESTORE_TYPE
  from xmodule.modulestore.django import modulestore
%>

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%block name="title"><title>${_("Global Resource Library")}</title></%block>
<style type="text/css" media="screen">
  #page-nav,#page-footer{
  width:960px;
  }
</style>
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/people.css"/>

<style type="text/css" media="screen">
  #btn-dashboard{display:none;}
  section.content-wrapper{background:transparent !important;}
</style>
<div>
  <div class="main" style="width:960px;">
	<div id="_container" class="" style="width:960px;">
	  <div class="pace">
		<div class="library_tit">Resource Library: </div>

		<span class="session">English Language Arts:</span>        
		<ul class="session_li">
		  <li><a href="/courses/ginger/cs3/2013_winter/9faf8b012a17400ea4cc6869a41a88b7/global" target="_black">ELA101x Balancing Informational & Literary Texts (K-5)</a></li>
		  <li><a href="/courses/WestEd/ELA102x/2013_Spring/2518b4b3b44d4f598bba4aed30cba33a/global" target="_black">ELA102x Building Academic Vocabulary (6-8)</a></li>
		  <li><a href="/courses/WestEd/ELA103x/2013_Spring/2518b4b3b44d4f598bba4aed30cba33a/global" target="_black">ELA103x Building Academic Vocabulary (9-12)</a></li>
		</ul>

        <span class="session">Mathematics:</span>
		<ul class="session_li">
		  <li><a href="/courses/WestEd/MA102x/2013_Spring/16926d517abf47ebb9de96f796683b8e/global" target="_black">MA101x Intro to CCSS for Mathematical Practice (K-5)</a></li>
		  <li><a href="/courses/WestEd/002/002/16926d517abf47ebb9de96f796683b8e/global" target="_black">MA102x Intro to CCSS for Mathematical Practice (6-8)</a></li>
          <li><a href="/courses/WestEd/MA103x/2013_Spring/16926d517abf47ebb9de96f796683b8e/global" target="_black">MA103x Intro to CCSS for Mathematical Practice (9-12)</a></li>
		</ul>

        <span class="session">Common Core Integrated Lessons, Units, and Maps:</span>
        <ul class="session_li">
          <li>
            <a target="_blank" href="http://cc.betterlesson.com/common_core?from=bl_landing">BetterLesson</a>
            <div style="line-height:150%;padding-right:70px;padding-bottom:1em;">
              BetterLesson offers over 3,000 high-quality, Common Core-aligned lessons from 130 Master Teachers from across the country.
              Lessons include videos, downloadable activities and resources for immediate use in your classroom.<br/>
            </div>
          </li>
          <li>
            <a target="_blank" href="http://collegeready.gatesfoundation.org/Learning/MathDesignCollaborative">Math Design Collaborative</a>
            <div style="line-height:150%;padding-right:70px;padding-bottom:1em;">
              MDC focuses on developing units that integrate concepts, skills, and formative assessment directly linked to the Common Core.
              When you go to this URL, scroll down a bit and click the "read more" link.
              You'll see course outlines for each grade and associated tasks. Each item is a downloadable PDF.<br/>
            </div>
          </li>          
          <li>
            <a target="_blank" href="http://map.mathshell.org.uk/materials/index.php">Mathematics Assessment Project</a>
            <div style="line-height:150%;padding-right:70px;padding-bottom:1em;">
              On this site, you'll find lessons, classroom challenges, and formative assessments. Also,
              a lot of Common Core-aligned tasks that include many samples of student work as well as scoring rubrics.<br/>
            </div>
          </li>
          <li>
            <a target="_blank" href="http://emergentmath.com/my-problem-based-curriculum-maps/">Emergent Math</a>
            <div style="line-height:150%;padding-right:70px;">
              This site features Common Core Problem-Based Curriculum Maps.
              The curriculum maps are based on the Common Core State Standards for Mathematics and the associated scope and sequences.
              The problems and tasks have been scoured from thoughtful math bloggers who have advanced the practice by posting their materials online.
            </div>
          </li>
		</ul>
        
	    <span class="session">Additional Resources for Teachers and Students:</span> 
	    <ul class="session_li">
          <li> <a target="_blank" href="http://k12builder.com/reference/index/ref-1-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">Mathematics Builder Resources </a> </li>
          <ul style="padding-top:0px;margin-top:0px">
            <li><a target="_blank" href="http://k12builder.com/word/index/ref-6-id-733-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">line symmetry</a></li>
            <li><a target="_blank" href="http://k12builder.com/word/index/ref-6-id-734-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">linear equation</a></li>
          </ul>
          <li> <a target="_blank" href="http://k12builder.com/reference/index/ref-2-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">Science Builder Resources </a> </li>
          <ul style="padding-top:0px;margin-top:0px">
            <li><a target="_blank" href="http://k12builder.com/word/index/ref-6-id-9445-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">heat transfer: conduction</a></li>
            <li><a target="_blank" href="http://k12builder.com/word/index/ref-6-id-2891-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">magnet</a></li>
            <li><a target="_blank" href="http://k12builder.com/word/index/ref-6-id-3092-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">water cycle</a></li>
          </ul>
          <li> <a target="_blank" href="http://k12builder.com/reference/grade/ref-6-gid-37-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">STEM Builder Resources </a> </li>
          <ul style="padding-top:0px;margin-top:0px">
            <li><a target="_blank" href="http://k12builder.com/word/index/ref-6-id-20111119-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">programming language</a></li>
          </ul>
          <li style="padding:0px 0">
            Technology Enhanced Item Samples (
            <a target="_blank" href="http://www.smarterbalanced.org">Smarter Balanced</a>,
            <a target="_blank" href="http://www.parcconline.org">PARCC</a>            
            )
          </li>
          <ul style="padding-top:0px;margin-top:0px">
            <li> <a target="_blank" href="/edu2000/english/modules/modeling/html5/mathematics_d/index.html">TEI for SBAC</a> </li>
            <li> <a target="_blank" href="http://www.parcconline.org/samples/item-task-prototypes">TEI for PARCC</a> </li>
          </ul>
		</ul>
        <!--
            <span class="session">Informational Library Administrators, Teachers, and Parents:</span> 
	        <ul class="session_li">
			  <li><a href="#">Information for Administrators</a></li>
			  <li><a href="#">Information for Teachers </a></li>
			  <li><a href="#"> Information for Parents</a></li>
		    </ul>
            -->
	</div></div>
  </div>
</div>
<br style="clear:both;"/>

