<%! from django.utils.translation import ugettext as _ %>

<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from certificates.models import CertificateStatuses
  from xmodule.modulestore import MONGO_MODULESTORE_TYPE
  from xmodule.modulestore.django import modulestore
%>

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%block name="title"><title>${_("Global Resource Library")}</title></%block>
<style type="text/css" media="screen">
  #page-nav,#page-footer{
  width:960px;
  }
</style>
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/people.css"/>

<style type="text/css" media="screen">
  #btn-dashboard{display:none;}
  section.content-wrapper{background:transparent !important;}
</style>
<div>
	<div class="main" style="width:960px;">
	  <div id="_container" class="" style="width:960px;">
	  <div class="pace">
		<div class="library_tit">Resource Library: </div>
    
  %for category_key in sorted(resources, key = lambda x: resources[x]['display_order'], reverse = False):
      <span class="session">${_(resources[category_key]['display'])}:</span>
      <ul class="session_li">
      %for subclass_key in sorted(resources[category_key]['items'], key=lambda x:resources[category_key]['items'][x]['display_order'], reverse=False):
    	    %if subclass_key != 'nosubclass':
            <p style="padding:10px 0"> ${_(resources[category_key]['items'][subclass_key]['display'])} 
              %if resources[category_key]['items'][subclass_key].get('sites', None):
                %for site in sorted(resources[category_key]['items'][subclass_key]['sites'], lambda x,y: cmp(x['display_order'],y['display_order']), reverse=False):
                (<a target="_blank" href="${_(site['link'])}">${_(site['display'])}</a>) 
                %endfor
              %endif
            </p>
          %endif
          %for resource in resources[category_key]['items'][subclass_key]['items']:
    		    <li><a href="${ resource['link'] }" target="_black">${ resource['display'] }</a></li>
          %endfor
      %endfor
      </ul>
  %endfor
    <!--
  	<span class="session">Additional Resources for Teachers and Students:</span> 
	    <ul class="session_li">
          <li> <a target="_blank" href="http://k12builder.com/reference/index/ref-1-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">Mathematics Builder Resources </a> </li>
          <li> <a target="_blank" href="http://k12builder.com/reference/index/ref-2-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">Science Builder Resources </a> </li>          
          <li> <a target="_blank" href="http://k12builder.com/reference/grade/ref-6-gid-37-mima-012f96911-yh-PepperPD-lj-1-DictionaryDemo-1">STEM Builder Resources </a> </li>
          <li style="padding:10px 0">
            Technology Enhanced Item Samples (
            <a target="_blank" href="http://sampleitems.smarterbalanced.org/itempreview/sbac/index.htm">Smarter Balanced</a>,
            <a target="_blank" href="http://www.parcconline.org/samples/math">PARCC</a>
            )
          </p>
          <li> <a target="_blank" href="/edu2000/english/modules/modeling/html5/mathematics_d/index.html">TEI for SBAC</a> </li>
          <li> <a target="_blank" href="">TEI for PARCC</a> </li>
		  </ul>
      -->
        <!--
				 <span class="session">Informational Library Administrators, Teachers, and Parents:</span> 
	   <ul class="session_li">
			<li><a href="#">Information for Administrators</a></li>
			<li><a href="#">Information for Teachers </a></li>
			<li><a href="#"> Information for Parents</a></li>
		  </ul>
       -->
		</div></div>
	</div>
</div>
<br style="clear:both;"/>
	
