<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%! from time import strftime %>
<%! from student.models import State,District,Transaction,Cohort,School,Registration,CourseEnrollment,CourseEnrollmentAllowed %>

<%namespace name='static' file='static_content.html'/>
<%inherit file="main.html" />

<%block name="title"><title>${_("Contact Us")}</title></%block>

<!--@begin:add css link-->
<!--@date:2013-11-02-->
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/ppd-general01.css"/>
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/contact.css"/>
<!--@end-->
<style type="text/css" media="screen">
  ul.left {
  list-style:none;
  }
  ul.left li{
  margin-top:30px;font-size:16px;
  }
  ul.left a{
  color:#666;
  }

  span.red{float:right;padding-right:10px;}

.connect_input_modal {
    height: 28px;
    width: 300px;
    border: 1px solid rgb(174, 174, 174);
    padding-left: 10px;
}
.connect_us_select_modal { 
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
    -moz-appearance: button;
    -moz-padding-end: 3px;
    -moz-padding-start: 3px;
    -moz-user-select: none;
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid rgb(174, 174, 174);
    margin: 0px;
    overflow: hidden;
    padding-bottom: 6px;
    padding-top: 6px; padding-right:5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 312px;
    height: 33px;
}

.connect_us_table_modal td { height:55px; }
.connect_us_table_modal { margin-top:20px;}
</style>
<div style="text-align:center;background:#f5f5f5">
  <!--@begin:use new image name(ppd-...); use (background:url..) replace <img src=...>-->
  <!--@date:2013-11-02-->
  <div style="margin:auto;width:960px;height:195px;background:url(static/images/ppd-register-banner.jpg);">
    <!--@end-->
    <!--@begin:use html text to replace the text on the picture-->
    <!--@date:2013-11-02-->
    <section class="_banner_aboutus_title_font">LET US HEAR FROM YOU</section>
    <!--@end-->
  </div>
  <div style="width:960px;margin:auto;background:#fff;">
    <div style="float:left;width:217px;height:1550px;background:#E6F4FB;text-align:left;">
      <ul class="left">
        <li><a href="/about_pepper">ABOUT PEPPER</a></li>
        <li><a href="/research_pedagogy">RESEARCH & PEDAGOGY</a></li>
        <li><a href="/our_team">OUR TEAM</a></li>
        <li><a href="/faq">FAQ</a></li>
		<li><a href="/contact" style="color:#3461ad;">CONTACT US</a></li>
        <!--@begin:add new url-->
        <!--@date:2013-11-02-->
        <li><a href="/press">PRESS</a></li>
        <!--@end-->
      </ul>
    </div>
    <div style="float:left;width:743px;height:1550px;text-align:left;">
      <div style="padding:20px;">
          <!--@begin:add new content of payment-->
          <!--@date:2016-05-18-->
          <h2 style="font-weight:300 !important;font-size:25px;color:#3461ad;text-align:left;margin-bottom:0;margin-top:0px;">JOIN THE PEPPER NETWORK TODAY!</h2>
          <hr />    
          <p class="_body_content_font">
              If you are interested in joining the Pepper Network today, please visit our online store to register.  Content collections include all courses and workshops from the following publishers:
          <br/>
          <ul class="_body_content_font">
              <li>WestEd</li>
              <li>Stanford University</li>
              <li>Accelerated Literacy Learning</li>
              <li>PCG Education</li>
          </ul>
          </p>
          <p class="_body_content_font">
              Professional Learning topics include Math, English Language Arts, English Language Learning, Special Education, Writing, Science, and a variety of other subjects from our nation’s most trusted, research-based organizations.
          </p>
          <p class="_body_content_font">
              Your subscription includes a full year of access to courses and workshops, including new weekly releases during that time.
          </p>
          <p class="_body_content_font" style="text-align:center;">
              <a href="#show_signup_payment" rel="leanModal" class="_blue" style="font-size:20px;">Click Here to Purchase a Subscription</a>
          </p>
          <p class="_body_content_font">
              For a complete listing of content collections, please visit our <a href="/courses" class="_blue">Professional Learning Catalog of Courses, Teacher Certifications, & Workshops</a> (some content listed here can be purchased separately).
          </p>
          <p class="_body_content_font">
              Sign-up or <a href="mailto:pepper@pcgus.com" class="_blue">contact us</a> today with more questions!
          </p>
          <!--@end-->
        <h2 style="font-weight:300 !important;font-size:25px;color:#3461ad;text-align:left;margin-bottom:0;margin-top:30px;">SCHEDULE A DEMO</h2>
        <hr />
        <!--@begin:add code(class="_...") to modify font style; add some new content and mail>
            <!--@date:2013-11-02-->
        <p class="_body_content_font">
          To receive more information about <a href="mailto:pepper@pcgus.com;Lhescock@pcgus.com;jmclaughlin@pcgus.com" class="_blue">signing up</a> teachers in your district or to schedule a demo, please contact us at <a href="mailto:pepper@pcgus.com;Lhescock@pcgus.com;jmclaughlin@pcgus.com" class="_blue">pepper@pcgus.com</a> or call us today at 775-313-3121. We look forward to speaking with you soon.
        </p>
        <h2 style="font-weight:300 !important;font-size:25px;color:#3461ad;text-align:left;margin-bottom:0;margin-top:30px;">WE WOULD LIKE TO HEAR FROM YOU</h2>
        <hr />
        <img src="static/images/google.png" style="float:right;" alt="" />
        <p class="_body_content_font">
          Already a Pepper member? If you have questions or suggestions about a specific course please post them in your course's discussion forum.
        </p>
        <p class="_body_content_font">
          Not a member yet and have a general question about Pepper? Please visit our FAQ's. Still need help or want to give us general feedback (which we want), contact us below.
        </p>
		<!--@end-->
        <div id="message" style="background:#f99;margin-top:15px;padding:10px;border:1px solid #f33;display:none;width:490px;"> </div>
        <form method="" id="form" action="">
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
        <!--@begin:add code(class="_...") to modify font style; write real form code replace the image; modify "option" content; add submit button-->
        <!--@date:2013-11-02-->
		<table class="connect_us_table _body_content_font" width="500" border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td width="120">Your Email: <span class="red">*</span></td>
			<td><input class="connect_input" name="email" size="60" chkType="Email" chkMsg="Email is invalid."></td>
		  </tr>
		  <tr>
			<td>Full Name:<span class="red"> *</span></td>
			<td><input class="connect_input" name="fullname" size="60" chkType="Require" chkMsg="Full Name is required."></td>
		  </tr>
		  <tr>
			<td>District/LEA: </td>
			<td><input class="connect_input" name="district_lea" size="60"></td>
		  </tr>          
		  <tr>
			<td>Phone: </td>
			<td><input class="connect_input" name="phone" size="60"></td>
		  </tr>
		  <tr>
			<td>Inquiry Type: <span class="red">*</span></td>
			<td>
			  <select id="edit-submitted-inquiry-type-student" name="inquiry_type" class="connect_us_select" chkType="Require" chkMsg="Inquiry Type is required.">
			  <option value="" selected="selected">- Select -</option>
				  <option>Account Question</option>
				  <option>Sales Question</option>
				  <option>Technical Support Question</option>
				  <option>Idea to Share</option>
				  <option>General / Other Question</option>
			  </select>
			</td>
		  </tr>
		  <tr>
			<td> Message: <span class="red"> *</span></td>
			<td><textarea name="message" style="width:361px; height:150px;" class="connect_us_textarea" chkType="Require" chkMsg="Message is required."></textarea></td>
		  </tr>
		  <tr>
			<td></td>
			<td style="padding:20px 20px 0 0;text-align:right;"><input type="Submit" name="submit" value="Submit" autocomplate="off"/></td>
		  </tr>
		</table>
    </form>
	    <!--@end-->
      </div>
    </div>
    <br style="clear:both"/>
  </div>
</div>
<!--@begin:add new content of payment-->
<!--@date:2016-05-19-->
<section id="show_signup_payment" class="modal" style="width:542px;">
    <div class="inner-wrapper" style="width:520px;height:520px;">
        <header>
          <h2>${_("Sign up for Pepper")}</h2>
          <hr/>
        </header>
        <div id="signup_pay_step1" style="display:auto;">
            <p style="font-weight:bold;padding-left:20px;">Step 1</p>
            <div id="message_modal" style="background:#f99;margin:auto;margin-top:15px;border:1px solid #f33;display:none;width:445px;padding:10px;color:#000;"> </div>
            <form method="" id="form_modal" action="">
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
           
                <table class="connect_us_table_modal _body_content_font" width="450" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="130">Full Name: <span class="red"> *</span></td>
                        <td><input class="connect_input_modal" name="fullname_modal" size="60" chkType="Require" chkMsg="Full Name is required."></td>
                    </tr>
                    <tr>
                        <td>Your Email: <span class="red">*</span></td>
                        <td><input class="connect_input_modal" name="email_modal" size="60" chkType="Email" chkMsg="Email is invalid."></td>
                    </tr>
                    <tr>
                        <td>Confirm Email: <span class="red">*</span></td>
                        <td><input class="connect_input_modal" name="confirmemail_modal" size="60" operator="" to="" chkType="Compare" chkMsg="The email addresses you have entered do not match."></td>
                    </tr>
                    <tr>
                        <td>State: </td>
                        <td>
                            <select id="edit-submitted-inquiry-type-student" name="state_modal" class="connect_us_select_modal">
                                <option value="" selected="selected">- Select -</option>
                                %for item in State.objects.all().order_by('name'):
                                    <option>${item.name}</option>
                                %endfor
                            </select>
                       </td>
                    </tr>
                    <tr>
                        <td>District: </td>
                        <td><input class="connect_input_modal" name="district_modal" size="60"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:right;height:30px;">
                            <span style="margin-right:60px;line-height:55px;"><span style="color:#f00;">*</span>&nbsp;&nbsp;Required Fields</span>
                            <input type="Submit" name="submit" value="Submit" autocomplate="off" style="margin-top:10px;margin-right:10px;"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="signup_pay_step2" style="display:none;">
            <p style="font-weight:bold;padding-left:20px;">Step 2</p>
            <div style="padding:20px 20px 20px 20px;">
                <p class="_body_content_font">Please click on the “Buy Now” button to pay for the Pepper subscription and start enjoying all of the Pepper benefits.</p>
            </div>
            <div style="text-align:center;padding-top:80px;">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="C8SXGQB8GKX8L">
                    <input id="pay_logo" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" width="220" height="60">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
        <div class="close-modal" id="change_name_close">
            <div class="inner">
                <p>&#10005;</p>
            </div>
        </div>
    </div>
</section>
<!--@end-->

<script type="text/javascript" src="/static/js/validator.js" charset="utf-8"></script>
<!--<script type="text/javascript" src="/static/js/easy.js" charset="utf-8"></script>-->
<script type="text/javascript">
var form=$("#form");
form.submit(function(){
  var self=this;
  var fv=new FormValidator();
  $("#message").show();
  if(!fv.check(this,0)){
    $("#message").html(fv.errorMessage[0]);
    return false;
  }
  this.submit.disabled=true;
  var flds=["email","fullname","district_lea","phone","inquiry_type","message","csrfmiddlewaretoken"];
  var data=easy.form.getFormData(this,flds);
  data['send_by_js']='true'
  if(!data['message']){
    alert("Can't send form, please contact us. ")
  }
  $("#message").html("Submiting..");
  $.post('${reverse("contact_us_submit")}',data,
  function(r) {
    if((typeof r) == 'string') r = $.parseJSON(r);
    self.reset();
    $("#message").show();
    if (r.success) {
       $("#message").css("background","#fc5")
       $("#message").css("border-color","#f70")
       easy.form.infoAndWait($("#message"),"Submit success",5,window.location.href)
    } else {
       $("#message").html(r.error);
    }
  });
  return false;
});
</script>
<!--@begin:add new content of payment-->
<!--@date:2016-05-19-->
<script type="text/javascript">
    var form = $("#form_modal");
    form.submit(function(){
        $("input[name='confirmemail_modal']").attr("to", $("input[name='email_modal']").val().trim());
    
        var self = this;
        var fv = new FormValidator();
        $("#message_modal").show();
        if(!fv.check(this,0)){
            $("#message_modal").html(fv.errorMessage[0]);
            return false;
        }
        this.submit.disabled = true;
        var flds = ["fullname_modal","email_modal","state_modal","district_modal","csrfmiddlewaretoken"];
        var data = easy.form.getFormData(this,flds);
        data['send_by_js'] = 'true'
        //if(!data['message']){
        //    alert("Can't send form, please contact us. ")
        //}
        $("#message_modal").html("Submiting..");
        $.post('${reverse("contact_us_modal_submit")}',data,
        function(r) {
            if((typeof r) == 'string') r = $.parseJSON(r);
            self.reset();
            $("#message_modal").show();
            if (r.success) {
                $("#message_modal").css("background","#fc5")
                $("#message_modal").css("border-color","#f70")
                easy.form.infoAndWait($("#message_modal"),"Submit success",5,"justhide")
            } 
            else {
                $("#message_modal").html(r.error);
            }
        });
        return false;
    });
</script>
<script type="text/javascript">
    var easy = {}
    easy.form = {}
    easy.form.getFormData = function(form,flds){
        var data = {}
        $.each(flds,function(i,n){
            data[n] = $(form[n]).val();
        })
       return data;
    }
    easy.form.infoAndWait = function(box,info,seconds,go){
        var w = seconds;
        $(box).show()
        function count(){
            $(box).html(info + ". <b>" + w + "</b>");
            setTimeout(function(){
                if(w < 1){
                    if(go == "justhide"){
                        $("#signup_pay_step1").hide(500,function(){
                            $("#signup_pay_step2").show(500);
                        });
                    }
                    else{
                        window.location.href = go;
                    }
                }
                else{
                    w--;
                    count()
                }
            },1000);                             
        }
        count();
    }
</script>
<!--@end-->