
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="stanford_theme_enabled"/>

<!--@begin:Show wireframes before implementing the functionalities of the page-->
<!--@date:2013-11-02-->
<style type="text/css" media="screen">
  #page-nav,#page-footer{width:960px;}
  
  a.btnx:hover {
  background:#638194;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s;
  transition-property:color, background,​ box-shadow;
  transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration:0.25s,​ 0.25s,​ 0.25s;
  color:#fff;
  }
  a.btnx {
  background-color:#556370;
  text-decoration: none;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  cursor: pointer;
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  color:#fff;
  transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
  a.btnx:normal {
  background-color:#126F9A;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  color:#fff;
  transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
  #blocks *{font-family:'Open Sans',​Arial;}
  #blocks p{margin-top:10px;}
/*@begin:tag 'p' sytle of short_description read from course_overview*/
/*@date:2013-12-09*/
  p{line-height:15px;}
/*@end*/
</style>

<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
 <%def name='format_grade(grade_id)'>
  % if grade_id=='0':
    K-5
  % elif grade_id=='1':
    6-8
  % else:
    9-12
  %endif
</%def>
<%page args="course" />
<style type="text/css" media="screen">
  *{font-family: 'Open Sans'}
  .course-card{
    background-color: #FFFFFF;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.1);
    float: left;
    width: 242px;
    min-height: 242px;
    margin: 20px;
    position: relative;
    cursor: auto!important;
  }
  .card-top{position: relative;}
  .image-style{
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    display: block;
  }
  .card-link{
    display: table-cell;
    width: 242px;
    height: 60px;
    vertical-align: middle;
    padding: 0 17px;
    font-size: 22px;
    color: #FFFFFF;
    background: rgba(18,111,154,0.95);
    text-decoration: none!important;
  }
  .course-title {
    display: table;
    height: 60px;
    position: absolute;
    bottom: 0;
    font-size:14px;
  }
</style>
<script>
  $(function()
  {
    $(".card-link").hover(
      function () {
        $(this).find("span").html("<span style='margin-right:80px;'>Course Details</span><span>›</span>");
      },
      function () {
        $(this).find("span").html($(this).attr("title"));
      });
      $(".card-link").each(function(){
        if($(this).height()>60)
        {
          $(this).css("fontSize","12px");
        }
    });
  })
</script>

<div class="course-card" style="cursor:pointer;margin-left:45px;">
  <div class="card-top">
    <div><div class="field-items"><figure><img typeof="foaf:Image" class="image-style" src="${course_image_url(course)}" width="242" height="150" alt="${course.display_number_with_default | h} ${get_course_about_section(course, 'title')} Cover Image"></figure></div></div>
    <div class="course-title"><div class="field-content"><a href="${reverse('cabout', args=[course.id])}" class="card-link" title="${get_course_about_section(course, 'title')}"><span>${get_course_about_section(course, 'title')}</span></a></div></div>  
  </div>
    <div class="card-bottom" style="text-align:left;padding:10px 0 0 10px;">
    <table><tr>
    <td height="45"><div class="field-content"><span class="course-org" style="font-size:14px;font-weight:bold;color:#146C99">${course.display_organization}</span> | <span class="course-number" style="font-size:14px;font-weight:bold;">${course.display_number_with_default | h}</span></div>
    <div class="course-grade" style="font-size:14px;font-weight:bold;margin-top:5px;">${format_grade(course.display_grades)}</div></td>
    <td style="text-align:center;">
      %if course.display_credit:
      <img src="static/images/credit.jpg" width="30" height="30" title="Qualifies for Credit"/>
      %endif
    </td>
    </tr>
    <tr>
    <td width="190">
      %if course.display_prerequisite:
        <span style="font-size:12px;">${_("Prerequisite Recommended")}</span>
      %endif
    </td>
    <td width="40" style="text-align:center;">
      %if course.is_newish:
        <span style="font-size:10px;background:#99cc33;color:#fff;padding:2px;width:27px;">NEW</span>
      %endif
      </td></tr></table>
</div>
</div>