<%! from django.utils.translation import ugettext as _ %>
<%!
    from django.core.urlresolvers import reverse
    from courseware.courses import course_image_url, get_course_about_section
    from courseware.access import has_access
    from certificates.models import CertificateStatuses
    from xmodule.modulestore import MONGO_MODULESTORE_TYPE
    from xmodule.modulestore.django import modulestore
    from django.utils import timezone
    from student.models import School,Cohort,District,SubjectArea,GradeLevel,YearsInEducation
    from baseinfo.models import Enum
    import datetime
%>
<!--@begin:Hide Dashboard button in this page-->
<!--@date:2013-11-02-->
<style type="text/css" media="screen">
#image_uploading{display:none;}
/*--from .css-----------------------------------------------------------------*/
#searching-text{
    border:0;
    height:25px;
    width: 255px;
    margin-left: 5px;
    outline: none;

    color:#818181;
    font-size: 15px;
    font-family: "Arial" !important;
    font-style:italic;
}

.ds-post-title{
    padding:5px 5px 5px 10px;
    border:0px solid #f00;
}
/*85px fixed*/
.ds-post-title-photo{
    width: 85px;
    position: relative;
    border:0px solid;
}
/*520px modified*/
.ds-post-title-text{
    padding:5px 5px 5px 5px;
    width: 520px;

    border:0px solid;
}
/*20px fixed*/
.ds-post-title-delete{
    text-align: center;
    width: 20px;
    border:0px solid;
}

.ds-post-title-name{
    color:#5c9cd5;
    font-size:14px;
    font-weight:bold;
}
.ds-post-title-from{
    color: #8d8d8d;
    font-size:14px;
}
.ds-post-title-position{
    color:#ff6600;
    font-size:14px;
    font-weight:bold;
}
.ds-post-title-time{
    color: #8d8d8d;
    font-size:13px;
    font-style: italic;
}
.ds-post-content{
    /*width:100%;*/
    color: #404040;
    font-weight: bold;
    padding:5px 5px 5px 5px;
    font-size: 15px;
    line-height: 22px;
    border:0px solid; 
}
.ds-post-footer{
    border-bottom: 0px solid #3891e0;
}

.ds-post-end_line{
    width: 100%;
    border-bottom: 2px solid #3891e0;
    margin-bottom: 15px;
}

/*--left My Courses--------------------------------------------*/
.con-my-courses{
    display:block;
    float:left;
    width:220px;
    /*position: fixed;

    height:780px;
    border:1px solid #f00;*/
}

.con-my-courses-placeholder{
    display:block;
    float:left;
    width:220px;
    height:50px;
}

.my-title{
    width:215px;
    text-align:center;
}
.my-title a{
    font-size:16px;
    color:#3C4646;
    text-decoration:none;
    cursor:pointer;
    font-weight:bold;
}
.my-courses-cards{
    margin-top: 10px;
    float: left;
    width: 220px;
}
.my-courses-cards .course-card{
    background-color: #FFFFFF;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    /*box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.1);*/
    float: left;
    width: 215px;
    height:134px;
    position: relative;
    cursor: auto!important;
    text-align: center;
}
.my-courses-cards .card-top{
    position: relative;
}
.my-courses-cards .image-style{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    display: block;
    width:215px;
    height:134px;

}
.my-courses-cards .course-title {
    display: table;
    position: absolute;
    bottom: 0;
}
.my-courses-cards .card-link{
    display: table-cell;
    width: 215px;
    height: 54px;
    vertical-align: middle;
    padding: 0 17px;
    background: rgba(18,111,154,0.95);
    text-decoration: none!important;
    border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
}
.my-courses-cards .card-link span{
    color:#fff;
    font-size: 13px;
}
.ds-course-btn{
    float:left;
    line-height:27px;
    height:28px;
    margin-top:3px;
    margin-bottom: 20px;
}
.ds-course-btn .ds-btn-view-portfolio{
    color: #fff;
    text-decoration: none!important;
    font-size:13px;

    padding:5px 13px 5px 13px;
    border-radius: 2px;
    background-color:#556370;
}
.ds-course-btn .ds-btn-view-course{
    color: #fff;
    text-decoration: none!important;
    font-size:13px;

    padding:5px 13px 5px 13px;
    border-radius: 2px;
    background-color:#4ecdc4;
    margin-left: 1px;
}
.ds-view-all-courses{
    width:215px;
    text-align:right;
    float: left;
    margin-top:-10px;
}
.ds-view-all-courses a{
    font-size: 16px;
    color: #0070d5;
    text-decoration: none !important;
    cursor: pointer;
}

.ds-my-status{
    width:185px;
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    /*border-radius: 6px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*padding: 15px 15px 15px 15px;*/
    float: left;
    /*border:1px solid #666;*/
}
/*--right My Communities---------------------------------------------*/
.con-my-communities{
    display:block;
    float:right;
    width:220px;
}

.my-district{
    display:block;
    float:right;
    width:220px;
}
.my-communities-cards{
    margin-top: 10px;
    /*float: left;*/
    width: 220px;
}
.my-communities-cards .image-link-style {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    display: block;
    /*float: left;*/
    width:215px;
    height:134px;
    background-size: auto 80px;
    background-color: white;
    background-position: 50% 0;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom:50px;
}
.my-communities-cards .image-bottom-style {
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    display: block;
}
.my-communities-cards .card-link {
    display: table-cell;
    width: 215px;
    height: 54px;
    vertical-align: middle;
    padding: 0 17px;
    background: rgba(18,111,154,0.95);
    text-decoration: none !important;
}
.my-communities-cards .card-link span {
    color: #FFFFFF;
    font-size: 13px;
}
.ds-view-all-communities{
    width:215px;
    text-align:right;
    
    /*margin-top:-40px;
    margin-bottom: 20px;*/
}
.ds-view-all-communities a{
    font-size: 16px;
    color: #0070d5;
    text-decoration: none !important;
    cursor: pointer;
}
/*--middle Main Content All-----------------------------------*/
.con-maincontent-all{
    width:680px;
    margin-left:27px;
    float:left;
    position: relative;
    margin-bottom:0px;
    background-color:#e4e4e4;
    border-top:3px solid #fff;
    border-left:3px solid #fff;
    border-right:3px solid #fff;
}
.con-feed-activity{
    width:680px;
    height:50px;
    float:left;
    background-color:#e4e4e4;
    border:0px solid #000;
}
.my-feed-btn{
    width:130px;
    height:30px;
    padding-top:15px;

    margin-left: 7px;
    margin-top:3px;
    float:left;
    text-align:center;
    font-weight:bold;
    color:#0b0bdd;
    cursor: pointer;
    font-size:18px;
}
.my-activity-btn{
    width:130px;
    height:30px;
    padding-top:15px;

    margin-top:3px;
    float:left;
    text-align:center;
    font-weight:bold;
    color:#0b0bdd;
    cursor: pointer;
    font-size:18px;
}
.mytab-active{
    background-color:#fff;
    border-left:2px solid #cbcbcb;
    border-top:2px solid #cbcbcb;
    border-right:2px solid #cbcbcb;
    border-radius:5px 5px 0px 0px; 
    cursor: auto !important;
}
.my-feed{
    width:674px;
    float:left;
    border-top:3px solid #d9d9d9;
    border-left:3px solid #d9d9d9;
    border-right:3px solid #d9d9d9;
    border-radius: 6px 6px 0px 0px; 
    display: none;

  min-height:727px;
  padding-bottom: 3px;
  
}
.my-activity{
    width:674px;
    overflow: hidden;
    float:left;
    border-top:3px solid #d9d9d9;
    border-left:3px solid #d9d9d9;
    border-right:3px solid #d9d9d9;
    border-radius: 6px 6px 0px 0px; 
    background-color: #fff;

    min-height:727px;
    padding-bottom: 3px;
}
/*----middle Main Content:My Activity----*/
.con-ma-filter{
    width:659px;
    height:30px;
    text-align: right;
    padding-top:8px;
    padding-right:15px;
    padding-bottom:3px;

    border:0px solid;
}
.con-ma-filter select{
    margin-right: 10px;
} 
.ma-btn-filter{
    padding:10px;background-color: #556370;
    padding-bottom: 2px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px !important;color:#fff;
    cursor: pointer;
}

.con-ma-rows{
    /*width: 692px;
    height:674px;
    float: left;*/
}
.my-activity-row{
    float: left;
    width:674px;
    min-height:72px;
    border:0px solid #f00;
    margin-bottom: 3px;
}
.ma-row-ico{
    width:112px;
    height:69px;
    margin-left:10px;
    float:left;
    text-align:right;
}
.ma-row-cotent{
    width:540px;
    min-height:69px;
    margin-left:5px;
    float:left;
    border-radius:5px;
    font-size: 14px;
    border:1px solid #ccc;
}
.ma-row-cotent-time{
    margin-top: 9px;
    padding: 5px;
    font-style: italic;
    border:0px solid;
}
.ma-row-cotent-info{
    padding: 5px;
    border:0px solid;
    margin-bottom: 9px;
}
.ma-row-cotent-info a{
    color: #000;
    cursor: pointer;
    text-decoration: none !important;
    /*
    font-weight: bold;
    font-style: italic;
    */
}
/*--my activity community ico--*/
.ma-community-ico{
    width: 110px;
    height: 69px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ma-community-image-link-style {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    float: left;
    width:110px;
    height:69px;
    background-size: auto 41px;
    background-color: white;
    background-position: 50% 0;
    background-repeat: no-repeat;
    text-align: center;
}
.ma-community-image-bottom-style {
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    display: block;
}
.ma-community-card-link {
    display: block;
    width: 100px;
    height: 18px;
    vertical-align: middle;
    background: rgba(18,111,154,0.95);
    text-decoration: none !important;
    color: #FFFFFF;
    font-size: 12px;
    padding: 5px;

    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

/*--my activity course ico--*/
.ma-course-course-card{
    background-color: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    width: 110px;
    height:69px;
    position: relative;
    cursor: auto!important;
    text-align: center;
    border: 1px solid #ccc;
}
.ma-course-card-top{
    position: relative;
}
.ma-course-image-style{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    width:110px;
    height:69px;
}
.ma-course-course-title {
    display: table;
    position: absolute;
    bottom: 0;
}
.ma-course-card-link{
    width: 100px;
    height: 18px;
    padding: 5px;
    background: rgba(18,111,154,0.95);
    text-decoration: none!important;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    color:#fff;
    font-size: 12px;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
</style>
<!--@end-->
<%inherit file="main_new.html" />
<%namespace name='static' file='static_content.html'/>
<%block name="title"><title>${_("Dashboard - {username}".format(username=curr_user.username))}</title></%block>

<!--@date:20161222-->
<script type="text/javascript" src="/static/js/admin_ui_controls.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dashboard-new-temp.css" />
<!--@end-->
<script src="/static/js/datetime/moment.js"></script>

<section class="content-wrapper1" style="margin-top:0px;background-color:#eee;">
    <section class="container dashboard">
        <!--width 220 + 40 + 660 + 40 + 220 = 1180-->
        <!--Courses Dashboard-->
        <div class="con-my-courses">
            <div class="my-title">
                <a href="/courses">My Course & Workshops</a>
            </div>
            <div class="my-courses-cards">
                %for i,course in enumerate(courses_incomplated):
                    %if i < 3:
                        <%
                            course_target = reverse('courseware', args=[course.id])
                        %>
                        <div class="course-card">
                            <div>
                                <img typeof="foaf:Image" class="image-style" src="${course_image_url(course)}" alt="${course.display_number_with_default | h} ${get_course_about_section(course, 'title')} Cover Image">
                            </div>
                            <div class="course-title">
                                <a href="${reverse('cabout', args=[course.id])}" class="card-link" title="${get_course_about_section(course, 'title')}"><span>${get_course_about_section(course, 'title')}</span></a>
                            </div>  
                        </div>
                        <div class="ds-course-btn">
                            %if course.id in show_courseware_links_for:
                                %if curr_user == request.user:              
                                    <a href="${reverse('portfolio_about_me',args=[course.id])}" class="ds-btn-view-portfolio">${_('View Portfolio')}</a>
                                %else:
                                    <a href="javascript:void(0)" class="ds-btn-view-portfolio" link="${reverse('portfolio_about_me',args=[course.id,curr_user.id])}">${_('View Portfolio')}</a>
                                %endif
                                %if curr_user == request.user and not course.close_course:      
                                    <a href="${course_target}" class="ds-btn-view-course">${_('View Course')}</a>
                                %endif
                            %endif
                        </div>
                    %endif
                %endfor
            </div>
            <div class="ds-view-all-courses">
                <a href="/my_courses">View All</a>
            </div>
        </div>
        <!--<div class="con-my-courses-placeholder"></div>-->

        <div class="con-maincontent-all clearfix">
            <div class="con-feed-activity">
                <div class="my-feed-btn mytab-active">My Feed</div>
                <div class="my-activity-btn" style="">My Activity</div>
            </div>
            <div id="my_feed" class="my-feed ">
                <!--Post Dashboard-->
                <!--w:660,min-h:800-->
                <%include file="dashboard_my_feed.html" />
            </div>
            <!--w:674 = 680-3*2-->
            <div id="my_activity" class="my-activity">
                <div class="con-ma-filter">
                    <select id = "ma_select_group" style="margin-right:30px;">
                        <option value = ''>Group</option>
                        <option value = 'Community'>Community</option>
                        <option value = 'Courses'>Courses</option>
                        <option value = 'Messages'>Messages</option>
                        <option value = 'MyChunks'>My Chunks</option>
                        <option value = 'PDPlanner'>PD Planner</option>
                        <option value = 'Reports'>Reports</option>
                    </select>
                    <select id = "ma_select_year">
                        <option value = ''>Year</option>
                        <option value = '2016'>2016</option>
                        <option value = '2017'>2017</option>
                    </select>
                    <select id = "ma_select_month">
                        <option value = ''>Month</option>
                        <option value = '1'>1</option>
                        <option value = '2'>2</option>
                        <option value = '3'>3</option>
                        <option value = '4'>4</option>
                        <option value = '5'>5</option>
                        <option value = '6'>6</option>
                        <option value = '7'>7</option>
                        <option value = '8'>8</option>
                        <option value = '9'>9</option>
                        <option value = '10'>10</option>
                        <option value = '11'>11</option>
                        <option value = '12'>12</option>
                    </select>
                    <span class="ma-btn-filter">Filter</span>
                </div>
                
                <div class="con-ma-rows">
                </div>
                <div class="info_div" style="width:670px;height:81px;font-size:15px;border:0px solid #f00;float:left;display:auto;">
                    <center><img id="posts_loading_image1" src="/static/images/posts-loading.gif"></img></center>
                </div>
   
            </div>
        </div>
        
        <!--Community Dashboard-->
        <div class="con-my-communities">
            <div class="my-title">
                <a href="/communities">Coaching & Collaboration</a>
            </div>
            <div class="my-communities-cards">
                <%
                    community_count = len(communities)
                %>
                %for community in communities:
                    %if community['order'] < 3:
                    <div class="image-link-style" style="background-image: url('${community['logo']}');">
                        <div style="height:80px;"></div>
                        <a href="${reverse('community_view', args=[community['id']])}" class="card-link image-bottom-style"><span>${community['name']}</span></a>
                    </div>
                    %endif
                %endfor
            </div>
            %if community_count == 0:
                <div class="ds-view-all-communities">   
            %else:
                <div class="ds-view-all-communities" style="margin-top:-40px;"> 
            %endif
                <a href="/communities">View All</a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </section>
</section>

<script>
var size = 0;

$(document).ready(function(){
    //@begin:Add for Dashboard Posts
    //@date:2016-12-29
    size = 5;

    //--Post function--------------------------------------------
    //--post button--

    waiting = false;

    //@end

    //20170221=================================================================================================
    $(window).on('unload', function() {
        $(window).scrollTop(0);
    });

    var now_show = 1; //1:my feed;2:my activity
    
    var data_all = 0;
    var html_loading = '<center><img id="posts_loading_image1" src="/static/images/posts-loading.gif"></img></center>';
    var html_end = '<div style="width:100%;text-align:center;padding-top:25px;font-size:18px;font-weight:bold;"></div>';
    var data_loading = 0;


    //variable for init
    var get_rows_init = 0;
    var skip_rows_init = 0;
    var get_rows_scroll = 0;
    var skip_rows_scroll = 0
    var data_count = 0;
    my_activitis_init();
    
    if(now_show == 1){
        $(".my-activity-btn").removeClass("mytab-active");
        $(".my-activity").hide();
        $(".my-feed-btn").addClass("mytab-active");
        $(".my-feed").show();   
    }
    else{
        $(".my-activity-btn").addClass("mytab-active");
        $(".my-activity").show();
        $(".my-feed-btn").removeClass("mytab-active");
        $(".my-feed").hide();   
    }

    $(".my-feed-btn").click(function(){
        if(now_show == 2){
            $(".my-activity").hide();
            $(".my-activity-btn").removeClass("mytab-active");
            $(".my-feed").show();
            $(".my-feed-btn").addClass("mytab-active");
            now_show = 1;
        }
    });
    $(".my-activity-btn").click(function(){
        if(now_show == 1){
            $(".my-feed").hide();
            $(".my-feed-btn").removeClass("mytab-active");
            $(".my-activity").show();
            $(".my-activity-btn").addClass("mytab-active");
            now_show = 2;
        }
    });
    get_my_activites(get_rows_init,skip_rows_init); //ma start

    //my activity----------------------------------------------------------------
    function my_activitis_init(){
        get_rows_init = 10;
        skip_rows_init = 0;
        get_rows_scroll = 3;
        skip_rows_scroll = get_rows_init
        data_count = 0;
        ////$(".info_div").html(html_loading);
        $(".info_div").hide();
        $(window).scrollTop(0);
    }

    function get_my_activites(get_rows,skip_rows){
        data_loading = 1;
        $(".info_div").show();
        filter_year = $("#ma_select_year").val();
        filter_month = $("#ma_select_month").val();
        filter_group = $("#ma_select_group").val();

        $.post("${reverse('get_my_activities')}", 
            {'user_id':'${request.user.id}',
             'filter_year':filter_year,
             'filter_month':filter_month,
             'filter_group':filter_group,
             'get_rows':get_rows,
             'skip_rows':skip_rows},
            function(data_obj){
                data_all = data_obj.data_count;
                my_activitis_create(data_obj);
                data_loading = 0;
                if(data_all != 0){
                    $(".info_div").hide();
                } 
        });
    }

    function my_activitis_create(data_obj){
        for(var i=0;i<data_obj.data.length;i++){
            data_count ++;
            my_activity_create(data_obj.data[i]);
        }
        //$(".info_div").html(html_end);
    }
    function my_activity_create(data){
        var displayDate = time_to_local(data.time);
        my_activity_create_ico(data);
        
        element_html = '<div class="my-activity-row">';
        element_html += '<div class="ma-row-ico">';
        element_html += data.html_ico;
        element_html += '</div>';
        element_html += '<div class="ma-row-cotent">';
        element_html += '<div class="ma-row-cotent-time">'+displayDate+'</div>';
        element_html += '<div class="ma-row-cotent-info">';
        element_html += data.DisplayInfo;
        element_html += '</div>';
        element_html += '</div>';

        element = $(element_html);
        $('.con-ma-rows').append(element);
    }
    function my_activity_create_ico(data){
        //switch_ActivityType
        switch(data.g_type)
        {
            case 'Community':
                data.html_ico = '<a href="'+data.URL+'">'
                data.html_ico += '<div class="ma-community-ico">';
                data.html_ico += '<div class="ma-community-image-link-style" style="background-image:url('+data.logoUrl+')">';
                data.html_ico += '<div style="height:41px;"></div>';
                data.html_ico += '<span class="ma-community-card-link ma-community-image-bottom-style">'+data.logoName+'</span>';
                data.html_ico += '</div>';
                data.html_ico += '</div>';
                data.html_ico += '</a>';
                break;
            case 'Courses':
                data.html_ico = '<a href="'+data.URL+'">';
                data.html_ico += '<div class="ma-course-course-card">';
                data.html_ico += '<div>';
                data.html_ico += '<img typeof="foaf:Image" class="ma-course-image-style" src="'+data.logoUrl+'" alt="Cover Image">';
                data.html_ico += '</div>';
                data.html_ico += '<div class="ma-course-course-title">';
                data.html_ico += '<div class="ma-course-card-link">'+data.logoName+'</div>';
                data.html_ico += '</div>';
                data.html_ico += '</div>';
                data.html_ico += '</a>';
                break;
            default:
                data.html_ico = '<table border="0" width="110" height="69" cellpadding="0" cellspacing="0">';
                data.html_ico += '<tr>';
                data.html_ico += '<td align="center"><a href="'+data.URL+'"><img src="'+data.logoUrl+'"></img></a></td>';
                data.html_ico += '</tr>';
                data.html_ico += '</table>';
        }
    }

    function time_to_local(time){
        var local_time =  new Date();
        var local_utc_diff_m = -1 * local_time.getTimezoneOffset();
        var local_utc_diff_h = local_utc_diff_m / 60;
        displayDate = ""

        if(isToday(time)) {
           displayDate = "Today at " + moment(time).add(local_utc_diff_h,'hours').format('hh:mm A') 
        }
        else{
            displayDate = moment(time).add(local_utc_diff_h,'hours').format('MMM DD, YYYY')
        }
        return displayDate;
    }

    function isToday(str){
        //var d = new Date(str.replace(/-/g,"/"));
        var d = new Date(str);
        var todaysDate = new Date();
        if(d.setHours(0,0,0,0) == todaysDate.setHours(0,0,0,0)){
            return true;
        } 
        else {
            return false;
        }
    }
    //my activity event--------------------------------------------------------------------
    $(".ma-btn-filter").click(function(){
        if(!data_loading){
            my_activitis_init();

            $(".con-ma-rows").find("div").remove();
            get_my_activites(get_rows_init,skip_rows_init);
        }
    });

    $(window).bind("scroll", function(){
        var scrollTop = $(this).scrollTop();
　　    var windowHeight = $(this).height();
        var scrollHeight = $(document).height();
        var scrollTop_ceil = Math.ceil(scrollTop);

        console.log("scrollTop:",scrollTop);
        console.log("windowHeight:",windowHeight);
        console.log("scrollHeight:",scrollHeight);
        console.log("scrollTop_ceil:",scrollTop_ceil);

        if(scrollTop_ceil + windowHeight >= scrollHeight)
        {
            if(skip_rows_scroll >= data_all){
                console.log("111");
                //$(".info_div").hide();
                ////$(".info_div").html(html_end);
            }else{
                console.log("now_show:",now_show);
                //$(".info_div").show();
                ////$(".info_div").html(html_loading);
                if(now_show ==2 ){
                    console.log("333");
                    get_my_activites(get_rows_scroll,skip_rows_scroll)
                    skip_rows_scroll += get_rows_scroll; 
                } 
            }
        }
    });
});
</script>

