<!DOCTYPE html>
<html>
    <head>
        <link href="/static/js/ckeditor/contents.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            @page {
                size: Letter landscape;
                margin: 1cm;
            }
            .frame{
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .outputError{
                font-size: 15px;
                color: #ff0000;
            }
        </style>
    </head>
    <body>
        %if outputError!='':
            <div class="outputError">Error:${outputError}</div>
        %elif content=='': 
            <div class="outputError">Warning:No associated certificate.</div>
        %endif
        <div class="frame">${content}</div>     
    </body>
</html>

