## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="absolute_url"/>

<%page args="alt_footer, is_external" />
<style>
.pepper-wrapper-footer footer .pepper-colophon .pepper-nav-colophon li a{
  font-weight:bold;
}
</style>
% if alt_footer:
    ${alt_footer}
% else:
    <div class="pepper-wrapper-footer">
      <footer>
        <div class="pepper-colophon">
          <nav class="pepper-nav-colophon">
            <ol>
              <li>
                <a id="pepper-press" href="${absolute_url('/helpandsupport')}"> ${_("Help & Support")} </a>
              </li>
              <li>
                <a id="pepper-faq" href="${absolute_url('/privacy')}"> ${_("Privacy Notice")} </a>
              </li>
              <li>
                <span class="pepper-copyright">© 2018 Public Consulting Group Inc</span>
              </li>
            </ol>
          </nav>
        </div>
        <img class="pepper-pcg-logo" src="${absolute_url('/static/images/pcgeducationdown.jpg')}"/>
        <div class="pepper-references">
        </div>
      </footer>
    </div>
% endif