## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="absolute_url"/>

<%page args="alt_footer, is_external" />

% if alt_footer:
    ${alt_footer}
% else:
    <div class="pepper-wrapper-footer">
      <footer>
        <div class="pepper-colophon">
          <nav class="pepper-nav-colophon">
            <ol>
              <li>
                <a id="pepper-press" href="${absolute_url('/press')}"> ${_("Press")} </a>
              </li>
              <li>
                <a id="pepper-faq" href="${absolute_url('/faq')}"> ${_("FAQ.")} </a>
              </li>
              <li>
                <a id="pepper-contact" href="${absolute_url('/contact')}"> ${_("Contact")} </a>
              </li>
              <li>
                <a href="https://twitter.com/Pepper_PD" target="_blank" class="pepper-footer-logo"><img src="${absolute_url('/static/images/twitter_bird_logo.png')}"/></a>
              </li>
              <li>
                <a href="https://www.facebook.com/PepperPD" target="_blank" class="pepper-footer-logo"><img src="${absolute_url('/static/images/facebook_logo.png')}"/></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/groups?mostRecent=&gid=6742057&trk=my_groups-tile-flipgrp" target="_blank" class="pepper-footer-logo"><img src="${absolute_url('/static/images/linkedin-logo.jpg')}"/></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCIgkrFJRifhIN5Thpw5MUFQ" target="_blank" class="pepper-footer-logo"><img src="${absolute_url('/static/images/new_youtube_logo.png')}"/></a>
              </li>
            </ol>
          </nav>
        </div>
        <img class="pepper-pcg-logo" src="${absolute_url('/static/images/pcgeducationdown.jpg')}"/>
        <div class="pepper-references">
        </div>
      </footer>
    </div>
% endif