<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%! from time import strftime %>

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%block name="title"><title>${_("Our Team")}</title></%block>

<!--@begin:add css link-->
<!--@date:2013-11-02-->
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/ppd-general01.css"/>
<!--@end-->
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/indexscroll.css"/>
<script type="text/javascript" src="/static/js/indexscroll.js"></script>

<style type="text/css" media="screen">
ul.left {
    list-style:none;
}
ul.left li{
    margin-top:30px;font-size:16px;
}
ul.left a{
    color:#666;
}
div.gray_box{
    border:3px solid #DDDDDD;
    width:250px;
    height:320px;
    float:left;
    padding:10px;
}
div.gray_box div{
    border-top:1px solid #ccc;
    margin-top:15px;
    padding-top:15px;
    font-size:14px !important;
}
.main_container{
    text-align:center;
    background:#f5f5f5
}
.banner_title{
    margin:auto;
    width:960px;
    height:195px;
    background:url(static/images/ppd-aboutus-banner.jpg);
}
.main_content{
    width:960px;
    margin:auto;
    background:#fff;
}
.main_title_div{
    width:750px;
    text-align:left;
    padding-top:20px;
    margin:auto;
    border:0px solid;
}
.main_title{
    font-size:32px;
    color:#0070c0;
    font-weight:bold;
}
.org_card_container{
    padding-top:10px;
    height:380px;
    width:860px;
    margin:auto;
    border:0px solid;
}
.content_scroll{
    width:960px;
    margin-bottom:25px;
}
.carousel-inner td{
  vertical-align: middle;
  text-align:center;
  width:250px;
  height:225px;
}
.carousel-inner div{
    margin:auto;
}
.content_scroll_title{
    text-align:center;
    padding:20px 0 5px 0;
    font-size:32px;
    color:#0070c0;
    font-weight:bold;
}
.jCarouselLite table{
    width:260px;
    height:226px;
    border:0px solid;
}
</style>
<script type="text/javascript">
$(function(){
    $(".carousel-inner a:first-child").addClass("active");
}); 
</script>
<div class="main_container">
    <div class="banner_title">
        <section class="_banner_aboutus_title_font">Our Team</section>
    </div>
    <div class="main_content">
        <div class="main_title_div">
            <h2 class="main_title">WHO WE ARE</h2>
            <hr />
        </div>
        <div class="org_card_container clearfix">
                <div class="gray_box _body_content_font" style="margin-right:15px;">
                    <a href="https://www.edx.org/about-us" target="_blank"><img src="static/images/logo_our_team/harvard_logo.jpg" width="250"/></a>
                    <div id="">
                        Pepper is delivered on the powerful edX learning platform,
                        the Cambridge-based education partnership founded by
                        Harvard University and M.I.T., to support two important
                        missions: improving online education, and advancing
                        teaching and learning through research.  
                    </div>
                </div>
                <div class="gray_box _body_content_font" style="margin-right:15px;">
                    <a href="http://www.publicconsultinggroup.com/education/" target="_blank"><img src="static/images/logo_our_team/pcg_logo.jpg" width="250"/></a>
                    <div id="">
                        PCG Education is a division of Public Consulting
                        Group, currently works with more than 4,400
                        school districts and has contracts with 14 state
                        education agencies to provide services and
                        software solutions that focus on student
                        achievement.  
                    </div>
                </div>
                <div class="gray_box _body_content_font">
                    <a href="http://www.education2000.com/" target="_blank"><img src="static/images/logo_our_team/education2000_logo.jpg" width="250"/></a>
                    <div id="">
                        Edu2000 develops interactive content for state
                        departments of education, school districts, and
                        educational publishers. Edu2000 is particularly strong in
                        the delivery of online mathematics and science curriculum
                        that includes interactive animations, simulations, and visual
                        experiments that teach concepts to all learners.  
                    </div>
                </div>
        </div>

        <div class="content_scroll">
                <div class="content_scroll_title">
                    Best Content.  Trusted Partners.
                </div>
                <!--Scrolling Start-->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="height:100%;">
                        <a href="javascript:void(0)" class="item" style="cursor:default;">
                            <table border="0" style="margin:auto;">
                                <tr>
                                    <td><a href="/static/resource/Pepper_Professional_Learning_Fall2016.pdf" target="_blank"><div style="width:156px;height:206px;background-image:url(/static/images/index_Pepper_PDF.png);"></div></a></td>
                                    <td><a href="http://www.wested.org" target="_blank"><div style="width:250px;height:165px;background-image:url(/static/images/ourteam_WestEd.png)"></div></a></td>
                                    <td><a href="http://ell.stanford.edu" target="_blank"><div style="width:250px;height:114px;background-image:url(/static/images/ourteam_Standford.png)"></div></a></td>
                                </tr>
                            </table>
                        </a>
                        <a href="javascript:void(0)" class="item" style="cursor:default;">
                            <table border="0" style="margin:auto;">
                                <tr>
                                    <td><a href="https://www.commonsensemedia.org" target="_blank"><div style="width:210px;height:110px;background-image:url(/static/images/index_CommonSense.png)"></div></a></td>
                                    <td><a href="http://www.getfueled.com" target="_blank"><div style="width:250px;height:96px;background-image:url(/static/images/ourteam_Fuel.png)"></div></a></td>
                                    <td><a href="http://www.publicconsultinggroup.com/education2" target="_blank"><div style="width:250px;height:83px;background-image:url(/static/images/ourteam_PCG.png)"></div></a></td>
                                </tr>
                            </table>
                        </a>
                        <a href="javascript:void(0)" class="item" style="cursor:default;">
                            <table border="0" style="margin:auto;">
                                <tr>
                                    <td><a href="http://www.acceleratedliteracylearning.com" target="_blank"><div style="width:230px;height:115px;background-image:url(/static/images/index_ALL.png)"></div></a></td>
                                    <td><a href="http://www.chadd.org" target="_blank"><div style="width:229px;height:121px;background-image:url(/static/images/index_CHADD.png)"></div></a></td>
                                    <td><a href="http://www.seadae.org" target="_blank"><div style="width:112px;height:134px;background-image:url(/static/images/index_SEADAE.png)"></div></a></td>
                                </tr>
                            </table>
                        </a>
                    </div>
            
                    <!-- Controls -->
                    <div class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon-chevron-left" aria-hidden="true" style="background-image:url(/static/images/index_jtl.png);"></span>
                    </div>
                    <div class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon-chevron-right" aria-hidden="true" style="background-image:url(/static/images/index_jtr.png);"></span>
                    </div>
                </div>
                <!--Scrolling End-->
        </div>
    </div>
</div>