<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%! from time import strftime %>

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%block name="title"><title>${_("Our Team")}</title></%block>

<!--@begin:add css link-->
<!--@date:2013-11-02-->
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/ppd-general01.css"/>
<!--@end-->

<style type="text/css" media="screen">
  #page-nav,#page-footer{
  width:960px;
  }
  ul.left {
  list-style:none;
  }
  ul.left li{
  margin-top:30px;font-size:16px;
  }
  ul.left a{
  color:#666;
  }
  div.gray_box{
  border:3px solid #DDDDDD;width:39%;height:320px;float:left;margin-left:20px;padding:20px;
  }
  div.gray_box div{
  border-top:1px solid #ccc;
  margin-top:15px;
  padding-top:15px;
  font-size:14px !important;
  }
</style>
<div style="text-align:center;background:#f5f5f5">
  <!--@begin:use new image name(ppd-...); use (background:url..) replace <img src=...>-->
  <!--@date:2013-11-02-->
  <div style="margin:auto;width:960px;height:195px;background:url(static/images/ppd-aboutus-banner.jpg);">
    <!--@end-->
	<!--@begin:use html text to replace the text on the picture-->
    <!--@date:2013-11-02-->
    <section class="_banner_aboutus_title_font">OUR TEAM</section>
    <!--@end-->
  </div>
  <div style="width:960px;margin:auto;background:#fff;">
    <div style="float:left;width:217px;height:900px;background:#E6F4FB;text-align:left;">
      <ul class="left">
        <li><a href="/about_pepper">ABOUT PEPPER</a></li>
        <li><a href="/research_pedagogy">RESEARCH & PEDAGOGY</a></li>
        <li><a href="/our_team" style="color:#3461ad;">OUR TEAM</a></li>
        <li><a href="/faq">FAQ</a></li>
		<li><a href="/contact">CONTACT US</a></li>
        <!--@begin:add new url-->
        <!--@date:2013-11-02-->
        <li><a href="/press">PRESS</a></li>
        <!--@end-->
      </ul>
    </div>
    <div style="float:left;width:743px;height:680px;text-align:left;">
      <div style="padding:20px;">
        <h2 style="font-weight:300 !important;font-size:25px;color:#3461ad;text-align:left;">WHO WE ARE</h2>
        <hr />
        <p style="text-align:24px;width:100%;">
          <div class="clearfix" style="padding-top:10px;">
            <div class="gray_box _body_content_font">
              <a href="http://www.wested.org/" target="_blank">
                <img src="static/images/logo_our_team/wested_logo.jpg" /></a>
              <div id="">
                WestEd, a national nonpartisan, nonprofit research,
                development, and service agency, works with
                education and other communities to promote
                excellence, achieve equity, and improve learning for
                children, youth, and adults.                
              </div>
            </div>
            <div class="gray_box _body_content_font">
              <a href="https://www.edx.org/about-us" target="_blank">
                <img src="static/images/logo_our_team/harvard_logo.jpg" /></a>
              <div id="">
                Pepper is delivered on the powerful edX learning platform,
                the Cambridge-based education partnership founded by
                Harvard University and M.I.T., to support two important
                missions: improving online education, and advancing
                teaching and learning through research.  
              </div>
            </div>
          </div>
          <div class="clearfix" style="padding-top:20px;">
            <div class="gray_box _body_content_font">
              <a href="http://www.publicconsultinggroup.com/education/" target="_blank">
                <img src="static/images/logo_our_team/pcg_logo.jpg" /></a>
              <div id="">
                PCG Education is a division of Public Consulting
                Group, currently works with more than 4,400
                school districts and has contracts with 14 state
                education agencies to provide services and
                software solutions that focus on student
                achievement.  
              </div>
            </div>
            <div class="gray_box _body_content_font">
              <a href="http://www.education2000.com/" target="_blank">
                <img src="static/images/logo_our_team/education2000_logo.jpg" /></a>
              <div id="">
                Edu2000 develops interactive content for state
                departments of education, school districts, and
                educational publishers. Edu2000 is particularly strong in
                the delivery of online mathematics and science curriculum
                that includes interactive animations, simulations, and visual
                experiments that teach concepts to all learners.  
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
    <br style="clear:both"/>
  </div>
</div>
