<%!
    from django.core.urlresolvers import reverse

    from communities.models import CommunityCommunities, CommunityUsers
    from communities.views import get_trending
    from student.newdashboard import communit_tt_list_add

    from organization.models import OrganizationMetadata, OrganizationDistricts, OrganizationDashboard, OrganizationMenu
%>
<style>
/*--left My Trending Topics--------------------------------------------*/
.con-my-communities-outer{
    float:left;
    width:250px;
    height:50px;
}
.con-my-communities{
    width:250px;
    height:525px;
    background-color: #fff;
    position:fixed;
    padding-bottom: 5px;
}
.community-trending-topics{
    margin-bottom: 25px;
}
.my-title-blue{
    width:204px;
    padding:10px;
    background-color:#2CBAEC;
    text-align: center;
    font-size:14px;
    color:#fff;
    text-decoration:none !important;
    margin-left: 13px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trending-topic{
    margin-top: 10px;
}
.trending-topic .tt-title{
    padding:1px 0px 1px 0px;
    font-size:12px;
    font-weight:bold;
    /*color:#92c900;*/

    width: 100%;
    height: 16px;

    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;

    border:0px solid;
}
.trending-topic .tt-post{
    padding:1px 0px 1px 0px;
    width: 100%;
    height: 16px;
    color:#29b7ec;

    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.trending-topic .tt-post a{
    font-weight:bold;
    color:#29b7ec;
    font-size:12px;
    text-decoration:none !important;
}
.trending-topic .tt-time{
    padding:1px 0px 1px 0px;
    font-size:12px;
    height: 18px;
    font-weight: bold;
    margin-top: 8px;
}
.trending-topic .tt-btn-reply{
    width:70px;
    background-color:#F58221;
    border-radius: 5px;
    text-align: center;
    padding: 3px 0px 4px 0px;
}
.trending-topic .tt-btn-addme{
    width:70px;
    background-color:#89C153;
    border-radius: 5px;
    text-align: center;
    padding: 3px 0px 4px 0px;
}
.my-community-noline{
    width:210px;
    margin-left:18px;
    padding:8px 0px 10px 0px;
}
.my-community{
    width:210px;
    margin-left:18px;
    padding:8px 0px 10px 0px;
    border-bottom:1px solid #ccc;
}
.my-communities-cards{
    width: 224px;
    margin-left: 13px;
    background-color: #4a4c4d;
    padding: 18px 0px 1px 0px;
}
.ma-community-simple{
    width:194px;
    background: #f5f5f5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    padding: 8px 3px 8px 3px;
    font-size: 12px;
    color: #000;
    margin-left: 12px;
    margin-bottom:18px; 
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
    border:1px solid #ccc;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.ma-community-simple:hover{
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(255,255,255,.05) 51%, rgba(255,255,255,.1));
}
.ds-view-all-communities{
    width:224px;
    text-align:right;
    margin-top: 10px;
    margin-left: 13px;
}
.ds-view-all-communities a{
    font-size: 14px;
    color: #0070d5;
    text-decoration: none !important;
    cursor: pointer;
}
</style>
<%
    OrganizationOK = False
    show_left = ""

    community_trending_topics = []
    communities = []

    if request.user.is_authenticated():            
        try:
            state_id = request.user.profile.district.state.id
        except:
            state_id = -1
        try:
            district_id = request.user.profile.district.id
        except:
            district_id = -1
        try:
            school_id = request.user.profile.school.id
        except:
            school_id = -1
            
        organization_obj = OrganizationMetadata()
        if (school_id != -1):
            for tmp1 in OrganizationDistricts.objects.filter(OrganizationEnity=school_id, EntityType="School"):
                organization_obj = tmp1.organization
                OrganizationOK = True
                break;

        if (not(OrganizationOK) and district_id != -1):
            for tmp1 in OrganizationDistricts.objects.filter(OrganizationEnity=district_id, EntityType="District"):
                organization_obj = tmp1.organization
                OrganizationOK = True
                break;
        
        if (not(OrganizationOK) and state_id != -1):
            for tmp1 in OrganizationDistricts.objects.filter(OrganizationEnity=state_id, EntityType="State"):
                OrganizationOK = True
                organization_obj = tmp1.organization
                break;

        data = {}        
        if OrganizationOK:
            data["org_id"] = organization_obj.id;
            for tmp1 in OrganizationMenu.objects.filter(organization=organization_obj):
                data[tmp1.itemType] = tmp1.itemValue
            
            for tmp1 in OrganizationDashboard.objects.filter(organization=organization_obj):
                data[tmp1.itemType] = tmp1.itemValue
            
            if data['Dashboard option etc'] == "1":
                if data.has_key('Show Left DB') and data['Show Left DB'] == "0":
                    show_left = "display:none;"; 
            else:
                if data.has_key('Show Left DB Curriculumn') and data['Show Left DB Curriculumn'] == "0":
                    show_left = "display:none;";

    #@begin:get Community Trending Topics
    #@date:2017-05-18
    communit_tt_list = []
    if not show_left:
        community_joined_p = CommunityUsers.objects.select_related().filter(user=request.user,community__private__exact=1).order_by('community__name')
        community_joined_p = list(community_joined_p.values_list('community__id', flat=True))
        communit_tt_list_add(community_joined_p,1,communit_tt_list)

        if len(communit_tt_list) < 3:
            community_joined_not_p = CommunityUsers.objects.select_related().filter(user=request.user,community__private__exact=0).order_by('community__name')
            community_joined_not_p = list(community_joined_not_p.values_list('community__id', flat=True))
            communit_tt_list_add(community_joined_not_p,1,communit_tt_list)

        if len(communit_tt_list) < 3:
            community_joined = list(CommunityUsers.objects.select_related().filter(user=request.user).values_list('community__id', flat=True))
            community_all = list(CommunityCommunities.objects.select_related().filter(private=0).order_by('name').values_list('id', flat=True))
            for cid in community_joined:
                if cid in community_all:
                    community_all.remove(cid)
            communit_tt_list_add(community_all,0,communit_tt_list)
    community_trending_topics = communit_tt_list
    #@end


    #@begin:get My Learning Communities
    #@date:2017-02-16
    community_list = list()
    if not show_left:
        # Just choose the last 2 communities the user belongs to.
        items = CommunityUsers.objects.select_related().filter(user=request.user).order_by('-id')[0:2]
        if items:
            for item in items:
                community_list.append({'id': item.community.id,
                                    'name': item.community.name,
                                    'logo': item.community.logo.upload.url if item.community.logo else '',
                                    'private': item.community.private})
            if len(items) < 2:
                itmes_all = CommunityCommunities.objects.select_related().filter().order_by('name')[0:2]
                if itmes_all:
                    if itmes_all[0].id != items[0].community.id:
                        community_list.append({'id': itmes_all[0].id,
                                   'name': itmes_all[0].name,
                                   'logo': itmes_all[0].logo.upload.url if itmes_all[0].logo else '',
                                   'private': itmes_all[0].private})
                    else:
                        if len(itmes_all) > 1:
                            community_list.append({'id': itmes_all[1].id,
                                   'name': itmes_all[1].name,
                                   'logo': itmes_all[1].logo.upload.url if itmes_all[1].logo else '',
                                   'private': itmes_all[1].private})

        else:
             items = CommunityCommunities.objects.select_related().filter().order_by('name')[0:2]
             for item in items:
                community_list.append({'id': item.id,
                                   'name': item.name,
                                   'logo': item.logo.upload.url if item.logo else '',
                                   'private': item.private})
    communities = community_list
    #@end

%>
<!--Communities-My Trending Topics-->
        <div class="con-my-communities-outer">
            <div class="con-my-communities" style="${show_left}">
                <!--width:220px-->
                <div class="community-trending-topics">
                    <div class="my-title-blue" id="my_trending_topics">
                    % if data["my_trending_topics"]:
                        ${data["my_trending_topics"]} 
                    % else:
                        My Trending Topics
                    % endif
                    </div>
                    <div class="trending-topic" style="border:0px solid;">
                        %for k,c in enumerate(community_trending_topics):
                            %if k + 1 == len(community_trending_topics):
                                <div class="my-community-noline">
                            %else:
                                <div class="my-community">
                            %endif
                                <div class="tt-title">${c['cname']}</div>
                                <div class="tt-post"><a href=${c['btnurl']}>${c['content']}</a></div>
                                <div class="tt-time">
                                    <div style="float:left;border:0px solid;width:145px;padding-top:5px;">Last Post: ${'{dt:%b} {dt.day}, {dt.year}'.format(dt=c['date_reply'])}</div>
                                    <div style="float:left;border:0px solid;width:65px;text-align:right:">
                                         %if c['btntext'] == "Reply":
                                            <div class="tt-btn-reply">
                                        %else:
                                            <div class="tt-btn-addme">
                                        %endif
                                                <a href=${c['btnurl']} style="color:#fff;font-size:12px;">${c['btntext']}</a>
                                            </div>
                                    </div>
                                </div>
                               
                            </div>
                        %endfor
                    </div>
                </div>
                <div class="my-learning-communities">
                    <div class="my-title-blue" id="my_communities">
                    % if data["my_communities"]:
                        ${data["my_communities"]} 
                    % else:
                        My Communities
                    % endif
                    </div>
                    <div class="my-communities-cards">
                        <%
                            community_count = len(communities)
                        %>
                        %for community in communities:
                            <a href="${reverse('community_view', args=[community['id']])}" style="text-decoration: none;">
                                <div class="ma-community-simple">
                                    ${community['name']}
                                </div>
                            </a>
                        %endfor
                    </div>
                    <div class="ds-view-all-communities"><a href="/communities">View All</a></div>
                </div>
            </div>
        </div>