<%! from django.utils.translation import ugettext as _ %>
<%!
    from django.core.urlresolvers import reverse
    from courseware.courses import course_image_url, get_course_about_section
    from courseware.access import has_access
    from certificates.models import CertificateStatuses
    from xmodule.modulestore import MONGO_MODULESTORE_TYPE
    from xmodule.modulestore.django import modulestore
    from django.utils import timezone
    from student.models import School,Cohort,District,SubjectArea,GradeLevel,YearsInEducation
    from baseinfo.models import Enum
    import datetime
%>

<style type="text/css" media="screen">
#image_uploading{display:none;}
.user_info_con_main{
    margin:0 auto;
    max-width:1180px;
    min-width:760px;
    width:100%;
    height:800px;
    margin-top: 5px;
    background-color: #e8e8e8;
    border:0px solid #0ff;
}
.user_info_con_top{
    width:100%;
    border:0px solid;
    margin-top: 5px;
    float: left;
}
.user_photo{
    width:180px;
    height:220px;
    margin-left:20px;
    border: 3px solid #bebebe;
    float: left;
}
.user_info_con_top_right{
    width:930px;
    height:220px;
    float: left;
    margin-left:20px; 
    border: 0px solid #f00;
}
.user_name{
    width:930px;
    height:70px;
    float: left;
    margin-top: 10px;
    border: 0px solid #f0f;
}
.user_bio_cert{
    width:930px;
    height:116px;
    float: left;
    margin-top: 29px;
    border: 0px solid;
}
.user_bio{
    width:445px;
    height:110px;
    float: left;
    border: 3px solid #bebebe;
}
.user_cert{
    width:445px;
    height:110px;
    float: right;
    margin-left:20px;
    border: 3px solid #bebebe;
}
.user_info_con_bottom{
    width:100%;
    float: left;
    margin-top:20px; 
    border:0px solid;
}
.user_profile{
    width:650px;
    height:500px;
    float: left;
    margin-left:20px; 
    border:3px solid #bebebe;
}
.user_info_con_bottom_right{
    width: 448px;
    height:500px;
    float: left;
    margin-left: 29px;
    border:1px solid;
}
.user_profile div{
    padding:10px 5px 10px 5px;
    color: #666;
}
.user_profile div span{
    color: #666;
}
/*------------------------------------------------*/
.name-icon{
    background-size: cover;
    background-image: url(/static/images/portal-icons/course-info-icon.png);
    width: 19px;
    height:19px;
    float:left;
    margin: 3px 6px 0px 0px;
    opacity: 0.6;
}
.skype-icon{
    background-size: cover;
    background-image: url(/static/images/skype-add.png);
    width: 19px;
    height:19px;
    float:left;
    margin: 3px 6px 0px 0px;
}
</style>
<%inherit file="main_new.html" />
<%namespace name='static' file='static_content.html'/>
<%block name="title"><title>${_("User_info - {username}".format(username=curr_user.username))}</title></%block>

<div class="user_info_con_main">
    <div class="user_info_con_top">
        <div class="user_photo">
            <table width="100%" height="100%" border="0">
                <tr>
                    <td style="text-align:center;vertical-align:middle;"><img src="/static/images/newdashboard/temp/39.jpg"/></td>
                </tr>
            </table>
        </div>
        <div class="user_info_con_top_right">
            <div class="user_name">
                <div class="full_name">
                    <div class="icon name-icon"></div><b>${_("Name")}:</b>
                    <span id="full_name_span" class="data" style="display:inline;margin-left:0;font-weight:normal;color:#666;">lvzhlvzhlvzh lvzh lvzh lvzh</span>
                    <script>
                        /*
                        var full_name = document.getElementById('full_name_span').textContent;
                        if(full_name.length>31){
                            document.getElementById('full_name_span').textContent = full_name.substring(0,27)+" ...";
                        }
                        */
                    </script>
                    %if curr_user==request.user:
                        <a href="#apply_name_change" rel="leanModal" class="edit-name"><img src="/static/images/newdashboard/edit_pen_60.png" width="18" style="margin-top:-5px;"/></a>
                    %endif
                </div>
                
                %if request.user==curr_user:
                    <div class="skype_name">
                        <div class="icon skype-icon"></div><b>${_("Skype")}:</b>
                        <span id="skype_name_span" class="data" style="display:inline;margin-left:0;font-weight:normal;;color:#666;">skype_username</span>
                        <a href="#apply_skype_name_change" rel="leanModal" class="edit-name"><img src="/static/images/newdashboard/edit_pen_60.png" width="18" style="margin-top:-5px;"/></a>
                    </div>
                    <div style="padding-left:25px;">
                        <span class="title"><a href="#password_reset_complete" rel="leanModal" id="pwd_reset_button">${_("Reset Password")}</a></span>
                        <form id="password_reset_form" method="post" data-remote="true" action="${reverse('password_reset')}">
                            <input id="id_email" type="hidden" name="email" maxlength="75" value="${curr_user.email}" />
                            <!-- <input type="submit" id="pwd_reset_button" value="${_('Reset Password')}" /> -->
                        </form>
                    </div>
                %endif
            </div>
            <div class="user_bio_cert">
                <div class="user_bio">
                    <div class="user_bio_title" style="font-weight:bold;padding:5px;">
                        Bio:
                    </div>
                    <div class="user_bio_text" style="padding:5px;color:#666;">aaaa bbbb ccc dd eeeeee aaaa bbbb ccc dd eeeeee aaaa bbbb ccc dd eeeeee aaaa bbbb ccc dd eeeeeeaaaa bbbb ccc dd eeeeee aaaa bbbb ccc dd eeeeeeaaaa bbbb ccc dd eeeeee
                    </div>
                </div>
                <div class="user_cert">
                    <div class="user_cert_title" style="font-weight:bold;padding:5px;">
                        Certificates:
                    </div>
                    <div class="user_bio_text" style="padding:5px;color:#666;">
                        aaaaaaaaaaaaa
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="user_info_con_bottom">
        <div class="user_profile">
            <div class="user_profile_title" style="font-weight:bold;color:#000;">
                My Profile:
            </div>
            <div class="user_profile_state">
                <span style="font-weight:bold;">State: </span> California
            </div>
            <div class="user_profile_district" style="font-weight:bold;">
                District:
            </div>
            <div class="user_profile_district_text">
                Manteca Unified School District
            </div>
            <div class="user_profile_school" style="font-weight:bold;">
                School:
            </div>
            <div class="user_profile_grade" style="font-weight:bold;">
                Grade Level:
            </div>
            <div class="user_profile_grade_text">
                K, 1 ,2
            </div>
            <div class="user_profile_grade" style="font-weight:bold;">
                Major Subject Area:
            </div>
            <div class="user_profile_grade">
                Multiple Subjects
            </div>
            <div class="user_profile_years">
                <span style="font-weight:bold;">Number of Years in Education: </span> 1
            </div>
        </div>
        <div class="user_info_con_bottom_right">
        </div>
    </div>
</div>


<script>
</script>

