<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>

<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<div class="view-passwordreset">
  <section class="content-wrapper">
    <section class="passwordreset container">
      <section class="introduction">
        <header>
          <h1>${_("PEPPER REGISTRATION")} </h1>
        </header>
      </section>
      <section role="main" class="content">
        <p>You have already registered with Pepper! Please click on the login button at the top right of your page. Use your district/school e-mail address and the password you created to log in. If you do not remember your password, proceed to the log-in screen and click on the "Forgot password?" link to re-set your password. For additional assistance, please <a href="${reverse('contact_us')}">contact us</a>.</p>
      </section>
    </section>
  </section>
</div>
