{% load i18n %}
{% load compressed %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

<title>
  {% blocktrans with platform_name=platform_name %}
      Reset Your {{ platform_name }} Password
  {% endblocktrans %}
</title>

  {% compressed_css 'application' %}

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->
<style>
.psw-error-info span{
    color:#a0050e !important;
}
</style>
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $(function() {
      var view_name = 'view-passwordreset';

      // adding js class for styling with accessibility in mind
      $('body').addClass('js').addClass(view_name);

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });

      //----------- click event change my password----------//
      var change_psw_press = 0;
      $('.change-my-psw').click(function(event){
          if(change_psw_press == 0){
              change_psw_press = 1;
              var psw1 = $("#new_password1").val().trim();
              var psw2 = $("#new_password2").val().trim();
              var psw_check_status = password_verify_local(psw1, psw2);
              if(psw_check_status.type != 200){
                  $('.status.message.submission-error').addClass('is-shown').focus();
                  $('.status.message.submission-error .message-copy').html(psw_check_status.info).stop().css("display", "block");
                  change_psw_press = 0;
                  return false; 
              }
          }      
      });
    
      function password_verify_local(psw1, psw2){
          var error_info = [{"type":200,"info":""},
                            {"type":1,"info":"Please fill in new password."},
                            {"type":2,"info":"New password must contain A-Z, a-z, 0-9 and ~!@#$%^&* and must be 8-16 characters long."},
                            {"type":3,"info":"New password must contain A-Z, a-z, 0-9 and ~!@#$%^&* and must be 8-16 characters long."},
                            {"type":4,"info":"Confirm password is required."},
                            {"type":5,"info":"Your new and confirm password are different. Please enter again."}];
          if(psw1 == ""){
              return error_info[1];
          }

          if(psw1.length < 8 || psw1.length > 16){
              return error_info[2];  
          }

          if(psw1.length != 0){
              var regexp = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[~!@#$%^&*])[\da-zA-Z~!@#$%^&*]{8,16}$/;
              var r = psw1.match(regexp);
              if(r == null){
                  return error_info[3];
              }    
          }

          if(psw2 == ""){
              return error_info[4];
          }

          if(psw1 != psw2){
              return error_info[5];
          }
          return error_info[0];
       }
    });
</script>

</head>

<body class="view-passwordreset">

<header class="global">
  <nav>
    <h1 class="logo">
      <a href="{{MKTG_URL_ROOT}}"><img src="/static/images/header-logo.png"></a>
    </h1>
  </nav>
</header>

<section class="content-wrapper">
  <section class="passwordreset container">
    <section class="introduction">
      <header>
        <h1>
          {% blocktrans with platform_name=platform_name %}
          Reset Your {{ platform_name }} Password
          {% endblocktrans %}
        </h1>
      </header>
    </section>

    <section role="main" class="content">
      {% if validlink %}
      <header>
      <h2 class="sr">{% trans "Password Reset Form" %}</h2>
      </header>


      <form role="form" id="passwordreset-form" method="post" data-remote="true" action="">{% csrf_token %}
        <!-- status messages -->
        <div role="alert" class="status message">
          <h3 class="message-title">
            {% blocktrans with platform_name=platform_name %}
                We're sorry, {{ platform_name }} enrollment is not available in your region
            {% endblocktrans %}
          </h3>
        </div>

        {% if error_info %}
        <div role="alert" class="status message submission-error is-shown">
          <h3 class="message-title">{% trans "The following errors occured while processing your registration: " %}</h3>
            <ul class="message-copy">
              {{ error_info }}
              <!--
              <li>{% trans "You must complete all fields." %}</li>
              <li>{% trans "The two password fields didn't match." %}</li>
              -->
            </ul>
        </div>
        {% else %}
        <div role="alert" class="status message submission-error">
          <h3 class="message-title">{% trans "The following errors occured while processing your registration: " %}</h3>
            <ul class="message-copy">
              <li>{% trans "We're sorry, our systems seem to be having trouble processing your password reset" %}</li>
            </ul>
        </div>
        {% endif %}

        <div role="alert" class="status message system-error">
          <h3 class="message-title">{% trans "We're sorry, our systems seem to be having trouble processing your password reset" %}</h3>
          <p class="message-copy">
            {% blocktrans with start_link='<a href="{{MKTG_URL_CONTACT}}">' end_link='</a>' %}
                Someone has been made aware of this issue. Please try again shortly. Please {{ start_link }}contact us{{ end_link }} about any concerns you have.
            {% endblocktrans %}
          </p>
        </div>

        <p class="instructions">
        {% trans 'Please enter your new password twice so we can verify you typed it in correctly. <br /><br /> Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.' %}
        </p>

        <fieldset class="group group-form group-form-requiredinformation">
          <legend class="sr">{% trans "Required Information" %}</legend>

          <ol class="list-input">
            <li class="field required password" id="field-new_password1">
              <label for="new_password1">{% trans "Your New Password" %}</label>
<!--@begin:Remove the asterisk in the change password page-->
<!--@date:2013-11-02-->
              <input id="new_password1" type="password" name="new_password1" placeholder="" />
            </li>
            <li class="field required password" id="field-new_password2">
              <label for="new_password2">{% trans "Your New Password Again" %}</label>
              <input id="new_password2" type="password" name="new_password2" placeholder="" />
<!--@end-->              
            </li>
          </ol>
        </fieldset>

        <div class="form-actions">
          <button name="submit" type="submit" id="submit" class="action action-primary action-update change-my-psw">{% trans "Change My Password" %}</button>
        </div>
      </form>
      

      {% else %}

      <header>
        <h2 class="sr">{% trans "Your Password Reset Was Unsuccessful" %}</h2>
      </header>
      <p>
        {% blocktrans with start_link='<a href="/login">' end_link='</a>' %}
            The password reset link was invalid, possibly because the link has already been used.  Please return to the {{ start_link }}login page{{ end_link }} and start the password reset process again.
        {% endblocktrans %}
      </p>

      {% endif %}
    </section>

    <aside role="complementary">
      <header>
      <h3 class="sr">{% trans "Password Reset Help" %}</h3>
      </header>

      <div class="cta cta-help">
        <h3>{% trans "Need Help?" %}</h3>
        <p>
          View our <a href="/contact">help section for contact information and answers to commonly asked questions.</a> 
        </p>
      </div>
    </aside>
  </section>
</section>