
        div.expand_title {
            color: #08a;
            font-size: 20px;
            padding: 5px 5px 10px 5px;
            cursor: pointer;
            background-color: #ccc;
            box-shadow: 0 1px 0 0 #fff inset;
            background-image: linear-gradient(to bottom, #fff 0%, #ddd 50%, #ccc 50%, #ccc 100%);
            text-shadow: 0 -1px 1px #aaa;
        }

        div.expand_title .icon {
            display: inline-block;
            position: relative;
            top: 5px;
            width: 23px;
            height: 23px;
            background: url("../images/arrows.png") no-repeat 0 0;
        }

        div.expand_title_expanded {
            border-bottom: 1px solid #999;
        }


        div.expand_title_expanded .icon {
            background: url("../images/arrows.png")no-repeat 0 -23px;
        }

        div.expand_div {
            display: none;
        }

        input[type=button].small{
            font-size:12px;height:2em;line-height:2em;padding:0 10px;
        }

        input[type=button]{
            font-size:14px;height:2em;line-height:2em;padding:0 10px;margin:10px;
        }

        .lean-overlay {
           background: radial-gradient(circle at 50% 30% , rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) repeat scroll 0% 0% transparent;
           display: block;
           height: 100%;
           left: 0px;
           position: fixed;
           top: 0px;
           width: 100%;
           z-index: 100;
        }

        .modal{
           display: block; position: absolute; opacity: 1; z-index: 11000; left: 50%; margin-left: -249px; top: 120px;
           background: none repeat scroll 0% 0% rgba(255,255,255, 1);
           /* border: 1px solid rgba(150, 150, 150, 0.9); */
           border-radius: 5px;
           box-shadow: 0px 15px 80px 15px rgba(0, 0, 0, 0.5);
           padding: 0 0 8px 0;
           width: 480px;
           display:none;
            position: fixed;
        }

        .modal .close-modal {
           border-radius: 2px;
           cursor: pointer;
           display: inline-block;
           vertical-align: baseline;
           padding: 10px;
           position: absolute;
           right: 2px;
           top: 0px;
           z-index: 3;
           color:#333;
        }

        .modal .titlebar{
           background:#fff;
           height:70px;
           background:#ccc;
        }

        td.label{
           text-align:right;padding-right:10px;width:45px;
           vertical-align:top;
           padding-top:13px;
        }

        .modal .dialog-title{
            margin:0;padding:20px 0 0 30px;color:#666;
        }

        .modal .content{
           color:#333;
           text-align:center;
           font-size:16px;
           padding:20px 10px;
           line-height:20px;
        }

        .modal .progressbar{
           height:30px;
           background:#ddd;
           border-radius:5px;
           margin-top:10px;
        }

        .modal .progressbar_flow{
           height:30px;
           background:#2a5;
           border-radius:5px;
           width:50px;
         }

        .modal .progressbar_text{
           position:absolute;
           height:30px;
           line-height:30px;
           right:0px;
           left:0px;
         }

        .favorite{
          display:none;
        }

        section.content-wrapper{background:transparent !important;}
        .list{padding:0px 5px;}
        .list li{list-style-type:none;}
         div.expand_title_container{padding-top:20px; padding-bottom:20px;}

         /* filter */
        div.control.filter{
           padding:10px 5px; border:1px solid #ddd;border-width:1px 0;height:auto;
        }

        div.control.filter h2{
           color:#f90;
        }

        div.control.filter .body select,
        div.control.filter .body input{
           margin:5px 5px 0 0;
        }

        div.control.filter div.favorite{
           float:right;
        }

        div.control.filter input[type=button].small{
           font-size:12px;height:2em;line-height:2em;padding:0 10px;
           margin:5px 5px 0 0;
        }

        div.control.filter input[type=button].load{
           font-size:12px;height:2em;line-height:2em;padding:0 10px;
           margin:5px 5px 0 0;
        }

         /* table */
        div.control.table{
           padding:5px 5px 5px 5px;
        }
        div.control.table table{
           width:100%;
           text-align:left;
           border-collapse:collapse;
           border:1px solid #aaa;
        }
        div.control.table td,div.control.table th{
            padding:6px;
            border:1px solid #aaa;
            font-size:12px;
        }
        div.control.table th{
            padding:5px;
            background:#99BFE6;
        }

        div.control.table th.checkbox-col{
           width:15px;
           overflow:visible;
        }

        div.control.table th.checkbox-col span{
           margin-top:2px;
           cursor:pointer;
           display:inline-block;
           vertical-align:top;
           width:18px;
           height:20px;
           line-height:12px;
           background:url("../images/configuration/table_menu.png")
        }

        div.control.table div.paging{
           padding:5px;
           text-align:right;
        }

        div.control.table div.paging a{
           margin-left:5px;
        }

        div.control.table div.paging input{
           margin-right:5px;
           width:50px;
           text-align:right;
        }

        div.control.table .sort{
           margin-top:3px;
           vertical-align:top;
           float:right;
           cursor:pointer;
           display:inline-block;
           width:9px;
           height:17px;
           background:url("../images/configuration/table_arrow_sort.png")
        }

        ul.context-menu{
           position:absolute;
           background:#fff;
           border-radius:5px;
           box-shadow: 0px 0px 20px;
           padding-left:5px;
           margin-left:0px;
        }

        ul.context-menu li{
           min-width:200px;
           line-height:30px;
           list-style:none;
        }

        input,select{-ms-box-sizing:content-box;
          box-sizing:border-box;
        }

        .certificate_title{
          margin:0px 10px 10px 10px;
          color:#FBA23D;
        }

        .certificate_filter_btn{
          display:inline-block;
          text-align:center;
          margin:10px;
        }

        .certificate_filter_btn a:link, a:visited{
          text-decoration-line: none;
        }

        .certificate_filter_btn a{
          color: #555;
          font-size:14px;
        }

        .certificate_editor_tools_bar{
          padding-left:20px;
          padding-right:20px;
        }

        .preview-frame{
            min-height:500px;
        }

        .imgBtn{
          width:auto;
          height:40px;
          background-repeat:no-repeat;
          background-position: center;
        }
        .imgBtn_add_new{background-image:url(../images/certificate/ui/add_new.png);}
        .imgBtn_add_new:hover{background-image:url(../images/certificate/ui/add_new_mo.png);}
        .imgBtn_del{background-image:url(../images/certificate/ui/delete.png);}
        .imgBtn_del:hover{background-image:url(../images/certificate/ui/delete_mo.png);}
        .imgBtn_save{background-image:url(../images/certificate/ui/save.png);}
        .imgBtn_save:hover{background-image:url(../images/certificate/ui/save_mo.png);}
        .imgBtn_copy{background-image:url(../images/certificate/ui/copy.png);}
        .imgBtn_copy:hover{background-image:url(../images/certificate/ui/copy_mo.png);}
        .imgBtn_publish{background-image:url(../images/certificate/ui/publish.png);}
        .imgBtn_publish:hover{background-image:url(../images/certificate/ui/publish_mo.png);}
        .imgBtn_unpublish{background-image:url(../images/certificate/ui/unpublish.png);}
        .imgBtn_unpublish:hover{background-image:url(../images/certificate/ui/unpublish_mo.png);}
        .imgBtn_readonly{background-image:url(../images/certificate/ui/read_only.png);}
        .imgBtn_readonly:hover{background-image:url(../images/certificate/ui/read_only_mo.png);}
        .imgBtn_edit{background-image:url(../images/certificate/ui/edit.png);}
        .imgBtn_edit:hover{background-image:url(../images/certificate/ui/edit_mo.png);}
        .imgBtn_print{background-image:url(../images/certificate/ui/print.png);}
        .imgBtn_print:hover{background-image:url(../images/certificate/ui/print_mo.png);}
        .imgBtn_cancel{background-image:url(../images/certificate/ui/cancel.png);}
        .imgBtn_cancel:hover{background-image:url(../images/certificate/ui/cancel.png);}
        .certificate_tabs li a.active {
          background-color: transparent;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.25));
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3) inset;
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
          text-decoration-line: none;
          background:#838383 !important;
        }

        .certificate_tabs li {
          float: left;
          list-style-image: none;
          list-style-position: outside;
          list-style-type: none;
          margin-right: 6px;
        }

        .certificate_tabs li a {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          color: #555;
          display: block;
          font-size: 14px;
          font-weight: bold;
          padding-bottom: 12px;
          padding-left: 13px;
          padding-right: 13px;
          padding-top: 10px;
          text-align: center;
          text-decoration-color: -moz-use-text-color;
          text-decoration-line: none;
          text-decoration-style: solid;
         }

        .certificate_tabs li a:link, a:visited {
          text-decoration-line: none;
         }

        .certificate_tabs li a:hover {
          background:#f1f1f1;
        }

        .active:hover {
          background:#838383 !important;
        }
        .certificate_tabs{
          padding-left:0px;
        }

        .editor_view{
          width:1100px;
          margin-left:auto;
          margin-right:auto;
        }

        #certificate_preview{
          background:#fff;
        }

        .certificate_editor_div{
          display:none;
          width: 1180px;
          border: 1px solid rgb(221, 221, 221);
          padding-top:10px;
        }

        .main{
          margin:auto;
          width:1180px;  
          border:1px solid #ddd;
        }

        .certificate_editor_frame{
          background-color:#DCDCDC;
          padding:20px 40px 40px 40px
        }

        .certificate_tabs_div{
          height:60px;
        }

        .configuration_navigation{
          display:none;
        }
        
        .configuration_navigation_btn{
          color:#08a;
          font-size:20px;
          padding:10px 5px;
          cursor:pointer;
        }