/*
.remove_skype_span:hover {
    cursor: pointer;
}
.remove_skype_span {
    padding-left: 5px;
    padding-bottom: 2px;
}
.circle:hover {
    cursor: pointer;
}

.discussions {
    margin-top: 10px;
}
.redcircle {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 10px;
    position: absolute;
    right: 0;
}
.skype_username_list, .share_username_list {
    display: inline-block;
    background-color: #5A9BD5;
    font-weight: bold;
    margin: 4px;
    border-radius: 4px;
    padding: 3px;
}
#dlg-user-photo {
    width: 140px;
    height: 140px;
}
#community-main {
    width: 1185px;
    margin: 30px auto;
    text-align: left;
}
#community-main-content {
    width: 880px;
    float: left;
}
#community-main-sidebar {
    width: 266px;
    float: right;
    top: 0;
    text-align: center;
}
#community-sidebar-header {
    border: 2px solid #ddd;
    height: 53px;
    text-align: center;
    vertical-align: middle;
    font: 700 1.2em/2.4em "Open Sans",Verdana,Geneva,sans-serif;
}
#community-sidebar {
    width: 208px;
    padding: 20px 20px 0 20px;
    border: 2px solid #ddd;
    margin: auto;
    border-top: 0;
    text-align: left;
}
.sidebar-section {
    margin: 0 0 20px 0;
}
#community-member {
    margin-top: 10px;
}
.sidebar-section h2 {
    border-bottom: 2px solid #90BF70;
    padding-bottom: 5px;
    margin: 0 0 10px 0;
    color: #006EBF;
    font-weight: bold;
    text-transform: none;
    font-size: 1em;
    line-height: 1em;
}
.sidebar-sub-section {
    margin: 0 10px;
}
.trending-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trending-name {
    font-size: 80%;
    display: block;
    margin-bottom: 5px;
}
.trending-name span {
    font-weight: bold;
}
.status-name {
    display: block;
    margin-bottom: 5px;
}
#community-header {
    border: 2px solid #ddd;
    width: 100%;
    position: relative;
    min-height: 260px;
}
#community-header h1 {
    text-align: left;
    color: #006EBF;
    margin: 15px 0 0 20px;
    font-weight: bold;
    font-size: 160%;
}
#community-header h2 {
    margin: 15px 0 0 20px;
    text-transform: none;
    font-weight: bold;
}
#community-header h3 {
    color: #006EBF;
    padding: 10px 0;
}
#community-header h4 {
    font-weight: bold;
}
#community-avatar {
    width: 124px;
    float: left;
    margin: 0 15px 0 0;
    padding-top: 10px;
}
.community-name-header {
    width: 350px !important;
}
#community-logo {
    float: right;
    width: 380px;
    height: 260px;
    overflow: hidden;
    margin: 15px;
    text-align: center;
    background-color: white;
}
#community-logo img {
    height: 260px;
}
.facilitator-wrap {
    float: left;
    width: 430px;
    padding: 20px;
}
*/
/*
#community-content-area h1 {
    color: #006EBF;
    padding: 8px 10px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #90BF70;
    display: inline-block;
}
#community-content h1 {
    width: 100%;
}
#community-content, #community-discussions {
    color: #000;
    padding: 20px 3px;
}
#community-content-area label {
    font-style: normal;
    display: inline-block;
    width: 3.5em;
    text-align: left;
    font-weight: bold;
}
#community-content-area span {
    word-break: break-all;
}
#community-content {
    width: 220px;
    margin-top: -89px;
    height: 700px;
    float: left;
    margin-left: 18px;
}
#community-content-scroller {
    width: 270px;
    padding-right: 10px;
    height: 1017px;
    margin-top: -26px;
    margin-left: -38px;
}
.community-content-header {
    width: 622px;
    margin-top: 27px;
    height: 52px;
    float: left;
    padding-left: 4px;
    background-color: #e4e4e4;
    border: 1px solid lightgrey;
}
.community-content-header-object {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.community-content-header-object:hover {
    background-color: #ededed;
    cursor: pointer;
}
#content-collection-header {
    padding-bottom: 8px !important;
    padding-top: 34px !important;
    font-size: 20px !important;
}
.postbutton {
    display: inline-block;
    float: right;
    margin-bottom: 4px;
    font-family: Arial, sans-serif;
    font-size: 19px;
    cursor: pointer;
}
.small {
    margin-top: 2px;
}
.cke {
    width: 100% !important;
}
.selected {
    background-color: white;
    padding-top: 16px !important;
}
.not-selected {
    background-color: #e4e4e4;
    border: none !important;
}
.community-content-header-object {
    border-bottom: none !important;
    border-top: 2px solid #90BF70;
    margin-left: 5px;
    height: 10px;
}
.community-content-section {
    width: 624px;
    border: 2px solid lightgrey;
    border-top: 1px solid lightgrey;
    min-height: 700px;
    background-color: whitesmoke;
    float: left;
}
#community-discussions {
    width: 578px;
    margin-right: 20px;
    float: left;
}
.discussion {
    clear: both;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px 20px 15px 94px;
    background-color: #f5f5f5;
    margin-bottom: 15px;
    margin-right: 4px;
    margin-left: 4px;
}
.admin-dropdown-menu {
    text-align: left;
}
.info_list {
    text-align: left;
}


.discussion h2 {
    margin-bottom: 5px;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.discussion-post-info-header {
    float: left;
    width: 463px;
}

.discussion-post-info div {
    display: inline-block;
}
.discussion-post-info span {
    font-weight: bold;
}
.discussion-byline {
    overflow: hidden;
    height: 1.5em;
    width: 370px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.discussion-stats-header {
    float: left;
    width: 100px;
}
.discussion-stats {
    float: right;
    width: 80px;
}
.discussion-stats span {
    display: block;
}
.discussion-avatar {
    position: absolute;
    width: 64px;
    display: block;
    top: 15px;
    left: 20px;
}
.community-clear {
    clear: both;
    height: 1px;
    margin-top: -1px;
}
*/
/*
#discussion-pager {
    text-align: center;
    line-height: 24px;
    clear: both;
    margin: 20px 0;
}
#discussion-pager a {
    width: auto;
    line-height: 24px;
    padding: 2px 5px;
    color: #333;
    border: 1px solid #ccc;
    margin-left: 3px;
}
#discussion-pager a:hover {
    color: #ff6600;
}
#discussion-pager .up_page {
    display: inline-block;
    width: 17px !important;
    line-height: 24px;
    height: 20px;
    background: url(../tmp-resource/image/up_page.png) no-repeat;
    border: none;
    vertical-align: middle;
}
#discussion-pager .next_page {
    display: inline-block;
    width: 17px !important;
    height: 20px;
    background: url(../tmp-resource/image/next_page.png) no-repeat;
    border: none;
    margin-left: 13px;
    vertical-align: middle;
}
#discussion-pager .page_active {
    color: #ff6600 !important;
}
#discussion-pager .page_active:hover {
    color: #ff9933 !important;
}
#discussion-pager .page_num {
    display: inline-block;
    padding: 2px 5px;
}
div.cke {
    width: 580px;
}
.community-resource {
    display: block;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0 solid #f0870c;
    height: 150px;
    width: 200px;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 7px 7px 0;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.members-container {
    text-align: left;
}
.community-resource img {
    display: block;
    width: 200px;
    float: right;
    border-radius: 6px;
}
.community-resource a {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    background: #f0870c;
    color: #fff;
    font-size: 14px;
    border-radius: 0 0 6px 6px;
}
.community-resource div {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
    width: 200px;
    text-align: center;
}
#table-members th {
    color: #006EBF;
    padding: 20px 3px;
    font-size: 20px;
}
.card-link span {
    color: #FFFFFF;
}
.course-card {
    margin: 10px 0 10px 0 !important;
    float: right !important;
    width: 200px !important;
    min-height: 180px !important;
}
div.card-bottom table tr:nth-child(2) {
    display: none;
}
#members {
    display: inline-block;
    overflow-x: hidden;
    padding: 10px 0;
    width: 100%;
    position: relative;
}
#members a {
    margin-right: 5px;
    display: inline-block;
}
#members a img {
    vertical-align: middle;
}
#skype_usernames_select {
    min-width: 100px;
}


.modal .discussion-error {
    color: #f00;
    font-weight: bold;
    font-size: 120%;
    line-height: 120%;
}

.hangout_container {
    text-align: center;
    padding-top: 20px;
}
.hangout_container img {
    width: 120px;
    vertical-align: top;
}
*/
/*
.hangout_container .side-button {
    background: #8cbe41 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAABQAAAAUAKM7KtEAAAB2SURBVCjPY/zPQBxgIlIdTRReYfiPFZ5HUsXNMJ/hP24A06P9/8r//4QVpvz/CuHgU8jzfzGCgxvo/b+O4DD+xx3iPxg4iAue38SGoynDZSQeXs9w/p9NjGcgwRPz/zNxChn+a0IC/AoOZVeR4pP7/3zGIZAeAdFoNZxQb6AuAAAAAElFTkSuQmCC) no-repeat 10px 10px;
    height: 20px;
}
.side-button {
    color: white !important;
    display: block;
    padding: 7px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    margin-top: 5px;
}
.blue-button {
    border-color: #45719E;
    background: #5A9BD5;
}
.green-button {
    border-color: #595;
    background: #8cbe41;
}
.red-button {
    border-color: #df0000;
    background: #ED2828;
}
#poll-form {
    display: none;
    margin-top: 15px;
    clear: both;
}
.poll-answer-input {
    width: 80% !important;
    display: inline !important;
}
.discussion-attachment {
    float: left;
    padding-top: 16px;
}
.discussion-poll {
    float: right;
    display: block;
    vertical-align: middle;
    padding-top: 16px;
}
#members-title {
    border-bottom: 2px solid #90BF70;
    color: #006EBF;
    font-size: 20px;
    padding: 20px 3px;
    font-weight: bold;
    clear: both;
}
#table-members {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}
#table-members tr {
    border-bottom: 2px solid #90BF70;
}
.member-arrows {
    width: 20px;
    vertical-align: middle;
}
.member-arrows div {
    cursor: pointer;
    width: 17px;
    height: 20px;
}
.member-arrow-left {
    background: url(../tmp-resource/image/up_page.png);
}
.member-arrow-right {
    background: url(../tmp-resource/image/next_page.png);
}
.member-column {
    white-space: nowrap;
}
.discussion-error-box {
    border-color: red !important;
}
#create-skype, #create-skype-online {
    float: left;
    margin: 0 20px 0 0;
}
.skype-container {
    float: left;
}
.skype-button .side-button {
    background: #5A9BD5 url(https://swx.cdn.skype.com/skypewebsdk/shareButton/v/latest/assets/images/s_logo.svg) no-repeat 10px 10px/20px 20px;
    height: 20px;
}
.hidden {
    display: none;
}
.post-content {
    margin: 10px;
    background-color: #f5f5f5;
    min-height: 700px;
}
.section-tab.discussion-tab {
}
.section-tab.search-tab {
}
.section-tab.posts-tab {
}

.section-tab {
}
.post-content-left {
    width: 80px;
    position: relative;
}

.post-content-right {
    width: 518px;
    max-width: 518px;
    vertical-align: middle;
    padding-right: 5px;
    padding-top: 5px;
}



.comment-area {
    margin-bottom: 5px;
}

.members-name {
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    overflow-y: hidden;
}
.members-image {
    margin-top: -20px;
    position: relative;
    right: 3px;
    bottom: 7px;
    width: 10px;
}

.ask-expert-message {
    font: normal 300 16px sans-serif !important;
    max-width: 200px;
}
.post-button:hover {
    cursor: pointer;
}
.share-image {
    width: 16px;
    height: 14px;
    padding-bottom: 2px;
    padding-right: 3px;
}
.post-like-text:hover {
    cursor: pointer;
}

.delete-something:hover {
    cursor: pointer;
}
.post-textarea {
    border: none;
    resize: none;
    font-style: normal;
    margin-top: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;
    width: 100%;
    max-width: 440px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #afafaf;
}
.trending-post {
    border: 1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
}
.trending-type {
    font-size: larger;
    padding-bottom: 8px;
}

.selection_name {
    font-size: 16px !important;
    font-weight: bold !important;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#select_name {
    margin-left: 50px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #afafaf;
    color: #000;
    position: absolute;
    width: 340px;
}

.selection_name:hover {
    cursor: pointer;
}
.anchor-container-select:hover {
    background-color: #4c4cff ;
    color: #fff !important;
}
.anchor-container-select {
    width: 100%;
}




.image-style {
    width: 200px !important;
}

.ask-expert {
    float: right;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ask-expert:hover {
    cursor: pointer;
}
.members-link:hover {
    cursor: pointer;
}
.new-discussion:hover {
    cursor: pointer;
}
.new-discussion {
    max-width: 140px;
    margin-top: -77px;
    margin-bottom: 12px;
    margin-left: 255px;
}


.post-name-link {
    color: #365899 !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

table.cke_dialog.cke_browser_webkit.cke_ltr {
    z-index: 100000 !important;
}
*/

/*-----------------------------------------------new-----------------------------------------------*/
/*
.content-wrapper{
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top:-55px;

    border: 0px solid;
}
.content-wrapper td{
    vertical-align:middle;
}

.container{
    margin: 0 auto;
    max-width: 1180px;
    min-width: 760px;
    width: 100%;

    border:0px solid;
}

.dashboard{
    margin-top: 25px;
}
.dashboard .my-courses{
    display: block;
    float:left;
    width:275px;
    margin-right: 10px;

    border: 0px solid #f00;
}

.title{
    font-size: 20px;
    color: #7f7f7f;
    font-family: "Arial" !important;
    font-weight: bold;
    line-height:25px;
}
*/

/*------------dashboard post--------------*/
.dashboard .dashboard_main_content{
    display: block;
    float:left;
    width:610px;
    margin-right: 10px;
    min-height: 800px;

    height: 800px;
    overflow-y:scroll;
}
#new_post_textarea:focus{
  border:0;
  outline: none;
  box-shadow:0 0 0 0;
}
.dashboard .my_community{
    display: block;
    float:right;
    width:275px;

    border: 0px solid #f00;
}
.dashboard .my_community td{
    text-align: left;
}
.comment_info{
    width: 100%;
    border: 0px;
    font-size: 16px;
    color: #b4b4b4;
    font-family: "Arial" !important;
    /*margin-bottom: 5px;*/
}
.seemore a{
    font-family: "Arial" !important;
    font-size: 16px;
    color: #0070d5;
    text-decoration: none;
}
.seemore a:hover{
    text-decoration: none;
}
#searching-text{
    border:0;
    height:25px;
    width: 255px;
    margin-left: 5px;
    outline: none;

    color:#818181;
    font-size: 15px;
    font-family: "Arial" !important;
    font-style:italic;
}

.post_content{
    background-color: #f2f2f2;
    border:2px solid #41719c;
    padding:5px 10px 10px 10px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-bottom:0px;
}

a.post_btn{
    font-family: 'Open Sans',Verdana,Geneva,sans-serif;
    color:#fff !important;;
    font-size:13px !important;
    background-color:#5b9bd5;
    border:2px solid #41719c;
    /*box-shadow: inset 0 1px 0 0 #61b8e1;*/
    text-decoration: none;
    padding:0px 23px 0px 23px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
a.post_btn:hover{
    text-decoration: none;
    background-color:#72ace1;
}
.ds-post-title{
    padding:5px 5px 5px 10px;
    border:0px solid #f00;
}

/*post width:583(593-L5-R5)*/
.ds-post-title-photo{
    width: 40px;
    position: relative;
}
.ds-post-title-text{
    padding:5px 5px 5px 15px;
    width: 523px;
}
.ds-post-title-delete{
    width: 20px;
}

.ds-post-title-name{
    color:#5c9cd5;
    font-size:14px;
    font-weight:bold;
}
.ds-post-title-from{
    color: #8d8d8d;
    font-size:14px;
}
.ds-post-title-position{
    color:#ff6600;
    font-size:14px;
    font-weight:bold;
}
.ds-post-title-time{
    color: #8d8d8d;
    font-size:13px;
    font-style: italic;
}
.ds-post-content{
    /*width:100%;*/
    color: #404040;
    font-weight: bold;
    padding:5px 5px 5px 5px;
    font-size: 15px;
    line-height: 22px;
    border:0px solid; 
}
.ds-post-footer{
    border-bottom: 0px solid #3891e0;
}

.ds-post-end_line{
    width: 100%;
    border-bottom: 2px solid #3891e0;
    margin-bottom: 15px;
}


/*------------------modified------------------*/
.post-share-text {
    margin-left: 8px;
    color: #A5A5A5 !important;
    font-weight: bold !important;
    font-size: 14px !important;
    cursor: pointer;
}
.comment-reply-text, .comment-share-text {
    margin-left: 8px;
    color: #A5A5A5 !important;
    font-weight: bold !important;
    font-size: 14px !important;
    cursor: pointer;
}

.ds-post-footer img{
    margin-right:2px; 
}
.post-like-text {
    padding-top:2px;
    color: #A5A5A5 !important;
    font-weight: bold !important;
    font-size: 15px !important;
    cursor: pointer;
    float: left;
    height:33px;
    margin-right: 50px;
    border:0px solid;
}
.post-comment-text {
    color: #A5A5A5 !important;
    font-weight: bold !important;
    font-size: 15px !important;
    cursor: pointer;
    float: left;
    height:35px;
    margin-right: 50px;
    border:0px solid;
}
.post-total-likes{
    padding-top:8px;
    color: #A5A5A5 !important;
    font-weight: bold !important;
    font-size: 15px !important;
    float: left;
    height:27px;
    font-style: italic;
    margin-right: 50px;
    border:0px solid;
}
.post-total-comments{
    padding-top:8px;
    color: #A5A5A5 !important;
    font-weight: bold !important;
    font-size: 15px !important;
    float: left;
    height:27px;
    font-style: italic;
    border:0px solid;
}
.smallcircle {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 6px;
    top: 6px;
    /*
    right: 0px;
    bottom: 1px;
    */
}
.post-submit-row {
    border: 0px;
    /*border-top: 12px solid whitesmoke;
    background-color: #f2f2f2;*/
}
.post-content-row {
    border: 0px;
}
.post-submit-profile-image {
    width: 72px;
    height: 72px;
    margin: 4px;
}
.post-profile-image {
    width: 72px;
    height: 72px;
    margin: 4px;
}
.new-post-textarea {
    border:0;
    box-shadow:0 0 0 0;
    outline: none;
    background-color: #f2f2f2;

    resize: none;
    margin-top: 4px;
    width: 100%;
    /*-webkit-box-sizing: border-box;*/ /* Safari/Chrome, other WebKit */
    /*-moz-box-sizing: border-box;*/    /* Firefox, other Gecko */
    font-family: sans-serif !important;
    font-style: inherit;
    
    /*box-sizing: border-box;*/
}
.filter-word-label {
    font-size: 14px;
    font-weight: bold;
}
#post_filter_select{
    font-size: 14px;
}
.delete-something {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.img-span-code > img {
    margin-top: 10px;
}
.comment-section {
    background-color: #f6f7f9;
    padding: 2px 6px 6px 6px;
    display: inline-block;
    /*width: 96%;*/
    width: 98%;
    border: 1px solid #cfcfcf;
    margin-bottom: 8px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.comment-section table {
    margin-top: 2px;
    margin-bottom: 8px;
}
.comment-like-text {
    color: #A5A5A5 !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
.comment-like-text:hover {
    cursor: pointer;
}
.comment-like-anchor {
    padding-left: 8px;
}
.like-button-image {
    width: 12px;
    height: 12px;
    padding-bottom: 4px;
    padding-right: 3px;
}
.comment-anchor-text {
    color: #365899 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    padding-right: 4px;
}
.comment-profile-image {
    width: 34px;
    margin-top: 5px;
    height: 34px;
}
.comment-delete {
    float: none;
    margin-left: 10px !important;
}
.comment-image {
    width: 12px;
    height: 12px;
    padding-bottom: 2px;
    padding-right: 3px;
}
.add-comment-text {
    margin-top: 9px;
    width: 92%;
    float: right;
    font: normal 300 16px sans-serif !important;
    height: 30px;
}
.in-comment-link {
    color: #365899 !important;
    font-size: 14px !important;
}
.user-info-div {
    position: absolute;
    background-color: white;
    border: 2px solid lightgrey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.user_info_span {
    position: relative;
    float: left;
    text-align: left;
    padding: 4px 4px 4px 4px;
}
.info-tile-img {
    padding-right: 4px !important;
}
/*
.modal {
    position: absolute;
    opacity: 1;
    z-index: 101;
    left: 50%;
    margin-left: -349px !important;
    top: 40px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0 15px 80px 15px rgba(0, 0, 0, 0.5);
    padding: 0 0 8px 0;
    width: 680px !important;
    display: none;
}
.modal .inner-wrapper form textarea {
    height: 100px;
}
.modal .close-modal {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
    padding: 10px;
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 3;
    color: #333;
}
.modal .titlebar {
    height: 70px;
    background: #ccc;
}
.modal .dialog-title {
    margin: 0;
    padding: 20px 0 0 30px;
    color: #666;
}
.modal .content {
    color: #333;
    text-align: left;
    font-size: 16px;
    padding: 20px 10px;
    line-height: 20px;
}
*/
#fixed-dialog, #fixed-dialog-likes, #fixed-dialog-share, #skype-dialog {
    position: fixed;
}
#fixed-dialog-likes {
    width: 300px;
    margin-left: -153px;
}
/*------------------staging------------------*/

.like-members-anchor {
    color: #365899;
    padding-left: 8px;
    font-size: 13px;
}
.like-members-anchor:hover {
    cursor: pointer;
}