label {
            cursor: default;
        }

        .lean_overlay {
            background: radial-gradient(circle at 50% 30%, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)) repeat scroll 0% 0% transparent;
            display: block;
            height: 100%;
            left: 0px;
            position: fixed;
            top: 0px;
            width: 100%;
            z-index: 100;
        }

        .modal {
            display: block;
            position: absolute;
            opacity: 1;
            z-index: 11000;
            left: 50%;
            margin-left: -249px;
            top: 120px;
            background: none repeat scroll 0% 0% rgba(255, 255, 255, 1);
            /* border: 1px solid rgba(150, 150, 150, 0.9); */
            border-radius: 5px;
            box-shadow: 0px 15px 80px 15px rgba(0, 0, 0, 0.5);
            padding: 0 0 8px 0;
            width: 480px;
            display: none;
        }

        .modal .close-modal {
            border-radius: 2px;
            cursor: pointer;
            display: inline-block;
            vertical-align: baseline;
            padding: 10px;
            position: absolute;
            right: 2px;
            top: 0px;
            z-index: 3;
            color: #333;
        }

        .modal .titlebar {
            background: #fff;
            height: 70px;
            background: #ccc;
        }

        td.label {
            text-align: right;
            padding-right: 10px;
            width: 45px;
            vertical-align: top;
            padding-top: 13px;
        }

        .modal .dialog-title {
            margin: 0;
            padding: 20px 0 0 30px;
            color: #666;
        }

        .modal .content {
            color: #333;
            text-align: center;
            font-size: 16px;
            padding: 20px 10px;
            line-height: 20px;
        }

        .modal .progressbar {
            height: 30px;
            background: #ddd;
            border-radius: 5px;
            margin-top: 10px;
        }

        .modal .progressbar_flow {
            height: 30px;
            background: #2a5;
            border-radius: 5px;
            width: 0px;
        }

        .custom-email, .customize-email {
            display: none;
        }

        .variable-key {
            float: right;
            width: 440px;
            padding: 20px;
            margin: 20px 20px 0 20px;
            background-color: #ccc;
            font-size: 88%;
        }

        .variable-key ul {
            margin: .5em 0 0 0;
            padding: 0 0 0 20px;
        }

        .variable-key ul li {
            line-height: 130%;
        }

        div.cke {
            width: 640px;
        }
        .add-area {
            display: inline-block;
            font-weight: bold;
            padding: 5px 0 0 10px;
        }
        .add-area:hover{
            cursor: pointer;
        }
        .add-area span {
            color: #aa5500;
        }
        .main {
            margin: auto;
            width: 1180px;
            border: 1px solid #999;
        }
        .import-section {
            display: none;
        }
        .district-section {
            display: block;
        }
        .bookmark_icon{
            width:  32px;
            height: 32px;
            padding-bottom:4px;
            float:  right;
            cursor: pointer;
        }
        input.form_submit {
            border-color: #777 #777 #555;
            box-shadow: 0 1px 0 0 #aaa inset;
            background-color: #888;
            background-image: linear-gradient(to bottom, #aaa 0%, #888 50%, #777 50%, #777 100%);
            text-shadow: 0 -1px 1px #555;
        }
        .form_submit:hover{
            background-image: linear-gradient(to bottom, #888 0%, #666 50%, #555 50%, #555 100%);
        }
        section.content-wrapper {
            background: transparent !important;
        }
        .list {
            padding: 0 5px;
        }

        .list li {
            list-style-type: none;
        }

        div.filter {
            padding: 10px 5px;
            border: 1px solid #999;
        }

        div.filter.empty {
            padding: 0;
            border: 0;
            /*border-top: 1px solid #ddd;*/
        }

        div.filter h2 {
            color: #f90
        }

        div.expand_title {
            color: #08a;
            font-size: 20px;
            padding: 5px 5px 10px 5px;
            cursor: pointer;
            background-color: #ccc;
            box-shadow: 0 1px 0 0 #fff inset;
            background-image: linear-gradient(to bottom, #fff 0%, #ddd 50%, #ccc 50%, #ccc 100%);
            text-shadow: 0 -1px 1px #aaa;
        }

        div.expand_title .icon {
            display: inline-block;
            position: relative;
            top: 5px;
            width: 23px;
            height: 23px;
            background: url("../images/arrows.png") no-repeat 0 0;
        }

        div.expand_title_expanded {
            border-bottom: 1px solid #999;
        }
        .table-tab {
            border-width: 0 1px 1px 1px;
            border-style: solid;
            -moz-border-top-colors: none;
            -moz-border-right-colors: none;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            border-image: none;
            border-radius: 0 0 5px 5px;
            color: #FFF;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            font: 1.2rem/1.6rem "Open Sans",Verdana,Geneva,sans-serif;
            letter-spacing: 1px;
            padding: 4px 20px;
            text-transform: uppercase;
            vertical-align: top;
            margin-left: 5px;
        }

        .section-tab {
            border-width: 0 1px 1px 1px;
            border-style: solid;
            -moz-border-top-colors: none;
            -moz-border-right-colors: none;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            border-image: none;
            border-radius: 0 0 5px 5px;
            color: #FFF;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            font: 1.2rem/1.6rem "Open Sans",Verdana,Geneva,sans-serif;
            letter-spacing: 1px;
            padding: 4px 20px;
            text-transform: uppercase;
            vertical-align: top;
            margin-left: 5px;
        }

        a.district-button, a.school-button, a.user-button {
            outline: none;
        }

        .section-tab.district {
            border-color: rgb(47, 107, 189) rgb(47, 107, 189) rgb(47, 87, 169);
            box-shadow: 0 1px 0 0 rgb(47, 207, 269) inset;
            background-color: rgb(47, 167, 229);
            background-image: linear-gradient(to bottom, rgb(47, 207, 269) 0%, rgb(47, 167, 229) 50%, rgb(47, 147, 209) 50%, rgb(47, 147, 209) 100%);
            text-shadow: 0 -1px 1px rgb(47, 87, 169);
            padding-top: 10px;
        }

        .section-tab.school {
            border-color: rgb(103, 141, 11) rgb(103, 141, 11) rgb(83, 121, 11);
            box-shadow: 0 1px 0 0 rgb(123, 221, 91) inset;
            background-color: rgb(123, 181, 51);
            background-image: linear-gradient(to bottom, rgb(123, 221, 91) 0%, rgb(123, 181, 51) 50%, rgb(103, 161, 31) 50%, rgb(103, 161, 31) 100%);
            text-shadow: 0 -1px 1px rgb(83, 121, 11);
        }

        .section-tab.user {
            border-color: rgb(174, 50, 7) rgb(174, 50, 7) rgb(154, 30, 7);
            box-shadow: 0 1px 0 0 rgb(294, 170, 67) inset;
            background-color: rgb(234, 110, 7);
            background-image: linear-gradient(to bottom, rgb(294, 170, 67) 0%, rgb(234, 110, 7) 50%, rgb(214, 90, 7) 50%, rgb(214, 90, 7) 100%);
            text-shadow: 0 -1px 1px rgb(154, 30, 7);
        }

        .section-tab.cohort {
            border-color: rgb(157, 140, 14) rgb(157, 140, 14) rgb(137, 120, 14);
            box-shadow: 0 1px 0 0 rgb(267, 250, 64) inset;
            background-color: rgb(217, 200, 14);
            background-image: linear-gradient(to bottom, rgb(267, 250, 64) 0%, rgb(217, 200, 14) 50%, rgb(197, 180, 4) 50%, rgb(197, 180, 4) 100%);
            text-shadow: 0 -1px 1px rgb(137, 120, 14);
        }

        .table-tab.district {
            border-color: rgb(47, 107, 189) rgb(47, 107, 189) rgb(47, 87, 169);
            box-shadow: 0 1px 0 0 rgb(47, 207, 269) inset;
            background-color: rgb(47, 167, 229);
            background-image: linear-gradient(to bottom, rgb(47, 207, 269) 0%, rgb(47, 167, 229) 50%, rgb(47, 147, 209) 50%, rgb(47, 147, 209) 100%);
            text-shadow: 0 -1px 1px rgb(47, 87, 169);
            padding-top: 10px;
        }

        .table-tab.school {
            border-color: rgb(103, 141, 11) rgb(103, 141, 11) rgb(83, 121, 11);
            box-shadow: 0 1px 0 0 rgb(123, 221, 91) inset;
            background-color: rgb(123, 181, 51);
            background-image: linear-gradient(to bottom, rgb(123, 221, 91) 0%, rgb(123, 181, 51) 50%, rgb(103, 161, 31) 50%, rgb(103, 161, 31) 100%);
            text-shadow: 0 -1px 1px rgb(83, 121, 11);
        }

        .table-tab.user {
            border-color: rgb(174, 50, 7) rgb(174, 50, 7) rgb(154, 30, 7);
            box-shadow: 0 1px 0 0 rgb(294, 170, 67) inset;
            background-color: rgb(234, 110, 7);
            background-image: linear-gradient(to bottom, rgb(294, 170, 67) 0%, rgb(234, 110, 7) 50%, rgb(214, 90, 7) 50%, rgb(214, 90, 7) 100%);
            text-shadow: 0 -1px 1px rgb(154, 30, 7);
        }

        .table-tab.cohort {
            border-color: rgb(157, 140, 14) rgb(157, 140, 14) rgb(137, 120, 14);
            box-shadow: 0 1px 0 0 rgb(267, 250, 64) inset;
            background-color: rgb(217, 200, 14);
            background-image: linear-gradient(to bottom, rgb(267, 250, 64) 0%, rgb(217, 200, 14) 50%, rgb(197, 180, 4) 50%, rgb(197, 180, 4) 100%);
            text-shadow: 0 -1px 1px rgb(137, 120, 14);
        }

        div.expand_title_expanded .icon {
            background: url("../images/arrows.png")no-repeat 0 -23px;
        }

        div.expand_div {
            display: none;
        }

        div.filter {
        }

        .custom-email input {
            width: 400px;
        }

        .custom-email textarea {
            height: 300px;
        }