#iconarea {
    margin-top: 20px;
}
#data-table {
    margin-bottom: 20px;
}
.iconbutton {
    color: black;
    display: inline-block;
    text-align: center;
    font: normal .8rem/1rem "Open Sans", Verdana, Geneva, sans-serif;
    padding: 35px 5px 5px 5px;
    text-decoration: none;
    outline: none;
}
.add-new {
    background: transparent url(../images/icons/add_new.png) center top/32px 32px no-repeat;
}
.add-new:hover {
    background: transparent url(../images/icons/add_new_mo.png) center top/32px 32px no-repeat;
}
.delete-button img {
    width: 18px;
    height: 18px;
}
#form1 div.row span {
    display: inline-block;
    width: 160px;
    text-align: right;
}

#form1 div.row input,
#form1 div.row textarea,
#form1 div.row span {
    vertical-align: top;
}

#form1 div.row span {
    padding-top: 5px;
    font-size: 9px;
}

#form1 div.row input,
#form1 div.row span {
    height: 25px;
}

#form1 div.row input {
    width: 190px;
}

#form1 div.row input[type=button] {
    width: auto;
}

#form1 div.row textarea {
    width: 610px;
    height: 200px;
}

#form1 div.section {
    font-size: 18px;
    width: 160px;
    text-align: right;
    margin: 20px 0;
}

#form1 {
    float: left;
}

#form1 textarea {
    word-break: break-all;
}

.listbox {
    display: inline-block;
    width: 300px;
    height: 500px;
    overflow: auto;
    white-space: nowrap;
    border: 1px solid grey;
}

.listbox div {
    line-height: 25px;
    cursor: default;
    width: auto;
    padding: 2px 5px;
}

.listbox div.hover {
    background: #999;
}

.listbox div.selected {
    background: #03c;
    color: #ccc;
    min-width: 100%;
}

.typed_sec {
    display: none
}

#form1 {
    display: none
}
