#webchat {
    height: 280px !important;
}
#publisher {
    height: 100%;
}
#subscriber {
    position: absolute;
    top: 72%;
    right: 0;
    height: 80px;
    width: 120px;
    z-index: 10;
}
#videos {
    height: 100%;
}

.pep_textchat_block, .pep_videochat_block {
    position: fixed;
    right: 0px;
    height: 250px;
}
.pep_textchat_block {
    bottom: 0;
    z-index: 20;
}
.pep_videochat_block {
    top: 73px;
}

.pep_text_container, .pep_video_container {
    display: none;
    position: fixed;
    height: 250px;
    z-index: 9999;
}
.pep_text_container {
    width: 235px !important;
}
.pep_video_container {
    width: 450px;
}
.pep_text_panel,
.pep_video_panel {
    padding: 0px;
    position: relative;
    bottom: -10px;
}
.pep_text_panel {
    min-width: 235px;
    border-radius: 15px 15px 0 0;
    background-color: #c0fffb;
    -webkit-box-shadow: 0px -3px 19px 2px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px -3px 19px 2px rgba(0,0,0,0.54);
    box-shadow: 0px -3px 19px 2px rgba(0,0,0,0.54);
}
.pep_video_panel {
    width: 100%;
    min-width: 450px;
}
.pep_textchatheader_container {
    width: 235px;
    border-radius: 15px 15px 0 0;
}
.pep_videochatheader_container {
    width: 448px;
}
.pep_textchatheader_container,
.pep_videochatheader_container {
    position: relative;
    height: 30px;
    background-color: #3eb4ea;
}
/*.container-fluid[class="pep_chat_container"] {
    position: relative;
    padding-left: 0px !important;
}*/
.pep_textchatheader_title {
    display: inline-block;
    margin: 2px;
}
.pep_videochatheader_title {
    display: inline-block;
    margin: 5px;
    margin-top: 0px;
    width: 100px;
}
.pep_header_right {
    display: inline-block;
    margin-right: 10px;
    float: right;
    padding-top: 5px;
}
.pep_user_photo {
    border: 1px solid #000;
    border-radius: 50px;
    height: 25px;
}
.pep_uname {
    display: inline-block;
}
.pep_text_chat {
    width: 235px;
    height: 178px;
    position: relative;
    top: -3px;
    overflow-y: auto;
    display: inline-block;
    background-color: white;
}
.pep_textchatfooter_container,
.pep_videochatfooter_container {
    position: relative;
    top: 2px;
    height: 30px;
    width: 225px;
}
.pep_textchatfooter_container {
    left: 5px;
}
.pep_videochatfooter_container {
    left: -11px;
}
.pep_videotext_panel{
    position:relative;
    left: -15px;
    padding-right: 10px;
    padding-left: 15px;
}
.pep_chat_input {
    height: 23px !important;
    border: 1px solid;
    margin-right: 0px !important;
    display: inline-block !important;
    width: 170px !important;
}
.pep_chat_icons {
    position: relative;
    bottom: 27px;
    height: 21px;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 0px;
    display: inline-block;
    float: right;
.pep_chat_icons img {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border:0;
    cursor: pointer;
}
.pep_video_chat {
    height: 215px;
    padding-right: 0px;
    padding-left: 0px;
    width: 216px;
    border-left: 1px solid;
    position: relative;
    overflow-y: auto;
}
.pep_text_container a, .pep_video_container a {
    text-decoration: none;
}

.pep_header_right a,
.pep_videochatheader_container a {
    font-size: 32px;
    position: relative;
    top: -4px;
}

.pep_add_users {
    color: rgb(245, 130, 31);
    font-size: 2em;
}

.pep_start_video img {
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 5px;
}

.close-chat {
    cursor: pointer;
    position: relative;
    bottom: 5px;
}
.pep_file_download{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding-top: 5ps;
    padding-bottom: 5ps;
}
.pepchat_hr{
    border-top: 1px solid #000;
    margin:5px 5px 0 0;
}
.pepchat_img{
    width:20px;
}
.pepchat_time {
    padding-top: 4px;
    float: right;
    font-size: 10px;
    color: dodgerblue;
}
.pepchat_body {
    font-weight: bold;
}
.pepchat_row {
    width: 100%;
}
.pep_attach_label{
    cursor: pointer !important;
}
pep_org_header{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}