#pep_panel {
    height: 406px;
    width: 251px;
    min-width: 251px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px
}
#pep_title_tab {
    position: fixed;
    top: 52.5%;
    margin-top: -68px;
    right: 0px;
    width: 60px;
    height: 155px;
    background-color: #22EEFF;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
}
#pep_title_text {
    position: relative;
    top: 90px;
    -moz-transform: scale(-1, -1) rotate(90deg);
    -webkit-transform: scale(-1, -1) rotate(90deg);
    -o-transform: scale(-1, -1) rotate(90deg);
    -ms-transform: scale(-1, -1) rotate(90deg);
    transform: scale(-1, -1) rotate(90deg);
    font-size: 2em;
}
#pep_container {
    position: fixed;
    top: 50%;
    margin-top: -160px; /*125*/
    right: -216px;
    height: 400px; /*250*/
    z-index: 20;
}
#pep_search_container {
    height: 34px;
    width: inherit;
    position: relative;
    left: -15px;
}
#pep_search {
    height: 34px;
    border: 0px;
    border-radius: 15px 0 0;
}
#pep_search_btn {
    width: 45px;
    height: 34px;
    border: 0px;
    border-radius: 0 15px 0 0;
    position: relative;
    left: -2px;
}
#pep_groups {
    width: inherit;
    box-sizing: border-box;
    left: -15px;
}
.btn-xs {
    top: 1px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: .9em !important;
    color: black !important;
    background-color: buttonface;
}
.btn-group>.btn:first-child {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
#pep_user_list {
    width: inherit;
    height: 310px;
    border-bottom: 1px solid;
    position: relative;
    left: -15px;
    overflow-y: auto;
    overflow-x: hidden;
}
#pep_slider_list {
    position: relative;
    top: 3px;
    margin-right: -15px;
    left: -14px;
    min-height: 30px;
    max-height: 57px;
    width: 190px;
    border: 1px solid;
    border-bottom-left-radius: 15px;
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    overflow-y: scroll;
}
#pep_slider_icons {
    position: relative;
    top: -29px;
    left: 12px !important;
    width: 50px;
    height: 30px;
    padding-top: 3px;
    padding-right: 5px;
    display: inline-block;
    float: right;
    border-top: 1px solid;
    border-bottom: 1px solid;
    -webkit-bottom-border-radius: 15px !important;
    -moz-bottom-border-radius: 15px !important;
    border-bottom-right-radius: 15px;
}
#pep_slider_icons img {
    width: 20px;
    height: 20px;
    border: 0
}
.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
    top: 3px !important;
}
#pep_container a {
    text-decoration: none;
}
.pep_contact_block {
    position: relative;
    top: 5px;
    left: 5px;
}
.pep_contact_block div {
    display: inline-block;
    cursor: default;
}
.pep_contact_info {
    width: 35px;
    margin-right: -3px;
}
.pep_add_im, .pep_remove_im {
    width: 16px;
    height: 17px;
    cursor: pointer !important;
    border: 1px solid;
    -webkit-border-radius: 35px !important;
    -moz-border-radius: 35px !important;
    border-radius: 35px !important;
    -moz-user-select:-moz-none';
    -moz-user-select:none;
    -o-user-select:none;
    -khtml-user-select:none; /* you could also put this in a class */
    -webkit-user-select:none;/* and add the CSS class here instead */
    -ms-user-select:none;
    user-select:none
}
.pep_add_im {
    position: relative;
    top: 2px;
    padding-left: 1px;
    font-size: 20px;
    color: #1d9dd9;
    border-color: #1d9dd9;
}
.pep_remove_im {
    position: relative;
    padding-left: 2px;
    padding-bottom: 10px;
    font-size: 12px;
    color: red;
    border-color: red;
}
.pep_remove_from_list{
    display:inline-block;
    margin-right:3px;
    color: red;
    cursor: pointer !important;
}
#pep_list_clear{
    float: right;
    position: absolute;
    right: 12px;
    bottom: 15px;
}
#pep_list_clear button{
    color: #fff !important;
}
.pep_type_icon {
    width: 15px;
    height: 15px;
}
.pep_online_status{
    color: #34a515;
    position: absolute;
    left: 35px;
    top: 0px;
}
.pep_contact_photo {
    width: 50px;
    height: 50px;
}

.pep_start_video img {
    position: relative;
    bottom: 3px;
    width:13px;
    height:13px;
    border:0;
    cursor: pointer !important;
}
